<section class="article-body">
	{{#unless preview}}
		<div class="mobile-top-leaderboard">&nbsp;</div>
		{{> wiki-page-header}}
	{{/unless}}
	<article class="article-content" id="preloadedContent">
		{{{articleContent}}}
	</article>
</section>
