<section class="article-body">
	{{#unless preview}}
		{{> wiki-page-header}}
	{{/unless}}
	{{#if articleContent}}
		<article class="article-content" id="preloadedContent">
			{{{articleContent}}}
		</article>
	{{/if}}
</section>

{{#if articlePage.data.nsSpecificContent.fileUsageList}}
	{{> file-usage-list
		fileUsageList=articlePage.data.nsSpecificContent.fileUsageList
		fileUsageListSeeMoreUrl=articlePage.data.nsSpecificContent.fileUsageListSeeMoreUrl
	}}
{{/if}}

{{#if categorySections}}
	{{> category-sections}}
{{/if}}

{{> article-footer/index model=articlePage.data.article}}
