<section class="main-page-modules main-page-body">
	<div id="wikiContainer" class="wiki-container">
		<div class="wiki-page-header-curated-main-page">
			<h1 class="wiki-page-title">
				{{wikiVariables.siteName}}
			</h1>
		</div>

		{{#if articlePage.data.mainPageData.wikiaStats}}
			{{> curated-main-page/stats wikiaStats=articlePage.data.mainPageData.wikiaStats}}
		{{/if}}
		{{#if articlePage.data.mainPageData.featuredContent}}
			{{> curated-main-page/featured-content featuredArticle=articlePage.data.mainPageData.featuredContent.[0]}}
		{{/if}}
		{{#if articlePage.data.mainPageData.curatedContent}}
			{{> curated-main-page/curated-content curatedContent=articlePage.data.mainPageData.curatedContent}}
		{{/if}}
	</div>
</section>
