<section class="article-body">
  <div class="mobile-top-leaderboard">&nbsp;</div>
  <h2 class="wiki-title"><a href="#">{{wikiVariables.siteName}}</a></h2>
  <h1 class="article-title">{{displayTitle}}</h1>
</section>
