<section class="wiki-page-body">
	<div class="mobile-top-leaderboard">&nbsp;</div>
	<h2 class="wiki-title"><a href="#">{{wikiVariables.siteName}}</a></h2>
	<h1 class="wiki-page-title">{{displayTitle}}</h1>
	{{#if subtitle}}
		<div class="wiki-page-subtitle">{{subtitle}}</div>
	{{/if}}
</section>
