<div class="affiliate-unit__header">Suggested By Fans</div>
<a href={{link}} class="affiliate-unit__link" style="background-image:url({{image}}">
  <div class="affiliate-unit__content">
    <div class="affiliate-unit__heading">{{heading}}</div>
    <div class="affiliate-unit__subheading">{{subheading}}</div>
  </div>
</a>
