<div>
	<iframe style="width: 100%; height: 270px;" src="//preview-players.brightcove.net/v2/accounts/5519514651001/players/Bys4vXDLb/preview/embeds/default/master
/index.html" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
</div>
{{#if isFastBoot}}{{{content}}}{{/if}}
