{{#if content}}
  <div>
    {{{content}}}
  </div>
{{/if}}
{{#unless isLoaded}}
  <div style="height: 200vh; padding-top: 50%;">
    {{#if spinnerLoading}}
      {{wds-spinner active=spinnerLoading isBlock=true overlay=false}}
    {{/if}}
  </div>
{{/unless}}
