{{#if smallHeroImage}}
	<div class="portable-infobox-2">
		{{portable-infobox-hero-image-small
						heroImage=smallHeroImage
						openLightbox=openLightbox
		}}
	</div>
{{/if}}
{{#if isFastBoot}}{{{content}}}{{/if}}
