<h2 class="category-trending-pages__header">
  {{i18n "category-page.trending-pages"}}
</h2>
<div class="category-trending-pages__list mw-content">
  {{#each @model as |page|}}
    <CategoryTrendingPagesItem @model={{page}} />
  {{/each}}
</div>
