{{#each this.shortcuts as |shortcut|}}
  <li
    class="category-alphabet-shortcuts__item{{if shortcut.isActive " is-active"}}"
    onclick={{action @loadFrom shortcut.from}}
  >
    {{shortcut.label}}
  </li>
{{/each}}
