<div class="fandom-app-smart-banner__close" {{action 'close'}}>{{svg 'close' viewBox='0 0 18 18'}}</div>
<a href="https://itunes.apple.com/us/developer/wikia-inc/id422467077" class="fandom-app-smart-banner__link">
	<div class="fandom-app-smart-banner__info">
		<img class="fandom-app-smart-banner__icon"
			 src="https://services.wikia.com/static-assets/image/9b0dfb2e-9a8e-4c2d-ab24-232664ebe6d3">
		<div class="fandom-app-smart-banner__meta">
			<div class="fandom-app-smart-banner__title">FANDOM</div>
			<span class="fandom-app-smart-banner__description">Get it free at the</span>
			<span class="fandom-app-smart-banner__store">App Store</span>
		</div>
	</div>
	<div class="fandom-app-smart-banner__install">{{i18n 'smartbanner.install-android'}}</div>
</a>
