<figure>
	{{svg 'wds-icons-image' viewBox='0 0 24 24' role='img' class='wds-icon'}}
	<img src="{{thumbUrl}}" alt="{{model.label}}">
	<figcaption>
		<div class="clamp">{{truncate model.label 48}}</div>
	</figcaption>
</figure>
