{{#if showChevrons}}
	{{svg 'wds-icons-menu-control' viewBox='0 0 24 24' class='wds-icon left'}}
	{{svg 'wds-icons-menu-control' viewBox='0 0 24 24' class='wds-icon right'}}
{{/if}}
{{featured-content-item model=currentItem}}
{{#if hasMultipleItems}}
	<ul class='featured-content-pagination'>
		{{#each model as |item index|}}
			<li data-index='{{index}}'><span></span></li>
		{{/each}}
	</ul>
{{/if}}
