{{#if showChevrons}}
  <Icon @name="menu-control" class="left" />
  <Icon @name="menu-control" class="right" />
{{/if}}
<FeaturedContentItem @model={{currentItem}} />
{{#if hasMultipleItems}}
  <ul class="featured-content-pagination">
    {{#each model as |item index|}}
      <li data-index={{index}}><span></span></li>
    {{/each}}
  </ul>
{{/if}}
