<h2 {{action "openSection"}}
  section="1"
  class={{if openSection "open-section"}}
>
  <div class="section-header-label">
    {{i18n "app.view-more"}}
  </div>
  <Icon @name="menu-control" @size="small" class="chevron" />
</h2>
<section class="article-content mobile-hidden">
  <ArticleContent @content={{content}} />
</section>
