<div class="global-footer-bottom__wrapper">
  <div class="global-footer-bottom__bar">
    <div role="button" class="global-footer-bottom__link wds-font-size-xs wds-font-weight-bold" {{action "fullSiteClicked"}}>{{i18n 'global-footer-full-site-link' ns='design-system'}}</div>
  </div>
</div>
