{{#if items.length}}
	<h3>{{!--model.title--}}</h3>
	<ul class="recirculation-prefooter__list">
		{{#each items as |post index|}}
			<li class="recirculation-prefooter__item" {{action 'postClick' post index preventDefault=true}}>
				<img src="{{post.thumbnail}}" alt="{{post.title}}">
				<p class="recirculation-prefooter__title">{{post.title}}</p>
			</li>
		{{/each}}
	</ul>
{{/if}}
