<div class="show-error-container is-dev">
	<h1>{{message}}</h1>
	<button class="wds-button" onclick="window.location.reload()">Refresh</button>
	{{#if stackTrace}}
		<h2>Stack trace</h2>
		<pre>{{{stackTrace}}}</pre>
	{{/if}}
	{{#if additionalData}}
		<h2>Additional data</h2>
		<pre>{{additionalData}}</pre>
	{{/if}}
</div>
