{{! Logout is a POST, so we render a button inside a form here}}
<form method="POST" action="/signout">
	{{input type="hidden" name="redirect" value="/"}}
	<button type="submit" class="wds-sign-out__button" {{action 'trackClick' preventDefault=false}}>
		{{t title ns='design-system'}}
	</button>
</form>
