<div class="sb-test-close" {{action 'close'}}>{{svg 'close' viewBox='0 0 18 18'}}</div>
<a href="https://itunes.apple.com/us/developer/wikia-inc/id422467077" class="smart-banner-link">
	<div class="sb-test-info">
		<img class="sb-test-icon"
			 src="/mobile-wiki/images/sb-test-ios.png">
		<div class="sb-test-meta">
			<div class="sb-test-title">FANDOM</div>
			<span class="sb-test-description">Get it free at the</span>
			<span class="sb-test-app-store">App Store</span>
		</div>
	</div>
	<div class="sb-test-button">{{i18n 'smartbanner.install-android'}}</div>
</a>
