<section class="steam-news">
  <div class="steam-news-header">
    <h2 class="wds-font-size-base wds-font-weight-bold wds-text-transform-uppercase wds-midlight-navy">
    News
    </h2>
  </div>

  {{#each news as |item|}}
    {{steam-news-item
      item=item
    }}
  {{/each}}
</section>
