<div class="trending trending-videos mw-content">
  <h2 class="wds-font-size-l wds-text-transform-uppercase wds-leading-tight">{{i18n "app.videos-label"}}</h2>
  {{#each @model as |video index|}}
    <TrendingVideosItem @video={{video}} @index={{index}} />
  {{/each}}
</div>

