{{t 'main.search-error-not-found'
	query=(wrap-me erroneousQuery className='search-error-not-found__query')
	htmlSafe=true
}}
<div class='search-error-not-found__action' role="button" {{action onErrorPageClick}}>
	{{t 'main.search-error-not-found-action'}}
</div>
