{{#if this.users.length}}
  <div
    class="title wds-font-size-s wds-font-weight-medium wds-text-transform-capitalize"
  >
    {{i18n "article.top-contributors-label"}}
  </div>
  <AvatarStack
    @avatars={{this.avatars}}
    @maxStackSize={{5}}
    @hideOverflow={{true}}
  />
{{/if}}
