<div class="search-error-not-found">
  {{{i18n
    "main.search-error-not-found"
    ns="search"
    query=(wrap-me @erroneousQuery className="search-error-not-found__query wds-font-weight-bold wds-text-transform-uppercase")
  }}}
</div>
