%discussion-large-button {
	border: 1px solid;
	font-size: $type-min;
	font-weight: $font-weight-bold;
	letter-spacing: .15px;
	line-height: 1.3em;
	padding: 16px 18px 15px;
	text-align: center;
	text-transform: uppercase;
}
