// Use Wikia style guide settings
@import '../../bower_components/wikia-style-guide/src/scss/lib/settings';

$appreciate-activated-color: $color-blue-light;
$auth-content-background-color: $color-white;
$body-background: $color-blue-dark;
$button-color: $color-blue-light;
// TODO CE-3548 move these button colors to styleguide
// https://github.com/Wikia/style-guide/blob/dev/src/scss/lib/_settings.scss
$button-enabled-color: $button-bg-color;
$button-tapped-color: mix($button-enabled-color, $color-black, 80%);
$button-disabled-color: mix($button-enabled-color, $color-white, 70%);
$disabled-button-text-color: #b4d6f2;
$footer-text-color: $color-white;
$header-text-color: $color-white;
$input-color-active: $color-blue-gray;
$input-border-error-color: $alert-color;
$label-color-active: $color-blue-gray-dark;
$label-color-inactive: $color-blue-gray;
$label-color-valid: $color-blue-gray-dark;
$link-color: $color-blue-light;
$upvote-icon-stroke-color: $color-white;
$upvote-icon-back-color: $color-white;
$upvote-icon-activated-color: #e3bd00;
$pop-over-background-color: $color-white;

$discussion-bg-color: $color-white;
$discussion-count-color: #999;
$discussion-actions-color: #999;
$discussion-back-button-color: $color-white;
$discussion-deleted-actions-color: #ccc;
$discussion-reply-border-color: $border-color;
$discussion-avatar-border-color: $border-color;
$discussion-content-color: $color-gray-dark;
$discussion-post-title-color: $color-gray-dark;
$discussion-deleted-content-color: #ccc;
$discussion-community-badge-title-color: #666;
$discussion-community-badge-border: #f6f6f6;
$discussion-community-badge-background-color: #f0f0f0;
$discussion-error-page-bg-color: #f6f6f6;
$discussion-error-bg-color: $color-white;
$discussion-error-text-color: #999;
$discussion-error-link-color: #333;
$discussion-header-image-blend-background: $color-white;
$discussion-load-more-color: $color-blue-gray;
$discussion-load-older-color: #e6e6e6;
$discussion-load-newer-color: #fff;
$discussion-timestamp-color: #999;
$discussion-post-detail-border-color: $border-color;
$discussion-deleted-mark-color: #ed1c24;
$discussion-reported-mark-color: #f08a24;
$discussion-more-options-divider-color: #e6e6e6;
$discussion-post-card-top-note-border: #e6e6e6;
$discussion-post-card-top-note-color: #999;
$discussion-post-card-linked-background: #fff;
$discussion-locked-post-replies-color: #ccc;
$discussion-post-actions-border-color: #e6e6e6;

$discussion-desktop-bg-color: #f6f6f6;
$discussion-desktop-post-detail-bg-color: $color-white;
$discussion-rail-separator-color: #e6e6e6;

$discussion-contributors-background-color: #666;
$discussion-contributors-background-mobile: #f6f6f6;
$discussion-contributors-border-color: $border-color;
$discussion-contributors-text-color: $color-white;
$discussion-contributors-rail-title: #333;
$discussion-post-list-text-color: #999;

$discussion-editor-error-background-color: #333;
$discussion-editor-error-text-color: $color-white;
$discussion-editor-background-color: $color-white;
$discussion-editor-border-color: $border-color;
$discussion-mobile-reply-editor-border-color: #ccc;
$discussion-editor-toolbar-background-color: #f6f6f6;
$discussion-editor-label-color: #999;
$discussion-editor-textarea-border-color: #e1e1e1;

$discussion-dialog-text-color: #333;
$discussion-dialog-background-color: $color-white;
$discussion-dialog-button-hover-background-color: #f6f6f6;
$discussion-dialog-separator-color: #e6e6e6;

$discussion-open-graph-border-color: #ccc;
$discussion-open-graph-background-color: #fff;
$discussion-open-graph-title-color: #333;
$discussion-open-graph-domain-color: #999;

$discussion-empty-forum-message-border-color: #e6e6e6;

$discussion-page-width: 507px;
$discussion-community-badge-background-color: #e6e6e6;

$collapsible-menu-border-color: #d0d0d0;
$collapsible-menu-title-color: $body-font-color;
$collapsible-menu-list-link-color: $color-black;
$discussion-sort-color: $border-color;
$discussion-sort-inactive-color: #e6e6e6;
$discussion-filter-inactive-color: #ccc;
$discussion-filters-border: #ccc;
$discussion-filters-color: #333;
$discussion-filters-bullet-border: #999;
$discussion-filters-bullet-background: #fff;
$discussion-filters-label-background: #fff;
$discussion-filters-bullet-active-border: #fff;

$app-promotion-text-color: #999;

$dark-body-background: #1a1a1a;
$dark-element-active-background: #1a1a1a;
$dark-button-color: #16abc1;
$dark-disabled-button-text-color: $disabled-button-text-color;
$dark-header-text-color: $header-text-color;
$dark-input-color-active: $input-color-active;
$dark-input-border-error-color: $input-border-error-color;

$dark-label-color: $color-white;
$dark-label-color-active: $label-color-active;
$dark-label-color-inactive: $label-color-inactive;
$dark-label-color-valid: $label-color-valid;
$dark-link-color: $link-color;
$dark-upvote-icon-back-color: #262626;
$dark-upvote-icon-activated-color: #e3bd00;
$dark-discussion-bg-color: #262626;
$dark-discussion-avatar-border-color: #666;
$dark-discussion-content-color: $iron;
$dark-discussion-post-title-color: #fff;
$dark-discussion-community-badge-title-color: $color-white;
$dark-discussion-deleted-content-color: #666;
$dark-discussion-community-badge-title-color: #fff;
$dark-discussion-community-badge-border: #262626;
$dark-discussion-count-color: #999;
$dark-discussion-actions-color: #999;
$dark-discussion-deleted-actions-color: #666;
$dark-discussion-reply-border-color: #333;
$dark-discussion-error-bg-color: $discussion-error-bg-color;
$dark-discussion-error-text-color: $discussion-error-text-color;
$dark-discussion-error-link-color: $discussion-error-link-color;
$dark-discussion-load-more-color: $color-blue-gray;
$dark-discussion-load-older-color: #333;
$dark-discussion-timestamp-color: #999;
$dark-discussion-post-detail-border-color: #666;

$dark-discussion-desktop-bg-color: #1a1a1a;
$dark-discussion-desktop-post-detail-bg-color: #262626;
$dark-discussion-desktop-post-detail-border-color: #1e1e1e;
$dark-discussion-rail-separator-color: #333;

$dark-discussion-contributors-background-color: #1a1a1a;
$dark-discussion-contributors-background-mobile-color: #333;
$dark-discussion-contributors-border-color: #666;
$dark-discussion-contributors-text-color: $color-white;
$dark-discussion-contributors-rail-title: $color-white;

$dark-discussion-editor-background-color: #262626;
$dark-discussion-editor-border-color: #666;
$dark-discussion-editor-toolbar-background-color: #333;

$dark-discussion-open-graph-border-color: #666;
$dark-discussion-open-graph-background-color: #262626;
$dark-discussion-open-graph-title-color: #fff;
$dark-discussion-open-graph-domain-color: #999;

$dark-discussion-empty-forum-message-border-color: #666;

$dark-collapsible-menu-border-color: $collapsible-menu-border-color;
$dark-collapsible-menu-title-color: $collapsible-menu-title-color;
$dark-collapsible-menu-list-link-color: $collapsible-menu-list-link-color;

$dark-discussion-no-replies-text-color: #999;
$dark-discussion-rail-border-color: #666;
$dark-discussion-post-actions-border-color: #666;

$dark-discussion-sort-color: #999;
$dark-discussion-sort-inactive-color: #333;
$dark-discussion-rail-header-color: $color-white;
$dark-discussion-rail-label-color: #ccc;
$dark-discussion-post-card-linked-background: #262626;
$dark-discussion-top-note-border-bottom-color: #666;
$dark-discussion-post-card-top-note-color: #666;
$dark-discussion-locked-post-replies-color: #666;

$dark-app-promotion-text-color: $color-white;

$wikia-ui-components-sub-head-height: 48px;
$wikia-ui-components-sub-head-height-large: 66px;
