body.dark-theme {
	background-color: $dark-body-background;

	a:active {
		background-color: inherit;
	}
}

.dark-theme {
	.upvote-icon-background {
		fill: $dark-upvote-icon-back-color;
		stroke: $dark-upvote-icon-back-color;
	}

	button[type=submit][disabled] {
		background-color: $dark-button-color;
		border-color: $dark-button-color;
		color: $dark-disabled-button-text-color;
	}
	.discussions-header {
		color: $dark-header-text-color;
	}
	input[type=text]:focus,
	input[type=password]:focus,
	input[type=email]:focus,
	input[type=date]:focus,
	.focused {
		border-bottom: 1px solid $dark-input-color-active;
	}
	input[type=text],
	input[type=text]:focus,
	input[type=password],
	input[type=password]:focus,
	input[type=email],
	input[type=email]:focus,
	input[type=date],
	input[type=date]:focus,
	.input {
		border-bottom: 1px solid $dark-label-color-inactive;
	}
	input[type=text]:valid  + .floating-label,
	input[type=password]:valid + .floating-label,
	input[type=email]:valid  + .floating-label,
	input[type=date]:valid + .floating-label {
		color: $dark-label-color-valid;
	}
	form {
		small.error {
			color: $input-border-error-color;
		}
	}
	.input-container {
		input,
		.input {
			&.error {
				border-bottom-color: $dark-input-border-error-color;
			}
		}
	}
	input:valid + .floating-label.error {
		color: $dark-input-border-error-color;
	}
	.floating-label.active {
		color: $dark-label-color-active;
	}
	.discussion {
		background-color: $dark-discussion-bg-color;

		.avatar {
			img {
				border-color: $dark-discussion-avatar-border-color;
			}
		}
		.count {
			color: $dark-discussion-count-color;

			.upvote-area,
			.replies-area {
				color: $dark-discussion-count-color;
			}
		}
		.discussion-content {
			color: $dark-discussion-content-color;
		}

		.post-reply,
		.post-detail {
			&.is-deleted,
			&.is-parent-deleted {
				.discussion-content {
					color: $dark-discussion-deleted-content-color;
				}

				.count {
					a, span {
						color: $dark-discussion-deleted-actions-color;
					}
				}

				.icon {
					fill: $dark-discussion-deleted-actions-color;
					stroke: $dark-discussion-deleted-actions-color;
				}
			}
		}

		.post-reply ~ .post-reply {
			.discussion-reply {
				border-top-color: $dark-discussion-reply-border-color;
			}
		}
		.has-upvoted {
			.icon {
				&.upvote {
					fill: $dark-upvote-icon-activated-color;
				}
				&.upvote-reply {
					stroke: $dark-upvote-icon-activated-color;
				}
			}
		}
		.load-more {
			color: $dark-discussion-load-more-color;
		}
		.see-more {
			background-color: $dark-discussion-see-more-color;
		}
		.timestamp {
			color: $dark-discussion-timestamp-color;
		}
		.post-detail {
			background-color: $dark-discussion-desktop-post-detail-bg-color;
			border-top-color: $dark-discussion-post-detail-border-color;
		}
	}
	.discussion-app-promotion {
		.discussion-app-join-text {
			color: $dark-app-promotion-text-color;
		}
	}
	.community-badge {
		img {
			border-color: $dark-discussion-community-badge-border;
		}
		p {
			color: $dark-discussion-community-badge-title-color;
		}
	}
	.discussion-contributors {
		.discussion-contributors-more {
			background-color: $dark-discussion-contributors-background-color;
			border-color: $dark-discussion-contributors-border-color;
			color: $dark-discussion-contributors-text-color;
		}
	}
	.discussion-contributors-mobile {
		background-color: $dark-discussion-contributors-background-color;
	}
	.rail {
		.discussion-contributors-title {
			color: $dark-discussion-contributors-rail-title;
		}
	}
	figure {
		&.avatar {
			img {
				border-color: $dark-discussion-avatar-border-color;
			}
		}
	}
	.rail hr {
		border-top-color: $dark-discussion-rail-separator-color;
	}
}

@media #{$desktop-range} {
	body.dark-theme {
		background-color: $dark-discussion-desktop-bg-color;
	}
	.dark-theme {
		.discussion {
			background-color: transparent;
			&.forum {
				.post-detail {
					border-bottom-color: $dark-discussion-reply-border-color;
				}
			}
		}
		.discussion-sort {
			li {
				&.not-active {
					border-bottom-color: $dark-discussion-sort-color;
					color: $dark-discussion-sort-color;
				}
			}
		}
	}
}
