body.dark-theme {
	background-color: $dark-body-background;
}

.dark-theme {
	button[type='submit'][disabled] {
		background-color: $dark-button-color;
		border-color: $dark-button-color;
		color: $dark-disabled-button-text-color;
	}
	.discussions-header {
		color: $dark-header-text-color;
	}
	input[type='text']:focus,
	input[type='password']:focus,
	input[type='email']:focus,
	input[type='date']:focus,
	.focused {
		border-bottom: 1px solid $dark-input-color-active;
	}
	input[type='text'],
	input[type='text']:focus,
	input[type='password'],
	input[type='password']:focus,
	input[type='email'],
	input[type='email']:focus,
	input[type='date'],
	input[type='date']:focus,
	.input {
		border-bottom: 1px solid $dark-label-color-inactive;
	}
	input[type='text']:valid  + .floating-label,
	input[type='password']:valid + .floating-label,
	input[type='email']:valid  + .floating-label,
	input[type='date']:valid + .floating-label {
		color: $dark-label-color-valid;
	}
	form {
		small.error {
			color: $input-border-error-color;
		}
	}
	.input-container {
		input,
		.input {
			&.error {
				border-bottom-color: $dark-input-border-error-color;
			}
		}
	}
	input:valid + .floating-label.error {
		color: $dark-input-border-error-color;
	}
	.floating-label.active {
		color: $dark-label-color-active;
	}

	.discussion {
		background-color: $dark-discussion-bg-color;

		.avatar {
			img {
				border-color: $dark-discussion-avatar-border-color;
			}
		}
		.count {
			color: $dark-discussion-count-color;
		}
		.discussion-content {
			color: $dark-discussion-content-color;
		}
		.discussion-reply {
			border-top: 1px solid $dark-discussion-reply-border-color;
		}
		.icon {
			&.upvote,
			&.upvote-reply {
				fill: $dark-upvote-icon-color;
			}
		}
		.has-upvoted {
			.icon {
				&.upvote {
					fill: $dark-upvote-icon-activated-color;
				}
				&.upvote-reply {
					stroke: $dark-upvote-icon-activated-color;
				}
			}
		}
		.load-more {
			color: $dark-discussion-load-more-color;
		}
		.see-more {
			background-color: $dark-discussion-see-more-color;
		}
		.timestamp {
			color: $dark-discussion-timestamp-color;
		}
		&.forum {
			.post-detail {
				border-top-color: $dark-discussion-post-detail-border-color;
			}
		}
	}
}

@media #{$desktop-range} {
	body.dark-theme {
		background-color: $dark-discussion-desktop-bg-color;
	}
	.dark-theme {
		.discussion {
			background-color: transparent;
			&.forum {
				.post-detail {
					background-color: $dark-discussion-desktop-post-detail-bg-color;
					border-top-color: $dark-discussion-desktop-post-detail-border-color;
				}
			}
		}
	}
}
