body.dark-theme {
	background-color: $dark-body-background;

	a:active {
		background-color: inherit;
	}
}

.dark-theme {
	.upvote-icon-background {
		fill: $dark-upvote-icon-back-color;
		stroke: $dark-upvote-icon-back-color;
	}

	button[type=submit][disabled] {
		background-color: $dark-button-color;
		border-color: $dark-button-color;
		color: $dark-disabled-button-text-color;
	}

	.date-placeholder {
		background: $dark-discussion-timestamp-color;
	}

	.discussions-header {
		color: $dark-header-text-color;
	}

	input[type=text]:focus,
	input[type=password]:focus,
	input[type=email]:focus,
	input[type=date]:focus,
	.focused {
		border-bottom: 1px solid $dark-input-color-active;
	}

	input[type=text],
	input[type=text]:focus,
	input[type=password],
	input[type=password]:focus,
	input[type=email],
	input[type=email]:focus,
	input[type=date],
	input[type=date]:focus,
	.input {
		border-bottom: 1px solid $dark-label-color-inactive;
	}

	input[type=text]:valid + .floating-label,
	input[type=password]:valid + .floating-label,
	input[type=email]:valid + .floating-label,
	input[type=date]:valid + .floating-label {
		color: $dark-label-color-valid;
	}

	form {
		small.error {
			color: $input-border-error-color;
		}
	}

	.input-container {
		input,
		.input {
			&.error {
				border-bottom-color: $dark-input-border-error-color;
			}
		}
	}

	input:valid + .floating-label.error {
		color: $dark-input-border-error-color;
	}

	.floating-label.active {
		color: $dark-label-color-active;
	}

	label {
		color: $dark-label-color;
	}

	.discussion {
		.avatar {
			img {
				border-color: $dark-discussion-avatar-border-color;
			}
		}

		.count {
			color: $dark-discussion-count-color;

			.upvote-area,
			.replies-area {
				color: $dark-discussion-count-color;
			}
		}

		.discussion-content {
			color: $dark-discussion-content-color;

			.post-details-link {
				color: $dark-discussion-content-color;
			}
		}

		.post-title {
			color: $dark-discussion-post-title-color;

			.post-details-link {
				color: $dark-discussion-post-title-color;
			}
		}

		.discussion-no-replies {
			color: $dark-discussion-error-text-color;
		}

		.post-reply,
		.post-detail {
			&.is-deleted,
			&.is-parent-deleted {
				.discussion-content {
					color: $dark-discussion-deleted-content-color;

					a {
						color: $dark-discussion-deleted-content-color;
					}
				}

				.count {
					a,
					span {
						color: $dark-discussion-deleted-actions-color;
					}
				}

				.icon:not(.delete) {
					fill: $dark-discussion-deleted-actions-color;

					&.upvote-reply {
						stroke: $dark-discussion-deleted-actions-color;
					}
				}
			}

			&.is-highlighted {
				background-color: $dark-discussion-post-card-linked-background;
			}

			.top-note-icon {
				fill: $dark-discussion-post-card-top-note-color;
			}

			.top-note {
				border-bottom-color: $dark-discussion-top-note-border-bottom-color;

				.text-content {
					color: $dark-discussion-top-note-border-bottom-color;
				}
			}
		}

		.post-reply ~ .post-reply {
			.discussion-reply {
				border-top-color: $dark-discussion-reply-border-color;
			}
		}

		.post-reply ~ .reply-editor {
			.editor-label {
				border-top-color: $dark-discussion-reply-border-color;
			}
		}

		.icon {
			fill: $dark-discussion-actions-color;

			&.upvote-reply {
				stroke: $dark-discussion-actions-color;
			}
		}

		.has-upvoted {
			.icon {
				fill: $dark-upvote-icon-activated-color;

				&.upvote-reply {
					stroke: $dark-upvote-icon-activated-color;
				}
			}
		}

		.load-more {
			color: $dark-discussion-load-more-color;
		}

		.load-older {
			background-color: $dark-discussion-load-older-color;
		}

		.load-newer {
			&.wide {
				border-top-color: $dark-discussion-reply-border-color;

				&.no-editor {
					border-bottom-color: $dark-discussion-reply-border-color;
				}
			}
		}

		.timestamp {
			color: $dark-discussion-timestamp-color;
		}

		.post-detail {
			background-color: $dark-discussion-desktop-post-detail-bg-color;
			border-top-color: $dark-discussion-post-detail-border-color;

			&.is-locked {
				.replies-area {
					color: $dark-discussion-locked-post-replies-color;

					.replies {
						fill: $dark-discussion-locked-post-replies-color;
					}
				}
			}
		}

		.editor-container {
			background-color: $dark-discussion-editor-toolbar-background-color;
			border-color: $dark-discussion-editor-border-color;

			button {
				background: none;
			}

			.editor-textarea {
				border-color: $dark-discussion-editor-border-color;
				color: $dark-discussion-content-color;
			}

			.editor-label {
				background-color: $dark-discussion-editor-background-color;
			}
		}

		.editor-wrapper {
			background-color: $dark-discussion-editor-background-color;
		}

		.empty-forum-message {
			border-color: $dark-discussion-empty-forum-message-border-color;
		}
	}

	.discussion-app-promotion {
		.discussion-app-join-text {
			color: $dark-app-promotion-text-color;
		}
	}

	.community-badge {
		img {
			border-color: $dark-discussion-community-badge-border;
		}

		p {
			color: $dark-discussion-community-badge-title-color;
		}
	}

	.discussion-contributors {
		.discussion-contributors-more {
			background-color: $dark-discussion-contributors-background-color;
			border-color: $dark-discussion-contributors-border-color;
			color: $dark-discussion-contributors-text-color;
		}
	}

	.discussion-contributors-mobile {
		background-color: $dark-discussion-contributors-background-color;
	}

	.discussion-user-list,
	.discussion-reported-posts {
		.post-reply {
			background-color: $dark-discussion-desktop-post-detail-bg-color;
		}
	}

	.rail {
		.discussion-contributors-title,
		.discussion-filter-header {
			color: $dark-discussion-contributors-rail-title;
		}

		.side-button, .discussion-filter-header {
			border-color: $dark-discussion-rail-border-color;
		}

		.no-replies-message {
			color: $dark-discussion-no-replies-text-color;
		}

		.discussion-filters,
		.discussion-categories {
			legend {
				color: $dark-discussion-rail-header-color;
			}

			label {
				color: $dark-discussion-rail-label-color;
			}
		}

		.discussion-categories-list {
			label {
				&:hover {
					background-color: $dark-discussion-category-hover-background;
				}
			}
		}
	}

	figure {
		&.avatar {
			img, svg {
				border-color: $dark-discussion-avatar-border-color;
			}
		}
	}

	&.discussions {
		.og-container {
			background-color: $dark-discussion-open-graph-background-color;
			border-color: $dark-discussion-open-graph-border-color;
		}

		.og-title {
			color: $dark-discussion-open-graph-title-color;
		}

		.og-site-name {
			color: $dark-discussion-open-graph-domain-color;
		}

		.is-loading {
			.loading-overlay {
				background-color: transparent;
			}

			.og-image-placeholder {
				background-color: $dark-discussion-open-graph-placeholder-background-color;
			}

			.og-text-placeholder {
				background-color: $dark-discussion-open-graph-placeholder-background-color;
			}
		}
	}
}

@media #{$desktop-range} {
	body.dark-theme {
		background-color: $dark-discussion-desktop-bg-color;
	}

	.dark-theme {
		.discussion {
			background-color: transparent;

			&.forum {
				.post-detail {
					border-bottom-color: $dark-discussion-reply-border-color;
				}

				.discussion-content {
					a {
						color: $dark-discussion-content-color;
					}
				}
			}

			&.post {
				.post-detail {
					background-color: transparent;
					border-bottom-color: $dark-discussion-reply-border-color;
				}
			}

			.discussion-no-replies {
				color: $dark-discussion-no-replies-text-color;
			}
		}

		.discussion-sort {
			li {
				&.not-active {
					border-bottom-color: $dark-discussion-sort-color;
					color: $dark-discussion-sort-color;
				}
			}

			&.no-trending {
				li {
					&.sort-trending {
						border-bottom-color: $dark-discussion-sort-inactive-color;
						color: $dark-discussion-sort-inactive-color;
					}
				}
			}
		}

		.discussion-no-replies {
			border-bottom-color: $dark-discussion-reply-border-color;
		}

		.discussion-editor.reply-editor {
			.editor-label {
				&.desktop-hidden {
					border-top-color: $discussion-post-detail-border-color;
				}
			}
		}

		.discussions {
			.large-image-card-desktop {
				.og-image {
					border-bottom-color: $dark-discussion-open-graph-border-color;
				}
			}
		}
	}

	.post-list-view {
		.rail {
			.delete-all {
				color: $dark-discussion-actions-color;
			}
		}
	}
}
