.discussion-user-list {
	.post-reply {
		background-color: $discussion-desktop-post-detail-bg-color;

		.discussion-reply {
			border-top: none !important;
		}

		.user-replied-to {
			border-bottom: 1px solid $discussion-user-replied-to-border-bottom-color;
			color: $discussion-user-replied-to-text-color;
		}
	}
}
