.icon {
	&.chevron {
		width: rem-calc(12);
		height: rem-calc(7);
	}

	&.wikia-logo {
		height: rem-calc(48);
		width: rem-calc(80);
	}

	&.toc {
		width: rem-calc(18);
		height: rem-calc(13);
	}

	&.nav {
		width: rem-calc(34);
		height: rem-calc(20);
	}

	&.search {
		width: rem-calc(14);
		height: rem-calc(14);
	}

	&.search-side-menu {
		width: rem-calc(13.5);
		height: rem-calc(14);
	}

	&.close {
		width: rem-calc(14);
		height: rem-calc(14);
	}

	&.close-side-menu {
		width: rem-calc(15);
		height: rem-calc(15);
	}
}
