// Use Wikia style guide settings
@import '../../vendor/wikia-style-guide/src/scss/lib/settings';

$auth-content-background-color: $color-white;
$body-background: $color-blue-dark;
$button-color: $color-blue-light;
$disabled-button-text-color: #B4D6F2;
$footer-text-color: $color-white;
$header-text-color: $color-white;
$input-color-active: $color-blue-gray;
$input-border-error-color: $alert-color;
$label-color-active: $color-blue-gray-dark;
$label-color-inactive: $color-blue-gray;
$label-color-valid: $color-blue-gray-dark;
$link-color: $color-blue-light;
$upvote-icon-stroke-color: $color-white;
$upvote-icon-back-color: $color-white;
$upvote-icon-activated-color: #e3bd00;

$discussion-bg-color: $color-white;
$discussion-count-color: #999;
$discussion-actions-color: #999;
$discussion-deleted-actions-color: #ccc;
$discussion-reply-border-color: $border-color;
$discussion-avatar-border-color: $border-color;
$discussion-content-color: $color-gray-dark;
$discussion-deleted-content-color: #999;
$discussion-community-badge-title-color: #666;
$discussion-community-badge-border: #f6f6f6;
$discussion-error-page-bg-color: #f6f6f6;
$discussion-error-bg-color: $color-white;
$discussion-error-text-color: #999;
$discussion-error-link-color: #333;
$discussion-header-image-blend-background: $color-white;
$discussion-load-more-color: $color-blue-gray;
$discussion-see-more-color: #E6E6E6;
$discussion-timestamp-color: #999;
$discussion-post-detail-border-color: $border-color;
$discussion-deleted-mark-color: #ed1c24;

$discussion-desktop-bg-color: #f6f6f6;
$discussion-desktop-post-detail-bg-color: $color-white;
$discussion-desktop-post-detail-border-color: $border-color;
$discussion-rail-separator-color: #e6e6e6;

$discussion-contributors-background-color: #666;
$discussion-contributors-background-mobile: #F6F6F6;
$discussion-contributors-border-color: $border-color;
$discussion-contributors-text-color: $color-white;
$discussion-contributors-rail-title: #333;

$collapsible-menu-border-color: #d0d0d0;
$collapsible-menu-title-color: $body-font-color;
$collapsible-menu-list-link-color: $color-black;
$discussion-sort-color: $border-color;

$app-promotion-text-color: #999;

$dark-body-background: #1a1a1a;
$dark-element-active-background: #1a1a1a;
$dark-button-color: #16abc1;
$dark-disabled-button-text-color: $disabled-button-text-color;
$dark-header-text-color: $header-text-color;
$dark-input-color-active: $input-color-active;
$dark-input-border-error-color: $input-border-error-color;

$dark-label-color-active: $label-color-active;
$dark-label-color-inactive: $label-color-inactive;
$dark-label-color-valid: $label-color-valid;
$dark-link-color: $link-color;
$dark-upvote-icon-back-color: #262626;
$dark-upvote-icon-activated-color: #e3bd00;
$dark-discussion-bg-color: #262626;
$dark-discussion-avatar-border-color: #666;
$dark-discussion-content-color: $iron;
$dark-discussion-deleted-content-color: #666;
$dark-discussion-community-badge-title-color: #fff;
$dark-discussion-community-badge-border: #262626;
$dark-discussion-count-color: #999;
$dark-discussion-deleted-actions-color: #666;
$dark-discussion-reply-border-color: #333;
$dark-discussion-error-bg-color: $discussion-error-bg-color;
$dark-discussion-error-text-color: $discussion-error-text-color;
$dark-discussion-error-link-color: $discussion-error-link-color;
$dark-discussion-load-more-color: $color-blue-gray;
$dark-discussion-see-more-color: #333;
$dark-discussion-timestamp-color: #999;
$dark-discussion-post-detail-border-color: #666;

$dark-discussion-desktop-bg-color: #1a1a1a;
$dark-discussion-desktop-post-detail-bg-color: #262626;
$dark-discussion-desktop-post-detail-border-color: #1e1e1e;
$dark-discussion-rail-separator-color: #333;

$dark-discussion-contributors-background-color: #666;
$dark-discussion-contributors-background-mobile-color: #333;
$dark-discussion-contributors-border-color: #666;
$dark-discussion-contributors-text-color: $color-white;
$dark-discussion-contributors-rail-title: #fff;

$dark-collapsible-menu-border-color: $collapsible-menu-border-color;
$dark-collapsible-menu-title-color: $collapsible-menu-title-color;
$dark-collapsible-menu-list-link-color: $collapsible-menu-list-link-color;

$dark-discussion-sort-color: #999;

$dark-app-promotion-text-color: $color-white;
