// Wikia Variables
// TODO: This file may get broken out into smaller files later if we decide we'd prefer the granularity to the
// 10,000 foot view.

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Z-Index Implementations
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// z-min
// z-1
$z-spinner-before: $z-1;
$z-video-provider-ooyala-override: $z-1;
// z-2
$z-spinner-after: $z-2;
// z-3
// z-4
// z-5
// z-6
// z-7
$z-site-head: $z-7;
$z-ads-footer: $z-7;
// z-8
$z-lightbox-footer: $z-8;
$z-lightbox-header: $z-8;
$z-lightbox-wrapper: $z-8;
$z-side-nav-overlay: $z-8;
// z-9
$z-side-nav: $z-9;
$z-alert-notification: $z-9;
// z-max

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Global Variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Border Radius
$border-radius-global: rem-calc(2);

// Colors

$color-blue-brand: $color-blue-light;
$color-gray-semi: $color-blue-gray;
$color-gray-light: $color-blue-gray-light;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Module Variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// All variables should live here to prevent shadowing of variables and provide a central location for developers to
// quickly modify the application

$overlay-opacity: .5;
$border-color-light: $color-gray-light;

$element-active-bg: $color-gray-light;

$modal-background: $color-gray-dark;
$modal-text-color: $color-white;

$search-box-border-color: $color-gray-light;
$search-box-text-color: $color-gray-light;
$spinner-color: $color-blue-brand;

$side-nav-item-gutter: rem-calc(13);
$side-nav-width: rem-calc(260);
$side-nav-offset: $side-nav-width * -1;
$transition-length: .10s;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Vertical variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$verticals: comics games books movies lifestyle music tv;
$vertical-colors: (
		$color-hub-comics
		$color-hub-games
		$color-hub-books
		$color-hub-movies
		$color-hub-lifestyle
		$color-hub-music
		$color-hub-tv
);

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Smart banner
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$smart-banner-android-height: rem-calc(66);
$smart-banner-ios-height: rem-calc(83);

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Site head
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$icon-site-head-width: rem-calc(60);
$icon-site-head-height: 50px;
