// Styles to be inlined into base layout
#preload .mobile-top-leaderboard {
	background-color: #ececec;
	margin-top: 10px;
	margin-bottom: 40px;
}

#preload .article-media {
	background-color: #ececec;
}
