h2[section] .contribution-container {
	margin: 0 12px;

	.edit-section {
		height: auto;
		width: auto;
	}
}

.contribution-container {
	display: flex;

	.disabled {
		display: none;
	}
}

.edit-section {
	$edit-icon-size: 24px;
	$edit-icon-container-size: 48px;

	align-items: center;
	display: inline-flex;
	height: $edit-icon-container-size;
	justify-content: center;
	width: $edit-icon-container-size;

	.icon {
		fill: $color-blue-light;
		height: $edit-icon-size;
		width: $edit-icon-size;
	}
}
