.edit-textarea {
	border: 0;
	font-size: .875rem;
	height: calc(100vh - 80px);
	line-height: inherit;
	margin: 0 auto;
	padding: .5rem;
	width: 100%;
}

.edit-section {
	$edit-icon-size: 24px;
	$edit-icon-container-size: 48px;

	align-items: center;
	display: inline-flex;
	height: $edit-icon-container-size;
	justify-content: center;
	width: $edit-icon-container-size;

	.icon {
		fill: $color-blue-light;
		height: $edit-icon-size;
		width: $edit-icon-size;
	}
}
