textarea {
	border: none;
	height: 50%;
	left: 0;
	margin: 0 auto;
	max-width: 62.5rem;
	position: absolute;
	right: 0;
	top: 3.125rem;
}

.edit-section {
	display: inline-block;
	height: 4.7rem;
	overflow: hidden;
	position: relative;
	width: 2.2rem;

	&.zero {
		height: 2.2rem;
	}

	.pencil {
		bottom: 0;
		height: 2.2rem;
		position:absolute;
		right: 0;
		width: 2.2rem;
	}
}
