.article-content {
	margin-bottom: 2.5rem;

	h1,
	h2,
	h3,
	h4,
	h6 {
		color: $primary-color;
	}

	h1,
	h2 {
		margin-top: 0;
		padding-top: 2.5rem;
	}

	h3 {
		padding-top: 1rem;
	}

	.article-media {
		& ~ h1,
		& ~ h2 {
			margin-bottom: 0;
		}
	}
}
