.article-content {
	margin-bottom: rem-calc(40);

	h1, h2, h3, h4, h6 {
		color: $primary-color;
	}

	h1, h2 {
		margin-top: 0;
		padding-top: rem-calc(40);
	}

	h3 {
		padding-top: 1rem;
	}

	.article-media {
		& ~ h1,
		& ~ h2 {
			margin-bottom: 0;
		}
	}
}
