.article-content {
	margin-bottom: 2.5rem;
	padding: 0 $article-horizontal-padding;

	h1,
	h2,
	h3,
	h4,
	h6 {
		&[section] {
			color: $primary-color;
		}
	}

	h1,
	h2 {
		&[section] {
			padding-top: 2.5rem;
		}
	}

	h3 {
		&[section] {
			padding-top: 1rem;
		}
	}

	.article-media {
		& ~ h1,
		& ~ h2 {
			margin-bottom: 0;
		}
	}
}
