.contributors {
	@extend %list-reset;

	@include clearfix;

	background-color: $wds-color-off-white;
	margin-bottom: 2.5rem;
	padding: 1.25rem .8125rem;

	ul {
		display: block;
		margin: 0;

		li {
			display: block;
			float: left;
			height: auto;
			list-style: none;
			padding: 0 .15625rem;
			width: 20%;

			&:nth-of-type(5n+1) {
				clear: both;
			}

			img {
				@include square(2.75rem);

				border-radius: 50%;
				display: block;
				margin: 0 auto;
			}
		}
	}

	.title {
		font-size: $type-smallest;
		font-weight: bold;
		margin-left: .625rem;
		padding-bottom: .9375rem;
	}
}
