.contributors {
	height: 125px;
	margin-bottom: 2.5rem;
	padding: 1.25rem .8125rem;

	.title {
		margin-left: .625rem;
		padding-bottom: .9375rem;
	}

	.wds-avatar {
		@include wds-avatar(30px, $wds-fandom-color-middle-gray);
	}
}
