$border-color: #d0d0d0;

table[class*='infobox'] {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: .9rem;
	margin: 2.5rem auto;
	width: 100%;

	figure {
		margin: 0 auto;
	}

	th {
		text-align: left;
	}

	tr:not(:first-of-type) {
		border-bottom: 1px solid $border-color-light;
	}

	tr:last-of-type {
		border-bottom: none;
	}

	//There is already enough spacing
	ul,
	ol {
		padding: 0;
	}

	th {
		width: 100px;
	}

	th,
	td {
		padding: 5px;
		vertical-align: top;

		&[colspan='2'] {
			padding: 0;
			text-align: center;

			b {
				display: inline-block;
				margin: 5px;
			}
		}
	}

	.short tr:nth-of-type(n+6):not(.infobox-expand) {
		display: none;
	}

	& tbody:not(.short) svg {
		transform: rotate(180deg);
	}
}

.infobox-expand {
	td {
		line-height: 2rem;
	}

	svg {
		height: 12px;
	}
}
