figure img {
	width: 100%;
}

img {
	height: auto;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	vertical-align: middle;
}

.article-image,
.linked-gallery-image,
.gallery-video {
	position: relative;

	&.is-small .chevron {
		display: none;
	}

	figcaption {
		@include ellipsis;

		height: 50px;
		pointer-events: auto;
	}
}

figcaption {
	color: #999;
	padding: 5px 0;
	text-align: left;
}

.article-gallery {
	-webkit-overflow-scrolling: touch;

	&:not(.linked-gallery) {
		white-space: nowrap;
		overflow: {
			x: auto;
			y: hidden;
		}
	}

	img {
		height: auto;
		margin-right: 8px;
		// Fixes iOS Safari repaint bug when scrolling through gallery
		transform: translate3d(0, 0, 0);
		width: 195px;
	}

	.gallery-video {
		display: inline-block;
	}

	&.linked-gallery {
		margin: auto;

		figcaption {
			height: 30px;
		}

		figure {
			display: inline-block;
			margin: 0 0 20px;
			vertical-align: top;
			width: 49%;
		}

		img {
			margin-right: 6px;
		}
	}
}

.article-video,
.file-video {
	position: relative;

	&::after {
		@include square(100%);

		background-image: linear-gradient(transparent 60%, rgba(black, .1) 70%, rgba(black, .7) 100%);
		content: '';
		left: 0;
		position: absolute;
		top: 0;
	}

	&.visible {
		img {
			width: 100%;
		}
	}

	figcaption {
		@include ellipsis;

		bottom: 0;
		color: white;
		font-size: .9rem;
		line-height: 1rem;
		padding: 10px;
		position: absolute;
		width: 100%;
		z-index: 1;

		div {
			@include ellipsis;
		}
	}
}

.comment-video {
	position: relative;
}

@keyframes lazyImage {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

iframe {
	max-width: 100%;
}

.is-icon {
	display: inline-block;
	vertical-align: text-bottom;

	img {
		margin-right: 6px;
	}

	.chevron {
		display: none;
	}
}
