img {
	height: auto;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	vertical-align: middle;

	&.lazyloading {
		@include is-loading;
	}

	&.lazyloaded {
		animation: lazyImage .3s;
		background: none;
	}
}

figcaption {
	color: #999;
	padding: 5px 0;
	text-align: left;
}

.article-video {
	position: relative;

	&::after {
		@include square(100%);

		background-image: linear-gradient(transparent 60%, rgba(black, .1) 70%, rgba(black, .7) 100%);
		content: '';
		left: 0;
		position: absolute;
		top: 0;
	}

	&.visible {
		img {
			width: 100%;
		}
	}

	figcaption {
		@include ellipsis;

		bottom: 0;
		color: white;
		font-size: .9rem;
		line-height: 1rem;
		padding: 10px;
		position: absolute;
		width: 100%;
		z-index: 1;

		div {
			@include ellipsis;
		}
	}
}

@keyframes lazyImage {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

iframe {
	max-width: 100%;
}
