img {
	height: auto;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	vertical-align: middle;

	&.lazyloading {
		@include is-loading;
	}

	&.lazyloaded {
		animation: lazyImage .3s;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3e%3cpath fill='%23ddd' d='m0 0h16v32h16V16H0z' /%3e%3c/svg%3e");
	}
}

figcaption {
	color: #999;
	padding: 5px 0;
	text-align: left;
}

.article-video {
	position: relative;

	&::after {
		@include square(100%);

		background-image: linear-gradient(transparent 60%, rgba(black, .1) 70%, rgba(black, .7) 100%);
		content: '';
		left: 0;
		position: absolute;
		top: 0;
	}

	&.visible {
		img {
			width: 100%;
		}
	}

	figcaption {
		@extend %wds-font-size-s;
		@extend %wds-leading-none;

		@include ellipsis;

		bottom: 0;
		color: white;
		padding: 10px;
		position: absolute;
		width: 100%;
		z-index: 1;

		div {
			@include ellipsis;
		}
	}
}

@keyframes lazyImage {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

iframe {
	max-width: 100%;
}
