// hero module settings
$infobox-hero-overlay-color: rgba(0, 0, 0, .6);
$infobox-hero-outline-color: rgba(0, 0, 0, .8);
$infobox-hero-font-color: $wds-color-white;
$hero-image-small-offset: 12px;
$hero-image-small-box-shadow: 0 8px 13px 0 rgba($wds-color-black, .04);

// spacing
$infobox-item-margin: 6px;
$tabular-layout-padding: 12px;

// field dimensions
$infobox-image-collection-button-width: 60px;

$infobox-border-radius: 4px;
$infobox-box-shadow: 0 6px 10px 0 rgba($wds-color-black, .1);

.portable-infobox-wrapper {
	position: relative;
}

.pi {
	background-color: $infobox-background;
	border-radius: $infobox-border-radius;
	box-shadow: $infobox-box-shadow;
	height: auto;

	// margin-top: -2px to hide border radius behind hero image if such is present
	margin: -$infobox-border-radius/2 0 0;

	.article-gallery {
		// position:relative needed here for proper setting the
		// offsetParent property for images in galleries in infoboxes
		position: relative;
	}

	&.collapsed {
		overflow: hidden;
	}

	&.collapsed ~ .pi-expand-button {
		bottom: 0;
		box-shadow: none;
		position: absolute;

		svg {
			transform: none;
		}
	}

	img {
		border-radius: $infobox-border-radius;
	}
}

//////////// General classes and rules used across infobox ////////////

// reset inherited margins and paddings
.pi-title,
.pi-header,
.pi-data-label,
.pi-hero-title,
.pi-hero-caption,
.portable-infobox .article-media-thumbnail,
section {
	margin: 0;
	padding: 0;
}

.pi-item-spacing {
	padding: $infobox-item-margin * 2 $article-horizontal-padding;
}

//////////// Specific styles for each of the infobox elements starts here ////////////

// infobox gallery
.pi-image-collection {
	overflow: hidden;
	position: relative;
	white-space: nowrap;

	&__images-wrapper {
		overflow-x: scroll;
	}

	.pi-item {
		@extend %position-play-icon;

		border-radius: 3px;
		display: inline-block;
		height: auto;
		position: relative;
		width: 222px;

		&:not(:last-child) {
			margin-right: 12px;
		}

		.article-media-placeholder {
			border-bottom: 1px solid #bed1cf;
			border-radius: 4px;
			height: auto;
			max-height: 100vw;
			object-fit: contain;
			width: 100%;
		}
	}

	.article-video::before {
		background-position: center;
	}

	.pi-hero-title-wrapper {
		display: none;
	}
}

// infobox hero
.pi-hero {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: calc(50vw - 2 * #{$article-horizontal-padding});

	> figure {
		@extend %position-play-icon;

		max-width: 50%;
		order: 1;
		position: absolute;
		top: -$hero-image-small-offset;

		a {
			display: block;
		}

		img {
			box-shadow: $hero-image-small-box-shadow;
		}
	}
}

.pi-hero-title-wrapper {
	order: 2;
}

.pi-hero-caption {
	display: none;
}

// infobox title
.pi-hero-title,
.pi-title {
	@extend %wds-font-size-xl;
	@extend %wds-font-weight-normal;
	@extend %wds-line-height-xl;

	text-align: center;
}

.pi-title:first-child {
	margin-top: 2* $infobox-item-margin;
}

// infobox images
.pi-image {
	padding-left: $infobox-item-margin * 2;
	padding-right: $infobox-item-margin * 2;

	figcaption {
		display: none;
	}
}

// infobox data fields in tabular layout
.pi-data {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	width: 100%;
}

.pi-data-label {
	@extend %wds-font-size-xs;
	@extend %wds-line-height-xs;
	@extend %wds-font-weight-bold;
	@extend %wds-text-transform-uppercase;

	flex-basis: 40%;
	hyphens: auto;
}

.pi-data-value {
	@extend %wds-font-size-s;
	@extend %wds-font-weight-light;
	@extend %wds-line-height-base;

	padding-left: 0;

	&:not(:first-child) {
		flex-basis: 60%;
		padding-left: $tabular-layout-padding;
	}

	dl,
	ol,
	ul,
	p {
		list-style-position: inside;
	}

	ol,
	ul {
		line-height: 24px;
		margin-left: 6px;

		> li {
			list-style-position: outside;
			margin-bottom: 8px;
			margin-left: 10px;
		}
	}
}

.pi-group {
	margin: 0 $infobox-item-margin * 2;
	padding-bottom: $infobox-item-margin * 2;
	padding-top: $infobox-item-margin * 2;

	&:not(:first-child) {
		border-top: 1px solid $wds-fandom-color-middle-gray;
	}

	.pi-image + &,
	.pi-title + & {
		border-top: none;
	}

	.pi-item {
		padding-left: 0;
		padding-right: 0;
	}
}

// infobox group header
.pi-header {
	@extend %wds-font-size-l;
	@extend %wds-line-height-l;
	@extend %wds-font-weight-medium;
	@extend %wds-text-transform-uppercase;

	// TODO: group headers should have midlight effect, however to make it work we need wrap h2 tags within div tag to
	// be able to both, use display:inline from wds-midlight (which is required to make it work) and center the header
	// text. We can adjust infobox parser easily to do it, however parser cache is 1 week long, so we need to style it in
	// a way to support non-midlight headers when there is only h2 and midlight effect when there is div > h2
	//@extend .wds-midlight;

	text-align: center;
}

// infobox horizontal group
.pi-horizontal-group {
	border-spacing: 0;
	margin-bottom: 12px;
	table-layout: fixed;
	text-align: left;
	width: 100%;

	.pi-horizontal-group-item {
		vertical-align: top;

		&:not(:last-child) {
			border-right: 1px solid $wds-fandom-color-middle-gray;
		}
	}

	.pi-data-label {
		padding-bottom: 0;
	}

	.pi-data-value,
	.pi-data-label {
		padding-left: $tabular-layout-padding;
		padding-right: $tabular-layout-padding;

		&:first-child {
			padding-left: $article-horizontal-padding;
		}

		&:last-child {
			padding-right: $article-horizontal-padding;
		}
	}
}

// infobox smart (flex) wrapped group
.pi-smart-group {
	display: flex;
	flex-direction: column;

	&:not(:last-child) {
		padding-bottom: $infobox-item-margin * 2;
	}

	.pi-smart-group-head:first-child {
		margin-top: 12px;
	}

	.pi-smart-group-body {
		margin-bottom: 12px;
	}

	.pi-smart-data-label,
	.pi-smart-data-value {
		flex-basis: auto;
		padding: 0 $tabular-layout-padding;

		&:not(:last-child) {
			border-right: 1px solid $wds-fandom-color-middle-gray;
		}
	}
}

.pi-smart-group-head,
.pi-smart-group-body {
	display: flex;
}

// infobox navigation
.pi-navigation,
.pi-navigation pre {
	@extend %wds-font-size-s;
	@extend %wds-font-weight-normal;

	background-color: inherit;
	color: inherit;
}

// styles for infobox collapse / expand UI
.pi-expand-button {
	background: $wds-color-white;
	border-bottom-left-radius: $infobox-border-radius;
	border-bottom-right-radius: $infobox-border-radius;
	border-top: solid 1px $wds-fandom-color-mid-light-gray;
	box-shadow: 0 6px 10px 0 rgba($wds-color-black, .1);
	color: $wds-fandom-color-aqua;
	padding: 5px 0 4px;
	text-align: center;
	width: 100%;
	z-index: $z-1;

	span {
		margin-right: 5px;
	}

	svg {
		transform: rotate(180deg);
	}
}

.pi-hero,
.pi-image-collection {
	.article-media-placeholder {
		// in case of long image (longer than wider)
		// we want to crop its height to equal its width (which takes 100% of screen width)
		max-height: 100vw;
	}
}

.pi-hero-small-wrapper {
	display: flex;
	justify-content: space-around;
	margin: 24px $article-horizontal-padding 0;
}

.pi-hero-small {
	@extend %position-play-icon;

	border-bottom: 1px solid #bed1cf;
	border-radius: 4px;
	box-shadow: $hero-image-small-box-shadow;
	display: block;
	margin-top: -$hero-image-small-offset;
	position: relative;
	width: 50%;

	img {
		height: calc(50vw - #{$article-horizontal-padding});
		width: 100%;
	}
}
