// background colors
$page-background-color: $white;

// 10% button color, 5% black and 85% white
$tabular-layout-stripe-background: mix(mix($color-blue-light, $black, 66%), $page-background-color, 15%);

// secondary fields colors
$infobox-secondary-background: $color-blue-light;
$infobox-secondary-font-color: $white;
$infobox-secondary-color: $color-blue-gray-light;

// hero module colors
$infobox-hero-overlay-color: rgba(0, 0, 0, .6);
$infobox-hero-outline-color: rgba(0, 0, 0, .8);
$infobox-hero-font-color: $white;

// spacing
$infobox-item-margin: 6px;
$tabular-layout-data-padding: 12px;
$tabular-layout-padding: 14px;

// field dimensions
$infobox-title-cell-height: 54px;
$min-hero-item-height: 110px;
$infobox-image-collection-button-width: 60px;

//fonts used in infobox
$infobox-title-font-size: 20px;
$infobox-title-line-height: 24px;
$infobox-default-font-size: $type-smallest;
$infobox-default-line-height: $line-height-smallest;
$hero-title-font-size: $type-small;
$hero-title-line-height: $line-height-small;
$hero-caption-font-size: 12px;
$hero-caption-line-height: 18px;
$group-header-font-size: 16px;

// `.portable-infobox` selector can be removed after parser cache invalidation
// https://github.com/Wikia/app/pull/14783
.portable-infobox,
.pi {
	background-color: $infobox-background;
	font-size: $infobox-default-font-size;
	height: auto;
	line-height: $infobox-default-line-height;
	margin: 0 #{-$article-horizontal-padding};

	.article-gallery {
		// position:relative needed here for proper setting the
		// offsetParent property for images in galleries in infoboxes
		position: relative;
	}

	&.collapsed {
		overflow: hidden;
		position: relative;

		.pi-expand-button {
			bottom: 0;
			padding-top: 45px;
			position: absolute;
		}
	}
}

//////////// General classes and rules used across infobox ////////////

// reset inherited margins and paddings
.pi-title,
.pi-header,
.pi-data-label,
.pi-hero-title,
.pi-hero-caption,
.media-component,
.portable-infobox .article-media-thumbnail {
	margin: 0;
	padding: 0;
}

.pi-item-spacing {
	padding: $infobox-item-margin * 2 $article-horizontal-padding;
}

.pi-secondary-background {
	background-color: $infobox-secondary-background;
	color: $infobox-secondary-font-color;

	a {
		color: inherit;
		text-decoration: underline;
	}
}

.pi-secondary-font {
	font-size: inherit;
	font-weight: bold;
	line-height: inherit;
	margin-top: 0;
}

//////////// Specific styles for each of the infobox elements starts here ////////////

// infobox gallery
.pi-image-collection {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	white-space: nowrap;

	img {
		height: 195px;
		// Fixes iOS Safari repaint bug when scrolling through gallery
		transform: translate3d(0, 0, 0);
	}

	.pi-item {
		@extend %position-play-icon;

		display: inline-block;
		margin-right: 8px;

		.article-media-placeholder {
			width: 195px;
			height: auto;
		}

		&.active {
			display: block;
		}
	}

	.article-video::before {
		background-position: center;
	}

	.pi-hero-title-wrapper {
		text-align: left;
	}

	.image-collection-actions {
		width: 100%;

		button {
			background: transparent;
			border: none;
			bottom: 0;
			display: block;
			height: auto;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			width: $infobox-image-collection-button-width;
			z-index: $z-portable-infobox-collapse;
		}

		svg {
			fill: $infobox-hero-font-color;
			stroke: $infobox-hero-overlay-color;
			stroke-width: .5;
			transform: rotate(-90deg);
		}

		.action-previous svg {
			transform: rotate(90deg);
		}
	}

	.action-next {
		right: 0;
	}

	.action-previous {
		left: 0;
	}
}

// infobox hero
.pi-hero {
	min-height: $min-hero-item-height;
	position: relative;

	img {
		margin-left: 50%;
		transform: translate(-50%);
	}
}

.pi-hero-title-wrapper {
	background: linear-gradient(to top, $infobox-hero-overlay-color, transparent);
	bottom: 0;
	left: 0;
	padding-bottom: 15px;
	padding-top: $infobox-item-margin * 8;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.pi-hero-title {
	font-size: $hero-title-font-size;
	line-height: $hero-title-line-height;
}

.pi-hero-title,
.pi-hero-caption {
	@include ellipsis;

	color: $infobox-hero-font-color;
	text-shadow: 0 0 3px $infobox-hero-outline-color;

	a {
		color: inherit;
		pointer-events: auto;
		text-decoration: underline;
	}
}

.pi-hero-caption {
	font-size: $hero-caption-font-size;
	font-weight: normal;
	line-height: $hero-caption-line-height;
	padding-top: $infobox-item-margin;
}

// infobox title
.pi-title {
	background-color: $infobox-secondary-background;
	color: $infobox-secondary-font-color;
	display: flex;
	flex-direction: column;
	font-size: $infobox-title-font-size;
	justify-content: center;
	line-height: $infobox-title-line-height;
	min-height: $infobox-title-cell-height;
	text-align: center;
}

// infobox images
.pi-image {
	figcaption {
		color: $black;
		height: auto;
		padding: $infobox-item-margin * 2 $article-horizontal-padding;
	}
}

// infobox data fields in tabular layout
.pi-data {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	width: 100%;
}

.pi-data-label {
	flex-basis: 30%;
	hyphens: auto;
}

.pi-data-value {
	overflow: auto;
	padding-left: 0;

	&:not(:first-child) {
		flex-basis: 70%;
		padding-left: $tabular-layout-padding;
	}

	// remove margins on all elements inside data value
	// leave the chevrons in peace
	*:not('.chevron') {
		margin: 0;
	}

	dl,
	ol,
	ul,
	p {
		font-size: inherit;
		line-height: inherit;
		list-style-position: inside;
	}

	ol,
	ul {
		margin-left: 6px;

		> li {
			list-style-position: outside;
			margin-bottom: 8px;
			margin-left: 10px;
		}
	}
}

// infobox group
.pi-group .pi-header {
	font-size: $group-header-font-size;
	text-align: center;
}

// infobox horizontal group
.pi-horizontal-group {
	border-spacing: 0;
	table-layout: fixed;
	text-align: left;
	width: 100%;

	.pi-header {
		font-size: $group-header-font-size;
		text-align: center;
	}

	.pi-horizontal-group-item {
		vertical-align: top;
	}

	.pi-data-label {
		padding-bottom: 0;
	}

	.pi-data-value:nth-child(even),
	.pi-data-label:nth-child(even) {
		background-color: $tabular-layout-stripe-background;
	}

	.pi-data-value,
	.pi-data-label {
		padding-left: $tabular-layout-padding;
		padding-right: $tabular-layout-padding;

		&:first-child {
			padding-left: $article-horizontal-padding;
		}

		&:last-child {
			padding-right: $article-horizontal-padding;
		}
	}
}

// infobox smart (flex) wrapped group
.pi-smart-group {
	display: flex;
	flex-direction: column;

	.pi-smart-data-label {
		padding-bottom: 0;
	}

	.pi-smart-data-label,
	.pi-smart-data-value {
		flex-basis: auto;
		padding-left: $tabular-layout-padding;
		padding-right: $tabular-layout-padding;

		&:nth-child(even) {
			background-color: $tabular-layout-stripe-background;
		}

		&:first-child {
			padding-left: $article-horizontal-padding;
		}

		&:last-child {
			padding-right: $article-horizontal-padding;
		}
	}
}

.pi-smart-group-head,
.pi-smart-group-body {
	display: flex;
}

// infobox navigation
.pi-navigation {
	background-color: inherit;
	color: inherit;
	font-weight: normal;

	a {
		color: $anchor-font-color;
		text-decoration: none;
	}
}

// styles for infobox collapse / expand UI
.pi-expand-button {
	background: linear-gradient(to top, $infobox-background 55%, transparentize($infobox-background, 1));
	padding: $infobox-item-margin * 5 0 $infobox-item-margin * 2;
	text-align: center;
	width: 100%;
	z-index: $z-1;
}

.pi-hero,
.pi-image-collection {
	.article-media-placeholder {
		// in case of long image (longer than wider)
		// we want to crop its height to equal its width (which takes 100% of screen width)
		max-height: 100vw;
	}
}

.pi-hero-small-wrapper {
	padding: 0 $article-horizontal-padding;
}

.pi-hero-small {
	display: block;
	position: relative;

	> img {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
