// hero module settings
$hero-image-small-offset: 12px;
$hero-image-small-box-shadow: 0 8px 13px 0 rgba($wds-color-black, .04);

// spacing
$infobox-item-margin: 6px;
$tabular-layout-padding: 12px;

$infobox-border-radius: 4px;
$infobox-box-shadow: 0 6px 10px 0 rgba($wds-color-black, .1);

$overflow-color: $wds-color-white;

.portable-infobox-wrapper {
  margin-bottom: 2rem;
  position: relative;

  &:nth-of-type(n + 2) {
    margin-top: 36px;
  }
}

.pi {
  background-color: $infobox-background;
  border-radius: $infobox-border-radius;
  box-shadow: $infobox-box-shadow;
  height: auto;

  // margin-top: -2px to hide border radius behind hero image if such is present
  margin: -$infobox-border-radius/2 0 0;
  padding-bottom: 6px;

  .article-media-thumbnail {
    margin-bottom: 0;
  }

  .article-media-gallery {
    // position:relative needed here for proper setting the
    // offsetParent property for images in galleries in infoboxes
    position: relative;

    .article-media-thumbnail {
      margin: 0 $infobox-item-margin;
      padding: 0;
    }
  }

  &.collapsed {
    overflow: hidden;
  }

  &.collapsed ~ .pi-expand-button {
    box-shadow: none;

    svg {
      transform: none;
    }
  }

  dl,
  ol,
  ul,
  p {
    list-style-position: inside;
  }

  ol,
  ul {
    line-height: 24px;
    margin-left: 6px;
    text-align: left;

    > li {
      list-style-position: outside;
      margin-bottom: 8px;
      margin-left: 10px;
    }
  }

  p {
    font-size: $wds-font-size-s;
    line-height: inherit;
  }
}

//////////// General classes and rules used across infobox ////////////

.pi-panel-scroll-wrapper {
  position: relative;

  &::after,
  &::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: opacity .3s;
    width: 40px;
    z-index: 1;
  }

  &::before {
    background-image: linear-gradient(to right, $overflow-color, rgba(255, 255, 255, 0));
    left: 0;
  }

  &::after {
    background-image: linear-gradient(to left, $overflow-color, rgba(255, 255, 255, 0));
    right: 0;
  }
}

.pi-section-navigation.wds-tabs {
  margin: 0 6px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-x: scroll;
  overflow-y: hidden;

  &::after,
  &::before {
    align-self: stretch;
    content: '';
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.pi-section-tab.wds-tabs__tab {
  border-bottom: 1px solid $wds-color-light-c3;
  cursor: pointer;
  margin: 3px 0 !important;
  padding: 10px;

  &:first-of-type,
  &:last-of-type {
    position: relative;
    z-index: 2;
  }

  &:first-of-type {
    background-image: linear-gradient(to right, $overflow-color, rgba(255, 255, 255, 0));
  }

  &:last-of-type {
    background-image: linear-gradient(to left, $overflow-color, rgba(255, 255, 255, 0));
  }

  &.pi-section-active {
    // keep in sync with .wds-is-current
    @include wds-box-underline($wds-fandom-color-link);
  }
}

.pi-section-label {
  color: $wds-fandom-color-link !important;
  height: auto;
}

.pi-section-content {
  display: none;

  &.pi-section-active {
    display: block;
  }
}

// reset inherited margins and paddings
.pi-title,
.pi-data-label,
.pi-hero-title,
.pi-hero-caption,
section {
  margin: 0;
  padding: 0;
}

.pi-header {
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.pi-item-spacing {
  padding: $infobox-item-margin * 2 $article-horizontal-padding;
}

//////////// Specific styles for each of the infobox elements starts here ////////////

// infobox gallery
.pi-image-collection {
  margin-top: $infobox-border-radius/2;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  &__images-wrapper {
    overflow-x: scroll;
  }

  &:first-child .pi-item {
    width: calc((100vw - 2 * #{$article-horizontal-padding}) * .75);

    .has-featured-video & {
      width: calc(50vw - #{$article-horizontal-padding});
    }
  }

  .pi-item {
    @extend %position-play-icon;

    display: inline-block;
    height: auto;
    margin-left: $infobox-item-margin * 2;
    position: relative;
    width: calc(50vw - #{$article-horizontal-padding});

    &:last-child {
      margin-right: $infobox-item-margin * 2;
    }

    .article-media-placeholder {
      height: auto;
      max-height: 100vw;
      object-fit: contain;
      width: 100%;
    }
  }

  .article-video::before {
    background-position: center;
  }

  .pi-hero-title-wrapper {
    display: none;
  }
}

// infobox hero
.pi-hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding-top: calc(50vw - 2 * #{$article-horizontal-padding});

  > figure {
    @extend %position-play-icon;

    max-width: 50%;
    order: 1;
    position: absolute;
    top: -$hero-image-small-offset;

    a {
      display: block;
    }

    img {
      box-shadow: $hero-image-small-box-shadow;
    }
  }
}

.pi-hero-title-wrapper {
  order: 2;
}

.pi-hero-caption {
  display: none;
}

// infobox title
.pi-hero-title,
.pi-title {
  font-size: $wds-font-size-xl;
  font-weight: $wds-font-weight-normal;
  line-height: $wds-line-height-tight;
  text-align: center;
}

.pi-title:first-child {
  margin-top: 2* $infobox-item-margin;
}

// infobox images
.pi-image {
  padding-left: $infobox-item-margin * 2;
  padding-right: $infobox-item-margin * 2;

  figcaption {
    display: none;
  }
}

// infobox data fields in tabular layout
.pi-data {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

.pi-data-label {
  flex-basis: 40%;
  font-size: $wds-font-size-xs;
  font-weight: $wds-font-weight-bold;
  hyphens: auto;
  line-height: $wds-line-height-tight;
  text-transform: uppercase;
}

.pi-data-value {
  font-size: $wds-font-size-s;
  font-weight: $wds-font-weight-light;
  line-height: $wds-line-height-normal;
  padding-left: 0;

  &:not(:first-child) {
    flex-basis: 60%;
    padding-left: $tabular-layout-padding;
  }

  figcaption {
    display: none;
  }
}

.pi-group {
  margin: 0 $infobox-item-margin * 2;
  padding-bottom: $infobox-item-margin * 2;
  padding-top: $infobox-item-margin * 2;

  &:not(:first-child) {
    border-top: 1px solid $wds-fandom-color-middle-gray;
  }

  .pi-image + &,
  .pi-image-collection + &,
  .pi-title + & {
    border-top: none;
  }

  .pi-item:not(.pi-header) {
    padding-left: 0;
    padding-right: 0;
  }
}

// infobox group header
.pi-header {
  @include wds-midlight(rgba($wds-fandom-color-navy, .1));

  font-size: $wds-font-size-l;
  font-weight: $wds-font-weight-medium;
  line-height: $wds-line-height-tight;
  text-align: center;
  text-transform: uppercase;
}

.pi-header-wrapper {
  text-align: center;
}

// infobox horizontal group
.pi-horizontal-group {
  border-spacing: 0;
  margin-bottom: 12px;
  table-layout: fixed;
  width: 100%;

  .pi-horizontal-group-item {
    text-align: center;
    vertical-align: top;

    &:not(:last-child) {
      border-right: 1px solid $wds-fandom-color-middle-gray;
    }
  }

  .pi-data-label {
    padding-bottom: 0;
  }

  .pi-data-value,
  .pi-data-label {
    padding-left: $tabular-layout-padding;
    padding-right: $tabular-layout-padding;

    &:first-child {
      padding-left: $article-horizontal-padding;
    }

    &:last-child {
      padding-right: $article-horizontal-padding;
    }
  }
}

// infobox smart (flex) wrapped group
.pi-smart-group {
  display: flex;
  flex-direction: column;
  text-align: center;

  &:not(:last-child) {
    padding-bottom: $infobox-item-margin * 2;
  }

  .pi-smart-group-head:first-child {
    margin-top: 12px;
  }

  .pi-smart-group-body {
    margin-bottom: 12px;
  }

  .pi-smart-data-label,
  .pi-smart-data-value {
    flex-basis: auto;
    padding: 0 $tabular-layout-padding;

    &:not(:last-child) {
      border-right: 1px solid $wds-fandom-color-middle-gray;
    }
  }

  .pi-smart-data-label {
    padding-bottom: 12px;
  }

  section {
    padding-bottom: 0;
  }
}

.pi-smart-group-head,
.pi-smart-group-body {
  display: flex;
}

// infobox navigation
.pi-navigation,
.pi-navigation pre {
  background-color: inherit;
  color: inherit;
  font-size: $wds-font-size-s;
  font-weight: $wds-font-weight-normal;

  img {
    border: none;
    border-radius: 0;
  }
}

// styles for infobox collapse / expand UI
.pi-expand-button {
  background: $wds-color-white;
  border-bottom-left-radius: $infobox-border-radius;
  border-bottom-right-radius: $infobox-border-radius;
  border-top: solid 1px $wds-fandom-color-mid-light-gray;
  box-shadow: 0 6px 10px 0 rgba($wds-color-black, .1);
  color: $wds-fandom-color-aqua;
  padding: 5px 0 4px;
  text-align: center;
  width: 100%;
  z-index: $z-1;

  span {
    margin-right: 5px;
  }

  svg {
    transform: rotate(180deg);
  }
}

.pi-hero-small-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: space-around;
  margin: 12px $article-horizontal-padding 0;
}

.pi-hero-small {
  @extend %position-play-icon;

  box-shadow: $hero-image-small-box-shadow;
  display: block;
  margin-top: -$hero-image-small-offset;
  position: relative;
  width: 50%;

  img {
    height: calc(50vw - #{$article-horizontal-padding});
    width: 100%;
  }
}
