h1[section],
h2[section] {
  align-items: center;
  display: flex;

  &.open-section {
    + .mobile-hidden {
      display: block;
    }
  }

  .chevron-wrapper {
    align-items: center;
    display: flex;
    height: 44px;
    margin-right: -$article-horizontal-padding;
    padding: 9px 13px;

    .chevron {
      fill: $wds-fandom-color-middle-gray;
    }
  }

  .vertical-separator {
    border-left: 1px solid $wds-fandom-color-middle-gray;
    height: 26px;
    width: 1px;
  }

  .section-edit-link {
    align-items: center;
    color: $wds-fandom-color-middle-gray;
    display: flex;
    height: 44px;
    padding: 9px 13px;
  }
}

.hide-edit-links,
// hiding editing in mobile apps
.is-full-page {
  h1[section],
  h2[section] {
    .section-edit-link,
    .vertical-separator {
      display: none;
    }
  }
}

.mobile-hidden {
  display: none;
}

.section-header-label {
  flex: 1;
}
