h2[section] {
	align-items: center;
	display: flex;

	&.open-section {
		.contribution-container {
			visibility: visible;
		}

		+ .mobile-hidden {
			display: block;
		}
	}

	.contribution-container {
		visibility: hidden;
	}
}

.mobile-hidden {
	display: none;
}

.section-header-label {
	align-items: center;
	display: flex;
	flex: 1;
}
