table:not([class*=infobox]):not(.dirbox):not(.pi-horizontal-group) {
	border: 1px solid $border-color-light;
	border-collapse: collapse;
	display: block;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;

	&.infobox {
		th,
		td {
			width: 50%;
		}
	}

	th,
	td {
		padding: 10px;

		figure {
			&:not(.is-ogg) {
				display: inline-block;

				figcaption {
					display: none;
				}
			}

			&.has-caption .chevron {
				margin-bottom: 0;
			}
		}
	}

	th {
		text-align: left;
		vertical-align: top;
	}

	td:empty {
		display: none;
	}

	td:not(:last-child),
	th:not(:last-child) {
		border-right: 1px solid $border-color-light;
	}

	tr:not(:last-of-type) {
		border-bottom: 1px solid $border-color-light;
	}
}
