// Use Wikia style guide settings
//@import 'node_modules/wikia-style-guide/src/scss/lib/settings';

$white: #FFFFFF;
$ghost: #FAFAFA;
$snow: #F9F9F9;
$vapor: #F6F6F6;
$white-smoke: #F5F5F5;
$silver: #EFEFEF;
$smoke: #EEEEEE;
$gainsboro: #DDDDDD;
$iron: #CCCCCC;
$base: #AAAAAA;
$aluminum: #999999;
$jumbo: #888888;
$monsoon: #777777;
$steel: #666666;
$charcoal: #555555;
$tuatara: #444444;
$oil: #333333;
$jet: #222222;
$black: #000000;

// Default user experience colors
$color-blue-dark: #092344;
$color-blue-light: #1A5EB8;
$color-gray-dark: #39424D;
$color-blue-gray-dark: #656E78;
$color-blue-gray: #C5CED9;
$color-blue-gray-light: #E6EBF2;
$color-gray-light: #F2F6FA;
$color-white: #FFFFFF;
$color-black: #000000;

// We use these as default colors throughout
$primary-color: $color-blue-dark;
$secondary-color: #e7e7e7;
$alert-color: #ff3500;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$border-color: #cccccc;

$anchor-font-color: $color-blue-light;

$body-font-color: $color-gray-dark;

$button-bg-color: $color-blue-light;

$alert-color: #ff3500;

$appreciate-activated-color: $color-blue-light;
$auth-content-background-color: $color-white;
$body-background: $color-blue-dark;
$button-color: $color-blue-light;
// TODO CE-3548 move these button colors to styleguide
// https://github.com/Wikia/style-guide/blob/dev/src/scss/lib/_settings.scss
$button-enabled-color: $button-bg-color;
$button-tapped-color: mix($button-enabled-color, $color-black, 80%);
$button-disabled-color: mix($button-enabled-color, $color-white, 70%);
$disabled-button-text-color: #b4d6f2;
$footer-text-color: $color-white;
$header-text-color: $color-white;
$input-color-active: $color-blue-gray;
$input-border-error-color: $alert-color;
$label-color-active: $color-blue-gray-dark;
$label-color-inactive: $color-blue-gray;
$label-color-valid: $color-blue-gray-dark;
$link-color: $color-blue-light;
$upvote-icon-stroke-color: $color-white;
$upvote-icon-back-color: $color-white;
$upvote-icon-activated-color: #e3bd00;

$fancy-check-box-border: #999;
$fancy-check-box-disabled-border: #ccc;
$fancy-check-box-background: #fff;
$highlight-overlay-background-color: #f6f6f6;

$large-desktop-post-details-font-size: 1.75rem;

$discussion-timestamp-color: #999;
$collapsible-menu-border-color: #d0d0d0;
$collapsible-menu-title-color: $body-font-color;
$collapsible-menu-list-link-color: $color-black;

$dark-highlight-overlay-background-color: #262626;

$wikia-ui-components-sub-head-height: 48px;
$wikia-ui-components-sub-head-height-large: 66px;

$screen: "only screen";
$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

// Type Scale inspired by Medium's CSS
// @source https : //medium.com/@fat/mediums-css-is-actually-pretty-fucking-good-b8e2a6c78b06
$type-base: 1rem;
$type-max: 3.375rem;
$type-largest: 2.5rem;
$type-larger: 2.25rem;
$type-large: 1.6875rem;
$type-small: 1.5rem;
$type-smaller: 1.125rem;
$type-smallest: .875rem;
$type-min: .75rem;

$line-height-base: 1.625rem;
$line-height-max: 3.375rem;
$line-height-largest: 2.5rem;
$line-height-larger: 2.25rem;
$line-height-large: 2rem;
$line-height-small: 1.75rem;
$line-height-smaller: 1.75rem;
$line-height-smallest: 1.25rem;
$line-height-min: 1.125rem;

// We use these to define default font weights
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$base-font-size: 16px;

// We use this to do clear floats
@mixin clearfix {
	&::before,
	&::after {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
	}
}
