//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Z-Index Implementations
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// z-min
// z-1
$z-ads-top-leaderboard: $z-1;
$z-spinner-before: $z-1;
$z-portable-infobox-collapse: $z-1;
// z-2
// z-3
// z-4
// z-5
// z-6
// z-7
$z-ads-floor: $z-7;
$z-site-head: $z-7;
// z-8
$z-lightbox-footer: $z-8;
$z-lightbox-header: $z-8;
$z-lightbox-wrapper: $z-8;
// z-9
$z-alert-notification: $z-9;
$z-modal-dialog: $z-9;
// z-max

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Global Variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Article horizontal padding
$article-horizontal-padding: 1.125rem;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Module Variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// All variables should live here to prevent shadowing of variables and provide a central location for developers to
// quickly modify the application

$overlay-background-color: rgba(0, 0, 0, .5);
$box-shadow-color: rgba(0, 0, 0, .3);

$border-color-light: $color-gray-light;

$modal-background: $color-gray-dark;
$modal-text-color: $color-white;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Vertical variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Hub Colors
$color-hub-comics: #ff5400;
$color-hub-games: #94d11f;
$color-hub-books: #ff7f26;
$color-hub-movies: #09d3bf;
$color-hub-lifestyle: #ffd000;
$color-hub-music: #c819ad;
$color-hub-tv: #00b7e0;
$verticals: comics games books movies lifestyle music tv;
$vertical-colors: (
	$color-hub-comics $color-hub-games $color-hub-books $color-hub-movies $color-hub-lifestyle $color-hub-music $color-hub-tv
);

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Smart banner
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$fandom-app-smart-banner-height: 85px;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Site head
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$site-head-top-border-height: .375rem;
$site-head-content-height: 3.0625rem;
$site-head-partner-slot-height: 10px;
$site-head-height: $site-head-top-border-height + $site-head-content-height;
$site-head-with-partner-slot-height: calc(#{$site-head-height} + #{$site-head-partner-slot-height});
$icon-site-head-width: 3.75rem;
$icon-site-head-height: 50px;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Main Page
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$featured-content-margin-bottom: 20px;
