<div class="edit-section zero">
	<span {{action 'edit' model.title '0'}} class='zero-button-wrapper'>
		{{svg 'pencil' role='img' class='icon pencil'}}
	</span>
</div>
<div class="upload-photo zero">
	{{svg 'camera' role='img' class='icon camera'}}
	<input class="file-input" type="file" accept="image/*"/>
</div>
