{{#if pages.length}}
	<section class="content-recommendations">
		<h1>{{i18n 'app.article-suggestions-label'}}</h1>
		<ul class="mw-content">
			{{#each page in pages}}
				<li>
					{{#link-to 'article' page.title data-tracking-category='related'}}
						{{image-media url=page.imgUrl caption=page.title height=200 limitHeight=true}}
					{{/link-to}}
				</li>
			{{/each}}
		</ul>
	</section>
{{/if}}
