<header>{{title}}</header>
{{#if description}}
	<div class="block-description">{{description}}</div>
{{/if}}
<div class="curated-content-edit-items">
	{{#each model.items as |item|}}
		{{curated-content-edit-item model=item}}
	{{/each}}
</div>
