{{#if curatedContent.sections }}
	<div class="curated-content sections">
		<ul>
		{{#each section in curatedContent.sections}}
			{{ collapsible-section section=section}}
		{{/each}}
		</ul>
	</div>
{{/if}}
