<figure class="item-figure">
	{{thumbnail imageUrl width=imageSize height=imageSize alt=label mode=cropMode className="item-image"}}
	<figcaption class="item-figcaption">
		<span class="item-caption label">{{label}}</span>
		<span class="item-caption grid-icon"></span>
	</figcaption>
</figure>

