{{#if model.items}}
	<nav class='curated-content-items'>
		{{#each model.items as |item|}}
			{{curated-content-item model=item action='clickItem'}}
		{{/each}}

	{{! the empty newline above lets the last inline item to be justified to the right if it's even }}
	</nav>
	{{#if model.offset}}
		<button class="load-more-items" {{action 'loadMore'}}>
			{{i18n 'app.curated-content-load-more-items'}}
		</button>
	{{/if}}
{{/if}}
{{loading-spinner active=isLoading}}
