<header>{{title}}</header>
{{#if description}}
	<div class="block-description">{{description}}</div>
{{/if}}
<div class="curated-content-edit-block-items">
	{{#each model.items as |item|}}
		{{curated-content-edit-block-item
			model=item
			editItem='editItem'
			openSection='openSection'
		}}
	{{/each}}
	<div class="curated-content-edit-block-item">
		<button class="add-item-btn">+ add new section</button>
	</div>
</div>
