{{#each latestContributors as |contributor|}}
	{{discussion-avatar
		avatarUrl=contributor.avatarUrl
		authorUrl=contributor.url
		authorName=contributor.name
	}}
{{/each}}
{{#if additionalContributorCount}}
<div class="discussion-contributors-more">+{{additionalContributorCount}}</div>
{{/if}}
