<div class="error-content">
	{{i18n 'discussion.error-cant-connect'}}
	<a class="retry" {{action 'retry'}} >{{svg 'icon-retry' role='img' class='icon-retry'}} {{i18n 'discussion.action-retry-title'}}</a>
</div>
