{{#each latestContributors as |contributor|}}
	{{user-avatar
		avatarUrl=contributor.avatarUrl
		profileUrl=contributor.profileUrl
		username=contributor.name
	}}
{{/each}}
{{#if additionalContributorCount}}
<div class="discussion-contributors-more">+{{numeral additionalContributorCount '0a'}}</div>
{{/if}}
