{{#if canUndelete}}
	<a class="undelete-link" {{action this.attrs.undelete post}}>{{svg 'undelete' viewBox='0 0 17 22' class='icon undelete'}}</a>
{{/if}}
{{#if canDelete}}
	<a class="delete-link" {{action this.attrs.delete post}}>{{svg 'delete' viewBox='0 0 17 22' class='icon delete'}}</a>
{{/if}}
