{{#modal-dialog
	isVisible = isDialogVisible
}}
	<div class="modal-dialog-content">{{i18n errorMessage ns='discussion'}}</div>
	<footer>
		<button {{action 'close'}}>OK</button>
	</footer>
{{/modal-dialog}}
