{{discussion-header
	showContent=true
	smartBannerVisible=smartBannerVisible
}}
{{discussion-error-dialog
	isVisible=shouldShowErrorMessage
	errorMessage=errorMessage
}}

<div class="site-body-discussion user-post-list-view">
	trolololo
</div>
