<div class="error-content">
	{{i18n 'discussion.connection-error'}}
	<a class="action-item" {{action attrs.retry}} >{{svg 'icon-retry' role='img' class='icon-retry'}}
		<span>{{i18n 'discussion.action-retry-title'}}</span>
	</a>
</div>
