<figure>
	{{#if imageUrl}}
		{{thumbnail imageUrl width=imageWidth height=imageHeight alt=label mode=cropMode}}
	{{/if}}
	<figcaption>
		<div class="clamp">{{truncate label 48}}</div>
	</figcaption>
</figure>
