{{featured-content-item url=currentItem.article_local_url label=currentItem.label imageUrl=currentItem.image_url}}
<ul class='featured-content-pagination dot-pagination'>
	{{#each model as |item index|}}
		<li data-index='{{index}}'><span></span></li>
	{{/each}}
</ul>
