{{#each posts as |item|}}
	{{post-detail
		author=item.createdBy
		goToPost='goToPost'
		isDeleted=item.isDeleted
		post=item._embedded.firstPost.[0]
		postId=item.id
		replyCount=item.postCount
		upvote='upvote'
	}}
{{/each}}
{{#if hasMore}}
	{{loading-spinner
		active=isLoading
		overlay=false
		radius=32
		strokeWidth=2
	}}
    <div class="load-more">
		{{i18n 'main.loading-more-posts' ns='discussion'}}
	</div>
{{/if}}
