{{discussion-post-editor
	create='create'
	isActive=editorActive
	posts=posts
	setSortBy=setSortBy
	requestErrorMessage=requestErrorMessage
	siteHeadPinned=siteHeadPinned
}}
{{#each posts as |item|}}
	{{post-detail
		author=item.createdBy
		deletePost=(action this.attrs.deletePost)
		goToPost='goToPost'
		isVisible=item._embedded.firstPost.[0].isVisible
		post=item._embedded.firstPost.[0]
		postId=item.id
		replyCount=item.postCount
		undeletePost=(action this.attrs.undeletePost)
		upvote='upvote'
	}}
{{/each}}
{{#if hasMore}}
	{{#if isLoading }}
		{{loading-spinner
			active=true
			overlay=false
			radius=32
			strokeWidth=2
		}}
	{{/if}}
	<div class="load-more">
		{{i18n 'main.loading-more-posts' ns='discussion'}}
	</div>
{{/if}}
