{{#each posts as |item|}}
	{{post-detail
		goToPost='goToPost'
		upvote='upvote'
		post=item._embedded.firstPost.[0]
		postId=item.id
		replyCount=item.postCount
	}}
{{/each}}
{{#if hasMore}}
	{{loading-spinner
		active=isLoading
		overlay=false
		radius=32
		strokeWidth=2
	}}
    <div class="load-more">
		{{i18n 'discussion.loading-more-posts'}}
	</div>
{{/if}}
