{{discussion-editor
	active=editorActive
	forumId=forumId
	siteHeadPinned=siteHeadPinned
	setSortBy=setSortBy
}}
{{#each posts as |item|}}
	{{post-detail
		author=item.createdBy
		goToPost='goToPost'
		post=item._embedded.firstPost.[0]
		postId=item.id
		replyCount=item.postCount
		upvote='upvote'
	}}
{{/each}}
{{#if hasMore}}
	{{#if isLoading }}
		{{loading-spinner
			active=true
			overlay=false
			radius=32
			strokeWidth=2
		}}
	{{/if}}
	<div class="load-more">
		{{i18n 'discussion.loading-more-posts'}}
	</div>
{{/if}}
