<div class="discussion forum">
	{{#each posts as |item|}}
		{{post-detail
		action='goToPost'
		goToPost='goToPost'
		postId=item.id
		author=item._embedded.firstPost.0.createdBy
		content=item._embedded.firstPost.0.rawContent
		timestamp=item._embedded.firstPost.0.creationDate.epochSecond
		upvoteCount=item.upvoteCount
		replyCount=item.postCount
		}}
	{{/each}}
	{{#if loadingMore}}
		<div class="load-more">
			{{loading-spinner
				active=isLoading
				overlay=false
				radius=32
				strokeWidth=2
			}}
			{{i18n 'discussion.load-more-replies'}}
		</div>
	{{/if}}
</div>
