<div class="discussion forum">
	{{#each posts as |item|}}
		{{post-detail
		goToPost='goToPost'
		upvote='upvote'
		forumView=true
		post=item._embedded.firstPost.[0]
		postId=item.id
		replyCount=item.postCount
		}}
	{{/each}}
	{{#if loadingMore}}
        <div class="load-more">Loading More Posts</div>
	{{/if}}
</div>

