{{#each media in limitedMedia}}
	<span class='gallery-{{unbound media.type}}'><img src='{{media.thumbUrl}}' class='{{if media.load 'loaded'}}' data-gallery-ref='{{unbound media.galleryRef}}'></span>
{{/each}}
