<ul>
	{{#each suggestion in suggestions}}
		<li class="mw-content">
		{{#link-to 'article' suggestion.uri action='collapseSideNav'}}
			{{suggestion.title}}
		{{/link-to}}
		</li>
	{{else}}
	{{#if showEmptyMessage}}
		<li><span>{{i18n 'app.search-no-results-msg'}}</span></li>
	{{/if}}
	{{#if isLoadingSearchResults}}
		<li><span>{{i18n 'app.search-loading-msg'}}</span></li>
	{{/if}}
	{{/each}}
</ul>
