<div class="edit-head curated-content-edit-head">
	{{#link-to 'mainPage' }}
		{{svg 'chevron' role='img' class='icon arrow-left'}}
	{{/link-to}}
	<button {{action 'save'}} class="large publish">Save</button>

	<h5>Edit Main Page</h5>
</div>
{{curated-content-edit
	model=model
}}
