<section class='main-page-body mw-content'>
	{{#if model.featuredContent}}
		{{featured-content model=model.featuredContent}}
	{{/if}}
	{{#if model.curatedContent}}
		{{curated-content curatedContent=model.curatedContent}}
	{{/if}}
	{{#if model.trendingArticles}}
		{{trending-articles model=model.trendingArticles}}
	{{/if}}
</section>
