<a class="side-nav-menu__item back" {{action this.attrs.replaceNavigationContent 'root'}} href="#">
	{{i18n 'app.navigation-back-label'}}
</a>
{{side-nav-local-wikia-search-2016}}
{{side-nav-local-navigation-menu-2016
	collapse=this.attrs.collapse
	loadRandomArticle=this.attrs.loadRandomArticle
}}
