<a class="drawer__item main" {{action this.attrs.replaceNavigationContent 'root'}} href="#">BACK</a>
{{#each links as |link|}}
	<a class="drawer__item" href="{{link.href}}">{{link.textEscaped}}</a>
{{/each}}
