<a class="side-nav-menu__item main" {{action this.attrs.replaceNavigationContent 'root'}} href="#">
		BACK
</a>
{{#each links as |link|}}
	<a class="side-nav-menu__item" href="{{link.href}}">
		{{link.textEscaped}}
	</a>
{{/each}}
