<h2>{{i18n 'app.trending-label'}}</h2>
{{#each article in model}}
	{{trending-articles-item url=article.url title=article.title thumbnail=article.thumbnail}}
{{/each}}

{{! the newline above lets the last inline item to be justified to the right if it's even }}
