<h4>{{i18n 'app.trending'}}</h4>
{{#each article in model.items}}
	<div class="trending-article">
		<a href={{article.url}}>
			{{thumbnail article.thumbnail width=imgWidth height=imgHeight alt=article.title mode=cropMode}}
			<p>{{article.title}}</p>
		</a>
	</div>
{{/each}}
