<div {{action 'hide'}} class='overlay'></div>
<ul class='drawer'>
	<li>
		<a href="{{profileUrl}}" class="external">{{i18n 'app.user-menu-profile'}}</a>
	</li>
	<li>
		<a href="/logout" class="external">{{i18n 'app.user-menu-log-out'}}</a>
	</li>
</ul>
