<div class="wikia-stats-container">
	{{#each item in items}}
		{{#if item.value}}
			<div class="wikia-stats-item">
				<div class="wikia-stats-label">{{i18n item.label}}</div>
				<div class="wikia-stats-value">{{numeral item.value '0 a'}}</div>
			</div>
		{{/if}}
	{{/each}}
</div>
