<div class="wikia-stats-container">
	{{#if model.pages}}
		<div class="wikia-stats-item">
			<div class="wikia-stats-label">Pages</div>
			<div class="wikia-stats-value">{{model.pages}}</div>
		</div>
	{{/if}}
	{{#if model.videos}}
		<div class="wikia-stats-item">
			<div class="wikia-stats-label">Videos</div>
			<div class="wikia-stats-value">{{model.videos}}</div>
		</div>
	{{/if}}
	{{#if model.images}}
		<div class="wikia-stats-item">
			<div class="wikia-stats-label">Images</div>
			<div class="wikia-stats-value">{{model.images}}</div></div>
	{{/if}}
</div>
