<a href="{{@model.href}}" class="wds-global-footer__link wds-is-{{@model.brand}}" {{action @track model.tracking_label preventDefault=false}}>
  <div>{{i18n @model.title.key ns='design-system'}}</div>
</a>
