<section class="content-recommendations">
	<h1>Read More</h1>
	<ul>
		<li>
			<a href="#">
				<div class="thumbnail">&nbsp;</div>
				<span class="title">Some Name</span>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">&nbsp;</div>
				<span class="title">Some Name</span>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">&nbsp;</div>
				<span class="title">Some Name</span>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">&nbsp;</div>
				<span class="title">Some Name</span>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">&nbsp;</div>
				<span class="title">Some Name</span>
			</a>
		</li>
	</ul>
</section>
