<section class="content-recommendations">
	<h1>{{i18n T.read-more}}</h1>
	<ul>
		{{#each pages}}
		<li>
			{{#link-to 'wiki.article' title}}
				<img src="{{unbound imgUrl}}" class="thumbnail" />
				<span class="title">{{unbound title}}</span>
			{{/link-to}}
		</li>
		{{/each}}
	</ul>
</section>
