{{#each itemsToRender as |item|}}
	<span class="gallery-{{unbound item.type}}">
		{{article-media-image
			url=item.url
			link=item.link
			galleryRef=item.galleryRef
			forceWidth=imageSize
			forceHeight=imageSize
			cropMode=cropMode
		}}
	</span>
{{/each}}
