{{#if addPhotoIconVisible}}
	<div class='upload-photo'>
		{{svg 'camera' role='img' class='icon camera'}}
		{{#if addPhotoAllowed}}
			<input class="file-upload-input" type="file" accept="image/*" {{action 'addPhoto' on='change'}}/>
		{{/if}}
	</div>
{{/if}}
{{#if editIconVisible}}
	<div class='edit-section' {{action 'edit'}}>
		{{svg 'pencil' role='img' class='icon pencil'}}
	</div>
{{/if}}
