{{#each itemsToRender as |item|}}
	{{article-media-thumbnail
		caption=item.caption
		cropMode=cropMode
		forcedHeight=imageSize
		forcedWidth=imageSize
		itemContext='gallery'
		link=item.link
		openLightbox=(action 'openLightbox' item.galleryRef)
		type=item.type
		url=item.url
	}}
{{/each}}
{{#if canShowMore}}
	<button {{action 'showMore'}}>{{i18n 'app.view-more'}}</button>
{{/if}}
