{{#each itemsToRender as |item|}}
	{{article-media-image
		url=item.url
		link=item.link
		ref=ref
		galleryRef=item.galleryRef
		itemContext='gallery'
		type=item.type
		forceWidth=imageSize
		forceHeight=imageSize
		cropMode=cropMode
	}}
{{/each}}
{{#if canShowMore}}
	<button {{action 'showMore'}}>{{i18n 'app.view-more'}}</button>
{{/if}}
