{{#if pages.length}}
	<section class="content-recommendations">
		<h1>{{i18n 'app.article-suggestions-label'}}</h1>
		<ul class="mw-content">
			{{#each pages as |page index|}}
				<li {{action 'trackExperimentClick' preventDefault=false}}>
					{{#link-to 'wiki-page' page.title tracking-category='read-more' tracking-label=(concat 'open-item-' index)}}
						{{image-media limitHeight=true height=200 url=page.imgUrl caption=page.title}}
					{{/link-to}}
				</li>
			{{/each}}
		</ul>
	</section>
{{/if}}
