{{! Keep the same HTML structure as in server/app/views/_partials/curated-main-page/curated-content.hbs }}
{{#if model.items}}
	{{#if model.label}}
		<button {{action closeSection}}>RIGHT ARROW</button>
		<h2>{{model.label}}</h2>
	{{/if}}
	<div class="curated-content-items">
		{{#each model.items as |item index|}}
			{{curated-content-item
				index=index
				model=item
				openSection=attrs.openSection
			}}
		{{/each}}

		{{! the empty newline above lets the last inline item to be justified to the right if it's even }}
	</div>
{{/if}}
