{{#if showTooltip }}
	{{#ember-tether
			target=(concat '#' elementId)
			attachment='bottom center'
			targetAttachment='top center'
			class='discussion-user-activity-value-tooltip'
	}}
		<div>{{displayedValue}}</div>
	{{/ember-tether}}
{{/if}}

{{shorten-large-number displayedValue 1}}
{{#if description}}
	<span class="description">{{description}}</span>
{{/if}}
{{#if iconName}}
	{{svg iconName class=iconClassNames}}
{{/if}}
