<div class="error-content">
	{{i18n 'main.connection-error' ns='discussion'}}
	<a class="action-item" {{action 'retry'}}>{{svg 'icon-retry' role='img' class='icon-retry'}}
		<span>{{i18n 'main.action-retry-title' ns='discussion'}}</span>
	</a>
</div>
