{{#if showLabel}}
	<div class="discussion-textarea-label">{{label}}</div>
{{/if}}
<div class="discussion-textarea-wrapper">
	{{textarea
		autoresize=true
		class="discussion-textarea-with-counter"
		disabled=disabled
		input=(action 'onTexareaInputChange')
		keyPress=onKeyPress
		maxlength=maxlength
		placeholder=dynamicPlaceholder
		required=required
		value=text
		readonly=isReadonly
	}}
	{{#if showCharactersCounter}}
		<span class="discussion-textarea-counter">
			{{charactersCount}}
		</span>
	{{/if}}
</div>

