{{#if openGraphData.imageUrl}}
	<img class="og-image" src="{{openGraphData.imageUrl}}" alt="{{openGraphData.title}}">
{{/if}}
<div class="og-title">
	{{openGraphData.title}}
</div>
<div class="og-site-name">
	{{siteName}}
</div>

