{{#modal-dialog
		isVisible=show
		onOverlayClose=(action 'onCancel')
}}
	<h3>{{i18n 'main.share-header' ns='discussion'}}</h3>
	<section class="modal-dialog-content">
		{{#each currentSocialNetworks as |currentSocialNetwork|}}
			<a {{action 'share' currentSocialNetwork}} href="#">
				<div class="social {{currentSocialNetwork}}">
					{{svg (concat 'wds-icons-' currentSocialNetwork) class='icon'}}
				</div>
			</a>
		{{/each}}
	</section>
{{/modal-dialog}}
