<div class='stub-container'>
	{{user-avatar
		avatarUrl=currentUser.avatarPath
		shouldWrapInHref=false
	}}

	<div class="content-stub">
		{{i18n 'editor.reply-editor-placeholder-text' ns='discussion'}}
	</div>
</div>
