{{discussion-hero-unit
	contributors=model.contributors
	headerTitle=(i18n 'main.guidelines-header-title' numberOfPosts=numberOfPosts ns='discussion')
	numberOfPosts=model.postCount
}}
<div class="guidelines-page">
	<h2 class="wiki-name">{{wikiName}}</h2>
	<div class="guidelines-text">
		{{{parsedContent}}}
	</div>
</div>
