{{#each discussionSort.sortTypes as |sortType|}}
	<li {{action 'setSortBy' sortType.name}} class="sort-{{sortType.name}} {{if sortType.active 'active active-element-theme-color active-element-border-theme-color' 'not-active'}}">{{i18n sortType.messageKey ns='discussion'}}</li>
{{/each}}
