<div class="discussion-tooltip active-element-background-color">
	{{#if responsive.isMobile}}
		{{mobileTooltipText}}
	{{else}}
		{{desktopTooltipText}}
	{{/if}}
</div>
<div class="arrow arrow-down active-element-border-theme-color"></div>
