<div class="discussion-edit-approve-wrapper">
	<div class="discussion-edit-approve-content">
		<button {{action this.attrs.close}}>
			{{svg 'close' viewBox='0 0 40 40' class='icon'}}
		</button>
		<button type="submit" class="submit" {{action this.attrs.approve}}>
			{{svg 'checkmark' viewBox='0 0 40 40' class='icon icon-submit'}}
		</button>
	</div>
</div>
