<div class='discussion-editor-entry-point-container'>
	{{user-avatar
		avatarUrl=currentUser.avatarPath
		shouldWrapInHref=false
	}}

	<div class="discussion-editor-entry-point-content">
		{{i18n 'editor.reply-editor-placeholder-text' ns='discussion'}}
	</div>
</div>
