<div class="discussion-tooltip active-element-background-color">
	{{#if responsive.isMobile}}
		{{textOnMobile}}
	{{else}}
		{{textOnDesktop}}
	{{/if}}
</div>
<div class="arrow arrow-down active-element-border-theme-color" style={{arrowStyle}}></div>
