<div class="discussion-category-select-tooltip active-element-background-color">
	{{i18n 'main.category-select-tooltip-text' ns='discussion'}}
</div>
<span class="active-element-border-theme-color arrow-down"></span>
