<div class="reported">
	<span class="reported-by columns large-8 small-8">
		{{reported-text}}
	</span>
	<div class="actions columns large-4 small-4">
		{{svg 'checkmark' class='icon validate'}}
		{{svg 'trash-small' class='icon reported-delete'}}
	</div>
</div>
