<div {{action "clickSideButton" preventDefault=false}}>
	{{#link-to route (query-params sort=discussionSortBy) class=linkClasses}}
		{{svg 'discussion-back-arrow' role='img' class=arrowClasses}}
		{{#unless hideLabel}}
			{{i18n 'main.back-to-discussions-link' ns='discussion'}}
		{{/unless}}
	{{/link-to}}
</div>
