{{#if showLabel}}
	<span class="discussion-textarea-label">{{label}}</span>
{{/if}}
<div class="discussion-textarea-wrapper">
	{{textarea
		autoresize=true
		class="discussion-textarea-with-counter"
		input=(action 'onTexareaInputChange')
		maxlength=maxlength
		placeholder=placeholderA
		required=required
		value=text
	}}
	{{#if showCharactersCounter}}
		<span class="discussion-textarea-counter">
			{{charactersCount}}
		</span>
	{{/if}}
</div>

