<ul class="user-activity-options">
	<li>
		{{#link-to 'discussion'}}
			{{i18n 'main.user-activity-active-users-option' ns='discussion'}}
		{{/link-to}}
    </li>
    <li>
		{{#link-to 'discussion'}}
			{{i18n 'main.user-activity-active-users-option' ns='discussion'}}
		{{/link-to}}
    </li>
    <li>
		{{#link-to 'discussion'}}
			{{i18n 'main.user-activity-active-users-option' ns='discussion'}}
		{{/link-to}}
    </li>
</ul>
