<div class="error-content">
	{{i18n 'main.reported-not-found-error' ns='discussion'}}
	{{#link-to 'discussion' class='action-item'}}
		{{i18n 'main.all-discussions-link-desktop' ns='discussion'}}
	{{/link-to}}
</div>
