{{link-to
		(i18n 'main.tab-all' ns='discussion')
		'discussion.forum'
		tagName='li'
		class=(if allTabActive 'active-element-theme-color active-element-border-theme-color' 'not-active')
}}
<li class="{{if followTabActive 'active-element-theme-color active-element-border-theme-color' 'not-active'}}"
	{{action this.attrs.goToFollowedPosts}}>
	{{i18n 'main.tab-following' ns='discussion'}}
</li>
