<div class="community-badge-image">
	<img src="{{wikiImageUrl}}">
	<div class="edit-badge-button">
		{{i18n 'main.edit-badge-button-text' ns='discussion'}}
		{{svg 'camera' role='img' class='icon-camera'}}
	</div>
</div>
<p>{{displayedWikiName}}</p>
