<div class="error-content">
	{{i18n 'main.not-found-error' ns='discussion'}}
	{{#link-to 'discussion' class='action-item'}}
		{{svg 'back-arrow' role='img' class='icon-back'}}
		<span class="mobile-hidden">{{i18n 'main.all-discussions-link-desktop' ns='discussion'}}</span>
		<span class="desktop-hidden">{{i18n 'main.all-discussions-link-mobile' ns='discussion'}}</span>
	{{/link-to}}
</div>
