{{#if isVisible}}
	<div class="discussion-tooltip active-element-background-color">
		{{text}}
	</div>
	<span class="arrow arrow-{{arrowDirection}} active-element-border-theme-color" style={{arrowStyle}}></span>
{{/if}}
