{{discussion-hero-unit
	contributors=model.contributors
	numberOfPosts=model.postCount
}}
<div class="guidelines-page">
	<h2 class="wiki-name">{{wikiName}}</h2>
	<div class="guidelines-text">
		{{guidelinesText}}
	</div>
</div>
