{{#if openGraphData.imageUrl}}
	<img class="og-image" src="{{openGraphData.imageUrl}}" alt="{{openGraphData.title}}">
{{/if}}
<div class="og-texts">
	<span class="og-title">
		{{openGraphData.title}}
	</span>
	<span class="og-site-name">
		{{siteName}}
	</span>
</div>

