{{#each discussionSort.sortTypes as |item|}}
	<li {{action this.attrs.setSortBy item.name}} class="{{if item.active 'active active-element-theme-color active-element-border-theme-color' 'not-active'}}">{{i18n item.messageKey ns='discussion'}}</li>
{{/each}}
