<h3>{{i18n 'app.file-usages-header'}}</h3>
{{wikia-ui-components/wikia-card-list
	classNames="file-usage__list"
	items=fileUsages
	trackingCategory="file-page"
	trackingLabel="file-usage-article"
}}
<div class="file-usage__more">
	<a href="{{seeMoreUrl}}">{{i18n 'app.file-usages-see-more-link-label'}}</a>
</div>
