{{!
	This template is linked with of app/extensions/wikia/PortableInfobox/templates/PortableInfoboxItemTitle.mustache
	Changing this template requires modifying the other in app repo.
}}
<h2 class="pi-item pi-item-spacing pi-title {{activeClass}}" {{action 'itemClicked'}}>{{{value}}}</h2>
