{{#if showActionButtons}}
	{{wikia-ui-components/icon-button
		class='infobox-builder-sidebar-header-icon-back'
		click=(action 'back')
		icon='back-arrow'
	}}
{{/if}}
<div class="infobox-builder-sidebar-header-title">{{title}}</div>
{{#if showActionButtons}}
	{{wikia-ui-components/icon-button
		class='infobox-builder-sidebar-header-icon-delete'
		click=(action 'back')
		icon='delete-large'
		iconSize=24
	}}
{{/if}}
