<div class="sidebar-edit-area">
	<label for="useArticleName" class="checkbox-builder">
		{{input
			type='checkbox'
			id='useArticleName'
			name='useArticleName'
			checked=useArticleName
		}}
		{{i18n 'main.title-use-article-name' ns='infobox-builder'}}
	</label>
</div>
<p>{{i18n 'main.help-title' ns='infobox-builder'}}</p>
