{{header}}
{{#if collapsible}}
	<div id="infobox-builder-header-chevron-{{index}}" class="infobox-builder-chevron-area"
			{{action onGroupPreviewStart on="mouseEnter"}}
			{{action onGroupPreviewStop on="mouseLeave"}}></div>
	{{#if isGroupHighlighted}}
		{{#pop-over for=(concat 'infobox-builder-header-chevron-' index) on="hover" flow="topLeft"}}
			<p class="infobox-builder-chevron-popup">aksdjflkajsd flasjdlkfjal</p>
		{{/pop-over}}
	{{/if}}
{{/if}}
