{{#if itemInEditMode.type}}
	{{infobox-builder-edit-item
		item=itemInEditMode
		onBackArrowClick=setEditItem
		onDeleteItem=removeItem
	}}
{{else}}
	<div class="sidebar-header">{{i18n 'main.sidebar-header' ns='infobox-builder'}}</div>
	<div class="infobox-builder-buttons">
		{{#each buttons as |button|}}
			{{infobox-builder-button
				name=button.name
				icon=button.icon
				onButtonClick=addItem
			}}
		{{/each}}
	</div>
{{/if}}
