{{input type="checkbox" name="useArticleName" checked=useArticleName}}
{{i18n 'main.title-use-article-name' ns='infobox-builder'}}
<span class="infobox-builder-questionmark" {{action 'showHelp'}}>{{svg 'question' class='pointer-events-none' viewBox='0 0 18 18'}}</span>