{{#if visible}}
	<div class="pop-over-compass">
		<span class="pop-over-pointer orient-left"></span>
		<div class="pop-over-container">
			{{wikia-ui-components/icon-button
				class='infobox-builder-sidebar-header-icon-delete'
				click=(action 'removeItem')
				icon='delete-large'
				iconSize=24
			}}
		</div>
	</div>
{{/if}}