<div class="sidebar-header">asdlkfj
	<div class="edit-area-delete-icon" {{action 'removeItem'}}>
		{{svg 'delete' viewBox='0 0 16 19' class='icon delete'}}
	</div>
</div>
<div class="sidebar-edit-area">
	{{component editPanelOption
		item=item
	}}
</div>