{{#if thankYou}}
	Thank you for providing the info!
{{else}}
	<form {{action 'submit' on='submit'}}>
		<label class="portable-infobox-question__text">{{question}}</label>
		{{input type="text" value=answer placeholder="Fill in the data" class="portable-infobox-question__input"}}
	</form>
{{/if}}
