{{{infoboxHTML}}}
{{#if isLongInfobox}}
	<div class={{expandButtonClass}} {{action "toogleInfobox"}}>
		<svg viewBox="0 0 12 7" class="icon pi-expand-icon"><use xlink:href="#chevron"></use></svg>
	</div>
{{/if}}
