{{#if submitted}}
	Thank you for providing the info!
{{else}}
	<form {{action 'submit' on='submit'}}>
		{{wikia-ui-components/text-field
			class='portable-infobox-question__input transparent'
			inputId=inputId
			label=question.text
			name=inputId
			placeholder='Fill in the data'
			transparent = true
			value=answer
		}}
		<span class="portable-infobox-question__error {{classInvalid}}">Please provide your response</span>
	</form>
{{/if}}
