<div class="content">
	<p class="pmp-entry-point-message">This community is&nbsp;<strong>built by</strong>&nbsp;fans like&nbsp;<strong>you</strong></p>
	<button {{action 'learnMore'}} class="pmp-button">Help out</button>
	<button {{action 'close'}} class="pmp-close">{{svg 'close' role='img' class='pmp-close__icon'}}</button>
</div>
