{{#if experimentEnabled}}
	<p class="pmp-entry-point-message">This community is <strong>built by</strong> fans like <strong>you</strong></p>
	<button {{action 'learnMore'}} class="pmp-button">Learn more</button>
	<button class="pmp-close">{{svg 'close' role='img' class='pmp-close__icon'}}</button>
{{/if}}
