{{#if localNavigationVisible}}
	<div class="side-nav-menu__item back" {{action 'goBack' backTarget}}>
		{{i18n 'app.navigation-back-label'}}
	</div>
{{/if}}
{{side-nav-local-wikia-search
toggleSearchMode='toggleSearchMode'
localNavigationVisible=localNavigationVisible
collapse=attrs.collapse
}}

{{#if localNavigationVisible}}
	{{side-nav-local-navigation-menu
	collapse=attrs.collapse
	loadRandomArticle=this.attrs.loadRandomArticle
	localNavContent=localNavContent
	updateContent=(action 'updateContent')
	}}
{{/if}}
