{{#if localNavigationVisible}}
	<a class="side-nav-menu__item back" {{action 'goBack' backTarget}} href="#">
		{{i18n 'app.navigation-back-label'}}
	</a>
{{/if}}

{{side-nav-local-wikia-search-2016
toggleSearchMode='toggleSearchMode'
localNavigationVisible=localNavigationVisible
collapse='collapse'
}}

{{#if localNavigationVisible}}
	{{side-nav-local-navigation-menu-2016
	collapse=this.attrs.collapse
	loadRandomArticle=this.attrs.loadRandomArticle
	localNavContent=localNavContent
	updateContent=(action 'updateContent')
	}}
{{/if}}
