<div class='side-nav-menu'>
	{{component
		globalNavContent
		class='side-nav-menu__contents'
		replaceNavigationContent=(action 'replaceNavigationContent')
		collapse=(action 'collapse')
		loadRandomArticle=(action 'loadRandomArticle')
	}}
	{{#if isFandomVisible}}
		<div class="side-nav-menu__footer">
			<a {{action 'homeOfFandomClick' preventDefault=false}} href={{wikiaHomepage}}>
				{{homeOfFandomLabel}}
			</a>
		</div>
	{{/if}}
</div>
