<div class="site-head-fandom-bar">
	<a href="{{wikiaHomepage}}">
		{{svg 'wds-company-logo-powered-by-wikia' role='img' class='fandom-bar-logo'}}
	</a>
	{{#if displayPartnerLogo}}
		<a class="site-head-fandom-bar__partner-logo" href="http://www.entertainweb.de/">
			<img src="https://services.wikia.com/static-assets/image/24fc42b9-5429-49f3-8515-130626fb4751"
				 height="20px"
				 width="67px"
			/>
		</a>
	{{/if}}
</div>
