<div {{action 'hide'}} class="overlay"></div>
<ul class="drawer">
	{{#each links as |link|}}
		<li>
			<a href="{{unbound link.href}}" class="external">{{i18n 'app' link.textKey}}</a>
		</li>
	{{/each}}
</ul>
