{{{scriptTag}}}
<noscript><a style="text-decoration:none;display:block;border:0;" href="//r.flite.com/syndication/backuplink/i/{{data.guid}}?ct=" target="_blank"><img border="0" src="//r.flite.com/syndication/backupimage/i/{{data.guid}}?at=" /></a></noscript>
