<div class="side-nav-menu">
	<div class="wikia-drawer__content">
		{{yield}}
	</div>
	{{#if isFandomVisible}}
		<div class="side-nav-menu__footer">
			<a {{action 'homeOfFandomClick' preventDefault=false}} href={{wikiaHomepage}}>
				{{homeOfFandomLabel}}
			</a>
		</div>
	{{/if}}
</div>
