.icon-button {
	$icon-button-size: 48px;

	align-items: center;
	background: inherit;
	cursor: pointer;
	display: flex;
	height: $icon-button-size;
	justify-content: center;
	text-decoration: none;
	width: $icon-button-size;

	&:active,
	&:visited,
	&:hover {
		background: inherit;
	}
}
