.wiki-page-header {
	color: $wds-fandom-color-navy;
	display: flex;
	flex-direction: column;
	margin: 0 12px;

	&__hero-image {
		background: {
			color: transparent;
			position: center center;
			repeat: no-repeat;
		}

		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		width: 100%;
	}

	&__title {
		text-align: center;
		word-break: break-word;
	}

	&__subtitle {
		margin-bottom: 18px;
	}

	&__title-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 10px;
		width: 100%;
	}
}
