.wiki-page-header {
  color: $wds-fandom-color-navy;
  display: flex;
  flex-direction: column;
  margin: 16px 12px 0;
  text-align: center;

  &__hero-image {
    @extend %position-play-icon;

    border-bottom: 1px solid $wds-fandom-color-middle-gray;

    img {
      border: none;
      border-radius: unset;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      box-shadow: 0 6px 10px 0 rgba($wds-color-black, .1);
      height: calc((100vw - 2 * #{$article-horizontal-padding}) * 5 / 4);
      width: calc(100vw - 2 * #{$article-horizontal-padding});
    }
  }

  &__edit-link {
    color: $wds-fandom-color-link;
    display: block;
  }

  &__title {
    word-break: break-word;
  }

  &__subtitle {
    margin-top: 8px;
  }

  &__title-wrapper {
    margin-bottom: 1.875rem;
    width: 100%;
  }
}
