%wiki-page-header-element {
	color: inherit;
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

// component
.wiki-page-header {
	background: $color-blue-light;
	color: #fff;

	.contribution-container {
		margin-bottom: -8px;

		.icon {
			fill: #fff;
		}
	}

	&.has-hero-image {
		background: {
			color: transparent;
			position: center center;
			repeat: no-repeat;
		}

		position: relative;

		.wiki-page-header__wrapper {
			background: linear-gradient(to top, rgba(0, 0, 0, .6) 0, transparent 120px);
			height: 100%;
		}

		.contribution-container {
			align-items: flex-end;
		}
	}

	&__wrapper {
		display: flex;
		padding: 16px $article-horizontal-padding 12px $article-horizontal-padding;
	}

	&__site-name-block {
		@extend %wiki-page-header-element;

		font-size: 12px;

		svg {
			fill: #fff;
			height: 16px;
			vertical-align: middle;
			width: 11px;
		}

		a:hover svg {
			fill: #081e3a;
		}
	}

	&__site-link {
		color: inherit;
	}

	&__site-name {
		font-style: italic;
		font-weight: bold;
	}

	&__title {
		@extend %wiki-page-header-element;

		font-size: 26px;
		font-weight: bold;
		line-height: 32px;
		word-break: break-word;
	}

	&__site-name-block ~ &__title {
		margin-top: 3px;
	}

	&__subtitle {
		@extend %wiki-page-header-element;

		font-size: 14px;
		margin-top: 15px;
	}

	&__main {
		align-self: flex-end;
		flex: 1;
	}
}
