.wikia-card-list {
  margin: 0;
  padding-bottom: 24px;

  .wikia-card {
    @include link-interactions-color(inherit);

    display: block;
    margin: 0 12px;

    &:not(:only-child) {
      border-bottom: 1px solid $wds-fandom-color-middle-gray;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__item {
      display: block;
      padding: 18px 0;
    }

    &__title {
      margin-bottom: 4px;
    }

    &__snippet {
      color: $wds-color-light-c6;
    }

    &__community_name {
      color: #808080;
      margin-top: 8px;
      text-transform: uppercase;
    }
  }
}
