.local-wikia-search {
	bottom: 0;
	overflow: auto;
	position: absolute;
	top: rem-calc(45);
	visibility: hidden;
	// For iOS devices
	-webkit-overflow-scrolling: touch;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		border-bottom: rem-calc(1) solid #d0d0d0;
		font-weight: normal;
		list-style: none;
		position: relative;
		text-align: left;

		a, span {
			display: inline-block;
			padding: rem-calc(10) $side-nav-item-gutter;
			width: 100%;
		}
	}

	.search & {
		visibility: visible;
	}
}
