.media-lightbox {
	z-index: $z-media-lightbox;
}

.lightbox-content-inner {
	align-items: center;
	display: flex;
	justify-content: center;
	z-index: $z-lightbox-content-inner;
}

.video-provider-ooyala {
	.innerWrapper {
		// Ooyala player sets this to 10000
		z-index: $z-video-provider-ooyala-hack !important;
	}
}

.animated-media {
	height: auto;
	position: fixed;
	transition: all .3s;
}
