.media-lightbox {
	z-index: $z-1;
}

.lightbox-content-inner {
	align-items: center;
	display: flex;
	justify-content: center;
	z-index: $z-1;
}

.animated-media {
	height: auto;
	position: fixed;
	transition: all .3s;
}
