$transition-length: 0.25s;
$left-right-padding: rem-calc(13);
$overlay-opacity: 0.5;

.side-nav {
	position: absolute;
	text-align: left;

	.nav {
		position: relative;
		top: rem-calc(20);
		left: rem-calc(20);
	}

	&.collapsed .menu-container {
		visibility: hidden;

		.menu {
			transition: $transition-length;
		}

		.overlay {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s $transition-length, opacity $transition-length linear;
		}
	}

	&:not(.collapsed) .menu-container {
		.menu {
			transition: $transition-length;
			transform: translate(rem-calc(260));
		}

		.overlay {
			visibility: visible;
			opacity: $overlay-opacity;
			transition: opacity $transition-length linear;
		}
	}

	.menu-container {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 10;

		li {
			position: relative;
			.chevron {
				position: absolute;
				right: $left-right-padding;
				top: rem-calc(18);
				transform: rotate(-90deg);
			}
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			background-color: black;
		}

		.menu {
			position: absolute;
			top: 0;
			left: rem-calc(-260);
			z-index: 10;
			width: rem-calc(260);
			height: 100%;
			background-color: white;
			opacity: 1;

			.search-container {
				margin: rem-calc(8) rem-calc(13);

				.search {
					position: absolute;
					top: rem-calc(13);
					left: rem-calc(85);
					fill: gray;
					transition: $transition-length;
				}

				.close {
					position: absolute;
					top: rem-calc(13);
					background-color: gray;
					border-radius: rem-calc(9);
					right: rem-calc(20);
					visibility: hidden;
					opacity: 0;
					transition: opacity $transition-length linear;
				}

				input {
					padding-left: rem-calc(90);
					background-color: #f0f0f0;
					border: rem-calc(1) #d0d0d0 solid;
					width: 100%;
					outline: none;
					border-radius: rem-calc(2);
					transition: $transition-length;
				}

				input:focus {
					text-align: left;
					padding-left: rem-calc(25);
					transition: $transition-length;
				}

				input:focus ~ .search {
					left: rem-calc(20);
					transition: $transition-length;
					transform: translateX(-65);
				}

				input:focus ~ .close {
					visibility: visible;
					opacity: 1;
					transition: opacity $transition-length linear;
				}
			}

			.title {
				padding-top: rem-calc(10);
				padding-bottom: rem-calc(10);
				color: #123054;
				font-weight: bold;
				text-transform: uppercase;
				background-color: #e0e0e0;
				padding-left: $left-right-padding;
			}

			ol, ul {
				margin: 0;
				padding: 0;
				li {
					height: rem-calc(44);
					padding-left: $left-right-padding;
					border-bottom: rem-calc(1) solid #D0D0D0;
					padding-top: rem-calc(10);
				}
			}
		}
	}
}
