.site-head {
	@extend .row;
	@extend .small-12;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid $color-gray-light;
	direction: ltr;
	height: rem-calc(50);
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: $z-1;
}

.smart-banner-visible {
	.headroom-top {
		position: absolute;
	}

	&.system-android {
		.headroom-top {
			top: $smart-banner-android-height;
		}
	}

	&.system-ios {
		.headroom-top {
			top: $smart-banner-ios-height;
		}
	}
}

.headroom-not-top {
	transition: transform .5s;

	&.pinned {
		transform: none;
	}

	&.un-pinned {
		transform: translateY(-100%);
	}
}
