<h1>Forum: {{name}}</h1>

<h2>Posts:</h2>
<ul>
    {{#each item in _embedded.doc:threads}}
        <li>{{#link-to 'discussion.forum.post' item.id}}{{item._embedded.firstPost.0.rawContent}}{{/link-to}} - {{item.postCount}} replies</li>
    {{/each}}
</ul>