<div class="vertical-{{vertical}}">
	{{#each model._embedded.firstPost as |item index|}}
	{{post-detail
		authorId=item.creatorId
		content=item.rawContent
		timestamp=item.creationDate.epochSecond
	}}
	{{/each}}

	{{#each model._embedded.doc:posts as |item index|}}
		{{post-reply
			authorId=item.creatorId
			content=item.rawContent
			timestamp=item.creationDate.epochSecond
		}}
		<hr/>
	{{/each}}
</div>
