<div class="discussion-post">
	{{post-detail
		authorId=model._embedded.firstPost.0.creatorId
		content=model._embedded.firstPost.0.rawContent
		timestamp=model._embedded.firstPost.0.creationDate.epochSecond
		upvoteCount=model.upvoteCount
		replyCount=model.postCount
	}}

	{{#each model._embedded.doc:posts as |item index|}}
		{{post-reply
			authorId=item.creatorId
			content=item.rawContent
			timestamp=item.creationDate.epochSecond
			upvoteCount=item.upvoteCount
		}}
		<hr/>
	{{/each}}
</div>
