<div class="category-members-grouped">
	{{#each model as |members firstLetter|}}
		<div class="category-members-group">
			<h3>{{firstLetter}}</h3>
			<ul class="mw-content">
				{{#each members as |category|}}
					<li>
						<a href="{{category.url}}">{{category.title}}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/each}}
</div>
