<div class="category-sections">
	{{#each categorySections as |section sectionName|}}
		<div class="category-section">
			<h3 id="{{sectionName}}">{{sectionName}}</h3>
			<ul class="mw-content">
				{{#each section.items as |sectionItem|}}
					<li>
						<a href="{{sectionItem.url}}">{{sectionItem.name}}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/each}}
</div>
