{{!--
	Keep this in sync with:
	/front/main/app/components/site-head.js
	/front/main/app/templates/components/site-head.hbs
--}}
<nav class="site-head">
	<div>
		<a href="http://www.wikia.com/fandom">
			<img src="/front/common/symbols/wikia-logo.svg" />
		</a>
	</div>
</nav>
