{{!--
	Keep this in sync with:
	/front/main/app/components/site-head.js
	/front/main/app/templates/components/site-head.hbs
--}}
<div class="site-head-wrapper">
	<nav class="site-head">
		<div class="site-logo">
			<a href="http://www.wikia.com/fandom">
				<svg class="fandom-logo" role="img">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-company-logo-fandom"></use>
				</svg>
			</a>
		</div>
	</nav>
</div>
