{{!--
	Keep this in sync with:
	/front/main/app/components/site-head.js
	/front/main/app/templates/components/site-head.hbs
--}}
<div class="site-head-wrapper">
	<nav class="site-head">
		<div class="site-logo">
			<a href="http://www.wikia.com/fandom">
				<img src="/front/common/symbols/wikia-logo.svg" width="71" height="48" />
			</a>
		</div>
	</nav>
</div>
