<h2 class="wiki-title"><a href="#">{{wikiVariables.siteName}}</a></h2>
<h1 class="wiki-page-title">{{displayTitle}}</h1>
{{#if subtitle}}
    <div class="wiki-page-subtitle">{{subtitle}}</div>
{{/if}}
{{#if hasToC}}
    <div class="collapsible-menu table-of-contents"><div class="title">{{i18n 'app.article-toc-label'}}</div></div>
{{/if}}
