<div class="wiki-page-header">
	<h2 class="wiki-page-header__site-name">
		in: <a class="wiki-page-header__site-link" href="#">{{wikiVariables.siteName}}</a> &#8594;
	</h2>
	<h1 class="wiki-page-header__title">{{displayTitle}}</h1>
	{{#if subtitle}}
		<div class="wiki-page-header__subtitle">{{subtitle}}</div>
	{{/if}}
</div>
{{#if hasToC}}
	<div class="collapsible-menu table-of-contents"><div class="title">{{i18n 'app.article-toc-label'}}</div></div>
{{/if}}
