{{#unless noAds}}
	<div id="InvisibleHighImpactWrapper" class="hidden invisible-high-impact-wrapper">
		<div class="background"></div>
		<div class="top-bar">
			<a class="close">
				{{svg 'wds-icons-cross-tiny' role='img' class='wds-icon wds-icon-tiny'}}
			</a>
			<div class="label">{{t 'app.advertisement-label'}}</div>
		</div>
		<div id="{{name}}" class="ad-slot hidden {{nameLowerCase}}"></div>
	</div>
{{/unless}}
