crowdin/
dist/
node_modules/
tasks/
tmp/
vendor/
coverage/


# Script copied from Google documentation
vendor/inline-scripts/tracking-ua-init.js

# Vendor files
vendor/inline-scripts/tracking-liftigniter.js
