node_modules/
dist/
test/
gulp/

front/auth/bower_components/
front/common/bower_components/

front/main/tmp/
front/main/vendor/
front/main/node_modules/
front/main/bower_components/

server/node_modules

homepage/config/
homepage/gulp/
homepage/front/js/
homepage/front/vendor/
homepage/node_modules/
homepage/server/
homepage/test/
homepage/vendor/
