# dependencies
**/node_modules/
**/bower_components/

# compiled output
/www/
/test/

# others
.idea/
.DS_Store
.settings
.sass-cache
*.sublime-*
*.sw[a-z]
*.orig
*.log
*.iml

# coverage files
**/coverage.*
