/* Misc Files */
.DS_Store

/* Editor Files */
*.sw[a-z]
*.orig

/* Packages */
node_modules/
public/vendor/

/* Node/NPM */
*.log

/* Static Assets */
server/**/*.js
.tmp/
www/

/* Config */
config/localSettings.ts
config/localSettings.js
config/localSettings.example.js

