loglevel="warn"
save-exact=true
@wikia:registry=https://artifactory.wikia-inc.com/artifactory/api/npm/wikia-npm/
@fandom:registry=https://artifactory.wikia-inc.com/artifactory/api/npm/wikia-npm/
registry=https://registry.npmjs.org/
