.icon {
	$nav-icon-size: rem-calc(45);

	&.avatar {
		border-radius: 50%;
		height: $nav-icon-size;
		padding: rem-calc(6);
		width: $nav-icon-size;
	}

	&.login {
		height: $nav-icon-size;
		padding: rem-calc(12);
		width: $nav-icon-size;
	}

	&.nav {
		height: rem-calc(20);
		width: rem-calc(34);
	}

	&.search {
		height: rem-calc(14);
		width: rem-calc(14);
	}

	&.wikia-logo {
		height: rem-calc(50);
		width: rem-calc(80);
	}
}
