.icon {
	&.avatar {
		border-radius: 50%;
		height: rem-calc(45);
		padding: rem-calc(6);
		width: rem-calc(45);
	}

	&.chevron {
		height: rem-calc(7);
		width: rem-calc(12);
	}

	&.close {
		height: rem-calc(14);
		width: rem-calc(14);
	}

	&.close-side-menu {
		height: rem-calc(15);
		width: rem-calc(15);
	}

	&.login {
		height: rem-calc(45);
		padding: rem-calc(6);
		width: rem-calc(45);
	}

	&.nav {
		height: rem-calc(20);
		width: rem-calc(34);
	}

	&.search {
		height: rem-calc(14);
		width: rem-calc(14);
	}

	&.search-side-menu {
		height: rem-calc(14);
		width: rem-calc(13.5);
	}

	&.toc {
		height: rem-calc(13);
		width: rem-calc(18);
	}

	&.wikia-logo {
		height: rem-calc(50);
		width: rem-calc(80);
	}
}
