.icon {
	$nav-icon-size: rem-calc(28);

	&.avatar {
		border: #c7d1d8 1px solid;
		border-radius: 50%;
		height: $nav-icon-size;
		margin-top: 3px;
		width: $nav-icon-size;
	}

	&.login {
		height: $nav-icon-size;
		margin-top: 3px;
		width: $nav-icon-size;
	}

	&.nav {
		height: rem-calc(20);
		width: rem-calc(34);
	}

	&.search {
		height: rem-calc(14);
		width: rem-calc(14);
	}

	&.wikia-logo {
		height: rem-calc(50);
		width: rem-calc(80);
	}
}
