{{! Keep the same HTML structure as in front/main/app/templates/components/article-wrapper.hbs }}
<section class="article-footer">
	{{#if model.categories}}
		{{> article-footer/categories categories=model.categories}}
	{{/if}}
</section>
