<section class="article-footer">
	{{#if model.categories}}
		{{> article-footer/categories categories=model.categories}}
	{{/if}}
	{{#if model.otherLanguages}}
		{{> article-footer/other-languages otherLanguages=model.otherLanguages }}
	{{/if}}
</section>
