{{> nav}}

<div class="parallax">
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
      <div class="parallax-heading">
        <b>会社概要</b>
      </div>
    </div>
    <div id="js-parallax-background" class="parallax-background-companyinfo"></div>
  </div>
</div>

<section>
  <div class="companyinfo">
    <aside id="companyinfo-top">
      <a class="companyinfo-link" href="#companyinfo-link-1">会社概要</a>
      <a class="companyinfo-link" href="#companyinfo-link-2">事業内容</a>
      <a class="companyinfo-link" href="#companyinfo-link-3">会社沿革</a>
      <a class="companyinfo-link" href="#companyinfo-link-5">広告掲載</a>
      <a class="companyinfo-link" href="#companyinfo-link-6">プレスリリース</a>
    </aside>

    <article>
      <section>
        <h4 id="companyinfo-link-1">会社概要</h4>
        <p>
        <table class="companyinfo-table">
          <thead>
          <tr>
            <th>社名</th>
            <th>Wikia Japan株式会社</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>設立</td>
            <td>平成26年4月1日</td>
          </tr>
          <tr>
            <td>資本金</td>
            <td>166,562,550円</td>
          </tr>
          <tr>
            <td>事業内容</td>
            <td>ファンによるソーシャルコミュニティ
              「wikia」の運営
            </td>
          </tr>
          <tr>
            <td>役員</td>
            <td>代表取締役 宗方謙</td>
          </tr>
          <tr>
            <td></td>
            <td>取締役 伊藤穣一</td>
          </tr>
          <tr>
            <td></td>
            <td>取締役 渡辺康人</td>
          </tr>
          <tr>
            <td></td>
            <td>取締役 クレイグ・ パルマー</td>
          </tr>
          <tr>
            <td></td>
            <td>取締役 枝洋樹</td>
          </tr>
          <tr>
            <td></td>
            <td>取締役 パド・オースティン</td>
          </tr>
          <tr>
            <td></td>
            <td> 監査役 アイリーン・トリーナー</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h4 id="companyinfo-link-2">事業内容</h4>
        <p>
          ファンによるソーシャルコミュニティ・プラットフォーム<b>「wikia(ウィキア)」</b>の運営
        </p>
        <p>
          wikia(http://ja.wikia.com/)はウィキペディア創始者のジミー・ウェールズと アンジェラ・ビーズリーが立ち上げた ポップカルチャーを中心としたコミュニ
          ティサイトです。映画、テレビ、ゲーム、漫画/アニメ、音楽、本、ライフスタイル カテゴリの熱心なファンが知識を共有し、共同でオンライン百科事典を作り上げ ています。
        </p>
        <p>
          現在、世界200か国以上で約33万件のコミュニティが作られ、毎月1.4億人の ユーザーがサイトを訪れています。
        </p>
      </section>
      <section>
        <h4 id="companyinfo-link-3">会社沿革</h4>
        <p>
        <table>
          <tbody>
          <tr>
            <td>2004年10月</td>
            <td>
              ウィキペディアの設立者ジミー・ウエルズと、ウィキメディア財団メンバーであるアンジェラ・ビーズリーによってフロリダで設立。当初社名は"Wikicities"だった。
            </td>
          </tr>
          <tr>
            <td>2006年3月</td>
            <td>
              社名をWikia, Incに変更(カルフォルニア州サンマテオ)。ベンチャーキャピタルより合計400万ドルのシリーズAファイナンスを調達。
            </td>
          </tr>
          <tr>
            <td>2006年6月</td>
            <td>
              eBayの元副社長であったギル・ペンチーナが最高経営責任者として就任。
            </td>
          </tr>
          <tr>
            <td>2006年12月</td>
            <td>
              アマゾンより1000万ドルのシリーズBファンナンスを調達。
            </td>
          </tr>
          <tr>
            <td>2007年7月</td>
            <td>
              3000のウィキアサイトが50ヶ国語で展開される。
            </td>
          </tr>
          <tr>
            <td>2011年10月</td>
            <td>
              ペンチーナに変わって、グレースノート前会長だったクレイグ・パルマーが最高経営責任者に就任。
            </td>
          </tr>
          <tr>
            <td>2012年11月</td>
            <td>
              188カ国語のウィキアサイトが展開されるまでに成長。1080万ドルのシリーズCファンナンスを調達。
            </td>
          </tr>
          <tr>
            <td>2014年4月</td>
            <td>
              wikia japan株式会社(東京都渋谷区)設立。
              アメリカ本社(カリフォルニア州サンフランシスコ)の他に、ロサンゼルス、ニューヨーク、ロンドン、ケルン、ポーランドのポズナンに事務所がある。社員数は約200人。
            </td>
          </tr>
          <tr>
            <td>2014年8月</td>
            <td>
              1500万ドルのシリーズDファンナンスを受け、これまでで合

              計3980万ドルを調達する。
            </td>
          </tr>
          </tbody>
        </table>
        </p>
      </section>
      <section>
        <h4 id="companyinfo-link-5"></h4>
        <p>
          <b>広告掲載の問い合わせ</b>
        </p>
        <p>
          Wikiaへの広告掲載の問い合わせは下記へお願いします。
        </p>
        <p>
          <a href="mailto:info@wikia-inc.com">info@wikia-inc.com</a>
        </p>
      </section>
      <section>
        <h4 id="companyinfo-link-6"></h4>
        <p>
          <b>プレスリリース</b>
        </p>
        <p>
        <ul>
          <li>
            <a href="/images/pressrelease/pressrelease-20160406.pdf">
              2016年4月6日 日本の”OTAKU”が世界の「スター・ウォーズ」ファンの頂点を制覇！「Wikia Qwizards 〈ウィキア・クイザード〉」配信のお知らせ
            </a>
          </li>
          <li>
            <a href="/images/pressrelease/pressrelease-20151201.pdf">
              2015年12月1日 「スター・ウォーズ 究極のFANDOM ＜ファンダム＞ #MayTheFansBeWithYou －ファンと共にあらんことを！－」を全世界同時オープン！
            </a>
          </li>
        </ul>
        </p>
        <p>
          <a class="scroll-on-page-link" href="#companyinfo-top">トップに戻る</a>
        </p>
      </section>
    </article>
  </div>
</section>

{{> footer}}
