{{> nav}}

<div class="parallax">
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content" id="parallax-content-1">
      {{>welcome}}
    </div>
    <div class="parallax-static-content parallax-hidden-slide" id="parallax-content-2">
      {{>welcome_details}}
    </div>
    <div id="js-parallax-background" class="parallax-background"></div>
  </div>
</div>

<section class="categories">
  {{> carousel}}
</section>

{{> popular}}

<section class="device-background-header">
  <p>&nbsp;</p>
</section>

<section class="device-background">
    <div class="device-text">
      <h4>ウィキアについて</h4>
      <p>無料で簡単にファンサイトが作れます</p>
      <p>
        <input type="button" value="コミュニティを立ち上げる" id="beginnersGuide">
      </p>
    </div>
    <div class="device">
      <div class="screen"></div>
    </div>
</section>

{{> footer}}
