{{> nav}}

<div class="search-results-wrapper">
  <gcse:searchresults-only>
    <section class="search-results-loading">
      <p>{{loading}}</p>
    </section>
  </gcse:searchresults-only>
</div>

{{> footer}}
