html {
	touch-action: manipulation;
}

body {
	background: $white;
	color: $body-font-color;
	cursor: auto;
	font-family: $wds-font-family;
	font-style: normal;
	line-height: 150%;
	overflow-y: scroll;
	position: relative;
	word-wrap: break-word;

	&.rubik {
		font-family: 'Rubik', $wds-font-family;
	}
}

.rubik-preload {
	#rubik-font {
		position: absolute;
		top: 0;
		left: 0;

		span:nth-child(1) {
			font-family: 'Rubik', $wds-font-family;
			content: '';
		}

		span:nth-child(2) {
			font-family: 'Rubik', $wds-font-family;
			content: '';
			font-weight: bold;
		}

		span:nth-child(3) {
			font-family: 'Rubik', $wds-font-family;
			content: '';
			font-style: italic;
		}

		span:nth-child(4) {
			font-family: 'Rubik', $wds-font-family;
			content: '';
			font-weight: bold;
			font-style: italic;
		}
	}
}
