html {
	touch-action: manipulation;
}

body {
	background-image: linear-gradient(to bottom, rgba($wds-color-white, 0), rgba($wds-color-white, 0) 55px, $wds-color-light-c2 100vh, $wds-color-light-c2 100%);
	color: $body-font-color;
	cursor: auto;
	font-family: $wds-font-family;
	font-style: normal;
	line-height: 150%;
	overflow-y: scroll;
	position: relative;
	word-wrap: break-word;
}
