html {
	touch-action: manipulation;
}

body {
	background: #fff;
	color: $body-font-color;
	cursor: auto;
	font-style: normal;
	line-height: 150%;
	overflow-y: scroll;
	position: relative;
	word-wrap: break-word;
}
