// TODO: move it to DS when all styles are set
blockquote {
	@extend %wds-font-size-base;
	@extend %wds-line-height-xl;
	@extend %wds-font-style-italic;
	@extend %wds-font-weight-normal;

	margin-bottom: 16px;
	padding: 4px 0 4px 16px;

	&::before {
		@extend %wds-font-style-normal;

		color: $wds-fandom-color-aqua;
		content: "“";
		display: block;
		font-size: 150px;
		line-height: 75px;
		margin-bottom: -52px;
		margin-top: 20px;
	}

	cite {
		@extend %wds-font-style-normal;

		color: $wds-fandom-color-aqua;
		display: block;
		margin-top: 20px;
		text-transform: uppercase;
	}
}

ul,
ol {
	margin-left: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 18px;
}

h1 {
	@extend %wds-font-size-xxl;

	font-weight: $wds-fandom-font-weight-bold;
	line-height: 30px;
}

h2 {
	@extend %wds-font-size-xl;

	font-weight: $wds-fandom-font-weight-regular;
	line-height: 26px;
}

h3 {
	@extend %wds-font-size-l;

	font-weight: $wds-fandom-font-weight-medium;
	line-height: 20px;
}

h4 {
	@extend %wds-font-size-base;

	font-weight: $wds-fandom-font-weight-medium;
	line-height: 18px;
}

h5,
h6 {
	@extend %wds-font-size-s;

	font-weight: $wds-fandom-font-weight-medium;
	line-height: 16px;
}

section,
p {
	@extend %wds-font-size-base;
	@extend %wds-font-weight-light;
	@extend %wds-line-height-paragraph;
}

section {
	margin-bottom: 32px;
}

p {
	margin: 16px 0;
}

a {
	color: inherit;
	line-height: inherit;
	text-decoration: none;
}

article a {
	@extend %wds-underline-aqua;

	&:hover {
		@extend %wds-underline-navy;
	}
}
