blockquote {
  font-size: $wds-font-size-base;
  font-style: italic;
  font-weight: $wds-font-weight-normal;
  line-height: $wds-line-height-loose;
  margin-bottom: 1.125rem;
  padding: 4px 0 4px 16px;

  &::before {
    color: $wds-fandom-color-aqua;
    content: "“";
    display: block;
    font-size: 150px;
    font-style: normal;
    line-height: 75px;
    margin-bottom: -52px;
    margin-top: 20px;
  }

  cite {
    color: $wds-fandom-color-aqua;
    display: block;
    font-style: normal;
    margin-top: 1.125rem;
    text-transform: uppercase;
  }
}

ul,
ol {
  margin-left: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.125rem;
}

h1 {
  font-size: $wds-font-size-xxl;
  font-weight: $wds-fandom-font-weight-bold;
  line-height: 30px;
}

h2 {
  font-size: $wds-font-size-xl;
  font-weight: $wds-fandom-font-weight-regular;
  line-height: 26px;
}

h3 {
  font-size: $wds-font-size-l;
  font-weight: $wds-fandom-font-weight-medium;
  line-height: 20px;
}

h4 {
  font-size: $wds-font-size-base;
  font-weight: $wds-fandom-font-weight-medium;
  line-height: 18px;
}

h5,
h6 {
  font-size: $wds-font-size-s;
  font-weight: $wds-fandom-font-weight-medium;
  line-height: 16px;
}

section,
p {
  font-size: $wds-font-size-base;
  font-weight: $wds-font-weight-light;
  line-height: $wds-line-height-loose;
}

p {
  margin: 0 0 1.125rem;
}

a {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
}

article a {
  color: $wds-fandom-color-link;
  font-weight: $wds-font-weight-normal;

  &.new {
    border-bottom: solid 1px var(--themed-alert-color);
    color: red;
  }
}
