
<nav class="global-nav">
	<a class="main-page" href="{{mainPage}}"><span>Wikia</span></a>
</nav>

<header class="discussions-header splash splash-top">
	<div class="app-logo"></div>
	<h1>The hottest [APP] discussions with the biggest fans.</h1>
</header>

<div class="discussions-app">
	<section>
		<p>
			<span>Download the app to join in now!</span>
			<a class="app-button app-store"></a>
			<a class="app-button google"></a>
		</p>
	</section>
</div>

<footer class="discussions-footer splash splash-bottom">
	<section>
		<ul>
			<li>Start Discussions</li>
			<li>Upvote the Best</li>
			<li>Share Your Knowledge</li>
		</ul>
	</section>
</footer>

<script>
	var language = {{{language}}};
</script>
<!-- build:js /front/scripts/discussions.js -->
<script src="/front/vendor/i18next/i18next.min.js"></script>
<script src="/front/vendor/jquery/dist/jquery.js"></script>
<script src="/front/scripts/baseline.js"></script>
<script src="/front/scripts/mercury.js"></script>
<script src="/front/scripts/discussions.js"></script>
<!-- endbuild -->
