
<nav class="global-nav">
	<a class="main-page" href="{{mainPage}}"><span>Wikia</span></a>
</nav>

<header class="discussions-header splash splash-top">
</header>

<footer class="discussions-footer splash splash-bottom">
</footer>

<script>
	var language = {{{language}}};
</script>
<!-- build:js /front/scripts/discussions.js -->
<script src="/front/vendor/i18next/i18next.min.js"></script>
<script src="/front/vendor/jquery/dist/jquery.js"></script>
<script src="/front/scripts/baseline.js"></script>
<script src="/front/scripts/mercury.js"></script>
<script src="/front/scripts/discussions.js"></script>
<!-- endbuild -->
