
<nav class="global-nav">
	<a class="main-page" href="{{mainPage}}"><span>Wikia</span></a>
</nav>

<header class="discussions-header splash splash-top">
	<div class="app-logo"></div>
	<h1>The hottest [APP] discussions with the biggest fans.</h1>
</header>

<div class="discussions-content">
	<section>
		<a>to the Wiki</a>
		<p>
			<span>Download the app to join in now!</span>
			<a class="app-button app-store"></a>
			<a class="app-button google"></a>
		</p>
	</section>
</div>

<footer class="discussions-footer splash splash-bottom">
	<section>
		<ul>
			<li>
				<h6>Start Discussions</h6>
				<p>Ask a question, share news or just talk with other fans from around the world about your favourite topics!</p>
			</li>
			<li>
				<h6>Upvote the Best</h6>
				<p>See something you love? Cast your upvote to show your appreciation and influence what's trending.</p>
			</li>
			<li>
				<h6>Share your knowledge</h6>
				<p>Share your favourite discussions with your social networks to bring more fans into the fold.</p>
			</li>
		</ul>
	</section>
</footer>

<script>
	var language = {{{language}}};
</script>
<!-- build:js /front/scripts/discussions.js -->
<script src="/front/vendor/i18next/i18next.min.js"></script>
<script src="/front/vendor/jquery/dist/jquery.js"></script>
<script src="/front/scripts/baseline.js"></script>
<script src="/front/scripts/mercury.js"></script>
<script src="/front/scripts/discussions.js"></script>
<!-- endbuild -->
