$infobox-item-margin: 5px;
$infobox-background: $color-blue-gray-light;
$infobox-section-header-background: $color-blue-gray;
$infobox-hero-overlay-color: rgba(0, 0, 0, .5);
$infobox-hero-font-color: white;

.portable-infobox {
	background-color: $infobox-background;
	height: auto;
	margin: $infobox-item-margin * 4 #{-$article-horizontal-padding};

	// reset inherited margins and paddings
	.portable-infobox-title,
	.portable-infobox-header,
	.portable-infobox-item-label,
	.portable-infobox-comparison,
	.portable-infobox-comparison-set-header,
	.portable-infobox-comparison-item,
	.portable-infobox-hero-title,
	.portable-infobox-hero-caption,
	.media-component {
		margin: 0;
		padding: 0;
	}

	// general classes and rules used across infobox
	.portable-infobox-item-margins {
		padding: $infobox-item-margin * 2 $article-horizontal-padding;
	}

	.portable-infobox-header-background {
		background-color: $infobox-section-header-background;
	}

	.portable-infobox-header-font {
		font-size: 1rem;
		font-weight: bold;
		line-height: 150%;
		margin-top: 0;
	}

	.item-type-key-val:not(:last-of-type),
	.item-type-group,
	.item-type-comparison,
	.item-type-image figcaption {
		border-bottom: 1px solid $infobox-section-header-background;
	}

	> .portable-infobox-item:last-child {
		border-bottom: 0;
	}

	.portable-infobox-title,
	.portable-infobox-header,
	figcaption {
		text-align: center;
	}

	//////////// Specific styles for each of the infobox elements starts here ////////////

	// infobox hero
	.item-type-hero {
		position: relative;

		figcaption {
			display: none;
		}
	}

	.portable-infobox-hero-title-wrapper {
		background: linear-gradient(to top, $infobox-hero-overlay-color, transparent);
		bottom: 0;
		left: 0;
		padding-bottom: $infobox-item-margin * 4;
		padding-top: $infobox-item-margin * 6;
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	.portable-infobox-hero-title,
	.portable-infobox-hero-caption {
		color: $infobox-hero-font-color;
	}

	.portable-infobox-hero-caption {
		font-size: inherit;
		font-weight: normal;
		line-height: inherit;
		padding-top: $infobox-item-margin;
	}


	// infobox title
	.portable-infobox-title {
		padding: $infobox-item-margin 0;
	}

	// infobox images
	.media-component {
		figcaption {
			font-style: italic;
			height: auto;
			padding: $infobox-item-margin $article-horizontal-padding $infobox-item-margin * 2;
		}

		.gallery-image img {
			background-color: transparent;
			background-image: none;
			width: auto;
		}
	}

	// infobox data fields in tabular layout
	> .item-type-key-val,
	.item-type-group .item-type-key-val {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		overflow: hidden;
		width: 100%;

		.portable-infobox-item-label {
			flex-basis: 34%;
		}

		.portable-infobox-item-value {
			padding-left: 0;
		}

		.portable-infobox-item-value:not(:first-child) {
			flex-basis: 66%;
			padding-left: 10px;
		}
	}

	.portable-infobox-item-value {
		padding-left: $infobox-item-margin * 2;

		// remove margins on all children of data value
		> * {
			margin: 0;
		}

		ul,
		ol {
			list-style-position: inside;
		}
	}

	// comparison layout
	.portable-infobox-comparison {
		border-collapse: collapse;
		width: 100%;
	}

	.portable-infobox-comparison-set {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		&:not(:first-of-type) {
			border-bottom: 0;
		}
	}

	.portable-infobox-comparison-set-header {
		box-sizing: border-box;
		display: block;
		flex-basis: 100%;
		text-align: left;
		width: 100%;
	}

	.portable-infobox-comparison-item {
		box-sizing: border-box;
		display: block;
		vertical-align: top;
		width: 50%;

		> * {
			width: 100%;
		}

		&:first-of-type {
			border-right: 1px solid $infobox-section-header-background;
		}

		.item-type-key-val {
			border-bottom: 0;
		}

		.portable-infobox-item-value {
			padding-left: 0;
		}
	}

	// infobox footer
	.portable-infobox-footer {
		font-weight: normal;
		padding: $infobox-item-margin * 2 $infobox-item-margin * 3;
		text-align: center;
	}

	// styles for infobox collapse / expand UI
	.portable-infobox-expand-button {
		background: linear-gradient(to top, $color-blue-gray-light 35%, transparent);
		border-bottom: 1px solid $infobox-section-header-background;
		box-sizing: border-box;
		padding: $infobox-item-margin * 5 0 $infobox-item-margin;
		text-align: center;
		width: 100%;
	}

	.portable-infobox-expand-icon {
		height: 12px;
	}

	&:not(.collapsed) {
		.portable-infobox-expand-icon {
			transform: rotate(180deg);
		}
	}

	&.collapsed {
		overflow: hidden;
		position: relative;

		.portable-infobox-expand-button {
			bottom: 0;
			padding-top: $infobox-item-margin * 10;
			position: absolute;
		}
	}
}
