$portable-table-cell-horizontal-padding: 56px;
$portable-table-cell-vertical-padding: 12px;


.portable-table-wrappper {
	border: 0;
	margin: 0 #{-$article-horizontal-padding} $article-horizontal-padding * 2;

	table {
		border: 0;
		border-left: $article-horizontal-padding solid $color-white;
		border-right: $article-horizontal-padding solid $color-white;
	}

	// overwrite styles from _tables.scss
	tr:not(:last-of-type) {
		border-bottom: 0;
	}

	// overwrite styles from _tables.scss
	td:not(:last-child),
	th:not(:last-child) {
		border-right: 0;
	}
}

// portable table styles
table[data-portable="true"] {
	font-size: $type-smallest;

	th,
	td {
		padding: $portable-table-cell-vertical-padding $article-horizontal-padding;
		white-space: nowrap;

		&:not(:first-child) {
			padding-left: 0;
			text-align: right;

			&:not(:last-child) {
				padding-right: $portable-table-cell-horizontal-padding;
			}
		}
	}

	th {
		background-color: $color-blue-gray-light;
	}

	tr:nth-child(odd) td {
		background-color: $color-gray-light;
	}
}
