input[type='text'],
input[type='text']:focus,
input[type='password'],
input[type='password']:focus {
	background-color: #fff;
	border: none;
	border-bottom: 1px solid $label-color-inactive;
	border-radius: 0;
	box-shadow: 0 0 0 1000px $auth-content-background-color inset !important;
	height: auto;
	margin-top: 0;
}
