.global-nav {
	padding: 0 31px;
	height: 46px;
	background-color: $color-white;
	border-bottom: solid #A9A9A9 2px;
	flex-shrink: 0;
}
a {
	&.main-page {
		background-image: url("/front/common/symbols/wikia-logo-blue.svg");
		display: block;
		height: 21px;
		margin-left: 13px;
		margin-top: 12px;
		width: 75px;

		span{
			display: none;
		}
	}
}
