$fandom-logo-icon-width: 123px;

.global-nav {
	background-color: $color-white;
	border-bottom: solid $global-nav-border-color 2px;
	flex-shrink: 0;
	height: $global-nav-height;
	padding: 0 $global-nav-side-padding;
}

a {
	&.main-page {
		background-image: url("/front/common/symbols/fandom-logo-auth.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		display: block;
		height: $global-nav-height;
		margin-left: 13px;
		width: $fandom-logo-icon-width;

		span {
			display: none;
		}
	}
}
