$wikia-logo-icon-width: 71px;

.global-nav {
	background-color: $color-white;
	border-bottom: solid $global-nav-border-color 2px;
	flex-shrink: 0;
	height: $global-nav-height;
	padding: 0 $global-nav-side-padding;
}

a {
	&.main-page {
		background-image: url("/front/common/symbols/wikia-logo.svg");
		display: block;
		height: $global-nav-height;
		margin-left: 13px;
		width: $wikia-logo-icon-width;

		span {
			display: none;
		}
	}
}
