.auth-header {
	color: $header-text-color;
	min-height: 95px;

	h1 {
		color: inherit;
		font-size: $type-smaller;
		font-weight: bold;
		line-height: $line-height-smaller;
		margin: 0;
	}

	p,
	.header-callout-link {
		font-size: $type-smallest;
		font-weight: normal;
		line-height: $line-height-smallest;

		&:focus {
			color: inherit;
		}
	}

	.header-callout-emphasis {
		color: $link-emphasis-color;
		font-weight: bold;
		text-decoration: underline;
	}
}

.desktop {
	.auth-header {
		h1 {
			font-size: $type-large;
			line-height: $line-height-large;
			margin-top: .2rem;
			padding-bottom: 7px;
		}

		p,
		.header-callout-link {
			font-size: $type-smallest;
			line-height: $line-height-smallest;
		}
	}
}

.register-fb-page,
.fb-connect-page {
	.auth-header {
		font-weight: bold;
	}
}

