.standalone {
	.auth-footer {
		border-color: $border-color;
		border-style: solid;
		border-width: 0 1px 1px;
		margin: 0 31px 32px;
		min-width: 706px;
	}

	.footer-callout-link {
		padding: 0;
	}
}
.mobile{
	.footer-callout-link {
		padding: 15px;
	}
}
.auth-footer {
	color: $footer-text-color;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0;
	position: relative;
}

.footer-callout-emphasis {
	color: inherit;
	font-weight: bold;
	text-transform: uppercase;
}
.footer-callout-link {
	display: block;
	height: 100%;
	padding: 0 15px;
	width: 100%;

	&:hover {
	    opacity: .8;
	}
}
