.splash {
	background-color: $splash-background-color;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.splash-top {
	background-position: center top;
}

.splash-bottom {
	background-position: center bottom;
}

.join-page {
	.footer-callout-emphasis {
		color: $footer-callout-emphasis-color;
		font-weight: bold;
		text-decoration: underline;
	}
}
