{{#if model.href}}
	<a href="{{model.href}}">
		{{> global-footer/global-footer-svg-logo image=model.image section=section imageSizeModifier=imageSizeModifier}}
	</a>
{{else}}
	{{> global-footer/global-footer-svg-logo image=model.image section=section imageSizeModifier=imageSizeModifier}}
{{/if}}
