{{#if model.href}}
	<a href="{{model.href}}">
		{{> svg image=model.image class=(concat 'global-footer__' imageSizeModifier section '-logo')}}
	</a>
{{else}}
	{{> svg image=model.image class=(concat 'global-footer__' imageSizeModifier section '-logo')}}
{{/if}}
