<div class="global-footer__main">
	<div class="global-footer__fandom-sections">
	</div>
	{{model.testMsg}}
	<div class="global-footer__wikia-sections">
		{{> global-footer/global-footer-section model=model.company_overview name='company-overview' parentName='wikia'}}
	</div>
</div>
<div class="global-footer__licensing-and-vertical"></div>
