<a href="{{model.href}}" class="global-footer__link">
	<img alt="{{i18n model.title.key ns='design-system'}}"
		 src="http://public.diana.wikia-dev.com/design-system-reference-page/bower_components/design-system/assets/{{model.image}}.svg">
</a>
