<a href="{{model.href}}" class="wds-global-footer__link wds-is-{{model.brand}}">
	<div>{{i18n model.title.key ns='design-system'}}</div>
	{{> svg class='wds-global-footer__image wds-icon' image='wds-icons-arrow'}}
</a>
