<div class="wds-global-footer__bottom-bar">
	<div class="wds-global-footer__bottom-bar-row">
		{{{i18n
			model.licensing_and_vertical.description.key
			sitename=model.licensing_and_vertical.description.params.sitename.value
			vertical=(i18n model.licensing_and_vertical.description.params.vertical.key ns='design-system')
			license=(wrap-me
				model.licensing_and_vertical.description.params.license.title.value
				tagName='a'
				href=model.licensing_and_vertical.description.params.license.href
			)
			ns='design-system'
		}}}
	</div>
	<div class="wds-global-footer__bottom-bar-row wds-has-border-top global-footer-full-site-link-wrapper">
		<a id="global-footer-full-site-link" href="?useskin=oasis" rel="nofollow">
			{{i18n 'global-footer-full-site-link' ns='design-system'}}
		</a>
	</div>
</div>
