{
  "env": {
    "node": true,
    "embertest": true
  },
  "globals": {
    "mockAdsService": true,
    "mockFastbootService": true,
    "mockService": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
