<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
		<title>Server Error - Wikia</title>
		{{!-- These are minimum of styles that are needed for error pages --}}
		<style>
			html, body {
				font-family: "Helvetica Neue", Arial, sans-serif;
				height: 100%;
				margin: 0;
				padding: 0;
			}

			body {
				display: flex;
				flex-direction: column;
			}

			.site-head-container {
				min-height: 3.4375rem;
			}

			.site-head-wrapper {
				height: 3.4375rem;
			}

			.site-head {
				background-color: #FFF;
				border-top: .375rem solid #092344;
				border-bottom: 1px solid #F6F6F6;
				direction: ltr;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;
				-webkit-flex-wrap: nowrap;
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				-webkit-box-pack: justify;
				-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
				justify-content: space-between;
				left: 0;
				margin: 0 auto;
				position: fixed;
				right: 0;
				text-align: center;
				-webkit-transition: box-shadow .5s;
				transition: box-shadow .5s;
				top: 0;
				width: 100%;
				z-index: 700;
			}

			.site-logo {
				height: 3.0625rem;
				margin: auto;
				-webkit-box-ordinal-group: 3;
				-webkit-order: 2;
				-ms-flex-order: 2;
				order: 2;
				overflow: hidden;
			}

			.container {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				flex-shrink: 0;
				height: auto;
				justify-content: center;
				margin: auto;
				padding: 0 16px;
				text-align: center;
			}

			.container h1 {
				font-size: 36px;
				font-weight: bold;
				margin: 70px 0 25px;
			}

			.container button {
				background: #fafafa;
				border: solid 1px #1A5EB8;
				color: #1A5EB8;
				display: inline-block;
				font-size: 13px;
				line-height: 40px;
				margin: 30px 0 80px;
				padding: 0 25px;
				text-decoration: none;
				text-transform: uppercase;
			}

			.container button:active {
				background: #123154;
				color: #fafafa;
			}

			.footer {
				background-color: #123154;
				display: block;
				flex-shrink: 0;
				padding: 20px;
				margin: 0;
			}

			.footer img {
				height: 22px;
				margin-bottom: 20px;
			}

			.footer ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}

			.footer li {
				line-height: 26px;
			}

			.footer a, .footer a:hover, .footer a:visited, .footer a:active {
				color: #fff;
				text-decoration: none;
			}

			.separated {
				margin-top: 20px;
			}
		</style>
	</head>
	<body>
		{{> site-head}}
		{{{content}}}
	</body>
</html>
