<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
        <title>Wikia</title>
		{{!--We don't want to load all styles, but just required--}}
		<style>
			html, body {
				font-family: "Helvetica Neue", Arial, sans-serif;
				height: 100%;
				margin: 0;
				padding: 0;
			}

			body {
				display: flex;
				flex-direction: column;
			}

			.site-head {
				border-bottom: 1px solid #E6EBF2;
				display: block;
				flex-shrink: 0;
				padding: 14px 0 7px;
			}

			.site-head div {
				text-align: center;
			}

			.site-head img {
				height: 22px;
			}

			.container {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				flex-shrink: 0;
				height: auto;
				justify-content: center;
				margin: auto;
				padding: 0 16px;
				text-align: center;
			}

			.container h1 {
				font-size: 36px;
				font-weight: bold;
				margin: 70px 0 25px;
			}

			.container button {
				background: #fafafa;
				border: solid 1px #1A5EB8;
				color: #1A5EB8;
				display: inline-block;
				font-size: 13px;
				line-height: 40px;
				margin: 30px 0 80px;
				padding: 0 25px;
				text-decoration: none;
				text-transform: uppercase;
			}

			.container button:active {
				background: #123154;
				color: #fafafa;
			}

			.footer {
				background-color: #123154;
				display: block;
				flex-shrink: 0;
				padding: 20px;
				margin: 0;
			}

			.footer img {
				height: 22px;
				margin-bottom: 20px;
			}

			.footer ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}

			.footer li {
				line-height: 26px;
			}

			.footer a, .footer a:hover, .footer a:visited, .footer a:active {
				color: #fff;
				text-decoration: none;
			}

			.separated {
				margin-top: 20px;
			}
		</style>
    </head>
    <body>
        {{{content}}}
    </body>
</html>
