{{#if pages.length}}
	<section class="content-recommendations">
		<h1>{{i18n 'article-suggestions-label'}}</h1>
		<ul>
			{{#each page in pages}}
				<li {{action 'trackClick' 'related' on='mouseDown'}}>
					{{#link-to 'article' page.title bubbles=false}}
						{{image-media url=page.imgUrl caption=page.title height=200 limitHeight=true}}
					{{/link-to}}
				</li>
			{{/each}}
		</ul>
	</section>
{{/if}}
