{{#each media in limitedMedia}}
	<span class='{{unbound media.type}}'><img {{bind-attr src=media.thumbUrl}} {{bind-attr class='media.load:loaded'}} data-gallery-ref='{{unbound media.galleryRef}}'></span>
{{/each}}
