{{#ad-leaderboard}}Bottom ad{{/ad-leaderboard}}
<hr />
<div class="logo">Wikia</div>
<ul class="footer-links">
	{{#each links}}
        <li>{{#link-to route context}}{{i18n name}}{{/link-to}}</li>
	{{/each}}
</ul>
