{{svg "wikia-logo-white" viewBox="0 0 152 42" role="img" class="logo"}}
<ul class="footer-links">
	{{#each links}}
		<li {{bind-attr class="clss"}}>
			<a {{bind-attr href="href"}}>{{i18n text}}</a>
		</li>
	{{/each}}
</ul>
