<nav class="site-head">
	<div class="site-logo">
		<svg viewBox="-50 0 856 235" class="icon wikia-logo">
			<use xlink:href="#wikia-logo"></use>
		</svg>
	</div>
</nav>
<div class="page-wrapper">
	{{> article}}
</div>
