<nav class="site-head">
	<duv class="site-logo">
		<svg role="img" class="icon wikia-logo">
            <use xlink:href="#wikia-logo"></use>
        </svg>
	</div>
</nav>
<div class="page-wrapper">
	<div>{{output.payload.statusCode}}: {{output.payload.error}}</div>
	<div>{{output.payload.message}}</div>
</div>