<nav class="site-head">
	<div class="site-logo">
        <svg role="img" class="icon wikia-logo">
            <use xlink:href="#wikia-logo"></use>
        </svg>
	</div>
</nav>
<div class="page-wrapper" lang="{{wiki.language.content}}" dir="{{wiki.language.contentDir}}">
	{{> article}}
</div>
