<section class="signup-start">
    <div class="register-message-wrapper">
        <div class="register-message">
            <p>Register with</p>
            <img src="/front/svg/wikia-logo-320.svg">
        </div>
    </div>
    <div class="auth-options">
        <ul class="signup-providers">
            <li>
                <button class="signup-provider-facebook">
                    Connect with Facebook
                </button>
            </li>
            <li>
                <button class="signup-provider-email">
                    Sign up with email
                </button>
            </li>
        </ul>
            <p class="sign-in-message">
                Already have an account?
            </p>
        <a class="sign-in" href="#">Sign in</a>
    </div>
</section>
