<div class="register-message-wrapper">
    <div class="register-message">
        <p>Register with</p>
        <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%20width%3D%22145px%22%20height%3D%2241px%22%20viewBox%3D%220%200%20145%2041%22%20version%3D%221.1%22%3E%3C%21--%20Generator%3A%20Sketch%203.2.2%20%289983%29%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%3Ctitle%3EImported%20Layers%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cdefs%2F%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%3Cg%20sketch%3Atype%3D%22MSArtboardGroup%22%20transform%3D%22translate%28-177.000000%2C%20-383.000000%29%22%20fill%3D%22%23FFFFFF%22%3E%3Cg%20sketch%3Atype%3D%22MSLayerGroup%22%3E%3Cpath%20d%3D%22M272%20396.7%20L259.4%20396.7%20L254.4%20402.7%20L252%20405.6%20L252%20383.7%20L243.3%20383.7%20L243.3%20422.8%20L252%20422.8%20L252%20415.8%20L255.1%20412.9%20L261%20422.8%20L272.4%20422.8%20L261.5%20407%20L272%20396.7%20%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M208.3%20414.5%20L203.9%20396.7%20L193.8%20396.7%20L189.6%20414.5%20L186.2%20396.7%20L177.1%20396.7%20L183.9%20422.8%20L195.6%20422.8%20L198.9%20409.3%20L202.2%20422.8%20L214%20422.8%20L220.8%20396.7%20L211.6%20396.7%20L208.3%20414.5%20%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M321.2%20404.3%20L321.7%20396.7%20L313.7%20396.7%20L313.1%20399.6%20C311.3%20397.6%20309%20396%20304.9%20396%20C297.6%20396%20293.6%20400.7%20293.6%20409.7%20C293.6%20418.7%20297.6%20423.4%20304.9%20423.4%20C309%20423.4%20311.3%20421.8%20313.1%20419.8%20L313.7%20422.8%20L321.7%20422.8%20L321.2%20415.1%20L321.2%20404.3%20L321.2%20404.3%20ZM312.5%20413%20C311.3%20414.5%20309.6%20415.5%20307.3%20415.5%20C304.7%20415.5%20302.6%20413.7%20302.6%20409.7%20C302.6%20405.7%20304.7%20404%20307.3%20404%20C309.6%20404%20311.4%20404.9%20312.5%20406.4%20L312.5%20413%20L312.5%20413%20Z%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M230.1%20393.9%20C232.9%20393.9%20235.2%20391.6%20235.2%20388.9%20C235.2%20386.1%20233%20383.8%20230.2%20383.8%20C227.4%20383.8%20225.2%20386.1%20225.2%20388.9%20C225.1%20391.6%20227.4%20393.9%20230.2%20393.9%20%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M225.1%20396.7%20L225.1%20422.8%20L237.7%20422.8%20L237.7%20417.3%20L233.8%20417.3%20L233.8%20402.2%20L237.7%20402.2%20L237.7%20396.7%20L225.1%20396.7%20%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M284.2%20383.8%20C281.4%20383.8%20279.2%20386.1%20279.2%20388.9%20C279.2%20391.6%20281.5%20393.9%20284.2%20393.9%20C287%20393.9%20289.3%20391.6%20289.3%20388.9%20C289.2%20386.1%20287%20383.8%20284.2%20383.8%20%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M276.6%20396.7%20L276.6%20402.2%20L280.6%20402.2%20L280.6%20417.3%20L276.6%20417.3%20L276.6%20422.8%20L289.2%20422.8%20L289.2%20396.7%20L276.6%20396.7%20%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
    </div>
</div>
<div class="auth-options">
    <ul class="signup-providers">
        <li>
            <a class="button signup-provider-facebook">
                Connect with Facebook
            </a>
        </li>
        <li>
            <a class="button signup-provider-email" href="{{signupRoute}}">
                Sign up with email
            </a>
        </li>
    </ul>
        <p class="sign-in-message">
            Already have an account?
        </p>
    <a class="sign-in" href="{{loginRoute}}">Sign in</a>
</div>
