<section class="auth-content">
    <span>{{json error}}</span>
    <form id="loginForm" action="" method="POST">
        <div class="input-container">
            <label class="floating-label" for="loginUsername">Username</label>
            <input type="text" name="username" id="loginUsername" required />
        </div>
        <div class="input-container">
            <label class="floating-label" for="loginPassword">Password</label>
            <input class="sign-in-password" type="password" name="password" id="loginPassword" required />
        </div>
        <a class="forgot-password" href="#">Forgot password?</a>
        <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />
        <input type="checkbox" name="remember"> Remember me<br>
        <button class="submit-button" id="loginSubmit" type="submit">Sign in</button>
    </form>
</section>
