<section class="auth-content">
	<form id="loginForm" action="" method="POST">
		<div class="input-container">
			<input type="text" name="username" id="loginUsername" required />
			<label class="floating-label" for="loginUsername">Username</label>
		</div>
		<div class="input-container">
			<input class="sign-in-password" type="text" name="password" id="loginPassword" required />
			<label class="floating-label" for="loginPassword">Password</label>
			<img class='password-toggler' src="/front/images/eye.svg">
		</div>
		<a class="forgotten-password" href="#" tabindex="-1">Forgot password?</a>
		<input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />
		<div class="inline-checkbox-wrapper">
			<input type="checkbox" name="remember" id="loginRemember">
			<label for="loginRemember" class="inline">
				{{i18n 'auth:login.remember-me'}}
			</label>
		</div>
		<button id="loginSubmit" type="submit" disabled>Sign in</button>
		{{#if formErrorKey}}
		<small class="error">
			{{i18n formErrorKey}}
		</small>
		{{/if}}
	</form>
</section>
