<span>{{json error}}</span>
<form id="loginForm" action="" method="POST">
    <input type="text" name="username" id="loginUsername" placeholder="Your username" required />
    <input type="password" name="password" id="loginPassword" placeholder="Your pw" required />
    <input type="hidden" name="crumb" id="crumb" value="{{crumb}}" />
    <input type="checkbox" name="remember"> Remember me<br>
    <button id="loginSubmit" type="submit">Submit dis</button>
</form>
