<section class="signup-start">
    <p>Register with</p>
    <img src="">
    <ul class="signup-providers">
        <li>
            <button class="signup-provider-facebook">
                CONNECT WITH FACEBOOK
            </button>
        </li>
        <li>
            <button class="signup-provider-google">
                CONNECT WITH GOOGLE
            </button>
        </li>
        <li>
            <button class="signup-provider-email">
                SIGN UP WITH EMAIL
            </button>
        </li>
    </ul>
    <p>
        Already have an account?
        <a>SIGN IN</a>
    </p>
</section>
