<section class="signup-start">
    <div class="register-message-wrapper">
        <div class="register-message">
            <p>Register with</p>
            <img src="/front/svg/wikia-logo-320.svg">
        </div>
    </div>
    <div class="auth-options">
        <ul class="signup-providers">
            <li>
                <button class="signup-provider-facebook">
                    CONNECT WITH FACEBOOK
                </button>
            </li>
            <li>
                <button class="signup-provider-email">
                    SIGN UP WITH EMAIL
                </button>
            </li>
        </ul>
        <div class="sign-in-message-wrapper">
            <p class="sign-in-message">
                Already have an account?
            </p>
            <a class="sign-in" href="#">SIGN IN</a>
        </div>
    </div>
</section>
