$discussion-user-list-padding: 30px;
$discussion-user-list-hero-unit-avatar-size: 60px;
$discussion-user-list-mobile-header-avatar-size: 30px;
$discussion-user-list-item-desktop-side-padding: 30px;
$discussion-user-list-item-mobile-side-padding: 18px;
$discussion-lists-post-margin-bottom: 10px;

.discussion-user-list,
.discussion-reported-posts {
	.discussion-hero-unit {
		.post-list-header {
			font-size: $h1-font-size-small;
			font-weight: $subheader-font-weight;
		}

		.discussion-contributors {
			.avatar img {
				height: $discussion-user-list-hero-unit-avatar-size;
				width: $discussion-user-list-hero-unit-avatar-size;
			}
		}
	}

	.post-reply {
		margin-bottom: $discussion-lists-post-margin-bottom;

		.discussion-reply {
			padding-left: $discussion-user-list-item-desktop-side-padding;
			padding-right: $discussion-user-list-item-desktop-side-padding;
			padding-top: 7px;
		}
	}

	.discussion-page {
		padding-top: $discussion-user-list-padding;
	}
}

@media #{$mobile-range} {
	.discussion-user-list,
	.discussion-reported-posts {
		.post-list-header-content {
			.post-list-header {
				font-size: $h4-font-size-small;
				font-weight: $subheader-font-weight;
			}

			.discussion-contributors {
				.avatar img {
					height: $discussion-user-list-mobile-header-avatar-size;
					width: $discussion-user-list-mobile-header-avatar-size;
				}
			}

			p {
				font-size: $type-min;
				margin: 0 0 20px 0;
			}
		}

		.discussion {
			&.forum {
				margin-top: 0;
			}
		}

		.discussion-page {
			padding-top: 0;
		}

		.post-reply {
			.discussion-reply {
				padding-left: $discussion-user-list-item-mobile-side-padding;
				padding-right: $discussion-user-list-item-mobile-side-padding;

				.discussion-content{
					margin-left: 0;
				}
			}
		}
	}
}
