.rail {
	&.left {
		padding-right: 48px;
	}

	&.right {
		padding-left: 48px;
		margin-top: 85px;
	}

	.side-button {
		border: solid $discussion-rail-separator-color;
	}
}
.post-details-view {
	.rail {
		.back-button {
			border-width: 0 0 1px;
		}
	}
}
.post-list-view {
	.rail {
		.side-button {
			border-width: 1px 0;
		}

		.delete-all {
			border-top: none;
			color: $discussion-actions-color;
			display: flex;
			font-weight: $paragraph-font-weight;
			justify-content: center;
			margin-left: 45px;
		}
	}
}

@media #{$mobile-range} {
	.rail {
		display: none;
	}
}
