.page-wrapper {
	margin-top: 50px;

	.mobile-top-leaderboard ~ & {
		margin-top: 0;
	}

	.article-body, .wiki-page-body {
		@extend .small-12;

		overflow-x: hidden;
	}

	.article-content {
		padding: 0 $article-horizontal-padding;
	}
}

.site-head.theme-bar ~ .page-wrapper {
	margin-top: 60px;
}
