$background-color: rgba(0, 0, 0, .5);
$border-radius: 2px;
$text-color: white;
$side-padding: 6px;
$z-index: 100;

.on-hover-tooltip {
	background-color: $background-color;
	border-radius: $border-radius;
	color: $text-color;
	display: block;
	font-size: $small-font-size;
	padding: 0 $side-padding;
	position: absolute;
	z-index: $z-index;
}

.on-hover-tooltip--fixed {
	position: fixed;
}
