$sub-head-height: 48px;
$sub-head-height-medium-breakpoint: 66px;
$back-arrow-size: 16px;

.sub-head {
	align-items: center;
	background: $color-blue-light;
	color: $white;
	display: flex;
	font-size: $type-smallest;
	height: $sub-head-height;
	left: 0;
	margin: 0 auto;
	right: 0;
	top: 0;
	z-index: $z-site-head;

	@media (min-width: lower-bound($large-range)) {
		font-size: $base-font-size;
		height: $sub-head-height-medium-breakpoint;
	}
}

.sub-head--fixed {
	position: fixed
}

/*a*/
.sub-head--cancel {
	align-items: center;
	background: inherit;
	border: 0;
	cursor: pointer;
	display: flex;
	height: $sub-head-height;
	justify-content: center;
	line-height: inherit;
	margin: 0;
	order: 1;
	padding: 0;
	width: $sub-head-height;

	svg {
		fill: $white;
		height: $back-arrow-size;
		width: $back-arrow-size;
	}

	&:active,
	&:visited,
	&:hover {
		background: inherit;
	}
}

.sub-head--title {
	flex: 1;
	order: 2;
	overflow: hidden;
	padding: 0 $article-horizontal-padding;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// proper margins already added to .sub-head--title.
// TODO: This could be removed ones article diff uses sub-header component invocation instead of hardcoded HTML markup
.sub-head--text-only {
	padding: 0 $article-horizontal-padding;
}

/*button*/
.sub-head--done {
	background: inherit;
	border: 0;
	color: inherit;
	cursor: pointer;
	font: inherit;
	font-weight: bolder;
	height: $sub-head-height;
	margin: 0;
	order: 3;
	padding: 0 $article-horizontal-padding;
	text-transform: uppercase;

	&[disabled] {
		background: inherit;
		border: 0;
		color: inherit;
	}
}
