$animation-time: 0.1s;
$empty-input-label-position: 1.05rem;
$error-message-top-margin: 4px;
$input-bottom-padding: 0.3rem;
$input-top-padding: 1.3rem;

.text-field {
	padding-bottom: 0;
	position: relative;

	.text-field-input {
		border-bottom: 1px solid $color-blue-gray;
		color: $color-gray-dark;
		font-size: $type-base;
		padding: $input-top-padding 0 $input-bottom-padding;

		&:focus {
			border-bottom-color: $color-blue-light;
			// overwriting default mercury input padding
			padding: $input-top-padding 0 $input-bottom-padding;
		}
	}
}

.text-field-label {
	color: $color-blue-gray-dark;
	font-size: $type-base;
	pointer-events: none;
	position: absolute;
	top: $empty-input-label-position;
	transition: font-size ease-in $animation-time, top ease-in $animation-time;
}

.text-field-label--floating {
	font-size: $type-min;
	top: 0;
}

.text-field--invalid {
	.text-field-label {
		color: $alert-color;
	}

	.text-field-input,
	.text-field-input:focus {
		border-bottom-color: $alert-color;
	}
}

.text-field-error-message {
	color: $alert-color;
	display: block;
	font-size: $type-min;
	line-height: $line-height-min;
	margin-top: $error-message-top-margin;
	text-align: left;
}
