$icon-size: 16px;

.wiki-page-title {
	@extend %header-section-title;
	line-height: 2rem;
	margin: {
		bottom: 1em;
		left: 1rem;
		right: 1rem;
		top: 2rem;
	}
	word-break: break-word;

	.main-page-edit {
		align-items: center;
		display: inline-flex;
		font-size: 14px;
		font-weight: initial;
		justify-content: center;
		margin-top: 10px;
		text-transform: initial;

		.pencil {
			fill: $color-blue-light;
			height: $icon-size;
			margin-right: 10px;
			width: $icon-size;
		}

		&:hover .pencil {
			fill: $black;
		}
	}
}
