$icon-size: 16px;

.wiki-page-header-curated-main-page {
	margin-top: 2rem;
}

.wiki-title {
	@extend %header-section-title;
	font-size: $type-smallest;
	margin: 2rem 1rem 1.25em;

	a {
		display: block;
	}
}

.wiki-page-title {
	@extend %header-section-title;
	line-height: 2rem;
	margin: 1rem 1rem 1em;
	word-break: break-word;

	.main-page-edit {
		align-items: center;
		display: inline-flex;
		font-size: 14px;
		font-weight: initial;
		justify-content: center;
		margin-top: 10px;
		text-transform: initial;

		.pencil {
			fill: $color-blue-light;
			height: $icon-size;
			margin-right: 10px;
			width: $icon-size;
		}

		&:hover .pencil {
			fill: $black;
		}
	}
}
