$wikia-button-height: 48px;
$wikia-button-wrapper-spacing: 18px;

.wikia-button-wrapper {
	padding: $wikia-button-wrapper-spacing $wikia-button-wrapper-spacing 25px;
	width: 100%;
}

.wikia-button {
	background: transparent;
	border: 1px solid $color-blue-light;
	color: $color-blue-light;
	font-weight: bold;
	height: $wikia-button-height;
	margin-bottom: 0;
	text-transform: uppercase;
	width: 100%;
}
