$wikia-button-height: 48px;

.wikia-button-wrapper {
	width: 100%;
	padding: 18px 18px 25px 18px;
}

.wikia-button {
	background: transparent;
	border: 1px solid $color-blue-light;
	color: $color-blue-light;
	font-weight: bold;
	height: $wikia-button-height;
	margin-bottom: 0;
	text-transform: uppercase;
	width: 100%;
}
