<div class="site-head-wrapper">
  <nav class="site-head">
    <div class="site-logo">
      {{svg "wds-company-logo-fandom" role="img" class="fandom-logo"}}
    </div>
  </nav>
</div>
<div class="show-error-container">
  <h1>Error</h1>
  <div>{{this.productionErrorContext.message}}</div>
  {{#if this.productionErrorContext.canAttemptRefresh}}
    <button class="wds-button" onclick="window.location.reload()">Refresh</button>
  {{/if}}
</div>
