<div class="wiki-container">
	{{wikia-ui-components/wiki-page-header title='Error 404' subtitle=(i18n 'app.page-not-found-error')}}
	<section class="wiki-page-error">
		<a role="button" {{action 'openNav'}}>{{i18n 'app.page-not-found-message'}}</a>
	</section>
</div>
