<div class="wiki-container">
	{{wikia-ui-components/wiki-page-header title='Error' subtitle=(t 'app.wiki-page-error')}}
	<section class="wiki-page-error">
		<button class="wds-button"{{action 'reloadPage'}}>{{t 'app.wiki-page-error-reload-button'}}</button>
	</section>
</div>
