body {
	background-color: #062d50;
}

.signup-start {
	background-image: url('/front/images/faniverse-bg-544.png');
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	margin: auto;
	padding: 18px;
	text-align: center;
	width: 100%;
}

a {
	color: inherit;
}

button {
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}

.auth-options {
	align-self: flex-end;
	padding-bottom: 22px;
	width: 100%;
}

.register-message-wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 50%;
	justify-content: center;
	width: 100%;
}

.register-message {
	display: table-cell;
	vertical-align: middle;

	p {
		margin-bottom: 15px;
	}
}

.signup-provider-facebook {
	background-color: #38528a;
	border: none;
	margin-bottom: 15px;

	&:focus, &:hover {
		background-color: #1A5EB8;
	}
}

.signup-provider-email {
	background-color: transparent;
	border-color: #fff;

	&:focus, &:hover {
		background-color: transparent;
		border-color: #1A5EB8;
		color: #1A5EB8;
	}
}

ul, li {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

.sign-in-message {
	display: inline-block;
	margin-bottom: 0;
	padding-right: 1.5rem;
	text-align: right;
}

.sign-in {
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.sign-in, .sign-in-message {
	font-size: 0.75rem;
}

@media(min-width: 550px) {

	.signup-start {
		background-image: url('/front/images/faniverse-bg-768.png');
	}
}
