@import '../../vendor/wikia-style-guide/src/scss/lib/settings';

$auth-content-background-color: $color-white;
$body-background: $color-blue-dark;
$button-color: $color-blue-light;
$disabled-button-text-color: #B4D6F2;
$footer-text-color: $color-white;
$header-text-color: $color-white;
$input-color-active: $color-blue-gray;
$input-border-error-color: $alert-color;
$label-color-active: $color-blue-gray-dark;
$label-color-inactive: $color-blue-gray;
$label-color-valid: $color-blue-gray-dark;
$link-color: $color-blue-light;
