$auth-content-background-color: $color-white;
$body-background-color: $color-blue-dark;
$body-text-color: $color-gray-dark;
$footer-text-color: $color-white;
$forgotten-password-link-color: $color-blue-light;
$header-text-color: $color-white;
$label-color-inactive: $color-blue-gray;
$label-color-valid: #5BA200;
$body-text-color: $color-gray-dark;
