@import "../../vendor/wikia-style-guide/dist/css/main.css";

.auth-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

.close {
	color: #FFF;
	font-size: 25px;
	font-weight: lighter;
	line-height: 15px;
	position: absolute;
	right: 10px;
	transform: rotate(45deg);
	top: 10px;

	&:after {
		content: '+';
	}
}

.auth-header, .auth-footer {
	background: #092344;
	color: #FFF;
	text-align: center;
}

.auth-header {
	font-size: 1.125rem;
	line-height: 22px;
	margin-bottom: 20px;
	padding: 24px;
}

.auth-footer {
	color: #FFFFFF;
	font-size: .75rem;
	letter-spacing: 1.25px;
	line-height: 18px;
	padding: 15px;

	a {
		color: inherit;
		text-transform: uppercase;
	}
}

form {
	// stick the footer to the bottom
	flex: 1;
}
