.discussions-header {
	color: $header-text-color;
	flex-shrink: 0;
	font-size: 1.5rem;
	line-height: 1.78rem;
	text-align: center;

	h1 {
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		margin: 0 15px;
		padding: 0;
	}

	.app-logo {
		margin: 35px auto 30px;
		border-radius: 6px;
	}

	.wikia-link {
		background: url('/front/common/symbols/back-arrow.svg') left no-repeat;
		color: $link-color;
		float: left;
		font-size: 0.67rem;
		font-weight: bold;
		left: 29px;
		line-height: 1rem;
		padding: 0 25px;
		position: absolute;
		top: 15px;
	}
}

