<nav class="site-head">
	<div class="site-logo">Wikia</div>
	<button class="drawer-menu">
		1
	</button>
	<div class="user-icon">
	2
	</div>
</nav>
{{#ad-leaderboard}}
Leaderboard Ad
{{/ad-leaderboard}}
<div class="page-wrapper">
	{{outlet}}
</div>
<footer class="site-footer">
	site footer
</footer>
