// Wikia style guide
@import '../../vendor/wikia-style-guide/src/scss/main';

// Set visual-grid to true for debugging grid
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: .02;

// Warnings for Bourbon deprecations
$disable-warnings: true;

// Bourbon, Neat and Bitters (http://bourbon.io/)
@import '../../vendor/bourbon/app/assets/stylesheets/bourbon';
@import '../../vendor/bitters/app/assets/stylesheets/base';
@import '../../vendor/neat/app/assets/stylesheets/neat';

// slick.js carousel
@import 'slick/slick';
@import 'slick/slick-theme';

// Default breakpoints for mobile and desktop
$mobile: new-breakpoint(max-width 500px 4);
$desktop: new-breakpoint(min-width 500px);

///////////////////////////////////////////////////////
// Homepage styles and components
@import 'theme/index';
@import 'component/index';

///////////////////////////////////////////////////////
// GRID

@import 'grid/mobile';

@media (min-width: 50em) {
	@import 'grid/desktop';
}

section {
	@include outer-container;
	clear: both;
	margin-bottom: 54px;
	padding-left: 54px;
	padding-right: 54px;
	// workaround for broken z-index in safari
	transform: translate3d(0, 0, 0);

	@include media($mobile) {
		padding-left: .1em;
		padding-right: .1em;
	}

	> code, code.block {
		display: block;
	}

	&.parallax {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

.loading {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-height: 500px;
	max-width: 1280px;
	width: auto;
	z-index: 2;

	@include media($mobile) {
		display: none;
	}
}

.loading-mobile {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-height: 560px;
	max-width: 615px;
	position: relative;
	width: auto;
	z-index: 2;
}

.loading-wrapper {
	position: relative;
}

.loading-done {
	display: none;
}
