.show-comments-btn {
	background: none;
	border-top: 1px solid $secondary-color;
	color: #333;
	display: block;
	font-weight: bold;
	padding: 1rem 1.25rem;
	position: relative;
	text: {
		align: left;
		transform: uppercase;
	}

	.chevron {
		margin-top: .3125rem;
		position: absolute;
		right: .625rem;
	}
}
