.page-button {
	box-sizing: border-box;
	width: 100%;
}

.prev-page-button {
	margin-right: 36px;

	svg {
		transform: rotate(90deg);
	}
}

.next-page-button {
	svg {
		transform: rotate(-90deg);
	}
}

.show-reply-btn {
	box-sizing: border-box;
	margin-bottom: 20px;
	width: 100%;
}

.article-comments {
	.wds-button {
		@include button-theming($wds-fandom-color-link, $wds-color-white, $wds-fandom-color-link, "darker");
	}
}

.comments {
	@extend %list-reset;

	&__no-comments,
	&__add-comment {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	&__no-comments {
		color: $wds-fandom-color-dark-gray;
		padding: 20px 0;
	}

	&__add-comment {
		padding: 10px 0 20px;
	}

	&__reply-icon {
		color: $wds-fandom-color-dark-gray;
		height: 40px;
		width: 40px;
	}

	&__message {
		color: $wds-fandom-color-dark-gray;
		margin-top: 12px;
		max-width: 200px;
		text-align: center;
	}

	&__navigation {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		width: 100%;
	}
}

.article-comment {
	&::before,
	&::after {
		clear: both;
		content: " ";
		display: table;
	}

	ul {
		@extend %list-reset;

		display: none;

		margin: {
			left: -.625rem;
			top: 1.25rem;
		}

		&.expanded {
			display: block;
		}

		.avatar img {
			margin-left: -.625rem;
		}
	}

	.avatar {
		float: left;
		text-align: left;
		width: 25%;

		img {
			border-radius: 100%;
		}
	}

	.content {
		float: left;
		width: 75%;

		.content {
			padding-right: 0;
		}
	}

	.timestamp {
		color: $wds-color-slate-gray;
		float: right;
	}

	figure {
		margin: 1rem auto;
	}
}
