.page-button {
	box-sizing: border-box;
	width: 100%;
}

.prev-page-button {
	margin-right: 36px;

	svg {
		transform: rotate(90deg);
	}
}

.next-page-button {
	svg {
		transform: rotate(-90deg);
	}
}

.article-comments {
	.wds-button {
		@include button-theming($wds-fandom-color-link, $wds-color-white, $wds-fandom-color-link, "darker");

		&.show-reply-btn {
			background-color: $wds-color-light-c2;
			bottom: -16px;
			box-sizing: border-box;
			left: 50%;
			position: absolute;
			transform: translate(-50%);
		}
	}
}

.comments {
	@extend %list-reset;

	margin-top: 16px;

	&__no-comments,
	&__add-comment {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	&__no-comments {
		color: $wds-fandom-color-dark-gray;
		padding: 20px 0;
	}

	&__add-comment {
		padding: 10px 0 20px;
	}

	&__reply-icon {
		color: $wds-fandom-color-dark-gray;
		height: 40px;
		width: 40px;
	}

	&__message {
		color: $wds-fandom-color-dark-gray;
		margin-top: 12px;
		max-width: 200px;
		text-align: center;
	}

	&__navigation {
		display: flex;
		justify-content: center;
		margin: 34px 0 20px 0;
		width: 100%;
	}
}

.article-comment {
	border-bottom: 1px solid $wds-fandom-color-middle-gray;
	padding: 18px 0;
	position: relative;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	ul {
		@extend %list-reset;

		display: none;

		&.expanded {
			display: block;
		}
	}

	// replies
	.article-comment {
		border-bottom: none;
		border-left: 1px solid $wds-fandom-color-middle-gray;
		margin: 32px 0 18px $article-horizontal-padding;
		padding: 0 0 0 14px;
	}

	.metadata {
		align-items: center;
		display: flex;
		justify-content: flex-start;

		.wds-avatar {
			margin-right: 6px;
		}
	}

	.username {
		color: $wds-fandom-color-navy;
	}

	.timestamp {
		color: $wds-fandom-color-dark-gray;
	}

	.separator {
		color: $wds-fandom-color-dark-gray;
		margin: 0 6px;
	}

	.content {
		padding-top: 6px;
	}

	figure {
		margin: 1rem auto;
	}
}
