.auth-header {
	font-size: 1.125rem;
	line-height: 22px;
	padding: 25px 24px 0;
	text-align: center;

	h1 {
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
	}
}

.register-fb-page,
.fb-connect-page {
	.auth-header {
		font-weight: bold;
	}
}

.desktop {
	.auth-header {
		font-size: 2.5rem;
		font-weight: bold;
		height: 165px;
		padding: 75px 75px 53px;
		position: relative;

		&::after {
			background-image: url('/front/images/wikia-logo-circled.svg');
			bottom: - $circle-logo-size / 2;
			content: " ";
			display: block;
			height: $circle-logo-size;
			left: 50%;
			margin-left: - $circle-logo-size / 2;
			position: absolute;
			width: $circle-logo-size;
		}

		p {
			line-height: 1.25rem;
		}
	}
	&.register-fb-page,
	&.fb-connect-page {
		.auth-header {
			padding-top: 35px;
		}
	}
}
