.close {
	box-sizing: content-box;
	fill: white;
	float: right;
	height: 15px;
	line-height: 15px;
	padding: 13px 13px 33px;
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;

	> svg {
		height: 15px;
		pointer-events: none;
		width: 15px;
	}
}
