// this nav is meant to be displayed only for
// 1. desktop standalone auth-page version.
// 2. on the outside of the content area (on the left) (that's why position: absolute)
// 3. the nav should stay all the time on the same position
// 4. it should be shown only it there is enough space (that's why the @media calculations)

$auth-nav-min-resolution: $desktop-content-max-width + $desktop-nav-auth-shift * 2 + $desktop-nav-auth-margin-left;

.auth-nav {
	color: $auth-back-link-color;
	display: none;
	font-size: $type-smallest;
	left: 50%;
	margin-left: -($desktop-content-max-width / 2 + $desktop-nav-auth-shift);
	margin-top: 14px;
	position: absolute;

	a {
		background-image: url('/front/common/symbols/back-nav-arrow.svg');
		background-position: left center;
		background-repeat: no-repeat;
		background-size: 16px 12px;
		padding-left: 22px;
	}
}

@media(min-width: $auth-nav-min-resolution) {
	.standalone {
		.auth-nav {
			display: block;
		}
	}
}
