.forgot-password-page {
	a[href^="mailto"] {
		color: $link-emphasis-color;
		font-weight: bold;
		text-decoration: underline;
	}

	&.desktop {
		.auth-header {
			min-height: 143px;
		}

		.auth-content {
			margin-bottom: 60px;
		}

		.input-container {
			margin-bottom: 35px;
		}
	}

	&:not(.desktop) {
		p {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.auth-content {
		text-align: center;
	}

	.cards-container {
		background-color: #e6ebf2; // $wds-color-light-blue-gray
		height: 100%;
		perspective: 1000px;
		position: relative;

		&.flipped {
			.forgot-password-card {
				transform: rotateY(-180deg);
			}

			.confirm-forgot-password-card {
				transform: rotateY(0deg);
			}
		}

		.card {
			backface-visibility: hidden;
			background-color: #fff; // $wds-color-white
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transition: transform 1.5s;
			transition-timing-function: ease-in-out;
			width: 100%;
		}

		.confirm-forgot-password-card {
			transform: rotateY(-180deg);
		}
	}
}
