$input-error-color: #ed1c24;
$button-text-size: $type-min;
$button-line-height: $line-height-min;
$link-emphasis-color: #00b7e0;

form {
	small.error {
		color: $input-error-color;
		line-height: 1rem;
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		text-align: left;

		a {
			color: $link-emphasis-color;
		}
	}
}

.input-container {
	min-height: 62px; // Height of input + error message to avoid pushing content down when error is displayed
	padding-bottom: .25rem;
	position: relative;

	small.error {
		padding-bottom: 0;
	}
}
.desktop {
	.input-container {
		min-height: 58px;
	}
}

.floating-label {
	color: $color-blue-gray;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 1.25rem;
	transition: font-size ease-in 0.1s, top ease-in 0.1s;
}

.floating-label.active {
	color: $label-color-active;
	font-size: .75rem;
	top: 3px;
}

input[type='text']:valid  + .floating-label,
input[type='password']:valid + .floating-label,
input[type='email']:valid  + .floating-label,
input[type='date']:valid + .floating-label {
	color: $label-color-valid;
}

input:valid + .floating-label.error {
	color: $input-error-color;
}

.input-password::-ms-clear {
	display: none;
}

.input-container > img {
	box-sizing: content-box;
	height: 1rem;
	padding: 24px 5px 0 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;

	&.on {
		opacity: 0.5;
	}
}

input[type="submit"],
.signup-provider-facebook {
	&.on {
		padding-left: 0;
		padding-right: 0;

		&::before {
			$spinner-dimension: 28px;

			animation: spin 1s linear infinite;
			background: url("/front/common/symbols/loading.svg") center no-repeat;
			content: " ";
			display: block;
			height: $spinner-dimension;
			left: 50%;
			margin-left: -($spinner-dimension/2);
			margin-top: -($spinner-dimension/2);
			position: absolute;
			top: 50%;
			width: $spinner-dimension;
		}

		span {
			visibility: hidden;
		}
	}
}

.desktop {
	button,
	.button,
	input[type="submit"] {
		font-size: $button-text-size;
		line-height: $button-line-height;
		min-height:  2.5rem;
		padding: .75rem;
	}

	input[type="submit"] {
		margin-bottom: 12px;
	}
}
