.forgot-password-page {
	.auth-nav {
		position: absolute;
		z-index: 1;
	}

	a[href^="mailto"] {
		color: $link-emphasis-color;
		font-weight: bold;
		text-decoration: underline;
	}

	&.desktop {
		.auth-header {
			min-height: 143px;
		}

		.auth-content {
			margin-bottom: 60px;
		}

		.input-container {
			margin-bottom: 35px;
		}
	}

	&:not(.desktop) {
		p {
			margin: 4px auto 16px auto;
		}

		.cards-container {
			background-color: $wds-color-off-white;

			.card {
				background-color: $wds-color-white;
			}
		}
	}

	.auth-content {
		text-align: center;
	}

	.confirm-forgot-password-card {
		.auth-content-wide {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.cards-container {
		height: 100%;
		perspective: 1000px;
		position: relative;

		&.flipped {
			.forgot-password-card {
				transform: rotateY(-180deg);
			}

			.confirm-forgot-password-card {
				transform: rotateY(0deg);
			}
		}

		.card {
			backface-visibility: hidden;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transition: transform 1.5s;
			transition-timing-function: ease-in-out;
			width: 100%;
		}

		.confirm-forgot-password-card {
			transform: rotateY(-180deg);
		}
	}
}
