.join-page {
	min-height: 360px;
}

.auth-options {
	align-self: flex-end;
	color: $color-white;
	padding: 18px 18px 25px;
	text-align: center;
	width: 100%;
}

.register-message-wrapper {
	color: $color-white;
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 50%;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.register-message {
	display: flex;
	flex: 1;
	height: 100%;
	justify-content: center;

	p {
		font-size: $type-largest;
		line-height: 1.25;
		margin: 0;
	}

	img {
		height: auto;
		width: 90px;
	}
}

.signup-provider-facebook,
.signup-provider-facebook.disabled,
.signup-provider-facebook:hover,
.signup-provider-facebook:visited {
	background-color: $button-color-facebook;
	border: none;
	margin-bottom: 15px;
	opacity: 1;
}

.desktop {
	.signup-provider-facebook {
		margin-top: 14px;
	}
}

.signup-provider-email {
	background-color: transparent;
	border-color: $color-white;

	&:visited {
		border-color: $color-white;
		color: $color-white;
	}

	&:active, &:hover {
		background: white;
		color: $color-blue-dark;
	}

}

.sign-in-message {
	display: inline-block;
	margin: .25rem 0 0;
	text-align: right;
}

.sign-in {
	text-align: center;
}

.sign-in, .sign-in-message {
	font-size: 0.75rem;
}
