.terms-of-use {
	display: block;
	font-size: $type-min;
	line-height: $line-height-min;
	text-align: center;
	width: 100%;
}

label {
	&.inline {
		margin-bottom: .5rem;
		padding-left: 24px;
		position: relative;
		text-indent: -20px;
		top: 4px;
	}
}

.desktop {
	label {
		&.inline {
			font-size: $type-min;
			margin: 2px 0 10px;
			padding: 5px 0 5px 24px;
		}
	}
}

.terms-of-use a, label.inline a {
	color: $link-emphasis-color;
}
