.terms-of-use {
	display: block;
	font-size: $type-min;
	line-height: $line-height-min;
	text-align: center;
	width: 100%;
}

label {
	&.inline {
		margin-bottom: .5rem;
		padding-left: 24px;
		text-indent: -20px;
		position: relative;
		top: 4px;

		.custom-checkbox {
			background-color: $checkbox-color-bg;
			border: 1px solid $checkbox-color-border;
			height: 18px;
			left: 0;
			position: absolute;
			width: 18px;
		}

		&.checked {
			.custom-checkbox {
				background-image: url('/front/common/symbols/checkbox-checked.svg');
				border: none;
			}
		}
	}
}

.desktop {
	label {
		&.inline {
			font-size: $type-min;
			margin: 2px 0 10px;
			padding: 5px 0 5px 24px;
		}
	}
}

.terms-of-use a, label.inline a {
	color: $link-color;
}
