.forgotten-password {
	color: $link-emphasis-color;
	display: block;
	font-size: 0.75rem;
	margin: 0 0 10px;
	text-align: right;
	width: 100%;
}

.signin-page {
	button,
	.button,
	input[type="submit"] {
		margin-bottom: 6px;
	}
}
