.forgotten-password {
	color: $link-emphasis-color;
	display: block;
	font-size: 0.75rem;
	margin: 0 0 10px;
	text-align: right;
	width: 100%;
}

.signin-page {
	button,
	.button,
	input[type="submit"] {
		margin-bottom: 6px;
	}
}

.auth-divider {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;

	.horizontal-line {
		background-color: $auth-divider-line-color;
		flex-grow: 1;
		flex-shrink: 1;
		height: 1px;
		max-width: 80px;
	}

	.auth-or-message {
		padding: 10px;
	}
}

.auth-section-header {
	display: flex;
	font-size: $type-base;
	justify-content: center;
	margin-bottom: 10px;
}
