.birthdate-container {
	height: 3rem;
	padding-bottom: 0px;
	margin-bottom: 1rem;

	input, input:focus {
		border: none;
		box-shadow: none;
		display: inline-block;
		height: auto;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 30%;
	}
}
