.input-container {
	position: relative;
}

.floating-label {
	color: $color-blue-gray;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 1.25rem;
	transition: font-size ease-in 0.15s, top ease-in 0.15s;
}

input[type='text'],
input[type='text']:focus,
input[type='password'],
input[type='password']:focus {
	padding: 1.25rem 0 0.5rem;
}

input[type='text']:focus  + .floating-label,
input[type='password']:focus + .floating-label,
input[type='text']:valid  + .floating-label,
input[type='password']:valid + .floating-label {
	font-size: 0.75rem;
	top: 0;
}

input[type='text']:valid  + .floating-label,
input[type='password']:valid + .floating-label {
	color: $label-color-valid;
}
