.auth-landing-page {
	min-height: 360px;
}

.auth-options {
	align-self: flex-end;
	color: $color-white;
	padding: 18px 18px 25px;
	text-align: center;
	width: 100%;
}

.register-message-wrapper {
	color: $color-white;
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 50%;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.register-message {
	display: flex;
	flex: 1;
	height: 100%;
	justify-content: center;

	p {
		font-size: 2.5rem;
		line-height: 1.25;
		margin: 0;
	}

	img {
		height: auto;
		width: 90px;
	}
}

.signup-provider-facebook {
	background-color: #38528a;
	border: none;
	margin-bottom: 15px;

	&:active, &:hover {
		background-color: $color-blue-light;
	}
}

.signup-provider-email {
	background-color: transparent;
	border-color: $color-white;

	&:visited {
		border-color: $color-white;
		color: $color-white;
	}

	&:active, &:hover {
		background-color: transparent;
		border-color: $color-blue-light;
		color: $color-blue-light;
	}

}

.sign-in-message {
	display: inline-block;
	margin: .25rem 0 0;
	text-align: right;
}

.sign-in {
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.sign-in, .sign-in-message {
	font-size: 0.75rem;
}
