//stronger selector to override input[type]
input.sign-in-password {
	margin-bottom: 5px;
}

.forgotten-password {
	color: $link-color;
	display: block;
	font-size: 0.75rem;
	margin: 0;
	text-align: right;
	width: 100%;
}
