.terms-of-use {
	display: block;
	line-height: 1rem;
	text-align: center;
	width: 100%;
}

.terms-of-use-link {
	color: $link-color;
}

label.inline {
	margin-bottom: 0.5rem;
	padding-left: 20px;
	text-indent: -20px;
}
