.collapsible-menu {

	border-top: 1px solid $collapsible-menu-border-color;
	border-bottom: 1px solid $collapsible-menu-border-color;

	.title {
		@extend .touch-active;

		background: none;
		color: $collapsible-menu-title-color;
		display: block;
		font-weight: bold;
		line-height: 2.4rem;
		position: relative;
		text: {
			align: left;
			transform: uppercase;
		}
		width: 100%;

		.icon {
			position: absolute;
			top: 50%;

			&.toc {
				left: 10px;
				margin-top: -7px;
			}

			&.chevron {
				right: rem-calc(10);
				margin-top: rem-calc(-4);
			}
		}
	}

	//Takes care of hiding a menu
	.collapsed + ul, .collapsed + ol {
		display: none;
	}

	ol, ul {
		margin: 0;
		padding: 0;

		li {
			border-top: 1px solid $collapsible-menu-border-color;
			padding-left: rem-calc(40);

			a {
				position: relative;
				display: block;
				overflow: hidden;

				padding: 10px 0;
				padding-right: rem-calc(40);

				color: $collapsible-menu-list-link-color;

				text-overflow: ellipsis;
				white-space: nowrap;
			}

			a > .chevron {
				position: absolute;
				right: rem-calc(10);
				top: 1.1rem;
				transform: scale(.8) rotate(-90deg);
			}
		}
	}
}
