$context-link-vertical-bar-color: $color-blue-gray-light;
$context-link-spacing: 15px;

.portable-context-link {
	border-left: 5px solid $context-link-vertical-bar-color;
	font-style: italic;
	margin: $context-link-spacing;
	padding: $context-link-spacing;
}