$module-padding-horizontal: 1rem;
$module-padding-vertical: 1.5rem;
$item-padding-horizontal: 1rem;
$item-padding-vertical: .5rem;
$item-image-size: 4rem;
$image-margin: 1rem;
$image-size: 150px;
$row-height: 5rem;
$search-results-image-size: 30vw;
$search-results-image-spacing: 1vw;
$search-results-horizontal-padding: 2vw;
$search-image-input-text-padding: $search-results-image-spacing + $search-results-horizontal-padding;
$search-results-load-more-button-width: 100vw - 2 * $search-results-horizontal-padding;

.curated-content-editor-add-item-btn {
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin: $item-padding-vertical auto;
	width: 80%;
}

.curated-content-editor-head {
	position: static;
}

.curated-content-editor-help {
	position: absolute;
	right: 1em;
	top: 1em;

	svg {
		fill: $color-gray-dark;
		height: 32px;
		width: 32px;
	}
}

.curated-content-editor-block {
	background: $snow;
	position: relative;

	header {
		color: $color-blue-brand;
		font-size: larger;
		font-weight: bold;
		padding: $module-padding-vertical $module-padding-horizontal 0;
	}

	.block-description {
		margin: 0;
		padding: $module-padding-horizontal $module-padding-horizontal 0;
	}
}

.curated-content-editor-rows {
	padding-top: $module-padding-vertical;
}

.curated-content-editor-row-container {
	background: $color-white;
	border: {
		color: $color-gray-light;
		style: solid;
		width: 0;
	}
	border-bottom-width: 1px;
	//iOS can't handle touch events on element if it doesn't have cursor pointer
	cursor: pointer;
	padding: $item-padding-vertical $item-padding-horizontal;

	&:first-child {
		border-top-width: 1px;
	}
}

.curated-content-editor-row {
	align-items: center;
	display: inline-flex;
	height: $row-height;
	width: calc(90vw - #{$item-padding-horizontal});

	img {
		height: $item-image-size;
		margin-right: $image-margin;
		width: $item-image-size;
	}

	.item-description {
		width: calc(100% - #{$item-image-size + $image-margin});
	}

	.title {
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.subtitle {
		font-size: .8125rem;
	}
}

.curated-content-section-details {
	align-items: center;
	background: $snow;
	display: flex;
	height: $image-size;
	position: relative;

	.section-image {
		text-align: center;
		width: $image-size;

		img {
			height: $image-size;
		}
	}

	.section-desc {
		display: flex;
		flex-direction: column;
		height: $image-size;
		width: calc(100% - #{$image-size});
	}

	.section-label {
		@include clamp(5);

		color: $black;
		font-size: 18px;
		font-weight: bold;
		height: $image-size;
		line-height: 23px;
		padding: 10px 13px 0;
	}

	.section-items-count {
		color: $color-blue-gray-dark;
		font-size: 12px;
		line-height: 14px;
		padding: 0 13px 10px;
	}

	.section-edit {
		bottom: 1rem;
		position: absolute;
		right: 1rem;

		svg {
			fill: $color-blue-dark;
			height: 1.75rem;
			width: 1.75rem;
		}
	}
}

.curated-content-editor-submit {
	margin-bottom: 0;
}

.curated-content-editor-photo {
	padding-top: 14px;
	position: relative;

	img {
		@extend %image-placeholder;
		border: 1px solid transparent;
		display: block;
		margin: 0 auto;
		width: 90vw;

	}

	&.landscape img {
		// 16:9 ratio
		height: 51vw;
	}

	&.square img {
		// 1:1 ratio
		height: 90vw;
	}

	&.error {
		img {
			border-color: $input-border-error-color;
		}

		small {
			background: linear-gradient(to top, rgba(255, 255, 255 , .7), rgba(255, 255, 255, 0));
			bottom: 1px;
			margin: 0 calc(5vw - 1px);
			padding: 5% 0;
			position: absolute;
			text-align: center;
			width: 90vw;
		}
	}
}

.curated-content-editor-photo-crop {
	background: #000;
	height: calc(100vh - 50px);
	width: 100vw;

	> img {
		max-height: 100%;
		max-width: 100%;
	}
}

.curated-content-editor-item {
	.file-upload-input {
		display: none;
	}

	.image-modal-wrapper {
		align-items: center;
		bottom: 0;
		display: none;
		padding: 10px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $z-1;

		.image-modal {
			background-color: $white;
			border-radius: 3px;
			color: $steel;
			list-style: none;
			margin: 0;
			width: 100%;
			z-index: $z-2;
		}

		li {
			padding: 1rem;

			&:not(:last-child) {
				border-bottom: 1px $iron solid;
			}
		}

		label {
			color: inherit;
			font-size: inherit;
			padding: 0;
		}

		.image-modal-layover {
			background-color: rgba(0, 0, 0, .5);
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		&.visible {
			display: flex;
		}
	}
}

.curated-content-input-wrapper {
	padding: 14px 18px 0;
}

.curated-content-editor-remove {
	color: $alert-color;
	padding: 14px 18px;
	text-transform: uppercase;
}

.navigation {
	display: inline-block;
	float: right;
	height: $row-height;
	text-align: right;
	width: calc(8vw - #{$item-padding-horizontal});
}

.arrow-up, .arrow-down {
	height: $row-height / 2;
	width: 1rem;
}

.arrow-up {
	transform: rotate(180deg);
}

.curated-content-editor-image-search {
	.search-input {
		//Let's make it important so we don't need to override padding for all possible states of inputs
		padding: $search-image-input-text-padding !important;
	}

	.search-message {
		text-align: center;
		width: 100%;
	}

	.search-results {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: $search-results-horizontal-padding;

		img {
			height: $search-results-image-size;
			margin: $search-results-image-spacing;
			width: $search-results-image-size;
		}
	}

	button {
		display: none;
		margin: 0 auto;
		width: $search-results-load-more-button-width;

		&.visible {
			display: block;
		}
	}
}

.title.input-container {
	position: relative;
}

.title-suggestions-container {
	background: $white;
	box-shadow: 0 2px 5px $iron;
	position: absolute;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		@extend %ellipsis;
		border: 1px solid $iron;
		border-top: none;
		font-size: 14px;
		padding: 10px;

		&.message {
			text-align: center;
		}

		&.error {
			color: $alert-color;
		}
	}
}
