$image-spacing: 5px;
$top-nav-line-height: 26px;
$back-button-size: $top-nav-line-height;
$back-button-padding: 10px;
$back-button-with-padding-size: $back-button-size + 2 * $back-button-padding;

.curated-content {
	margin: 0 0 2rem;
	padding: 0 $image-spacing;

	.curated-content-items {
		line-height: 0;
		margin: 0 auto;
		text-align: justify;

		// this pseudoelement lets the last inline item to be justified to the right if it's even
		&::after {
			content: '';
			display: inline-block;
			width: 100%;
		}
	}

	.curated-content-item {
		display: inline-block;
		line-height: initial;
		margin: $image-spacing 0;
		vertical-align: top;
	}

	.item-figure {
		cursor: pointer;
		position: relative;
	}

	.item-image {
		@extend %image-placeholder;
	}

	.item-figcaption {
		background: linear-gradient(to top, rgba(0, 0, 0 , .7), rgba(255, 255, 255, 0));
		bottom: 0;
		height: 50%;
		//Reset of default figcaption styles which add 5px bottom padding
		padding: 0;
		position: absolute;
		width: 100%;
	}

	.item-caption-row {
		bottom: 0;
		display: table;
		position: absolute;
	}

	.item-caption {
		&.label {
			color: $white;
			display: table-cell;
			font-size: $type-smallest;
			font-weight: bold;
			left: 0;
			line-height: $line-height-smallest;
			padding: 0 0 10px 10px;
			vertical-align: bottom;
			width: 100%;
			// should work for WebKit/Blink based browsers http://caniuse.com/#feat=word-break
			word-break: break-word;
		}

		&.grid-icon {
			display: table-cell;
			vertical-align: bottom;

			.grid-icon-container {
				background: rgba(0, 0, 0, .4);
				border-radius: 100px 0 0;
				height: 50px;
				right: 0;
				text-align: center;
				width: 50px;
			}

			svg {
				fill: $white;
				height: 17px;
				margin-left: 10px;
				margin-top: 21px;
				width: 17px;
			}
		}
	}

	.section-top {
		margin-bottom: 10px;
		position: relative;
		text-align: center;
	}

	.section-title {
		font-size: $type-smaller;
		font-weight: bold;
		line-height: $top-nav-line-height;
		overflow: hidden;
		padding: 0 $back-button-with-padding-size;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	.section-navigation {
		cursor: pointer;
		height: $back-button-with-padding-size;
		left: -$back-button-padding;
		margin-left: 10px;
		padding: $back-button-padding;
		position: absolute;
		top: -$back-button-padding;
		transform: rotate(90deg);
		white-space: nowrap;
		width: $back-button-with-padding-size;
	}

	//Ember by default adds div when certain action is bound to an element
	//we don't want to have div with 100% because we can't style grid elements to be next to each other
	//using float wouldn't work because items have to be centered.
	[data-ember-action] {
		display: inline-block;
	}
}
