$module-padding: 1rem;
$item-image-size: 4rem;
$image-margin: 1rem;

.curated-content-edit-head {
	position: static;
}

.curated-content-edit-block {
	background: $color-gray-light;

	header {
		color: $color-blue-brand;
		font-size: larger;
		font-weight: bold;
		padding: $module-padding;
	}

	.block-description {
		margin: 0;
		padding: $module-padding;
	}
}

.curated-content-edit-item {
	align-items: center;
	background: $color-white;
	border: {
		color: $color-gray-semi;
		style: solid;
		width: 0;
	}
	border-bottom-width: 1px;
	display: flex;
	padding: .5rem 1rem;

	&:first-child {
		border-top-width: 1px;
	}

	img {
		height: $item-image-size;
		margin-right: $image-margin;
		width: $item-image-size;
	}

	.item-description {
		width: calc(100% - #{$item-image-size + $image-margin});
	}

	.title {
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.subtitle {
		font-size: .8125rem;
	}
}
