$discussion-back-button-border-color: #e6e6e6;

.back-button {
	align-items: center;
	display: flex;
	font-size: 0.75rem;
	font-weight: bold;
	height: 100%;
	padding: 15px 0;
	width: 210px;
	line-height: 1.0;

	svg {
		height: 16px;
		margin-right: 14px;
		width: 16px;
	}
}

@for $i from 1 through length($verticals) {
	.#{nth($verticals, $i)}-vertical .back-button {
		color: #{nth($vertical-colors, $i)};

		svg {
			fill: #{nth($vertical-colors, $i)};
		}
	}
}
