$reply-editor-width: 563px;
$sticky-reply-editor-width: 563px;

.reply-editor {
	.editor-container {
		margin-left: -20px;
		width: $reply-editor-width;
	}

	.sticky {
		&.pinned-bottom {
			top: initial;
			bottom: 0;
			width: $reply-editor-width;
		}
	}
}
