.discussion-app-promotion {
	padding-left: 10px;

	.discussion-app-join-text {
		color: $app-promotion-text-color;
		font-size: rem-calc(18);
		margin: 82px 0 10px;
	}

	.apple-store-logo {
		height: 44px;
		margin: 5px 0;
		width: 150px;
	}

	.google-play-logo {
		height: 45px;
		margin: 5px 0;
		width: 129px;
	}
}

.post-details-view {
	.discussion-app-promotion {
		.discussion-app-join-text {
			font-size: rem-calc(16);
			margin-top: 85px;
		}
	}
}
