.discussion {
	.editor-container {
		button {
			background: none;
			border: 0;
			display: none;
			font-size: $type-smallest;
			margin: 0;
			position: absolute;
			text-transform: none;
		}
		.editor-close {
			display: none;
		}

		&.active {
			button {
				display: inline-block;
			}
		}
	}

	.editor {
		border-radius: 0;
		position: static;

		&:focus {
			background-color: $color-white;
			border: 0;
			box-shadow: none;
		}
	}

	@media #{$mobile-range} {
		.editor-container-placeholder {
			display: none;
		}

		.editor-container.active {
			background: $color-white;
			display: block;
			height: 100%;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 800;

			button {
				font-weight: bold;
				right: 0;
				top: 0;

				@for $i from 1 through length($verticals) {
					.#{nth($verticals, $i)}-vertical & {
						color: nth($vertical-colors, $i);
					}
				}
			}

			.editor-close {
				display: inline-block;
				left: 10px;
				position: absolute;
				top: 10px;
				width: 18px;

				svg {
					@for $i from 1 through length($verticals) {
						.#{nth($verticals, $i)}-vertical & {
							fill: nth($vertical-colors, $i);
						}
					}
				}
			}

			.editor {
				border-top: 1px solid #e1e1e1;
				height: calc(100% - 40px);
				margin: 0;
				position: relative;
				top: 40px;
				width: 100%;
			}

			.user-avatar {
				display: none;
			}
		}
	}

	@media #{$desktop-range} {
		.editor-container {
			background-color: #f6f6f6;
			border: 4px solid $border-color;
			margin: 0 auto 5px;
			position: relative;

			.editor {
				height: 62px;
				padding: 15px 10px 15px 64px;
				transition: min-height .2s ease;
			}

			&.active {
				padding-bottom: 40px;

				.editor {
					border-bottom: 1px solid #e1e1e1;
					min-height: 106px;
					max-height: 400px;
				}
			}

			&.sticky {
				position: fixed;
				top: $icon-site-head-width;
				width: 510px;
				z-index: 1;
			}

			button {
				bottom: 0;
				color: #999999;
				height: 40px;
				padding: 0 1.25rem;
				right: 0;
			}

			.user-avatar {
				left: 10px;
				position: absolute;
				top: 10px;
			}

		}
	}
}
