$reply-editor-width: 563px;
$sticky-reply-editor-width: 563px;

.reply-editor {
	.editor-container {
		margin-left: -20px;
		width: $reply-editor-width;
	}

	.sticky {
		&.pinned-bottom {
			top: initial;
			bottom: 0;
			width: $reply-editor-width;
		}
	}
}

@media #{$mobile-range} {
	.discussion-editor.reply-editor {
		height: 49px;

		.editor-container {
			border-top: 4px solid $discussion-mobile-reply-editor-border-color;
			bottom: 0;
			height: 49px;
			margin-bottom: 0;
			margin-left: 0;
			position: fixed;
			width: 100%;
		}

		.editor-wrapper {
			padding: 12px 17px 7px 54px;
		}

		.avatar {
			svg {
				height: 30px;
				width: 30px;
			}
		}

		&.is-active {
			.editor-container {
				border: 0;
			}
		}
	}
}
