.discussion-hero-unit {
	color: #fff;
	display: none;
	padding-bottom: 37px;
	//height of the top-bar = 41 + 37px of internal padding
	padding-top: 78px;
	text-align: center;

	h1 {
		color: #fff;
	}
}

@for $i from 1 through length($verticals) {
	.#{nth($verticals, $i)}-vertical .discussion-hero-unit {
		background-color: #{nth($vertical-colors, $i)};
	}
}

@media #{$desktop-range} {
	.discussion-hero-unit {
		display: block;
	}
}
