$text-color: #999;

.discussion-app-promotion {
	padding-left: 10px;

	.discussion-app-join-text {
		color: $text-color;
		font-size: rem-calc(18);
		margin: 65px 0 10px;
	}

	.apple-store-logo {
		height: 44px;
		margin: 5px 0;
		width: 150px;
	}

	.google-play-logo {
		height: 45px;
		margin: 5px 0;
		width: 129px;
	}
}
