$discussion-header-line-height: 50px;
$discussion-header-color-text: #fff;

$site-header-height: 50px;

.discussion-header {
	color: $discussion-header-color-text;
	margin-top: $site-header-height;
	max-width: inherit;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-8; // drop-downs from top-bar component (which is $z-7) display over the discussion header

	&.un-pinned {
		margin-top: 0;
		z-index: $z-6;
	}

	.header {
		height: $discussion-header-height;
		overflow: hidden;
		padding-left: 15px;
	}

	h1 {
		color: $discussion-header-color-text;
		float: left;
		font-size: $type-smaller;
		line-height: $discussion-header-height;
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
	}

	.icon.dropdown {
		height: 4px;
		margin-left: 5px;
		vertical-align: middle;
		width: 7px;
	}

	.overlay {
		@include perfect-square(100%);
		cursor: default;
		display: none;
		left: 0;
		position: fixed;
		top: 0;
		z-index: $z-side-nav-overlay;
	}

	.sort {
		cursor: pointer;
		float: right;
		font-size: $type-smallest;
		line-height: $discussion-header-height;
		margin-right: 15px;
		text-align: right;
	}

	.new-post {
		float: right;
		height: 50px; // TODO fix height
		width: 56px;
	}
}

@media #{$desktop-range} {
	.discussion-header {
		.header {
			display: none;
		}
	}
}

.site-body-discussion {
	margin-top: 50px;
}

@media #{$desktop-range} {
	.site-body-discussion {
		margin-top: 0;
	}
}

.discussions {
	.side-nav-toggle {
		visibility: hidden;
	}
	.site-head {
		max-width: 100%;
	}
	.headroom-not-top,
	.headroom-top {
		transition: transform .5s, margin .5s;
	}
}

@media #{$mobile-range} {
	.discussions {
		.site-head {
			border-bottom: 10px solid transparent;
			height: $site-header-height + 10px;

			&.headroom-not-top.un-pinned {
				transform: translateY(-$site-header-height);
			}
		}
	}
}
