.large-3 {
	.community-badge {
		margin-top: -62px;

		img {
			width: 125px;
		}
	}
}

.large-2 {
	.community-badge {
		margin-top: -12px;

		img {
			width: 79px;
		}
	}
}

.community-badge {
	img {
		-webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
		-moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
		box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
		position: relative;
	}

	p {
		color: #666666;
		font-size: 1.5rem;
		line-height: 1.25;
	}
}
