$editor-border-width: 4px;
$editor-toolbar-height: 40px;
$editor-textarea-paddings: 17px 17px 17px 64px;
$sticky-editor-width: 529px;
$success-icon-size: 80px;

.discussion {
	.editor-container {
		button {
			background: none;
			border: 0;
			display: none;
			font-size: $type-smallest;
			font-weight: bold;
			margin: 0;
			position: absolute;
			text-transform: none;
		}
		.editor-close {
			display: none;
		}

		span {
			&.error {
				background-color: $discussion-editor-error-background-color;
				color: $discussion-editor-error-text-color;
				font-size: $type-min;
				margin: 0;
				padding: 0;
				text-align: center;
			}
		}
	}

	.discussion-editor {
		&.active {
			button {
				display: inline-block;
			}
		}

		.loading-overlay {
			height: 100%;
			position: absolute;

			.spinner {
				margin-top: -32px;
			}

			.success {
				display: block;
				height: $success-icon-size;
				margin: - $success-icon-size / 2 auto 0;
				position: relative;
				top: 50%;
				width: $success-icon-size;
			}
		}
	}

	.editor-wrapper {
		background-color: $discussion-editor-background-color;
	}

	.editor-textarea {
		background-color: inherit;
		border: 0;
		border-radius: 0;
		margin: 0;

		&:focus {
			border: 0;
			box-shadow: none;
		}
	}

	@media #{$mobile-range} {
		.discussion-editor {
			span {
				&.error {
					align-items: center;
					background-color: #f6f6f6;
					color: $discussion-editor-error-background-color;
					display: flex;
					font-size: $type-smallest;
					height: $editor-toolbar-height;
					justify-content: center;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}

			&.active {
				display: block;

				.editor-container {
					background: $discussion-editor-background-color;
					height: 100%;
					position: fixed;
					top: 0;
					width: 100%;
					z-index: $z-8;
				}

				button {
					right: 0;
					top: 0;
				}

				.editor-close {
					display: inline-block;
					left: 10px;
					position: absolute;
					top: 10px;
					width: 18px;
				}

				.editor-wrapper {
					height: calc(100% - #{$editor-toolbar-height});
				}

				.editor-textarea {
					border-top: 1px solid #e1e1e1;
					height: 100%;
					padding: $editor-toolbar-height 10px 10px;
					position: relative;
					top: $editor-toolbar-height;
					width: 100%;
				}

				.editor-label {
					color: #999;
					font-size: $type-min;
					font-weight: 700;
					margin: 10px;
					position: absolute;
					text-transform: uppercase;
					top: $editor-toolbar-height;
				}

				.user-avatar {
					display: none;
				}
			}

			&.has-error {
				.error-container {
					padding-top: $editor-toolbar-height;
				}

				.editor-wrapper {
					height: calc(100% - #{2 * $editor-toolbar-height});
					padding-top: $editor-toolbar-height;
				}

				.editor-label {
					top: 2 * $editor-toolbar-height;
				}

				.editor-close {
					top: $editor-toolbar-height + 10px;
				}

				button {
					top: $editor-toolbar-height;
				}
			}
		}
	}

	@media #{$desktop-range} {
		.editor-container {
			background-color: $discussion-editor-toolbar-background-color;
			border: $editor-border-width solid $discussion-editor-border-color;
			margin: 0 auto 5px;
			position: relative;

			.editor-textarea {
				border-bottom: 1px solid $secondary-color;
				min-height: $line-height-smaller;
				height: $line-height-smaller;
				padding: 0;
				resize: none;
				transition: min-height .2s ease;
			}

			.editor-wrapper {
				padding: $editor-textarea-paddings;
			}

			&.sticky {
				margin-left: ($discussion-page-width - $sticky-editor-width) / 2;
				position: fixed;
				top: rem-calc(50 - 4);
				transition: top 0.5s;
				width: $sticky-editor-width;
				z-index: 1;

				&.pinned-top {
					top: - $editor-border-width;
				}
			}

			button {
				bottom: 0;
				height: $editor-toolbar-height;
				padding: 0 1.25rem;
				right: 0;
			}

			.user-avatar {
				left: 10px;
				position: absolute;
				top: 10px;
			}
		}

		.discussion-editor.active {
			.editor-container {
				padding-bottom: $editor-toolbar-height;
			}

			.editor-textarea {
				min-height: 106px;
				max-height: 400px;
				padding: $editor-textarea-paddings;
				resize: vertical;
			}

			.editor-wrapper {
				padding: 0;
			}
		}
	}

	// TODO move to styleguide
	.avatar svg {
		border: 2px solid #fff;
		border-radius: 50%;
		height: 36px;
		width: 36px; }
}
