$discussion-header-line-height: 45px;
$discussion-header-color-text: #fff;

.discussion-header {
	color: $discussion-header-color-text;
	margin-top: $global-nav-height;
	max-width: inherit;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-site-head - 1; // drop-downs from top-bar component display over the discussion header

	&.un-pinned {
		margin-top: $theme-bar-height;
	}

	.header {
		height: $discussion-header-height;
		overflow: hidden;
		padding: 0 15px;
	}

	h1 {
		color: $discussion-header-color-text;
		float: left;
		font-size: $type-smaller;
		line-height: $discussion-header-line-height;
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
		width: 180px;
	}

	.icon.dropdown {
		height: 4px;
		margin-left: 5px;
		vertical-align: middle;
		width: 7px;
	}

	.sort {
		cursor: pointer;
		float: right;
		font-size: $type-smallest;
		line-height: $discussion-header-line-height;
		text-align: right;
		width: 110px;
	}

	.sort-select {
		// This is intentional for theming -- use text color as background color
		background-color: $discussion-header-color-text;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
		list-style-type: none;
		margin: 0;
		padding: 4px 20px 4px 0;
		position: absolute;
		right: 5px;
		text-align: right;
		top: 5px;
		width: 110px;

		li {
			cursor: pointer;
			font-size: $type-smallest;
			line-height: 28px;
		}
	}
}

@for $i from 1 through length($verticals) {
	.#{nth($verticals, $i)}-vertical .discussion-header {
		.header {
			background-color: #{nth($vertical-colors, $i)};
		}

		.sort-select {
			color: #{nth($vertical-colors, $i)};
		}
	}
}
