$reply-editor-width: 563px;
$reply-editor-folded-height: 49px;
$reply-editor-margin-left: -20px;

.discussion {
	.reply-editor {
		.editor-container {
			margin-left: $reply-editor-margin-left;
			width: $reply-editor-width;

			&.sticky {
				margin-left: $reply-editor-margin-left;

				&.pinned-bottom {
					//To hide bottom border and compensate margin when editor is sticky
					bottom: -4px;
					margin-bottom: 0;
					top: initial;
				}
			}
		}
	}
}

@media #{$mobile-range} {
	.discussion-editor.reply-editor {
		height: $reply-editor-folded-height;

		.editor-container {
			border-top: 4px solid $discussion-mobile-reply-editor-border-color;
			bottom: 0;
			height: $reply-editor-folded-height;
			margin-bottom: 0;
			margin-left: 0;
			position: fixed;
			width: 100%;
		}

		.editor-wrapper {
			padding: 12px 17px 10px 54px;
		}

		.avatar {
			img, svg {
				height: 30px;
				width: 30px;
			}
		}

		&.is-active {
			.editor-container {
				border: 0;
			}
		}
	}
}
