.discussion-sort {
	// This is intentional for theming -- use text color as background color
	background-color: $color-white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	list-style-type: none;
	margin: 0;
	padding: 4px 20px 4px 0;
	position: absolute;
	right: 5px;
	text-align: right;
	top: 5px;
	width: 110px;
	z-index: $z-modal-dialog;

	li {
		cursor: pointer;
		font-size: $type-smallest;
		line-height: 28px;
	}
}

@media #{$mobile-range} {
	.discussion-sort.mobile-hidden {
		display: none;
	}
}

@media #{$desktop-range} {
	.discussion-sort {
		background-color: transparent;
		box-shadow: none;
		margin: 17px auto 10px auto;
		padding: 0;
		position: static;
		text-align: center;
		width: $discussion-page-width;
		z-index: auto;

		li {
			&.not-active {
				border-bottom-color: $discussion-sort-color;
				color: $discussion-sort-color;
			}

			border-bottom: 4px solid;
			float: left;
			font-size: $type-smaller;
			font-weight: $font-weight-bold;
			height: 50px;
			line-height: 50px;
			width: 50%;
		}
	}
}
