@media #{$xlarge-up} {
	.three-column {
		.community-badge {
			width: 3 * $column-width-xlarge;
		}
	}
	.two-column {
		.community-badge {
			width: 2 * $column-width-xlarge;
		}
	}
}

@media #{$xxlarge-up} {
	.three-column {
		.community-badge {
			width: 3 * $column-width-xxlarge;
		}
	}
	.two-column {
		.community-badge {
			width: 2 * $column-width-xxlarge;
		}
	}
}

.three-column {
	.community-badge {
		img {
			width: 125px;
		}
	}
}

.two-column {
	.community-badge {
		img {
			width: 79px;
		}
	}
}
