.featured-content {
	margin-bottom: 20px;
	position: relative;
	width: 100%;
}

.featured-content-item {
	background: {
		color: rgb(223,223,223);
		image: url('../../images/brackets.svg');
		position: center;
		repeat: no-repeat;
		size: contain;
	}
	display: block;

	img {
		vertical-align: baseline;
		width: 100%;
	}

	figcaption {
		@extend %ellipsis;

		background: linear-gradient(to top, rgba(0, 0, 0 , .7), rgba(255, 255, 255, 0));
		bottom: 0;
		color: white;
		font-size: 28px;
		height: 100px;
		padding: 30px 10px 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}

.featured-content-pagination {
	bottom: 15px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 0);
}
