.local-nav-menu {
	bottom: 0;
	left: 0;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: absolute;
	right: 0;
	top: rem-calc(44);

	li {
		@extend %pointer;
		border-bottom: rem-calc(1) solid #d0d0d0;
		color: #333333;
		font-weight: normal;
		list-style: none;
		overflow: hidden;
		position: relative;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;

		a, div {
			@extend .touch-active;
			display: block;
			overflow: hidden;
			padding: rem-calc(10) $side-nav-item-gutter;
			text-overflow: ellipsis;
			width: 100%;
		}

		.chevron {
			float: right;
			margin-top: rem-calc(8);
			transform: rotate(-90deg);

			&.back {
				float: left;
				margin-right: rem-calc(5);
				transform: rotate(90deg);
			}
		}

		.random-article-link {
			color: $anchor-font-color;
		}
	}

	.title {
		background-color: #e0e0e0;
		border-bottom: 0;
		color: #123054;
		font-size: rem-calc(12);
		font-weight: bold;
		padding: rem-calc(1) $side-nav-item-gutter;
		text-align: left;
		text-transform: uppercase;
		width: 100%;
	}
}

&.search .local-nav-menu {
	visibility: hidden;
}
