.share-feature {
	text-align: right;

	.icon {
		height: 32px;
		margin-left: 5px;
		width: 32px;
	}
}

.share-header {
	.share-feature {
		.icon {
			margin-top: 5px;
		}
	}
}

@media #{$mobile-range} {
	.discussion .post-detail .share-feature {
		display: none;
	}
}

@media #{$desktop-range} {
	.discussion {
		&.forum .share-feature {
			height: 27px;
			margin-top: -5px;
			overflow: hidden;
			padding-right: 15px;
		}

		.share-feature {
			.icon {
				height: 32px;
				width: 32px;
			}
		}
	}
}
