.share-feature {
	display: block;
	text-align: right;

	.is-deleted & {
		display: none;
	}

	.icon {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		height: 24px;
		margin-left: 5px;
		width: 24px;
	}
}

@media #{$mobile-range} {
	.discussion .post-detail .share-feature {
		display: none;
		padding-right: 10px;
	}
}

@media #{$desktop-range} {
	.discussion {
		&.forum .share-feature {
			height: 25px;
			min-width: 100px;
			padding-right: 15px;
		}

		.share-feature {
			.icon {
				height: 24px;
				width: 24px;
			}
		}
	}
}
