.side-nav {
	// open nav button
	.nav-container {
		@extend .touch-active;
		@extend %pointer;
		display: inline-block;
		float: left;
		height: 50px;
		padding-top: rem-calc(15);
		width: rem-calc(60);

		svg {
			display: block;
			height: rem-calc(20);
			margin: auto;
			width: rem-calc(34);
		}
	}

	// overlay
	.overlay {
		@extend %pointer;
		@include perfect-square(100%);
		background-color: black;
		left: 0;
		position: fixed;
		top: 0;
		z-index: $z-side-nav-overlay;
	}

	// slide-out drawer
	.drawer {
		background-color: white;
		height: 100%;
		position: fixed;
		top: 0;
		transition: transform $transition-length;
		z-index: $z-side-nav;

		.clear-search-btn {
			@include perfect-square(45px);
			cursor: pointer;
			left: rem-calc(214);
			padding: {
				top: rem-calc(11);
				left: rem-calc(20);
			}
			position: absolute;
			top: 0;
			user-select: none;
			visibility: hidden;
		}

		.icon.search-side-menu {
			left: rem-calc(90);
			position: absolute;
			top: rem-calc(15);
		}

		input {
			@extend .type-smallest;
			background-color: white;
			border-color: #d0d0d0;
			border-radius: $border-radius-global;
			border: rem-calc(1) solid $search-box-border-color;
			float: left;
			height: rem-calc(28);
			left: 0;
			margin: rem-calc(8) rem-calc(13);
			outline: none;
			padding-left: rem-calc(95);
			padding-right: rem-calc(25);
			top: 0;
			width: $side-nav-width - (2 * $side-nav-item-gutter);
		}

		.search-container {
			border-bottom: rem-calc(1) solid #d0d0d0;
			left: 0;
			position: absolute;
			right: 0;
			text-align: left;
			height: rem-calc(45);

			// Cancel search div
			.cancel {
				@extend %pointer;
				@extend .type-smallest;
				color: #006598;
				padding: rem-calc(11) rem-calc(13);
				position: absolute;
				right: 0;
			}
		}

		::placeholder {
			color: $search-box-text-color;
		}

		&.search {
			overflow: {
				x: hidden;
				y: auto;
			}
			visibility: visible;
			width: 100%;

			.clear-search-btn {
				visibility: visible;
			}

			.icon.search-side-menu {
				left: rem-calc(20);
			}

			input {
				padding-left: rem-calc(25);
				width: rem-calc(243);
			}
		}

		&:not(.search) {
			width: $side-nav-width;

			.cancel {
				visibility: hidden;
			}
		}
	}

	&.collapsed {
		.drawer {
			transform: translateX($side-nav-offset);

			@include rtl {
				transform: translateX(-$side-nav-offset);
			}
		}

		.overlay {
			opacity: 0;
			transition: visibility 0s $transition-length, opacity $transition-length;
			visibility: hidden;
		}
	}

	&.slide-into-view {
		.drawer {
			transform: translateX(0);
		}

		.overlay {
			opacity: $overlay-opacity;
			transition: opacity $transition-length;
			visibility: visible;
		}
	}
}
