.side-nav {
	// open nav button
	.nav-container {
		@extend .touch-active;
		display: inline-block;
		float: left;
		height: 50px;
		padding-top: rem-calc(15);
		width: rem-calc(60);

		svg {
			display: block;
			height: rem-calc(20);
			margin: auto;
			width: rem-calc(34);
		}
	}

	// overlay
	.overlay {
		@include perfect-square(100%);
		background-color: $modal-background;
		left: 0;
		position: fixed;
		top: 0;
		z-index: $z-side-nav-overlay;
	}

	// slide-out drawer
	.drawer {
		background-color: $color-white;
		height: 100%;
		position: fixed;
		top: 0;
		transition: transform $transition-length;
		z-index: $z-side-nav;

		.search-input-container {
			flex: 1;
			position: relative;
		}

		.clear-search-btn {
			@include perfect-square(45px);
			padding: {
				left: rem-calc(20);
				top: rem-calc(11);
			}
			position: absolute;
			right: 0;
			top: 0;
			user-select: none;
		}

		.icon.search-side-menu {
			left: rem-calc(90);
			position: absolute;
			top: rem-calc(15);
		}

		input,
		input:focus {
			background-color: $color-white;
			border: 1px solid $search-box-border-color;
			border-radius: $border-radius-global;
			height: rem-calc(28);
			left: 0;
			margin: rem-calc(8) rem-calc(13);
			outline: none;
			padding: {
				bottom: .5rem;
				left: rem-calc(95);
				right: rem-calc(25);
				top: .5rem;
			}
			top: 0;
			width: calc(100% - #{2 * $side-nav-item-gutter});
		}

		.search-container {
			border-bottom: 1px solid $color-gray-semi;
			display: flex;
			height: rem-calc(45);
			left: 0;
			position: absolute;
			right: 0;
		}

		// Cancel search div
		.cancel {
			color: $link-color;
			padding: rem-calc(11) rem-calc(13);
			right: 0;
		}

		::placeholder {
			color: $search-box-text-color;
		}

		&.search {
			visibility: visible;
			width: 100%;

			.icon.search-side-menu {
				left: rem-calc(20);
			}

			input {
				margin-right: 0;
				padding-left: rem-calc(25);
				width: calc(100% - #{$side-nav-item-gutter});
			}
		}

		&:not(.search) {
			width: $side-nav-width;

			.cancel {
				display: none;
			}

			.clear-search-btn {
				display: none;
			}
		}
	}

	&.collapsed {
		.drawer {
			transform: translateX($side-nav-offset);

			@include rtl {
				transform: translateX(-$side-nav-offset);
			}
		}

		.overlay {
			opacity: 0;
			transition: visibility 0s $transition-length, opacity $transition-length;
			visibility: hidden;
		}
	}

	&.slide-into-view {
		.drawer {
			transform: translateX(0);
		}

		.overlay {
			opacity: $overlay-opacity;
			transition: opacity $transition-length;
			visibility: visible;
		}
	}
}
