.side-nav {
	svg {
		pointer-events: none;
	}

	// overlay
	.overlay {
		@include perfect-square(100%);
		background-color: $overlay-color;
		left: 0;
		position: fixed;
		top: 0;
		z-index: $z-side-nav-overlay;
	}

	// slide-out drawer
	.drawer {
		background-color: $color-white;
		height: 100%;
		position: fixed;
		top: 0;
		transition: transform $transition-length;
		z-index: $z-side-nav;

		.search-container {
			border-bottom: 1px solid $color-gray-semi;
			display: flex;
			height: rem-calc(45);
			left: 0;
			position: absolute;
			right: 0;
		}

		.search-input-container {
			flex: 1;
			position: relative;
		}

		.icon.search-side-menu {
			left: rem-calc(90);
			position: absolute;
			top: rem-calc(15);
		}

		input,
		input:focus {
			background-color: $color-white;
			border: 1px solid $search-box-border-color;
			border-radius: $border-radius-global;
			height: rem-calc(28);
			margin: rem-calc(8) rem-calc(13);
			outline: none;
			padding: {
				bottom: .5rem;
				left: rem-calc(95);
				right: rem-calc(40);
				top: .5rem;
			}
			width: calc(100% - #{2 * $side-nav-item-gutter});

			&::placeholder {
				color: $search-box-text-color;
			}
		}

		.clear-search-btn {
			height: 100%;
			padding: {
				left: rem-calc(15);
				top: rem-calc(12);
			}
			position: absolute;
			right: 0;
			top: 0;
			user-select: none;
			width: rem-calc(40);
		}

		// Cancel search div
		.cancel {
			color: $link-color;
			padding: rem-calc(11) rem-calc(13);
			right: 0;
		}

		&.search {
			visibility: visible;
			width: 100%;

			.icon.search-side-menu {
				left: rem-calc(20);
			}

			input {
				margin-right: 0;
				padding-left: rem-calc(25);
				width: calc(100% - #{$side-nav-item-gutter});
			}
		}

		&:not(.search) {
			width: $side-nav-width;

			.clear-search-btn,
			.cancel {
				display: none;
			}
		}
	}

	&.collapsed {
		.drawer {
			transform: translateX($side-nav-offset);

			@include rtl {
				transform: translateX(-$side-nav-offset);
			}
		}

		.overlay {
			opacity: 0;
			transition: visibility 0s $transition-length, opacity $transition-length;
			visibility: hidden;
		}
	}

	&.slide-into-view {
		.drawer {
			transform: translateX(0);
		}

		.overlay {
			opacity: $overlay-opacity;
			transition: opacity $transition-length;
			visibility: visible;
		}
	}
}

/// 2016!

.side-nav.collapsed .drawer.drawer-2016 {
	transform: translateX(-100%);

	@include rtl {
		transform: translateX(100%);
	}
}

.side-nav .drawer.drawer-2016 {
	background: #39414d;
	color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
}

$side-nav-item-height: 3.125rem;

.drawer__footer {
	height: $side-nav-item-height;
	flex-grow: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		border-bottom: 1px solid;
		border-top: 1px solid;
		color: #8193a4;
		display: block;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		text-transform: uppercase;
		height: 20px;
	}
}

.drawer__contents {
	flex-grow: 1;
}

.drawer__header {
	background: #fff;
	height: $side-nav-item-height;
	flex-grow: 0;

	.close {
		align-items: center;
		display: flex;
		float: left;
		height: $side-nav-item-height;
		justify-content: center;
		width: $side-nav-item-height;
	}

	.wordmark {
		display: block;
		height: $side-nav-item-height;
		text-align: center;
		margin: 0 $side-nav-item-height;
	}

	.icon--close {
		height: 24px;
		width: 24px;
	}
}

.drawer__item {
	color: inherit;
	display: block;
	line-height: 3.125rem;
	font-size: 20px;
	font-weight: bold;
	padding: 0 1rem;
	margin: .125rem 0;
	position: relative;

	&.main {
		background: #636b76;
		margin-top: 0;
	}

	&:not(.main)::before {
		display: block;
		content: ' ';
		background: $link-color;
		position: absolute;
		left: 0;
		width: .5rem;
		height: 100%;
	}
}
