$z-header: $z-6;

.site-body {
	margin-top: $icon-site-head-width;
}

.site-head {
	@extend .row;
	@extend .small-12;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid $color-blue-gray-light;
	direction: ltr;
	height: rem-calc(50);
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: $z-site-head;

	.site-logo {
		// These prevent the Wikia logo element from taking up more vertical
		// space than it should, potentially affecting placement of elements
		// beneath it.
		height: rem-calc(50);
		overflow: hidden;

		svg {
			// keep it same as .icon.wikia-logo
			height: 3.125rem;
			width: 5rem;
		}
	}

	.avatar {
		float: right;
		position: relative;
		right: 6px;
		top: 6px;
	}
}

.smart-banner-visible {
	.headroom-top {
		position: absolute;
	}

	&.system-android {
		.headroom-top {
			top: $smart-banner-android-height;
		}
	}

	&.system-ios {
		.headroom-top {
			top: $smart-banner-ios-height;
		}
	}
}

.headroom-not-top {
	&.pinned {
		transform: none;
	}

	&.un-pinned {
		transform: translateY(-100%);
	}
}

.side-nav-toggle {
	@extend .touch-active;
	display: inline-block;
	float: left;
	height: $icon-site-head-height;
	padding-top: rem-calc(15);
	width: $icon-site-head-width;

	svg {
		display: block;
		margin: auto;
	}
}
