.top-bar-component {
	position: fixed;
	top: 0;
	width: 100%; // needed for headroom js when it sets position to absolute
	z-index: $z-site-head;
}

top-bar {
	border-bottom: 1px solid $color-blue-gray-light;
	direction: ltr;
	height: $top-bar-height;
	max-width: inherit;
	position: static;

	&::shadow {
		.inner {
			padding-left: 15px;
			padding-right: 15px;
		}

		.logo-wrapper {
			line-height: 100%;
		}

		::content .wikia-logo {
			height: 2rem;
		}
	}
}
