top-bar {
	border-bottom: 1px solid $color-blue-gray-light;
	direction: ltr;
	max-width: inherit;
	z-index: $z-site-head;
}

user-status::shadow .drawer ::content li {
	border-color: $color-blue-gray-light;
}

