$image-spacing: 5px;

.trending {
	margin: 2rem 0 0;
	padding: 0 $image-spacing;
	line-height: 0;

	h2 {
		color: $color-blue-light;
		font-size: $type-smaller;
		line-height: $line-height-smaller;
		margin: .5rem 0;
		padding: 0 .5rem;
		text-align: left;
		text-transform: uppercase;
	}

	.item-image {
		@extend %image-placeholder;
		line-height: 1.25rem;
	}

	.item-figcaption {
		color: $color-gray-dark;
		font-size: $type-smallest;
		font-weight: bold;
		line-height: $line-height-smallest;
		padding: .25rem;
	}
}
