$image-spacing: 5px;

.trending {
	padding: 0 $image-spacing;
	line-height: 0;
	text-align: justify;

	h2 {
		color: $color-blue-light;
		font-size: $type-smaller;
		line-height: $line-height-smaller;
		margin: $subheader-top-margin 0 $subheader-bottom-margin;
		padding: 0 .5rem;
		text-align: left;
		text-transform: uppercase;
	}

	.item-image {
		@include image-placeholder;
		line-height: 1.25rem;
	}

	.item-figcaption {
		color: $color-gray-dark;
		font-size: $type-smallest;
		font-weight: bold;
		line-height: $line-height-smallest;
		padding: .25rem;
	}
}
