.user-avatar {
	display: inline-block;

	.avatar-username {
		display: inline-block;
		font-size: $type-min;
		max-width: 140px;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		white-space: nowrap;
	}
}
