
.auth-content {
	background-color: $auth-content-background-color;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 14px 18px;

	* {
		-webkit-tap-highlight-color: Transparent;
	}

	//Temporary changes for the Login MVP
	form {
		margin: auto;
		max-width: 720px;
	}
}

.desktop-view {
	background-color: $auth-content-background-color;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 25px 0;
	width: 100%;

	.auth-content {
		flex-grow: initial;
		float: left;
		margin: 0 25px 25px;
		min-width: 200px;
		max-width: 350px;
		width: calc(50% - 50px);
	}
}

.standalone {
	.desktop-view {
		align-self: center;
		border: $border-color solid;
		border-width: 0 1px 1px;
		flex-grow: 0;
		flex-shrink: 0;
		margin: 0 auto 19px;
		max-width: $desktop-content-max-width;
		min-width: $desktop-content-min-width;
	}
}

.desktop {
	.auth-content {
		h6 {
			font-size: 1rem;
			margin-bottom: 2px;
		}
		margin-bottom: 15px;
		padding-bottom: 0;
	}

	.desktop-view {
		min-width: $desktop-content-min-width;
	}
}
