.auth-header {
	padding: 20px 24px 20px;
	text-align: center;
	width: 100%;

	.header-callout-link {
		padding: 0;
	}
}

.standalone {
	.auth-header {
		align-self: center;
		flex-grow: 0;
		flex-shrink: 0;
		margin: 19px auto 0;
		max-width: $desktop-content-max-width;
		min-width: $desktop-content-min-width;
		padding: 38px 24px 50px;
	}
}

.desktop {
	.auth-header {
		min-height: 58px;
		min-width: $desktop-content-min-width;
		padding: 30px 24px 46px;
		position: relative;

		h1 {
			margin: 0;
		}

		&::after {
			background-image: url('/front/common/symbols/fandom-logo-mark.svg');
			background-position: center;
			background-size: 42px;
			border: 4px solid $fandom-logo-mark-border-color;
			border-radius: 100%;
			bottom: - $circle-logo-size / 2;
			content: " ";
			display: block;
			height: $circle-logo-size;
			left: 50%;
			margin-left: - $circle-logo-size / 2;
			position: absolute;
			width: $circle-logo-size;
		}

		p {
			margin: 0 0 1rem;
		}
	}

	&.register-fb-page,
	&.fb-connect-page {
		.auth-header {
			padding-top: 40px;
		}
	}
}
