{{#unless noAds}}
	<div id="InvisibleHighImpactWrapper" class="hidden invisible-high-impact-wrapper">
		<div class="background"></div>
		<div class="top-bar">
			<a class="close">
				{{svg 'close' role='img' class='icon close-button'}}
			</a>
			<div class="label">Advertisement</div>
		</div>
		<div id="{{name}}" class="ad-slot hidden {{nameLowerCase}}"></div>
	</div>
{{/unless}}
