<div id="InvisibleHighImpactWrapper" class="hidden">
	<div class="background"></div>
	<a class="close">
		{{svg 'close' role='img' class='icon close-button'}}
	</a>
	<div class="label">Advertisement</div>
	<div id="{{name}}" class="ad-slot hidden"></div>
</div>
