<div id="InvisibleHighImpactWrapper" class={{unless renderInterstitial "hidden"}}>
	<div class="background"></div>
	<a class="close">
		<div class="close-button"></div>
	</a>
	<div class="label">Advertisement</div>
</div>
