.companyinfo {
	$base-line-height: 1.5em !default;
	$base-spacing: 1.5em !default;
	$action-color: #477DCA !default;
	$dark-gray: #333 !default;
	$large-screen: em(860) !default;
	$base-font-color: $dark-gray !default;

	display: inline-block;

	@include media($large-screen) {
		padding-top: 3.1rem;
	}

	a {
		color: $action-color;
		text-decoration: none;
	}

  	li {
	  padding-bottom: 30px;
	}

	aside {
		@include media($large-screen) {
			@include span-columns(4);
		}
	}

	.companyinfo-link {
		border-bottom: 1px solid transparentize($action-color, .8);
		display: block;
		font-weight: bold;
		margin-right: $base-spacing;
		outline: none;
		padding: ($base-spacing / 2) 0;

		&:last-child {
			margin-bottom: $base-spacing;
		}
	}

	article {
		@include media($large-screen) {
			@include span-columns(8);
		}

		h4 {
			margin: 0 0 .5em;
		}

		p {
			color: $base-font-color;
			line-height: $base-line-height;
		}

		section p:last-of-type {
			margin-bottom: 2em;
		}
	}
}

.companyinfo-table {
	$base-border-color: gainsboro !default;
	$base-border-radius: 3px !default;
	$base-background-color: white !default;
	$base-line-height: 1.5em !default;
	$base-spacing: 1.5em !default;
	$action-color: #477DCA !default;
	$dark-gray: #333 !default;
	$light-gray: #DDD !default;
	$medium-screen: em(640) !default;
	$large-screen: em(860) !default;
	$base-font-color: $dark-gray !default;
	$table-border-color: $base-border-color;
	$table-border: 1px solid $table-border-color;
	$table-background: $base-background-color;
	$table-header-background: darken($table-background, 10);
	$table-hover-background: darken($table-background, 2);
	$table-stripe-background: darken($table-background, 4);
	$table-stripe-background-hover: darken($table-stripe-background, 5);
	$table-padding: .75em 1em;

	border-collapse: separate;
	border-spacing: 0;
	width: 100%;

	tbody {
		background-color: $table-background;

		td {
			border-bottom: 0;
			border-top: 1px solid $table-border-color;
			line-height: $base-line-height;
			padding: $table-padding;

			button {
				display: inline-block;
				font-size: .7em;
				line-height: $base-line-height;
				margin-bottom: .3em;
				margin-right: .5em;
				outline: none;
				padding: .3em 1em;
				width: 100%;

				@include media($medium-screen) {
					margin-bottom: 0;
					width: auto;
				}
			}
		}

		tr:hover > td, tr:hover > th {
			background-color: $table-hover-background;
		}

		tr:first-child td {
			border-top: 2px solid $table-border-color;
		}

		tr:nth-child(even) {
			background-color: $table-stripe-background;

			&:hover > td {
				background-color: $table-stripe-background-hover;
			}
		}
	}

	thead {
		th {
			background-color: $table-header-background;
			border-bottom: 0;
			padding: $table-padding;
			text-align: left;
		}
	}
}
