
$horizontal-bar-mode: 800px;
$mobile-hero-slider: new-breakpoint(max-width 750px);
$desktop-hero-slider: new-breakpoint(min-width 751px);
$small-mobile-slider: new-breakpoint(max-width 380px);
$mobile-slider:  new-breakpoint(min-width 381px max-width 615px);
$mobile-slider-2row: new-breakpoint(min-width 616px max-width 1140px);
$desktop-slider: new-breakpoint(min-width 1141px);

.featured {
	display: none;
	margin: 4em auto;
	max-width: 1150px;

	@include media ($desktop-slider) {
		display: block;
	}
}

.featured-mobile-2row {
	display: none;
	margin: 4em auto 0;
	max-width: 650px;

	@include media ($mobile-slider-2row) {
		display: block;
	}
}

.featured-mobile-2col-wrapper {
	position: relative;
	width: 550px;
}

.featured-mobile-4col-wrapper {
	position: relative;
}

.featured-mobile {
	display: none;
	max-width: 250px;
	padding-left: 0;
	padding-right: 0;

	@include media ($small-mobile-slider) {
		display: block;
	}

	@include media ($mobile-slider) {
		display: block;
	}
}

.featured-title {
	font-size: 26px;

	@include media ($desktop-hero-slider) {
		padding-top: 25px;
	}

	@include media ($mobile-slider-2row) {
		margin-left: 10px;
		margin-right: 10px;
	}

	@include media ($mobile-slider) {
		text-align: center;
	}

	@include media ($small-mobile-slider) {
		font-size: 16px;
	}
}

.featured-title-large {
	font-size: 36px;
}

.featured-mobile-slide {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 250px;
}

.featured-mobile-slide-padding {
	height: 25px;
	width: 100%;
}

.featured-mobile-slide-2col {
	margin-left: 10px;
	margin-right: 10px;
}

.featured-mobile-slide-4col {
	margin-left: 10px;
	margin-right: 10px;
}

.hero {
	display: none;
	margin-left: auto;
	margin-right: auto;
	max-height: 500px;
	max-width: 1280px;
	padding-top: 54px;

	@include media ($desktop-hero-slider) {
		display: block;
	}
}

.hero-mobile {
	display: none;
	margin-left: auto;
	margin-right: auto;
	max-height: 560px;
	max-width: 615px;
	padding-top: 54px;

	@include media ($mobile-hero-slider) {
		display: block;
	}
}

.hero-text {
	bottom: 60px;
	left: 100px;
	position: absolute;
	z-index: 1;

	h1 {
		font-size: 2.5em;
		line-height: 1;
	}

	h2 {
		font-size: 1.3em;
		line-height: 1;
	}

	h3 {
		font-size: 1em;
		line-height: 1;
	}
}

.hero-text-overlay {
	background-color: black;
	bottom: 0;
	color: white;
	font-size: 15px;
	font-weight: bold;
	height: 48px;
	left: 0;
	opacity: .6;
	padding-left: 5px;
	padding-top: 3px;
	position: absolute;
	width: 250px;
}

.hero-text-shadow {
	color: white;
	text-shadow:
	1px 2px 0 #000,
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.hero-text-shadow:hover {
	color: white;
	text-shadow:
	1px 2px 0 #000,
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.hero-text-white {
	color: white;
}

.hero-text-white:hover {
	color: white;
}

.hero-english-overlay {
	background-color: blue;
	color: white;
	font-size: 15px;
	height: 24px;
	left: 0;
	opacity: .6;
	padding-top: 1px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 50px;
}

.hero-english-overlay:after {
	content: '英語';
}

.hero-text-overlay-large {
	background-color: black;
	bottom: 0;
	font-size: 15px;
	font-weight: bold;
	height: 140px;
	left: 0;
	line-height: 1;
	opacity: .6;
	padding-left: 5px;
	padding-top: 7px;
	position: absolute;
	text-align: center;
	width: 100%;

	@include media ($small-mobile-slider) {
		font-size: 13px;
		height: 100px;
	}

	h1 {
		font-size: 1.3em;
	}

	h2 {
		font-size: .75rem;
	}

	h3 {
		font-size: 1rem;
	}
}

.hero-mobile-padding {
	@include media ($horizontal-bar-mode) {
		display: none;
	}
}

.hero-image-desktop {
	@include media ($small-mobile-slider) {
		display: none;
	}

	@include media ($mobile-slider) {
		display: none;
	}
}

.hero-image-mobile {
	@include media ($desktop-slider) {
		display: none;
	}
}

.hero-link {
	cursor: pointer;
	font-size: 1.3rem;

	@include media ($small-mobile-slider) {
		font-size: 1rem;
	}

	@include media ($mobile-slider) {
		font-size: 1.1rem;
	}
}
