$mobile-slider:  new-breakpoint(max-width 920px);

.joinwikia {
	$text-color: white;
	$title-background: #092344;
	$community-image: '/images/community.png';
	$university-image: '/images/university.png';

	color: $text-color;
	font-size: 26px;
	width: 100%;

	.description {
		background-repeat: no repeat;
		background-size: cover;
		height: 500px;
		vertical-align: top;
		width: 50%;	
		
		@include media ($mobile-slider) {
			width: 100%;
		}
	}

	.jw-community-central {
		background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url($community-image);
		background-repeat: no-repeat;
		background-size: cover;
		float: left;
		padding: 280px 50px 0;

		@include media ($mobile-slider) {
			padding: 100px 50px 0;
		}
	}

	.jw-title {
		background-color: $title-background;
		font-weight: bold;
		padding: .6em 0;
		text-align: center;
	}

	.jw-wikia-university {
		background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url($university-image);
		background-repeat: no-repeat;
		background-size: cover;
		float: right;
		padding: 100px 50px 0;
	}

	.subtitle {
		font-weight: bold;
	}

	.message {
		font-size: .7em;
	}

	.link-to {
		cursor: pointer;
		font-size: .55em;
		margin-top: 1em;
	}
}
