
$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$create-wikia-button-color: #656e78;
$create-wikia-button-padding: rem-calc(9px);
$large-screen: 710px;
$navigation-padding: 1em;
$navigation-background: white;
$navigation-color: transparentize($dark-gray, .5);
$navigation-color-hover: $dark-gray;
$navigation-height: rem-calc(48);
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize($navigation-background, .5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;

header.navigation {
	background-color: $navigation-background;
	border-bottom: 1px solid darken($navigation-background, 10);
	min-height: $navigation-height;
	width: 100%;
	z-index: 999;

	@include media ($horizontal-bar-mode) {
		position: fixed;
	}

	.navigation-wrapper {
		height: 53px;
		margin-left: auto;
		margin-right: auto;
		max-width: 50em;
		position: relative;
		z-index: 9999;
	}

	.create-wikia {
		display: none;

		@include media ($horizontal-bar-mode) {
			display: inline-block;
		}
	}

	.create-wikia-button {
		border: solid 1px $create-wikia-button-color;
		color: $create-wikia-button-color;
		display: inline-block;
		font-size: .75rem;
		height: rem-calc(30px);
		line-height: rem-calc(28px);
		margin-bottom: $create-wikia-button-padding;
		margin-top: $create-wikia-button-padding;
		padding: 0 rem-calc(10px);
	}

	.logo {
		float: left;
		max-height: $navigation-height;
		padding-left: $navigation-padding;
		padding-right: 2em;

		img {
			align-content: center;
			max-height: $navigation-height;
			padding-top: 0;
		}
	}

	// Nav menu

	nav {
		float: none;
		min-height: $navigation-height;
		z-index: 9999999;

		@include media ($horizontal-bar-mode) {
			float: left;
		}
	}

	ul.navigation-menu {
		clear: both;
		display: none;
		margin: 0 auto;
		overflow: visible;
		padding: 0;
		transform-style: preserve-3d; // stop webkit flicker
		width: 100%;
		z-index: 9999;

		@include media ($horizontal-bar-mode) {
			display: inline;
			margin: 0;
			padding: 0;
		}

		&.show {
			display: block;
		}
	}

	// The nav items

	ul li.nav-link {
		background: $navigation-background;
		display: block;
		line-height: $navigation-height;
		overflow: hidden;
		padding-right: 0;
		text-align: right;
		z-index: 9999;

		@include media ($horizontal-bar-mode) {
			background: transparent;
			display: inline;
			line-height: $navigation-height;
			text-decoration: none;
			width: auto;
		}

		a {
			color: $navigation-color;
			display: inline-block;
			font-weight: 400;
			text-decoration: none;

			@include media ($horizontal-bar-mode) {
				padding-right: 1em;
			}

			&:focus,
			&:hover {
				color: $navigation-color-hover;
			}
		}
	}

	.active-nav-item a {
		border-bottom: 1px solid $navigation-active-link-color;
		padding-bottom: 3px;
	}

	// Sub menus

	.nav-avatar {
		float: right;

		@include media ($horizontal-bar-mode) {
			float: inherit;
		}
	}

	li.more.nav-link {
		padding-right: 0;

		@include media($horizontal-bar-mode) {
			padding-right: $navigation-submenu-padding;
		}

		> ul > li:first-child a {
			padding-top: 1em;
		}

		a {
			margin-right: $navigation-submenu-padding;
		}

		> a {
			padding-right: .6em;
		}
	}

	li.more {
		overflow: visible;
		padding-right: 0;

		@include media($horizontal-bar-mode) {
			padding-right: .8em;
			position: relative;

			&:focus > .submenu,
			&:hover > .submenu {
				display: block;
			}
		}

		> a {
			padding-right: 1.6em;
			position: relative;

			@include media($horizontal-bar-mode) {
				margin-right: $navigation-submenu-padding;
			}
		}
	}

	li.mobile-login {
		position: absolute;
		right: 0;
		top: -53px;

		@include media($horizontal-bar-mode) {
			display: none;
			position: relative;
			right: auto;
			top: auto;
		}
	}

	ul.submenu {
		display: none;
		padding-left: 0;

		@include media($horizontal-bar-mode) {
			left: -$navigation-submenu-padding;
			position: absolute;
			top: 1.5em;
		}

		.submenu {
			@include media($horizontal-bar-mode) {
				left: $navigation-submenu-width - .2em;
				top: 0;
			}
		}

		li {
			display: block;
			padding-right: 0;

			@include media($horizontal-bar-mode) {
				line-height: $navigation-height / 1.3;

				&:first-child > a {
					border-top-left-radius: $base-border-radius;
					border-top-right-radius: $base-border-radius;
				}

				&:last-child > a {
					border-bottom-left-radius: $base-border-radius;
					border-bottom-right-radius: $base-border-radius;
					padding-bottom: .7em;
				}
			}

			a {
				background-color: darken($navigation-background, 3%);
				display: inline-block;
				text-align: right;
				width: 100%;

				@include media($horizontal-bar-mode) {
					background-color: $navigation-background;
					padding-left: $navigation-submenu-padding;
					text-align: left;
					width: $navigation-submenu-width;
				}
			}
		}
	}

	// Elements on the far right

	.navigation-tools {
		$nav-background: #505050;

		background: lighten($nav-background, 25%);
		clear: both;
		display: block;
		height: $navigation-height;

		@include media($horizontal-bar-mode) {
			background: transparent;
			clear: none;
			float: right;
		}
	}

	// Search bar
	.search-bar {
		$search-bar-border-color: #c5ced9;
		$search-bar-border: 1px solid $search-bar-border-color;
		$search-bar-background: #f2f6fa;

		display: none;
		float: left;
		padding: .6em .85em 0 .6em;
		width: 100%;

		@include media($horizontal-bar-mode) {
			display: inline-block;
			position: relative;
			width: 25em;

			input {
				box-sizing: border-box;
				display: block;
			}
		}

		form {
			padding-top: .25rem;
			position: relative;

			input[type=search] {
				background-color: $search-bar-background;
				border: $search-bar-border;
				border-radius: 0;
				box-sizing: border-box;
				color: $navigation-color;
				font-size: .9em;
				height: rem-calc(32);
				margin: 0;
				padding: .5em .8em;
				width: 100%;

				@include media($horizontal-bar-mode) {
					height: rem-calc(28);
					width: 100%;
				}
			}

			button[type=button] {
				@include position(absolute, 0 0 0 null);

				background-color: $search-bar-background;
				border-radius: 0;
				height: 1rem;
				outline: none;
				padding: 5px 8px;
				right: .1rem;
				top: .35rem;

				img {
					height: 12px;
					opacity: .7;
				}
			}
		}
	}
}

// Search bar for Mobile
.search-bar-mobile {
	$search-bar-border-color: #c5ced9;
	$search-bar-border: 1px solid $search-bar-border-color;
	$search-bar-background: #f2f6fa;

	display: inline-block;
	float: left;
	padding: .6em .85em 1.3em .6em;
	width: 100%;

	@include media($horizontal-bar-mode) {
		display: none;

		/*
		position: relative;
		width: 25em;

		input {
			box-sizing: border-box;
			display: block;
		}
		*/
	}

	form {
		padding-top: .25rem;
		position: relative;

		input[type=search] {
			background-color: $search-bar-background;
			border: $search-bar-border;
			border-radius: 0;
			box-sizing: border-box;
			color: $navigation-color;
			font-size: .9em;
			height: rem-calc(32);
			margin: 0;
			padding: .5em .8em;
			width: 100%;

			@include media($horizontal-bar-mode) {
				height: rem-calc(28);
				width: 100%;
			}
		}

		button[type=button] {
			@include position(absolute, 0 0 0 null);

			background-color: $search-bar-background;
			border-radius: 0;
			height: 1rem;
			outline: none;
			padding: 5px 8px;
			right: .1rem;
			top: .35rem;

			img {
				height: 12px;
				opacity: .7;
			}
		}
	}
}
