$parallax-window-height: 30em;

$parallax-small: new-breakpoint(max-width 500px);
$parallax-medium: new-breakpoint(min-width 500px);
$parallax-large: new-breakpoint(min-width 800px);


.parallax {
	padding-bottom: 2em;
}

.parallax-window {
	float: left;
	max-height: $parallax-window-height;
	overflow: hidden;
	padding-top: 7.5em;
	position: relative;
	text-align: center;
	width: 100%;

	@include media($parallax-small) {
		top: -.5em;
	}
}

.parallax-static-content {
	$parallax-content-color: white;
	color: $parallax-content-color;
	padding: 8em 0;
	position: relative;
	z-index: 9;

	@include media($parallax-small) {
		padding: 6em 0;
	}
}

.parallax-hidden-slide {
	display: none;
}

.parallax-heading {
	@include media($parallax-small) {
		font-size: 2em;
	}

	@include media($parallax-medium) {
		font-size: 3em;
	}

	@include media($parallax-large) {
		font-size: 5em;
	}
}

.parallax-heading-small {
	@include media($parallax-small) {
		font-size: 1em;
	}

	@include media($parallax-medium) {
		font-size: 1.5em;
	}

	@include media($parallax-large) {
		font-size: 2em;
	}
}

.parallax-details {
	@include outer-container;
	margin-bottom: 3em;
	padding-left: 3em;
	padding-right: 3em;

	@include media($parallax-small) {
		padding-left: .1em;
		padding-right: .1em;
	}
}

.parallax-background {
	$parallax-background-image: '/images/starwars-campaign.jpg';
	$parallax-bacground-color: #081d38;

	background: {
		color: $parallax-bacground-color;
		image: url($parallax-background-image);
		position: top;
		repeat: repeat;
		size: cover;
	}
	height: 50em;
	left: 0;
	position: absolute;
	top: - $parallax-window-height / 3;
	width: 100%;
}

.parallax-background-companyinfo {
	$parallax-background-image: '/images/wikia-universe.jpg';
	$parallax-bacground-color: #081d38;

	background: {
		color: $parallax-bacground-color;
		image: url($parallax-background-image);
		position: top;
		repeat: repeat;
		size: cover;
	}
	height: 40em;
	left: 0;
	position: absolute;
	top: - $parallax-window-height / 3;
	width: 100%;
}

// Based on http://codepen.io/skeurentjes/
