@mixin grid-item-columns($columns) {
	width: (100% / 12) * $columns;
}

.grid-items {
	$action-color: #477DCA !default;
	$base-background-color: white !default;
	$medium-screen: em(640) !default;
	$large-screen: em(860) !default;
	$grid-items-background: $base-background-color;
	$grid-item-background: desaturate($action-color, 30%);
	$grid-item-colors: desaturate($action-color, 30%),
	#3581A5, #5FBEBE, #98C79A, #A7A891, #BDCC97, #979EA0,
	#3581A5, #98C79A, #A7A891, #5FBEBE, #98C79A, #3581A5,
	#3581A5, #5FBEBE, #98C79A, #A7A891, #BDCC97, #979EA0;
	$grid-item-border-size: 9px;
	$grid-item-columns: 3;
	$grid-item-big-columns: 6;
	$grid-item-color: white;
	$grid-item-height: 14em;

	@include clearfix;

	.grid-item {
		@include transition (all .2s ease-in-out);

		background: $grid-item-background;
		border-bottom: $grid-item-border-size solid $grid-items-background;
		border-left: ($grid-item-border-size / 2) solid $grid-items-background;
		border-right: ($grid-item-border-size / 2) solid $grid-items-background;
		border-top: 0;
		cursor: pointer;
		float: left;
		height: $grid-item-height;
		outline: none;
		overflow: hidden;
		padding: 1em;
		text-align: center;
		text-decoration: none;
		width: 50%;

		@include media($large-screen) {
			@include grid-item-columns($grid-item-columns);
		}

		@for $i from 1 through length($grid-item-colors) {
			// assign colors from $grid-item-colors list
			&:nth-child(#{$i}) {
				$background-from-list: nth($grid-item-colors, $i);
				background-color: $background-from-list;
				box-shadow: inset 0 0 1px 2px darken($background-from-list, 10%);

				&:focus,
				&:hover {
					background-color: darken($background-from-list, 10%);
					background-position: top;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}
	}

	.grid-image-large {
		display: none;
		height: 10em;
		margin: auto;
		margin-bottom: .5em;
		width: 30em;

		@include media($large-screen) {
			display: block;
		}
	}

	.grid-image-small {
		display: block;
		height: 10em;
		margin: auto;
		margin-bottom: .5em;
		width: 10em;

		@include media($large-screen) {
			display: none;
		}
	}

	.grid-item h1 {
		background-color: rgba(0, 0, 0, .4);
		color: white;
		display: inline;
		margin-bottom: .4em;
		padding: .3rem .5rem;

		@include media($large-screen) {
			font-size: 1.2em;
		}
	}

	.grid-item p {
		color: transparentize($grid-item-color, .3);
		line-height: 1.5em;
		margin: auto;

		@include media($medium-screen) {
			max-width: 70%;
		}
	}

	.grid-item-big {
		@include media($large-screen) {
			@include grid-item-columns($grid-item-big-columns);
		}
	}

	.grid-item-image {
		background: url('/images/wikia-universe-gray.png');
		background-color: $grid-item-background;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
