
// Hide top result options area for Google Custom Search
.gsc-above-wrapper-area-container {
	display: none;
}

// Hide branding area for Google Custom Search
.gcsc-branding {
	display: none;
}

// Disable global table styling that breaks custom search layout
.gsc-table-result {
	margin: 0;
	table-layout: auto;
}

.search-results-loading {
	padding-left: .5em;
	padding-top: 4em;
}
