
$large-screen: 710px;

.login-box {
	$login-box-border: #c8d2d7;
	$login-background-color: white;

	background-color: $login-background-color;
	border: 1px solid $login-box-border;
	list-style: none;
	padding: rem-calc(20) rem-calc(20) 0;
	width: rem-calc(360);
}

.login-box-mobile {
	$login-box-border: #c8d2d7;
	$login-background-color: white;

	background-color: $login-background-color;
	border: 1px solid $login-box-border;
	display: none;
	list-style: none;
	padding: rem-calc(20) rem-calc(20) 0;
	width: 100%;


	@include media ($large-screen) {
		display: none;
	}
}

.login-icon {
	&:focus,
	&:hover .login-popup {
		opacity: 1;
		visibility: visible;
	}

}

.login-popup {
	$navigation-height: 56px;
	$login-popup-background-color: white;
	$login-border-color: #c8d2d7;

	background-color: $login-popup-background-color;
	border: 1px solid $login-border-color;
	list-style: none;
	padding: 0 0 19px;
	position: absolute;
	right: 0;
	top: $navigation-height;
	visibility: hidden;
	width: 200px;
	z-index: 50000;
}

.tooltip-item {
	$base-border-color: gainsboro !default;
	$base-border-radius: 3px !default;
	$base-line-height: 1.5em !default;
	$dark-gray: #333 !default;
	$base-font-color: $dark-gray !default;
	$tooltip-background: white;
	$tooltip-color: $base-font-color;
	$tooltip-max-width: 16em;
	$tooltip-arrow-width: 8px;
	$tooltip-shadow-color: silver;
	$tooltip-shadow: 0 2px 2px $tooltip-shadow-color;
	$tooltip-distance-from-item: 3em;
	$tooltip-arrow-distance-from-box: -1.3em;

	&:focus,
	&:hover .tooltip {
		opacity: 1;
		visibility: visible;
	}

	.tooltip {
		@include position(absolute, null 0 $tooltip-distance-from-item 0);
		@include transition (all .2s ease-in-out);

		background-color: $tooltip-background;
		border-radius: $base-border-radius;
		box-shadow: $tooltip-shadow;
		color: $tooltip-color;
		font-size: .9em;
		line-height: 1.5em;
		margin: 0 auto;
		max-width: $tooltip-max-width;
		opacity: 0;
		padding: 1em;
		text-align: center;
		visibility: hidden;
		z-index: 10;

		p {
			color: $base-font-color;
			line-height: $base-line-height;
			margin: 0;
		}
	}
}

