h2.background {
  position: relative;
  text-align: center;
  z-index: 1;

  &:before {
	$border-color: #dfdfdf;

	border-top: 2px solid $border-color;
	bottom: 0;
	content: '';
	left: 0;
	margin: 0 auto; /* this centers the line to the full width specified */
	position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
	right: 0;
	top: 50%;
	width: 95%;
	z-index: -1;
  }

  span {
	/* to hide the lines from behind the text, you have to set the background color the same as the container */
	$background-color: #fff;
	background: $background-color;
	padding: 0 15px;
  }
}
