$mobile-slider:  new-breakpoint(max-width 615px);
$desktop-slider: new-breakpoint(min-width 615px);


.whatiswikia {
	$search-background: #00b7e0;
	$start-background: #94d11f;
	$title-background: #092344;
	$text-color: white;

	color: $text-color;
	font-size: 26px;
	width: 100%;

	.description {
		display: inline-block;
		padding: 3em 2em;
		padding-left: 10%;
		vertical-align: middle;
		width: 60%;

		@include media ($mobile-slider) {
			width: 100%;
		}
	}

	.device {
		display: inline-block;
		margin-top: 1em;
		text-align: right;
		vertical-align: middle;
		width: 39.5%;

		@include media ($mobile-slider) {
			margin: 0;
			text-align: center;
			width: 100%;
		}
	}

	.message {
		font-size: .7em;
	}

	.search-bar {
		margin-top: 1em;
	}

	.subtitle {
		font-weight: bold;
	}

	.wiw-desktop {
		@include media ($mobile-slider) {
			display: none;
		}
	}

	.wiw-modile {
		@include media ($desktop-slider) {
			display: none;
		}
	}

	.wiw-search {
		background-color: $search-background;
	}

	.wiw-search-wikia-button {
		background-color: transparent;
		border: 1px solid $text-color;
		display: inline;
		font-size: .55em;
		margin: 0;

		@include media ($desktop-slider) {
			padding: 0 1.5625rem;
			width: 20%;
		}
	}

	.wiw-search-wikia-text {
		color: text-color;
		display: inline;
		font-size: .6em;
		width: 70%;
	}

	.wiw-start {
		background-color: $start-background;
	}

	.wiw-title {
		background-color: $title-background;
		text-align: center;
	}



}
