$desktop-slider: new-breakpoint(min-width 920px);
$mobile-slider:  new-breakpoint(max-width 920px);
$short-input: new-breakpoint(max-width 420px);

.whatiswikia {
	$search-background: #00b7e0;
	$start-background: #94d11f;
	$title-background: #092344;
	$text-color: white;

	color: $text-color;
	font-size: 26px;
	width: 100%;

	:-ms-input-placeholder {
		line-height: 95%;

		@include media ($short-input) {
			color: $text-color;
		}
	}

	::-webkit-input-placeholder {
		line-height: 95%;

		@include media ($short-input) {
			color: $text-color;
		}
	}

	.description {
		display: inline-block;
		padding: 3em 2em;
		vertical-align: middle;
		width: 59.5%;

		@include media ($mobile-slider) {
			width: 100%;
		}
	}

	.device {
		display: inline-block;
		margin-top: 1rem;
		text-align: right;
		vertical-align: middle;
		width: 39.5%;

		@include media ($mobile-slider) {
			margin: 0;
			text-align: center;
			width: 100%;
		}
	}

	.link-to {
		cursor: pointer;
		font-size: .55em;
		margin-top: 1em;
	}

	.message {
		font-size: .7em;
	}

	.search-bar {
		margin-top: 1em;
	}

	.subtitle {
		font-weight: bold;
	}

	.wiw-desktop {
		@include media ($mobile-slider) {
			display: none;
		}
	}

	.wiw-mobile {
		@include media ($desktop-slider) {
			display: none;
		}
	}

	.wiw-search {
		background-color: $search-background;

		@include media ($desktop-slider) {
			height: 26rem;
		}

		.device {
			img {
				height: 25rem;
			}
		}
	}

	.wiw-search-wikia-button {
		background-color: transparent;
		border: 1px solid $text-color;
		display: inline;
		font-size: .55em;
		margin: 0;
		padding: 0 .5em;

		@include media ($desktop-slider) {
			width: 20%;
		}
	}

	.wiw-search-wikia-text {
		color: text-color;
		display: inline;
		font-size: .6em;
		width: 70%;
	}

	.wiw-start {
		background-color: $start-background;

		@include media ($desktop-slider) {
			height: 26rem;
		}

		.description {
			@include media ($desktop-slider) {
				width: 50%;
			}
		}

		.device {

			@include media ($desktop-slider) {
				float: right;
				width: 50%;
			}

			@include media ($mobile-slider) {
				text-align: right;
			}
		}
	}

	.wiw-title {
		background-color: $title-background;
		text-align: center;
	}
}
