@import '../../vendor/wikia-style-guide/src/scss/lib/settings';

$body-background-grey: $vapor;
$header-background-color: $color-white;
$footer-background-color: #ECECEC;

$header-text-color: $oil;
$content-text-color: $aluminum;
$footer-text-color: $color-white;

$link-color: $color-blue-dark;
$border-header-color: #A9A9A9;
$border-footer-color: $iron;
$border-screens-color: #DCDCDC;
$footer-paragraph-text-color: $aluminum;
