.input-container {
	position: relative;
}

input[type="text"],
input[type="text"]:focus,
input[type="password"],
input[type="password"]:focus {
	background-color: #fff;
	border: none;
	border-bottom: 1px solid $color-blue-gray;
	border-radius: 0;
	box-shadow: none;
	padding-left: 0;
}

input[type="text"]:focus,
input[type="password"]:focus {

}

input.sign-in-password {
	margin-bottom: rem-calc(5px);
}

.floating-label {
	color: $color-blue-gray;
	padding: 0.5rem 0;
	pointer-events: none;
	position: absolute;
}

.focused .floating-label {
	font-size: 0.5rem;
	top: -1rem;
}
