.input-container {
	position: relative;
}

input.sign-in-password {
	margin-bottom: rem-calc(5px);
}

.floating-label {
	color: $color-blue-gray;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 1.25rem;
	transition: font-size ease-in 0.15s, top ease-in 0.15s;
}
