.input-container {
	position: relative;
}

input[type="text"],
input[type="text"]:focus,
input[type="password"],
input[type="password"]:focus {
	background-color: #fff;
	border: none;
	border-bottom: 1px solid $color-blue-gray;
	border-radius: 0;
	box-shadow: none;
	height: auto;
	margin-top: 0;
	padding: 1.25rem 0 0.5rem;
}

input.sign-in-password {
	margin-bottom: rem-calc(5px);
}

.floating-label {
	color: $color-blue-gray;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 1.25rem;
	transition: font-size ease-in 0.15s, top ease-in 0.15s;
}

input[type="text"]:focus  + .floating-label,
input[type="password"]:focus + .floating-label {
	font-size: 0.75rem;
	top: 0;
}

input[type="text"]:valid  + .floating-label,
input[type="password"]:valid + .floating-label {
	display: none;
}

input[type="text"]:valid:focus  + .floating-label,
input[type="password"]:valid:focus + .floating-label {
	display: block;
}
