<!DOCTYPE html>
<html>
	<head>
		{{> auth/head}}
	</head>
	<body class="auth {{pageParams.viewType}} {{bodyClasses}} {{#if standalonePage}}standalone{{/if}}" data-page-type="{{pageType}}">
		{{> auth/navigation}}

		<main class="page-view">
			{{{content}}}
		</main>

		{{> auth/body-scripts}}
	</body>
</html>
