@import '../../vendor/wikia-style-guide/src/scss/lib/settings';

$body-background-color: $color-white;
$body-background-grey: $vapor;
$content-background-color: $color-white;
$header-background-color: $color-white;
$footer-background-color: #ECECEC;

$header-text-color: #333;
$footer-text-color: $color-white;

$link-color: $color-blue-light;
$border-color: $iron;
$footer-paragraph-text-color: #999;
