@import '../../vendor/wikia-style-guide/src/scss/lib/settings';

$content-background-color: $color-white;
$body-background-grey: $vapor;
$button-color: $color-blue-light;
$disabled-button-text-color: #B4D6F2;
$footer-text-color: $color-white;
$header-text-color: $color-white;
$link-color: $color-blue-light;
$border-color: $iron;

$body-background-color: $color-white;
$footer-background-color: #ECECEC;

