.wds-community-bar {
	.wds-dropdown {
		&::before,
		&::after {
			z-index: $z-6;
		}

		&__content {
			z-index: $z-6;
		}
	}

	.with-fandom-app-smart-banner .site-head-headroom-not-top & {
		margin-top: 85px;
	}
}
