// These are overrides for Mobile Wiki only
// If you look for Global Footer styles go here:
// https://github.com/Wikia/design-system/blob/master/components/_global-footer.scss

.wds-global-footer {
  line-height: normal;

  h2 {
    font-size: $wds-font-size-xl;
    line-height: normal;
  }

  ul,
  &__section-header {
    line-height: normal;
  }

  section,
  p {
    font-size: inherit;
  }

  figcaption {
    color: inherit;
  }
}

.global-footer-bottom__wrapper {
  background-color: $wds-fandom-color-navy;
  padding: 0 20px;

  &--wikia-org {
    background-color: $wds-color-white;
    border-top: 1px solid $wds-color-blue-gray;

    .global-footer-bottom__bar {
      border-top: none;
    }

    .global-footer-bottom__link {
      color: $wds-color-black;
    }
  }
}

.global-footer-bottom__bar {
  border-top: 1px solid $wds-color-slate-gray;
  margin: 0 auto;
  text-align: center;
}

.global-footer-bottom__link {
  color: $wds-fandom-color-link;
  letter-spacing: .3px;
  min-height: 45px;
  padding: 14px 18px;
}
