.page-wrapper {
  &.with-smart-banner {
    //smart banner height + site head height
    margin-top: 140px;
  }

  .top-leaderboard ~ &,
  .mobile-top-leaderboard ~ & {
    margin-top: 0;
  }

  .article-body,
  .wiki-page-body {
    overflow-x: hidden;
    width: 100%;
  }
}

body:not(.no-ads) #top_leaderboard {
  margin: 10px auto;

  &.wrapper-gap {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100px;
    transition: min-height .35s linear;

    &.is-loading {
      animation: is-loading 2s infinite;
      border-radius: 20px;
      max-width: 320px;
    }
  }
}

.site-head.theme-bar ~ .page-wrapper {
  margin-top: 60px;
}

body.has-bfaa {
  .with-smart-banner {
    .page-wrapper {
      margin-top: 0;
    }
  }

  #top_leaderboard {
    margin: 0 auto;
  }
}
