.page-wrapper {
  &.with-smart-banner {
    //smart banner height + site head height
    margin-top: 140px;
  }

  .top-leaderboard ~ &,
  .mobile-top-leaderboard ~ & {
    margin-top: 0;
  }

  .article-body,
  .wiki-page-body {
    overflow-x: hidden;
    width: 100%;
  }
}

#top_leaderboard {
  margin: 10px auto;

  &.wrapper-gap {
    min-height: 250px;
    transition: min-height .35s linear;

    &.is-loading {
      animation: is-loading 2s infinite;
    }

    &.wrapper-gap-disabled {
      min-height: 0;
    }
  }
}

.site-head.theme-bar ~ .page-wrapper {
  margin-top: 60px;
}

.bfaa-template {
  .with-smart-banner {
    .page-wrapper {
      margin-top: 0;
    }
  }

  #top_leaderboard {
    margin: 0 auto;
  }
}
