// instance of collapsible-menu component
.article-categories-list {
	.title {
		padding-left: rem-calc(20);
		padding: rem-calc(5) rem-calc(20);
		font-size: rem-calc(16);
	}

	ul li {
		padding-left: rem-calc(20);
	}
}
