.contributors {
	@extend %list-reset;
	@extend .clearfix;
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);
	margin-bottom: rem-calc(40);
	background-color: #F2F3F3;

	ul {
		@include block-grid(
			$per-row: 5,
			$spacing: rem-calc(5)
		);
		padding: 0;
		padding-left: 3%;
		margin: 0;

		li {
			// Overrides the bottom padding that block-grid adds
			padding-bottom: 0;
			margin: 0;

			img {
				@include perfect-square(rem-calc(44));
				border-radius: 50%;
			}
		}
	}

	.title {
		@extend .subtext;
		margin-left: 5%;
		font-weight: bold;
		padding-bottom: rem-calc(15);
	}
}
