.contributors {
	@extend %list-reset;
	@extend .clearfix;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 40px;

	li {
		float: left;
		width: 16%;
		margin: 0 2%;
		text-align: center;

		img {
			border-radius: 50%;
		}
	}
}
