.article-content {
	margin-bottom: rem-calc(40);
	line-height: 1.5rem;

	blockquote {
		margin: rem-calc(40) 0;
	}

	h1, h2, h3, h4, h6 {
		color: $primary-color;
	}

	h1, h2 {
		padding-top: rem-calc(20);
	}

	img {
		margin-bottom: rem-calc(20);

		& ~ h1,
		& ~ h2 {
			margin-bottom: 0;
		}
	}
}
