.article-media {
	background-color: #e7e7e7;
	margin: 0 0 1.25rem 0;
	text-align: center;

	img {
		display: none;
		pointer-events: none;
	}

	&.visible {
		animation: lazyImage .3s;
		background-color: transparent;
		height: auto;

		img {
			display: inline-block;
		}
	}
}

@keyframes lazyImage {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
