.media-component {
	margin: 40px 0;
	text-align: center;

	img {
		background: {
			color: rgb(223,223,223);
			image: url('../images/brackets.svg');
			position: center;
			repeat: no-repeat;
			size: contain;
		}
		display: inline-block;
		width: 100%;
	}

	&.visible {
		img {
			animation: lazyImage .3s;
			background: none;
			height: auto;
			width: auto;
		}
	}

	.chevron {
		background-color: #fff;
		height: 20px;
		bottom: 0;
		margin-bottom: 50px;
		right: 0;
		position: absolute;
		width: 20px;
		z-index: $z-1;
	}
}

.article-image,
.linked-gallery-image,
.gallery-video {
	position: relative;

	figcaption {
		@extend %ellipsis;
		height: 50px;
		pointer-events: auto;
	}
}

figcaption {
	color: #999;
	padding: 5px 0;
	text-align: left;
}

.article-gallery {
	-webkit-overflow-scrolling: touch;

	&:not(.linked-gallery) {
		overflow: {
			x: auto;
			y: hidden;
		}
		white-space: nowrap;
	}

	img {
		// Fixes iOS Safari repaint bug when scrolling through gallery
		transform: translate3d(0, 0, 0);
		height: auto;
		margin-right: 8px;
		width: 195px;
	}

	.gallery-video {
		display: inline-block;
	}

	&.linked-gallery {
		margin: auto;

		button {
			@extend %button-primary;
			padding: rem-calc(10) rem-calc(60);
			text-transform: uppercase;
		}

		figure {
			display: inline-block;
			margin: 0;
			width: 49%;
			vertical-align: top;
		}

		img {
			margin-right: 6px;
		}
	}
}

.gallery-video::after,
.article-video::before {
	content: '';
	display: block;
	background: {
		image: url('../images/play.svg');
		position: 10px 10px;
		repeat: no-repeat;
		size: 45px;
	}
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}

.article-video {
	position: relative;

	&::after {
		@include perfect-square(100%);
		background-image: linear-gradient(transparent 60%, rgba(black, .1) 70%, rgba(black, .7) 100%);
		content: '';
		left: 0;
		position: absolute;
		top: 0;
	}

	&.visible {
		img {
			width: 100%;
		}
	}

	figcaption {
		@extend %ellipsis;
		bottom: 0;
		color: white;
		font-size: 0.9rem;
		line-height: 1rem;
		padding: 10px;
		position: absolute;
		width: 100%;
		z-index: 1;

		div {
			@extend %ellipsis;
		}
	}
}

@keyframes lazyImage {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

iframe {
	max-width: 100%;
}
