table:not(.infobox, .dirbox) {
	visibility: hidden;
}

.article-table {
	border: 1px solid $border-color-light;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	th, td {
		padding: 10px;
		white-space: nowrap;
	}

	th {
		text-align: left;
		vertical-align: top;

		figure {
			display: none;
		}
	}

	td:not(:last-of-type), th:not(:last-of-type) {
		border-right: 1px solid $border-color-light;
	}

	tr:not(:last-of-type) {
		border-bottom: 1px solid $border-color-light;
	}
}
