table:not(.infobox, .dirbox) {
	visibility: hidden;
}

.article-table {
	border: 1px solid $border-color-light;
	border-collapse: collapse;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	table.infobox {
		th, td {
			width: 50%;
		}
	}

	table:not(.infobox) {
		th, td {
			white-space: nowrap;
		}
	}

	th, td {
		padding: 10px;

		figure {
			margin: 0;
			display: inline-block;

			figcaption {
				display: none;
			}
		}
	}

	th {
		text-align: left;
		vertical-align: top;
	}

	td:not(:last-child), th:not(:last-child) {
		border-right: 1px solid $border-color-light;
	}

	tr:not(:last-of-type) {
		border-bottom: 1px solid $border-color-light;
	}
}
