{{#discussion-user-activity-layout
		applyFilters=(action 'applyFilters')
		attributes=model.index.attributes.data
		canShowReportedPostsFilter=model.current.data.canModerate
		days=days
		model=model.current.data
		setDays=(action 'setDays')
		setEditorActive=(action 'setEditorActive')
		updateCategories=(action 'updateCategories')
		uploadCommunityBadge=(action 'uploadCommunityBadge')
		uploadDiscussionsHeader=(action 'uploadDiscussionsHeader')
		validatePostsOnForum=(action 'validatePostsOnForum')
}}
	<div class="discussion-user-activity">
		{{#if responsive.isMobile}}
			{{discussion-community-badge
				badgeImage=model.index.attributes.badgeImage
				editingPossible=true
				triggerHighlightOverlayStateChange=(route-action 'triggerHighlightOverlayStateChange')
				uploadMethod=(action 'uploadCommunityBadge')
			}}
			<p class="user-activity-title">{{i18n 'user-activity.hero-unit-subtitle' ns='discussion'}}</p>
		{{/if}}
		{{discussion-user-activity-toggle
			days=days
			setDays=(action 'setDays')
		}}
	</div>
	{{outlet}}
{{/discussion-user-activity-layout}}
