.local-wikia-search {
	position: absolute;
	visibility: hidden;
	top: rem-calc(44);
	bottom: 0;
	width: 100%;
	overflow: auto;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		position: relative;

		padding: rem-calc(15) $local-nav-li-gutter;
		border-bottom: rem-calc(1) solid #d0d0d0;

		text-align: left;
		font-size: rem-calc(13);
		font-weight: normal;
		color: #333333;

		list-style: none outside none;
	}
}

&.search .local-wikia-search {
	visibility: visible;
}
