.local-nav-menu {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: rem-calc(44);
	width: 100%;

	li {
		border-bottom: rem-calc(1) solid #d0d0d0;
		color: #333333;
		font-size: rem-calc(14);
		font-weight: normal;
		list-style: none;
		overflow: hidden;
		padding: rem-calc(10) $local-nav-li-gutter;
		position: relative;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;

		.chevron {
			float: right;
			margin-top: rem-calc(8);
			transform: rotate(-90deg);
		}

		// TODO: touch states
		// &:hover, &:active, &:focus {
		// 	background: yellow;
		// }
	}

	// Class for back button li
	.back {
		color: #006598;
		// padding-left: $local-nav-li-gutter + rem-calc(20);

		.chevron {
			float: left;
			margin-right: rem-calc(5);
			transform: rotate(90deg);
		}
	}

	.title {
		background-color: #e0e0e0;
		color: #123054;
		font-size: rem-calc(12);
		font-weight: bold;
		padding: rem-calc(1) $local-nav-li-gutter;
		text-align: left;
		text-transform: uppercase;
		width: 100%;
	}

	ul {
		bottom: 0;
		height: 100%;
		margin: 0;
		overflow: auto;
		padding: 0;
	}

}

&.search .local-nav-menu {
	visibility: hidden;
}
