// Local Variables
$title-height: rem-calc(25);

.local-nav-menu {
	position: absolute;
	top: rem-calc(44);
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;

	.title {
		position: absolute;
		padding-top: rem-calc(7);
		padding-bottom: rem-calc(10);
		height: $title-height;
		width: 100%;
		color: #123054;
		font-weight: bold;
		text-align: left;
		text-transform: uppercase;
		background-color: #e0e0e0;
		font-size: rem-calc(12);
		padding-left: $local-nav-li-gutter;
	}

	ul {
		margin: 0;
		padding: 0;
		padding-top: $title-height;
		bottom: 0;
		height: 100%;
		overflow: auto;
	}

	li {
		position: relative;
		font-size: rem-calc(14);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-weight: normal;
		color: #333333;
		height: rem-calc(44);
		padding-top: rem-calc(15);
		text-align: left;
		list-style: none outside none;
		border-bottom: rem-calc(1) solid #d0d0d0;
		padding-left: $local-nav-li-gutter;

		.chevron {
			position: absolute;
			right: $local-nav-li-gutter;
			top: rem-calc(18);
			transform: rotate(-90deg);
		}

		// Class for back button li
		&.back {
			padding-left: $local-nav-li-gutter + rem-calc(20);
			color: #006598;
			.chevron {
				right: auto;
				left: $local-nav-li-gutter;
				transform: rotate(90deg);
			}
		}

		// TODO: touch states
		// &:hover, &:active, &:focus {
		// 	background: yellow;
		// }
	}
}

&.search .local-nav-menu {
	visibility: hidden;
}
