.local-wikia-search {
	position: absolute;
	visibility: hidden;
	top: rem-calc(44);
	bottom: 0;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		position: relative;
		font-size: rem-calc(13);
		font-weight: normal;
		color: #333333;
		height: rem-calc(44);
		padding-top: rem-calc(15);
		text-align: left;
		list-style: none outside none;
		border-bottom: rem-calc(1) solid #d0d0d0;
		padding-left: $left-right-padding;

		&:first-child {
			border-top: rem-calc(1) solid #d0d0d0;
		}
	}
}

&.search .local-wikia-search {
	visibility: visible;
}
