.login {
	&.external {
		@extend .touch-active;
		@extend %pointer;
		height: 50px;
		width: 60px;
	}
	&.icon {
		height: 36px;
		position: relative;
		right: 6px;
		top: 6px;
		width: 36px;
	}
	float: right;
}
