// Slide drawer into view
@keyframes slidein {
	0% {
		left: $side-nav-offset;
	}

	100% {
		left: 0;
	}
}

.side-nav {
	// open nav button
	.nav-container {
		height: 100%;
		padding-top: rem-calc(15);
		width: rem-calc(60);
		position: absolute;
		svg {
			display: block;
			margin: auto;
			height: rem-calc(20);
			width: auto;
		}
	}

	// overlay
	.overlay {
		@include perfect-square(100%);
		position: fixed;
		top: 0;
		left: 0;
		background-color: black;
		z-index: 10;
	}

	&.hidden .overlay {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s $transition-length, opacity $transition-length;
	}

	&.slide-into-view  .overlay {
		visibility: visible;
		opacity: $overlay-opacity;
		transition: opacity $transition-length;
	}

	// slide-out drawer
	.drawer {
		position: fixed;
		background-color: white;
		height: 100%;
		z-index: 11;

		.search-container {
			position: absolute;
			left: 0;
			right: 0;
			text-align: left;
			border-bottom: rem-calc(1) solid #d0d0d0;

			// Cancel search div
			.cancel {
				position: absolute;
				padding: rem-calc(15);
				right: 0;
				padding-right: rem-calc(13);
				font-size: rem-calc(13);
				color: #006598;
			}
		}

		input {
			float: left;
			margin: $left-right-padding rem-calc(13);
			top: 0;
			left: 0;
			width: $side-nav-width - (2 * $left-right-padding);
			height: rem-calc(28);
			margin-top: rem-calc(8);
			margin-bottom: rem-calc(8);
			padding-left: rem-calc(95);
			padding-right: rem-calc(25);
			background-color: #f0f0f0;
			border-color: #d0d0d0;
			border-radius: rem-calc(2);
			outline: none;
			font-size: rem-calc(13);
			border: rem-calc(1) solid $search-box-color;
			background-color: white;
		}

		::-webkit-input-placeholder {
		   color: $search-box-color;
		}



		.icon.search-side-menu {
			position: absolute;
			left: rem-calc(90);
			top: rem-calc(15);
		}

		.clear-search-btn {
			@include perfect-square(45px);
			position: absolute;
			visibility: hidden;

			padding-left: rem-calc(20);
			padding-top: rem-calc(14);
			left: rem-calc(214);
			top: 0;

			cursor: pointer;
			user-select: none;
		}

		&:not(.search) {
			width: $side-nav-width;
			.cancel {
				visibility: hidden;
			}
		}

		&.search {
			width: 100%;
			visibility: visible;

			.icon.search-side-menu {
				left: rem-calc(20);
			}

			.clear-search-btn {
				visibility: visible;
			}

			input {
				padding-left: rem-calc(25);
				width: rem-calc(243);
			}
		}
	}

	&.hidden .drawer {
		left: $side-nav-offset;
		transform: translateX($side-nav-offset);
		transition: $transition-length;
	}

	&.slide-into-view .drawer {
		left: 0;
		animation: $transition-length;
		animation-name: slidein;
	}
}
