.wiki-title {
	@extend %header-section-title;
	text-decoration: underline;
	font-weight: normal;
	font-size: .9em;
	letter-spacing: 1.5px;
	margin-bottom: .85em;

	a {
		color: rgb(214,215,216);
	}
}
