.icon {
	&.chevron {
		width: 12px;
		height: 7px;
	}

	&.wikia-logo {
		height: rem-calc(50);
		width: rem-calc(80);
	}

	&.toc {
		width: 18px;
		height: 13px;
	}

	&.nav {
		width: 24px;
		height: 14px;
	}
}
