// TODO: Temporary solution to get full bleed thumbs before we get image data as JSON
// and can construct our own views from that data
@media #{$small-only} {
	figure.thumb {
		margin: rem-calc(40) 0;

		img {
			margin-bottom: .5em;
			width: 100%;
			height: auto;
		}

		.thumbcaption {
			@extend .subtext;
			color: #999;
			line-height: 1.4em;
		}
	}
}
