.type-base, body { font-size: 16px; }
.type-largest, h1 { font-size: rem-calc(32); }
.type-large, h2 { font-size: rem-calc(26); }
.type-medium, h3 { font-size: rem-calc(22); }
.type-small, blockquote { font-size: rem-calc(20); }
.type-smaller, h4 { font-size: rem-calc(18); }
.type-smallest, .subtext { font-size: rem-calc(13); }

@media #{$medium-up} {
	.type-base, body { font-size: 18px; }
	.type-largest, h1 { font-size: rem-calc(44); }
	.type-large, h2 { font-size: rem-calc(34); }
	.type-medium, h3 { font-size: rem-calc(24); }
	.type-small, blockquote { font-size: rem-calc(22); }
	.type-smaller, h4 { font-size: rem-calc(20); }
	.type-smallest, sub, .subtext { font-size: rem-calc(15); }
}

@media #{$xlarge-up} {
	.type-base, body { font-size: 20px; }
	.type-largest, h1 { font-size: rem-calc(60); }
	.type-large, h2 { font-size: rem-calc(36); }
	.type-medium, h3 { font-size: rem-calc(28); }
	.type-small, blockquote { font-size: rem-calc(26); }
	.type-smaller, h4 { font-size: rem-calc(24); }
	.type-smallest, sub, .subtext { font-size: rem-calc(18); }
}



