{{ads/invisible-high-impact-2}}
{{ad-slot isAboveTheFold=true name='INVISIBLE_HIGH_IMPACT'}}

<div class="wiki-container">
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		showComments=true
		siteName=siteName
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		edit='edit'
		openLightbox='openLightbox'
		toggleDrawer='toggleDrawer'
		highlightedText=''
	}}
	{{wikia-footer}}
</div>
