<div class="page-wrapper">
	{{wikia-ui-components/wiki-page-header title=model.documentTitle heroImage=heroImage}}
	<section class="article-body">
		{{article-content
			content=model.content
			media=model.media
			noAds=true
		}}
	</section>
</div>
