<div id="InvisibleHighImpactWrapper" class="hidden">
	<div class="background"></div>
	<a class="close">
		<div class="close-button"></div>
	</a>
	<div class="label">Advertisement</div>
	{{ad-slot isAboveTheFold=true name='INVISIBLE_HIGH_IMPACT_2' noAds=noAds}}
</div>


<div class="wiki-container">
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		noAds=noAds
		showComments=true
		siteName=siteName
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		edit='edit'
		openLightbox='openLightbox'
		toggleDrawer='toggleDrawer'
		highlightedText=''
	}}
	{{wikia-footer}}
</div>
