{{ad-slot isAboveTheFold=true name='INVISIBLE_HIGH_IMPACT' noAds=noAds}}
<div class="wiki-container">
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		noAds=noAds
		showComments=true
		siteName=siteName
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		edit='edit'
		openLightbox='openLightbox'
		toggleDrawer='toggleDrawer'
		highlightedText=''
	}}
</div>
