<div class="diff-page">
{{recent-change model=model}}
{{#each model.diffs as |diffs|}}
	{{#each diffs as |diff|}}
		<div class="{{diff.class}}{{if diff.allChanged ' all-changed'}}">{{diff.content}}</div>
	{{/each}}
{{/each}}
</div>
