{{ad-slot isAboveTheFold=true name='INVISIBLE_HIGH_IMPACT'}}

<div id="wikiContainer" class="wiki-container">
		{{!TODO handle video player}}
		{{!TODO files without thumbnails}}
	{{#article-wrapper
		model=model
		showComments=false
		wikiPageHeaderSubtitle=(i18n 'app.file-page-subtitle')
		siteName=siteName
		addPhoto='addPhoto'
		articleRendered='articleRendered'
		edit='edit'
		openLightbox='openLightbox'
		toggleDrawer='toggleDrawer'
		displayEmptyArticleInfo=false
	}}
		{{#if model.fileUsageList}}
			{{file-usage-list
				fileUsages=model.fileUsageList
				seeMoreUrl=model.fileUsageListSeeMoreUrl
			}}
		{{/if}}
	{{/article-wrapper}}
</div>
