<div class="infobox-builder">
	{{#infobox-builder-wrapper}}
		{{#each model.infoboxState as |element index|}}
			{{component element.infoboxBuilderData.component
				item=element
				position=index
				activeItem=model.itemInEditMode
				setEditItemAction='setEditItem'
			}}
		{{/each}}
	{{/infobox-builder-wrapper}}

	{{infobox-builder-sidebar
		addItem='addItem'
	}}
</div>

