<section class="page-not-found">
	<h1 class="article-title">Error 404</h1>
	<div>{{i18n 'app.page-not-found-error'}}</div>
	<span {{action 'expandSideNav'}}>{{i18n 'app.page-not-found-message'}}</span>
</section>
