<header class="sub-head">
    <div class="sub-head--title sub-head--text-only">{{i18n 'main.title' ns='recent-wiki-activity'}}</div>
</header>

{{#each model.recentChanges as |change|}}
	{{recent-change model=change}}
{{/each}}
