{{#ember-wormhole to="site-head-sub-header"}}
	{{wikia-search
		onEnterHandler=(action 'onSearchEnter')
		query=query
	}}
{{/ember-wormhole}}
<div class="search-results">
	{{#if model.totalItems}}
		<div class="search-results__total">
			{{i18n 'main.total-results' ns='search' totalItems=model.totalItems}} <strong>{[model.query}}</strong>
		</div>
	{{/if}}
	<ul class="search-results__list">
		{{#each model.items as |item|}}
			{{#wikia-ui-components/wikia-card}}
				{{#link-to 'wiki-page' item.href}}
					<div class="search-results__item">
						<div class="search-results__title">
							{{item.title}}
						</div>
						<div class="search-results__snippet">{{{item.snippet}}}</div>
					</div>
				{{/link-to}}
			{{/wikia-ui-components/wikia-card}}
		{{/each}}
	</ul>
</div>
