$border-color: #d0d0d0;
$collapsible-menu-font-size: rem-calc(13);

.collapsible-menu {
	margin-bottom: rem-calc(20);

	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

	.title {
		// extends & mixins
		@extend .subtext;

		// positioning
		position: relative;

		// display & box model
		display: block;
		padding: rem-calc(5px) rem-calc(40px);

		// color

		// text
		font-size: $collapsible-menu-font-size;
		font-weight: bold;
		line-height: 2.4rem;
		text-transform: uppercase;

		// other

		&:not(.collapsed) .chevron {
			transform: rotate(-180deg);
			transition: .25s transform ease-in-out;
		}

		&.text-left {
			text-align: left;
			padding-left: rem-calc(15);
		}

		.icon {
			position: absolute;
			top: 50%;

			&.toc {
				left: 10px;
				margin-top: -7px;
			}

			&.chevron {
				right: 10px;
				margin-top: -4px;
			}
		}

	}

	ol, ul {
		@extend .slide-down;
		margin: 0;
		padding: 0;

		font-size: $collapsible-menu-font-size;

		li {
			border-top: 1px solid $border-color;
			padding-left: rem-calc(40);
			
			a {
				position: relative;
				padding: 10px 0;
				display: block;
				color: #000000;
			}

			a > .chevron {
				position: absolute;
				right: rem-calc(10);
				top: rem-calc(13);
				transform: scale(.8) rotate(-90deg);
			}
		}
	}
}
