.content-recommendations {
	clear: both;
	padding: rem-calc(40) rem-calc(20);
	background-color: rgb(241, 242, 252);

	h1 {
		color: $primary-color;
		padding: 0;
		margin: 0;
		padding-bottom: 20px;
	}

	ul {
		@extend %list-reset;

		li {
			margin-bottom: 1rem;
			background-color: white;
			position: relative;
			display: block;

			a {
				display: block;
			}
		}

		.overlay {
			@include perfect-square(100%);
			background-image: linear-gradient(transparent 60%, rgba(black, .1) 70%, rgba(black, .7) 100%);
			position: absolute;
			pointer-events: none;
		}

		.thumbnail {
			background-color: #ddd;
			height: 150px;
		}

		.title {
			font-size: 13px;
			font-weight: bold;
			padding: 1rem;
			color: white;
			position: absolute;
			bottom: 0;
		}
	}
}
