.site-head {
	@extend .row;
	@extend .small-12;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid $color-gray-light;
	direction: ltr;
	height: 50px;
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: $z-1;

	.drawer-menu, .user-icon {
		position: absolute;
  }

  .drawer-menu {
	  left: 0;
	  top: 0;
  }

  .user-icon {
	  right: 0;
	  top: 0;
  }
}
