$margin: 1rem;
$hr-color: rgb(131,140,150);

.wikia-footer {
	@extend .row;
	background-color: rgb(18, 49, 84);
	color: white;
	padding-bottom: 2rem;

	.ad-leaderboard {
		margin: $margin;
		height: 250px;
		background-color: lavender;
	}

	ul {
		list-style: none;
		margin: $margin;
		padding: 0;
		line-height: 2rem;
	}

	li {
		a {
			color: white;
		}

		&.spaced {
			margin-top: 2rem;
		}
	}

	hr {
		background-color: $hr-color;
		border: none;
		height: 1px;
	}

	.logo {
		margin: $margin;
	}
}
