@import 'ads';
@import 'article/categories-list';
@import 'article/content';
@import 'article/contributors';
@import 'article/infobox';
@import 'article/media';
@import 'article/section-header';
@import 'article/table-of-contents';
@import 'article/title';
@import 'comments';
@import 'content-recommendations';
@import 'site-footer';
@import 'site-head';
@import 'wiki/index';
