<div class="cards">
  <div class="card">
    <div class="card-header">
      コミュニティーを作ろう
    </div>
    <div class="card-image">
      <img src="http://placehold.it/800x600?text=Placeholder" alt="">
    </div>
    <div class="card-copy">
      <p>
        道可道、非常道。名可名、非常名。
      </p>
      <p>
        <input type="button" value="始めてみよう">
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      記事をポストしよう
    </div>
    <div class="card-image">
      <img src="http://placehold.it/800x600?text=Placeholder" alt="">
    </div>
    <div class="card-copy">
      <p>
        無名天地之始、有名萬物之母。
      </p>
      <p>
        <input type="button" value="始めてみよう">
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      コンテンツをシェアする
    </div>
    <div class="card-image">
      <img src="http://placehold.it/800x600?text=Placeholder" alt="">
    </div>
    <div class="card-copy">
      <p>
        故常無欲以觀其妙、常有欲以觀其徼。
      </p>
      <p>
        <input type="button" value="始めてみよう">
      </p>
    </div>
  </div>
</div>
