<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="/images/wikia-logo-footer.png">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Company</h3></li>
      <li><a href="/companyinfo">会社概要</a></li>
      <li><a href="http://ja.wikia.com/%E7%89%B9%E5%88%A5:Contact">お問い合わせ</a></li>
      <li><a href="/companyinfo#companyinfo-link-5">プレスリリース</a></li>
      <li><a href="http://www.wikia.com/mediakit?uselang=ja">広告について</a></li>
    </ul>
    <ul>
      <li><h3>Community</h3></li>
      <li><a href="http://ja.community.wikia.com/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">コミュニティセントラル</a></li>
      <li class="footer-link-desktop"><a href="http://ja.wikia.com/WAM">WAM スコア</a></li>
      <li class="footer-link-desktop"><a href="http://ja.community.wikia.com/wiki/%E3%83%96%E3%83%AD%E3%82%B0%3A%E3%82%A6%E3%82%A3%E3%82%AD%E3%82%A2%E3%82%B9%E3%82%BF%E3%83%83%E3%83%95%E3%83%96%E3%83%AD%E3%82%B0
">スタッフブログ</a></li>
      <li class="footer-link-desktop"><a href="http://ja.community.wikia.com/wiki/%E3%83%98%E3%83%AB%E3%83%97%3A%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E3%83%AC%E3%83%99%E3%83%AB">設立者＆管理者</a></li>
      <li class="footer-link-desktop"><a href="http://ja.community.wikia.com/wiki/%E3%83%98%E3%83%AB%E3%83%97%3A%E3%82%B3%E3%83%B3%E3%83%86%E3%83%B3%E3%83%84">ヘルプ</a></li>
      <li><a href="http://ja.live.wikia.com/wiki/Wikia_Live">Wikia Live</a></li>
      <li><a href="https://twitter.com/wikiaJapan">Twitter</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="http://ja.wikia.com/%E5%88%A9%E7%94%A8%E8%A6%8F%E7%B4%84">利用規約</a></li>
      <li><a href="http://ja.wikia.com/%E3%83%97%E3%83%A9%E3%82%A4%E3%83%90%E3%82%B7%E3%83%BC%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC">プライバシー</a></li>
    </ul>
  </div>

  <hr>

  <p>© Wikia Japan ウィキア・ジャパン株式会社 {{year}}. All Rights Reserved.</p>
</footer>
