<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="/images/wikia-logo-footer.png">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>コンテンツ</h3></li>
      <li><a href="/companyinfo">会社概要</a></li>
      <li><a href="/contact">お問い合わせ</a></li>
    </ul>
    <ul>
      <li><h3>フォロー</h3></li>
      <li><a href="http://mediakit.wikia.com/wiki/Media_Kit_Wiki">メディアキット</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="/termsofservice">利用規約</a></li>
      <li><a href="/privacy">プライバシー</a></li>
    </ul>
  </div>

  <hr>

  <p>© Wikia Japan ウィキア・ジャパン株式会社 2015. All Rights Reserved.</p>
</footer>
