<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/vendor/wikia-style-guide/gh-pages/assets/images/wikia_logo.svg" class="icon wikia-logo">
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <div class="search-bar">
            <form role="search" id="searchWikiaForm">
              <input type="search" id="searchWikiaText" placeholder="すべてのウィキアで検索" />
              <button type="button" id="searchWikia">
                <img src="/images/search-icon.png" class="icon search">
              </button>
            </form>
          </div>
        </li>
        <li class="nav-link more">
          <img src="/vendor/wikia-style-guide/gh-pages/assets/images/icons/icon_avatar.svg" class="icon login">

          <ul class="submenu">
            <li>
              <div class="loginBox">
                {{> signin }}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
