<ul class="user-info">
  <li class="user-info-item">
    <a href="{{loginUrl}}">
      {{login}}
    </a>
  </li>
  <li class="user-info-item">
    <a href="{{signupUrl}}">
      {{registerAccount}}
    </a>
  </li>
</ul>
