<ul class="user-info">
  <li class="user-info-item">
    <a href="{{loginUrl}}">
      ログイン
    </a>
  </li>
  <li class="user-info-item">
    <a href="{{signupUrl}}">
      アカウント登録
    </a>
  </li>
</ul>
