<ul class="user-info">
  <li class="user-info-item">
    <a href="http://community.wikia.com/wiki/User:{{userName}}">
      自分のページ
    </a>
  </li>
  <li class="user-info-item">
    <a href="http://community.wikia.com/wiki/Message_Wall:{{userName}}">
      メッセージウォール
    </a>
  </li>
  <li class="user-info-item">
    <a href="http://www.wikia.com/Special:Preferences">
      個人設定
    </a>
  </li>
  <li class="user-info-item">
    <a href="http://www.wikia.com/Help:Contents" title="Help:Contents" data-id="help">
      ヘルプ
    </a>
  </li>
  <li class="user-info-item">
    <a href="/logout">
      ログアウト
    </a>
  </li>
</ul>


