<div class="parallax-heading">
  <b>#MayTheFansBeWithYou</b>
</div>
<div class="parallax-heading-small">
	ファンと共にあらんことを！12月1日世界同時オープン
</div>
<input type="button" value="スペシャルサイトはこちら" id="whatIsWikia">
