<div class="parallax-heading">
  <b>#MayTheFansBeWithYou</b>
</div>
<div class="parallax-heading-small">
	ファンと共にあらんことを！スター・ウォーズファンよ、ここに集え！
</div>
<input type="button" value="スペシャルサイトはこちら" id="whatIsWikia">
