<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <title>{{title}}</title>

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
{{{content}}}

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/slick.js/slick/slick.min.js"></script>
<script>
  // Globals
  function getGlobals () {
    return {
      {{#if loggedIn}}
        loggedIn: true,
      {{else}}
        loggedIn: false,
      {{/if}}
      loginUrl: '{{loginUrl}}'.replace(/&amp;/g, '&'),
      signupUrl: '{{signupUrl}}'.replace(/&amp;/g, '&')
    };
  }
</script>
<script src="/js/combined.js"></script>
</body>
