<h1 class="wiki-page-title wds-text-transform-uppercase wds-leading-none">
  {{@title}}
  {{#if @showButtons}}
    <div>
      <a {{on "click" (fn this.trackClick "open-editor")}}
        href={{this.mainPageEditorUrl}}
        class="main-page-edit wds-font-size-s wds-font-weight-normal wds-text-transform-none"
      >
        <Icon @name="pencil" @size="small" role="img" />
        {{i18n "app.curated-content-editor-edit-main-page"}}
      </a>
    </div>
  {{/if}}
</h1>
