<h1 class="wiki-page-title wds-text-transform-uppercase">
	{{title}}
	{{#if showButtons}}
		<div>
			<a href="/main/edit" class="main-page-edit wds-font-size-s wds-font-weight-normal wds-text-transform-none" {{action 'trackClick' 'open-editor' preventDefault=false}}>
				{{svg 'wds-icons-pencil-small' role='img' class='wds-icon wds-icon-small'}}
				{{i18n 'app.curated-content-editor-edit-main-page'}}
			</a>
		</div>
	{{/if}}
</h1>
