<h1 class="wiki-page-title">
	{{title}}
	{{#if showButtons}}
		<div>
			<a href="/main/edit" class="main-page-edit" {{action 'trackClick' 'open-editor' preventDefault=false}}>
				{{svg 'pencil' role='img' class='icon pencil'}}
				{{i18n 'app.curated-content-editor-edit-main-page'}}
			</a>
		</div>
	{{/if}}
</h1>
