<h1 class="wiki-page-title">
	{{title}}
	{{#if showButtons}}
		<div>
			<a href="/main/edit" class="main-page-edit" {{action 'trackClick' 'open-editor' preventDefault=false}}>
				{{svg 'wds-icons-pencil-small' role='img' class='wds-icon wds-icon-small'}}
				{{t 'app.curated-content-editor-edit-main-page'}}
			</a>
		</div>
	{{/if}}
</h1>
