<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Login</title>

		<link rel="stylesheet" href="/front/styles/auth/app.css">
    </head>
    <body>
        {{#if header }}
            <header class="auth-header">{{{header}}}</header>
        {{/if}}

        {{{content}}}

        {{#if footer }}
			<footer class="auth-footer">{{{footer}}}</footer>
        {{/if}}
    </body>
</html>
