<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Login</title>
        <`2:link`>
    </head>
    <body>
        {{{content}}}
    </body>
</html>
