<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="/front/vendor/wikia-style-guide/dist/css/main.css">
        <link rel="stylesheet" href="/front/styles/auth.css">
    </head>
    <body>
        {{{content}}}
    </body>
</html>
