.discussions-content {
	background-color: $header-background-color;
	color: $content-text-color;
	flex-shrink: 0;
	text-align: center;

	.app-download {
		color: inherit;
		font-size: 1.3rem;
		font-weight: normal;
		line-height: 1.55rem;
		margin: 13px 15px 0;
	}

	ul {
		margin: 30px 0 25px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.app-button {
		display: block;
		flex-grow: 1;
		flex-shrink: 0;
		list-style: none;
		width: 135px;

		&.app-store {
			margin-right: 15px;
			text-align: right;
		}
		&.google {
			margin-left: 15px;
			text-align: left;
		}

		&.app-store a {
			background-position: right top;
			background-repeat: no-repeat;
			display: inline-block;
			height: 45px;
			overflow: hidden;
			width: 135px;
		}

		&.google a {
			display: inline-block;
		}
		&.google img {
			height: 42px;
		}
	}

	.app-screen {
		background-color: $footer-background-color;
		border-top: solid $border-footer-color 2px;
		height: 42px;
		margin-top: 250px;

		span {
			background-position: center top;
			background-repeat: no-repeat;
			border-bottom: solid $border-screens-color 2px;
			display: inline-block;
			height: 270px;
			position: relative;
			top: -231px;
			width: 360px;
		}
	}
}
