.discussions-content {
	color: $content-text-color;
	min-height: 368px;
	text-align: center;

	.app-download {
		color: inherit;
		font-size: 1.3rem;
		line-height: 1.55rem;
		margin-top: 13px;
	}

	ul {
		margin-top: 30px;
		margin-bottom: 25px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.app-button {
		display: block;
		flex-grow: 1;
		flex-shrink: 0;
		list-style: none;
		margin-right: 30px;

		&.app-store a {
			background-repeat: no-repeat;
			display: inline-block;
			float: right;
			height: 45px;
			overflow: hidden;
			width: 165px;
		}

		&.google a {
			display: inline-block;
			float: left;
		}
		&.google img {
			height: 42px;
		}
	}

	.app-screen {
		background-color: $footer-background-color;
		border-top: solid $border-footer-color 2px;
		height: 42px;
		margin-top: 250px;

		span {
			background-position: center top;
			background-repeat: no-repeat;
			border-bottom: solid $border-screens-color 2px;
			display: inline-block;
			height: 270px;
			position: relative;
			top: -231px;
			width: 360px;
		}
	}
}
