.discussions-footer {
	font-size: .75rem;
	line-height: 18px;
	padding: 15px;
	text-align: center;

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		display: inline-block;
		max-width: 300px;
		padding: 0 50px;
		text-align: left;
	}

	h6, p {
		font-size: 0.875rem;
	}

	h6 {
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
	}
}
