.discussions-footer {
	font-size: .75rem;
	line-height: 18px;
	padding: 15px 0;
	text-align: center;

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: block;
		flex-grow: 1;
		flex-shrink: 0;
		//90px = 40px of padding and 50px for a bg icon
		padding: 0 40px 0 90px;
		text-align: left;
		width: 320px;
	}

	h6, p {
		font-size: 0.875rem;
	}

	h6 {
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
		line-height: 1.125rem;
	}
}
