.discussions-footer {
	font-size: .75rem;
	line-height: 1rem;
	padding: 50px 0 15px;
	text-align: center;

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0 0 15px;
		padding: 0;
	}

	li {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		flex-shrink: 0;
		padding: 0 40px;
		text-align: left;
		width: 320px;
	}

	h6, p {
		font-size: 0.875rem;
		padding-bottom: 4px;
	}

	h6 {
		margin: 0;
		line-height: 0.875rem;
	}

	p {
		margin-top: 0;
		line-height: 1.125rem;
	}

	svg {
		$image-size: 20px;

		height: $image-size;
		margin: 0 10px;
		min-height: $image-size;
		min-width: $image-size;
		width: $image-size;
	}
}
