@media only screen and (max-width: 768px) {
	.discussions-header {
		.wikia-link {
			display: none;
		}
	}

	.discussions-content {
		.app-button {
			width: 100%;

			&.app-store,
			&.google {
				margin: 5px;
				text-align: center;
			}
		}
	}

	nav.global-nav {
		justify-content: center;

		.main-page {
			margin-left: 0;
		}
	}
}
