<p>{{{i18n 'auth:confirm-forgot-password.section-text' communityFandomEmail='<a href="mailto:community@fandom.com">community@fandom.com</a>'}}}</p>
<p>{{i18n 'auth:confirm-forgot-password.section-callout'}}</p>
<a class="button button-wide forgot-password-check-email-link" href="http://www.fandom.com/">{{i18n 'auth:confirm-forgot-password.link-text'}}</a>
