<p>{{i18n 'auth:forgot-password.section-text'}}</p>
<form id="forgotPasswordForm" action="/forgotpassword" method="POST">
	<div class="input-container">
		<input type="text" name="username" id="loginUsername" maxlength="{{usernameMaxLength}}" required/>
		<label class="floating-label" for="loginUsername">{{i18n 'auth:common.username-label'}}</label>
	</div>
	<button id="forgotPasswordSubmit" type="submit" class="form-submit form-submit-wide" disabled><span>{{i18n 'auth:forgot-password.submit-text'}}</span></button>
</form>

