{{discussion-header
	setSortBy='setSortBy'
	sortBy=sortBy
}}
<div class="rail left three-column">
	{{community-badge}}
	{{back-button}}
</div>
{{forum-wrapper
	goToPost='goToPost'
	loadPage='loadPage'
	name=model.name
	posts=model.posts
	postsDisplayed=model.posts.length
	totalPosts=model.totalPosts
}}

