.global-nav {
	background-color: $color-white;
	border-bottom: solid $border-header-color 2px;
	display: flex;
	flex-shrink: 0;
	height: 46px;
	justify-content: flex-start;
}

a {
	&.main-page {
		background-image: url("/front/images/wikia-logo-blue.svg");
		display: block;
		height: 21px;
		margin-left: 125px;
		margin-top: 12px;
		width: 75px;

		span {
			display: none;
		}
	}
}
