<section class="wiki-page-error">
	<h1 class="article-title">Error 404</h1>
	<div>{{i18n 'app.page-not-found-error'}}</div>
	<span>{{i18n 'app.page-not-found-message'}}</span>
</section>
{{wikia-footer}}
