<div class="wiki-container">
	{{wikia-ui-components/wiki-page-header title='Error 404' subtitle=(i18n 'app.page-not-found-error')}}
	<section class="wiki-page-error">
		<a {{action 'toggleDrawer' true}}>{{i18n 'app.page-not-found-message'}}</a>
	</section>
	{{wikia-footer}}
</div>
