<div class="wiki-container">
	{{wikia-ui-components/wiki-page-header title='Error' subtitle=(i18n 'app.wiki-page-error')}}
	<section class="wiki-page-error">
		<button {{action 'reloadPage'}}>{{i18n 'app.wiki-page-error-reload-button'}}</button>
	</section>
	{{wikia-footer}}
</div>
