$preview-size: 20rem;
$preview-photo-size: 19.8rem;
$upload-icon-size: 1.3rem;

.preview-body {
	.preview-container {
		background-color: $color-blue-gray-light;
		border: 1px solid $color-blue-gray-dark;
		display: block;
		height: $preview-size;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4.125rem;
		position: relative;
		width: $preview-size;

		.preview-photo {
			height: auto;
			left: 50%;
			max-height: $preview-photo-size;
			max-width: $preview-photo-size;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: auto;
		}
	}

	.preview-input {
		margin-left: auto;
		margin-right: auto;
		width: $preview-size;

		.photo-name {
			font-weight: bold;
			margin-bottom: .6rem;
			margin-top: 1rem;
		}

	}
}

.upload-photo {
	display: inline-block;
	height: $upload-icon-size;
	margin-left: .8rem;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: $upload-icon-size;

	&.zero {
		height: $upload-icon-size;
		margin-left: .55rem;
	}

	.icon {
		bottom: 0;
		height: $upload-icon-size;
		position: absolute;
		right: 0;
		width: $upload-icon-size;
	}

	input {
		height: 100%;
		margin: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: $upload-icon-size;
	}
}
