$preview-size: 20rem;
$preview-photo-size: 19.8rem;
$upload-icon-height: 22px;
$upload-icon-width: 24px;
$upload-icon-container-size: 48px;

.preview-body {
	.preview-container {
		background-color: $color-blue-gray-light;
		border: 1px solid $color-blue-gray-dark;
		display: block;
		height: $preview-size;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4.125rem;
		position: relative;
		width: $preview-size;

		.preview-photo {
			height: auto;
			left: 50%;
			max-height: $preview-photo-size;
			max-width: $preview-photo-size;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: auto;
		}
	}

	.preview-input {
		margin-left: auto;
		margin-right: auto;
		width: $preview-size;

		.photo-name {
			font-weight: bold;
			margin-bottom: .6rem;
			margin-top: 1rem;
		}

	}
}

.upload-photo {
	align-items: center;
	display: inline-flex;
	height: $upload-icon-container-size;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: $upload-icon-container-size;

	&.zero {
		height: $upload-icon-height;
		margin-left: .55rem;
	}

	.icon {
		fill: $color-blue-light;
		height: $upload-icon-height;
		width: $upload-icon-width;
	}

	.file-upload-input {
		height: 100%;
		margin: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

h2[section] .upload-photo {
  // align icon in the sections to the bottom of it's space
  margin-bottom: -($upload-icon-container-size - $upload-icon-height) / 4;
}
