$upload-icon-size: 1.3rem;

.edit-textarea {
	border: none;
	height: 50%;
	left: 0;
	margin: 0 auto;
	max-width: 62.5rem;
	position: absolute;
	right: 0;
	top: 3.125rem;
}

.edit-section {
	display: inline-block;
	height: $upload-icon-size;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: $upload-icon-size;

	.pencil {
		bottom: 0;
		height: $upload-icon-size;
		position:absolute;
		right: 0;
		width: $upload-icon-size;
	}
}
