$edit-icon-size: 22px;
$edit-icon-container-size: 48px;

.edit-textarea {
	border: none;
	height: 50%;
	left: 0;
	margin: 0 auto;
	max-width: 62.5rem;
	position: absolute;
	right: 0;
	top: 3.125rem;
}

.edit-section {
	align-items: center;
	display: inline-flex;
	height: $edit-icon-container-size;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: $edit-icon-container-size;

	.pencil {
		fill: $color-blue-light;
		height: $edit-icon-size;
		width: $edit-icon-size;
	}
}

h2[section] .edit-section {
	// align icon in the sections to the bottom of it's space
	margin-bottom: -($edit-icon-container-size - $edit-icon-size) / 4;
}
