h2[section] {
	display: flex;
}

.section-header-label {
	align-self: flex-end;
	flex: 1;
}

.contribution-container {
	align-self: flex-end;
	display: flex;
	flex: 0;
	text-align: right;
	width: 100%;

	.disabled {
		display: none;
	}
}
