// the variables are here till XW-1238 is fixed
$checkbox-color-bg: $color-white;
$checkbox-color-border: #00b7e0;

input[type='text'],
input[type='text']:focus,
input[type='password'],
input[type='password']:focus,
input[type='email'],
input[type='email']:focus,
input[type='date'],
input[type='date']:focus,
.input {
	background-color: #fff;
	border: none;
	border-bottom: 1px solid $label-color-inactive;
	border-radius: 0;
	//Fix for yellow background for autofill in webkit browsers
	box-shadow: 0 0 0 1000px $auth-content-background-color inset;
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1.25rem 0 0.5rem;
	//Unifies border-bottom transition until we backport birthdate field to style-guide
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='date']:focus,
.focused {
	border-bottom: 1px solid $input-color-active;
}

input[type='checkbox'] {
	margin-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='checkbox'] {
	&.custom-checkbox {
		margin-right: 12px;

		&::before {
			background-color: $checkbox-color-bg;
			border: 1px solid $checkbox-color-border;
			content: '';
			display: block;
			height: 18px;
			width: 18px;
		}

		&:checked::before {
			background-image: url('/front/common/symbols/checkbox-checked.svg');
			border: none;
		}
	}
}
