{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "classes": true,
    "defaultParams": true,
    "forOf": true,
    "modules": true,
    "superInFunction": true,
    "templateStrings": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "globals": {
    "RSVP": true
  }
}
