{{! Keep the same HTML structure as in front/main/app/templates/components/curated-content.hbs }}
<div class="curated-content mw-content">
	{{> curated-main-page/curated-content-section
		isVisible=true
		model=model
	}}
	{{#each model.items as |item|}}
		{{#if (equal item.type 'section')}}
			{{> curated-main-page/curated-content-section
				isVisible=false
				model=item
			}}
		{{/if}}
	{{/each}}
</div>
