<div class="featured-content mw-content">
	<a href="{{featuredArticle.article_local_url}}" class="featured-content-item">
		<figure>
			<img src="{{featuredArticle.image_url}}"
				 alt="{{featuredArticle.label}}">
			<figcaption>
				{{! TODO truncate label to 48 chars}}
				<div class="clamp">{{featuredArticle.label}}</div>
			</figcaption>
		</figure>
	</a>
</div>
