<div class="edit-head">
	{{svg 'arrow-left' role='img' class='icon arrow-left'}}

	<button {{action 'publish'}} class="large" style="float: right;">Publish</button>

	<h5>
		Editing: <span style="font-weight: normal;">{{model.title}}</span>
	</h5>
</div>
{{textarea value=model.content}}