<div class="edit-head">

	{{#link-to 'article' model.title}}{{svg 'arrow-left' role='img' class='icon arrow-left'}}{{/link-to}}

	<button {{action 'publish'}} class="large" style="float: right;">Publish</button>

	<h5>
		Editing: <span style="font-weight: normal;">{{model.title}}</span>
	</h5>
</div>
{{textarea value=model.content}}