{{image-review
	model=model
}}

<h2> Image Review </h2>
<p> Click on images to mark them for deletion or as questionable (for staff review). When you're done with the batch, click "Review" below to get the next batch.</p>

<h1> Images to review </h1>

<ul class="image-review-list">
    <li class="image-review-item">
		{{#each this}}
			{{image-review-item}}
		{{/each}}
    </li>
</ul>
