<h1 class="article-title">Placeholder Article Title</h1>
{{#table-of-contents sections=headings}}
Table of Contents
{{/table-of-contents}}
{{{content.article}}}

<a class="btn comments-btn" href="#">Load 324 comments</a>
<ul class="contributors">
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
	<li><a href=""><img src="http://placekitten.com/g/40/40" alt=""></a></li>
</ul>
<span class="last-edit">Last edited 2 weeks ago</span>

