.affiliate-unit {
  font-size: $wds-font-size-s;
  margin: 0;
  text-align: center;

  &__header-icon {
    fill: $wds-fandom-color-navy;
  }

  &__header {
    color: $wds-fandom-color-navy;
    display: inline-block;
    margin: 0 auto 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__link {
    align-items: center;
    display: flex;
  }

  &__image {
    background-size: cover;
    border: 1px solid $wds-fandom-color-mid-light-gray;
    border-radius: 3px;
    height: 80px;
    width: 80px;
  }

  &__content {
    flex: 1;
    padding-left: 10px;
    text-align: left;
  }

  &__heading {
    color: $wds-fandom-color-navy;
    font-weight: $wds-fandom-font-weight-medium;
    line-height: 1.29;
    margin-bottom: 6px;
  }

  &__subheading {
    color: $wds-fandom-color-dark-gray;
    font-weight: $wds-fandom-font-weight-regular;
    line-height: normal;
  }
}

.search-results .affiliate-unit {
  margin: 20px 0;
  padding: 0 12px;
}

.article-content .affiliate-unit {
  margin: 0 -.75rem 48px;

  &__slant {
    background-image: linear-gradient(-5deg, rgba(255, 255, 255, 0) 5%, $wds-color-white 60%, rgba(255, 255, 255, 0) 60%);
    height: 130px;
    margin-bottom: 12px;
  }

  &__link {
    margin: 0 .75rem;
  }
}

.affiliate-unit-disclaimer {
  font-size: $wds-font-size-xs;
  line-height: 1.25;
  margin: 24px 0;
}

.search-results .affiliate-unit-disclaimer {
  margin: 24px 12px;
}
