.affiliate-unit {
  font-size: $wds-font-size-base;
  margin: 0;
  text-align: center;

  &__header-icon {
    fill: $wds-fandom-color-navy;
  }

  &__header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 42, 50, .1));
    color: $wds-fandom-color-navy;
    display: inline-block;
    margin: 0 auto 20px;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
  }

  &__link {
    background-size: cover;
    display: block;
    height: 222px;
    position: relative;

    &::after {
      content: '';
      display: block;
      padding-top: (4 / 3) * 100%; /* 4:3 aspect ratio */
    }
  }

  &__content {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
    border: 1px solid $wds-fandom-color-mid-light-gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    padding: 14px 18px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
  }

  &__heading {
    color: $wds-color-white;
  }

  &__subheading {
    color: $wds-color-white;
    opacity: .5;
  }
}

.search-results .affiliate-unit {
  margin-top: 20px;
  padding: 0 12px;
}

.article-content .affiliate-unit {
  background-image: linear-gradient(to bottom, $wds-color-white, $wds-color-off-white);
  margin: 0 -.75rem 48px;

  &__slant {
    background-image: linear-gradient(-5deg, $wds-color-white 0%, $wds-color-white 50%, $wds-color-off-white 50%);
    height: 36px;
    margin-bottom: 12px;
  }

  &__link {
    margin: 0 .75rem;
  }
}
