.alert-notifications {
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: $z-alert-notification;
}

.alert-box {
	background-color: $color-blue-dark;
	border: 1px solid #081e3a;
	color: $white;
	display: block;
	font-size: .8125rem;
	font-weight: 400;
	margin-bottom: 1.25rem;
	padding: .875rem 1.5rem .875rem .875rem;
	position: relative;
	transition: opacity 300ms ease-out;

	.close {
		background: inherit;
		color: $oil;
		font-size: 1.375rem;
		line-height: .9;
		margin-top: -.6875rem;
		opacity: .3;
		padding: 0 6px 4px;
		position: absolute;
		right: .25rem;
		top: 50%;

		&:hover,
		&:focus {
			opacity: .5;
		}
	}

	&.success {
		background-color: #43ac6a;
		border-color: #3a945b;
	}

	&.warning {
		background-color: #f08a24;
		border-color: #de770f;
	}

	&.info {
		background-color: #a0d3e8;
		border-color: #74bfdd;
		color: #4f4f4f;
	}
}
