$gallery-item-margin: 8px;

.article-media-gallery {
	max-width: 450px;
	margin: 0 auto;

	&__row {
		margin-bottom: $gallery-item-margin;
	}

	&__row-2 {
		display: flex;

		.article-media-thumbnail:first-child {
			margin-right: $gallery-item-margin;
		}
	}

	&__row-3 {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&:first-child {
			align-items: flex-start;
			margin-right: $gallery-item-margin / 2;
		}

		&:last-child {
			align-items: flex-end;
		}

		&:not(.article-media-gallery__column-big) {
			width: 33.333%;

			.article-media-thumbnail {
				width: calc(100% - #{$gallery-item-margin/2});
			}
		}
	}

	&__column-big {
		width: 66.666%;
	}
}
