.article-featured-video {
	$on-scroll-padding: 12px;

	position: relative;
	z-index: $z-site-head  + 1;

	&__close-button {
		align-items: center;
		background-color: $wds-color-white;
		display: none;
		height: 36px;
		justify-content: center;
		position: absolute;
		right: 0;
		top: 0;
		width: 36px;

		.is-on-scroll-active & {
			display: flex;
		}

		.wds-icon {
			fill: $wds-color-light-c4;
		}
	}

	&__on-scroll-video-wrapper {
		background-color: $wds-color-white;
		padding: 0;
		transform: translate3d(0, 0, 0);
		transition: padding .3s;

		.is-on-scroll-active & {
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
			padding: $on-scroll-padding;
			position: fixed;
			top: 0;
			width: 100%;
		}
	}

	&__video-content {
		background-color: $wds-color-black;
		background-size: contain;
		height: calc(100vw * 9 / 16);

		.article-body .page-placement-variant & {
			// 1.125rem is the size of article's side padding
			height: calc((100vw - (2 * 1.125rem)) * 9 / 16);
		}

		.is-on-scroll-active & {
			height: calc((100vw - (2 * #{$on-scroll-padding})) * 9 / 16);
		}
	}

	&__on-scroll-placeholder {
		position: absolute;
		top: 0;
		z-index: -1;

		.is-on-scroll-active & {
			position: relative;
		}
	}

	&__attribution-container {
		font-size: 12px;
		font-weight: bold;

		&.has-portable-infobox {
			background-color: $infobox-background;
		}
	}

	&__attribution-inner-container {
		align-items: center;
		border-bottom: 1px solid #ccc;
		display: flex;
		justify-content: center;
		margin: 0 12px;
		padding: 6px 0;
	}

	&__attribution-avatar {
		@include square(24px);

		margin-right: 6px;
	}

	&__attribution-link {
		align-items: center;
		color: rgba(#333, .5);
		display: flex;
	}

	&__attribution-icon {
		margin-left: 6px;
	}

	&:not(.is-on-scroll-active) &__details {
		display: none;
	}

	&__label {
		color: #999;
		font-size: $wds-typescale-size-minus-3;
		font-weight: bold;
		line-height: 1;
		margin-top: 9px;
		text-transform: uppercase;
	}

	&__time:before {
		content: '\2022';
		padding: 0 2px 0 0;
	}

	&__title {
		color: #000;
		font-size: $wds-typescale-size-minus-1;
		font-weight: bold;
		line-height: 1.14em;
		margin-top: 4px;
	}
}

.jwplayer {
	// resets wikia-style-guide styles
	input[type="checkbox"] + label {
		margin-left: 0;
		margin-right: 0;
	}
}
