.article-featured-video-jwplayer {
	background-size: contain;
	background-color: $wds-color-black;
	height: calc(100vw * 9 / 16);
}

.jwplayer {
	// resets wikia-style-guide styles
	input[type="checkbox"] + label {
		margin-left: 0;
		margin-right: 0;
	}
}
