.article-media-thumbnail {
	margin: 40px 0;
	text-align: center;

	figcaption {
		@include ellipsis;

		color: #999;
		height: 50px;
		padding: 5px 0;
		pointer-events: none;
		text-align: left;
	}

	img {
		display: inline-block;
		width: 100%;
	}

	&.is-loading {
		@include is-loading;
	}

	&.is-loaded {
		img {
			animation: lazyImage .3s;
		}
	}

	&.is-small {
		img {
			width: auto;
		}
	}

	&.is-ogg figcaption {
		height: auto;
		text-align: center;
		white-space: normal;
	}

	.chevron {
		background: $wds-color-white;
		bottom: 0;
		height: 20px;
		min-width: 20px;
		padding: 4px;
		position: absolute;
		right: 0;
		transform: rotate(-90deg);
		width: 20px;
	}

	&__play-icon {
		position: absolute;
		// 50% - 36px bc play icon is 72px high in total
		top: calc(50% - 36px);
		width: 100%;
	}
}

.article-media-placeholder {
	display: inline-block;
	width: 100%;
}

.article-media-thumbnail-image-wrapper {
	position: relative;

	> svg {
		@extend %image-placeholder;
	}

	a {
		display: block;
		position: relative;
	}
}

@keyframes lazyImage {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
