.article-media-linked-gallery {
	text-align: center;

	.article-media-thumbnail {
		display: inline-block;
		margin: 0 0 20px;
		vertical-align: top;
		width: 49%;
	}

	&__view-more {
		display: none;
	}

	&__collapsed {
		.article-media-thumbnail:nth-child(n+5) {
			display: none;
		}

		.article-media-linked-gallery__view-more {
			display: block;
			margin-left: 50%;
			transform: translate(-50%);
		}
	}
}
