.article-media-thumbnail {
	@extend %position-play-icon;

	text-align: center;

	figcaption {
		@include ellipsis;

		color: $wds-color-light-c5;
		max-height: 60px;
		padding: 5px 0;
		pointer-events: none;
		text-align: left;
	}

	a {
		display: block;
		position: relative;
	}

	&.downloadable figcaption,
	&.is-ogg figcaption {
		height: auto;
		text-align: center;
		white-space: normal;
	}

	&__play-icon {
		position: absolute;
		// 50% - 36px bc play icon is 72px high in total
		top: calc(50% - 36px);
		width: 100%;
	}
}

.article-media-placeholder {
	border: 1px solid $wds-fandom-color-middle-gray;
	border-radius: 4px;
	display: inline-block;
}

.article-media-thumbnail-image-wrapper {
	position: relative;

	> svg {
		@extend %image-placeholder;
	}
}
