.category-pagination {
  border-top: 1px solid $wds-fandom-color-dark-gray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  // Without it, it looks bad when the last group is collapsed
  margin-top: 10px;
  padding-top: 20px;

  &__prev {
    margin-right: auto;

    .wds-icon {
      transform: rotate(90deg);
    }
  }

  &__next {
    margin-left: auto;

    .wds-icon {
      transform: rotate(-90deg);
    }
  }
}
