@import 'collapsible-menu-variables';

.collapsible-menu {
	ol,
	ul {
		list-style: none;
		margin: 0;

		li {
			border-top: 1px solid $collapsible-menu-border-color;
			padding: .625rem 1.25rem .625rem 2.5rem;

			a {
				align-items: center;
				color: $collapsible-menu-list-link-color;
				display: flex;

				> span {
					flex: 1;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				> .wds-icon {
					margin-left: 6px;
					transform: rotate(-90deg);
				}
			}
		}
	}
}
