.collapsible-menu {
	ol,
	ul {
		display: block;
		list-style: none;
		margin: 22px 0 0 0;

		li {
			display: inline;

			&::after {
				content: ", ";
			}

			&:last-child::after {
				content: "";
			}

			a {
				@extend %wds-font-weight-normal;

				color: $wds-fandom-color-link;
			}
		}
	}
}
