.collapsible-menu {
	$collapsible-menu-border-color: #d0d0d0;
	$collapsible-menu-title-color: $body-font-color;
	$collapsible-menu-list-link-color: $color-black;

	border-bottom: 1px solid $collapsible-menu-border-color;
	border-top: 1px solid $collapsible-menu-border-color;

	+ .collapsible-menu {
		border-top: 0;
	}

	.title {
		align-items: center;
		background: none;
		color: $collapsible-menu-title-color;
		display: flex;
		font-weight: bold;
		line-height: 2.4rem;
		padding: .3125rem 1.25rem;
		position: relative;
		text-align: left;
		width: 100%;

		> span {
			flex: 1;
		}

		> .wds-icon {
			transition: .25s transform ease-in-out;
		}

		&:not(.collapsed) > .wds-icon {
			transform: scaleY(-1);
		}
	}

	//Takes care of hiding a menu
	.collapsed + ul,
	.collapsed + ol {
		display: none;
	}

	ol,
	ul {
		list-style: none;
		margin: 0;

		li {
			border-top: 1px solid $collapsible-menu-border-color;
			padding: .625rem 1.25rem .625rem 2.5rem;

			a {
				align-items: center;
				color: $collapsible-menu-list-link-color;
				display: flex;

				> span {
					flex: 1;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				> .wds-icon {
					margin-left: 6px;
					transform: rotate(-90deg);
				}
			}
		}
	}
}
