.collapsible-menu {
  > ol,
  > ul {
    display: block;
    list-style: none;
    margin: 12px 0 0;

    li {
      display: inline;

      &::after {
        content: ", ";
      }

      &:last-child::after {
        content: "";
      }

      a {
        color: $wds-fandom-color-link;
        font-weight: $wds-font-weight-normal;
      }
    }
  }
}
