.collapsible-menu {
	+ .collapsible-menu {
		border-top: 0;
	}

	.title {
		align-items: center;
		display: flex;
		width: 100%;

		> span {
			flex: 1;
		}
	}

	//Takes care of hiding a menu
	.collapsed + ul,
	.collapsed + ol {
		display: none;
	}
}
