$post-search-results-item-image-height: 48px;

.post-search-results-affiliate-item {
  margin: 18px 0;
  min-height: $post-search-results-item-image-height;

  // Clearfix
  &::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
  }

  &__title {
    color: $wds-fandom-color-link;
    display: inherit;
    font-size: $wds-font-size-xs;
    font-weight: $wds-font-weight-medium;
    letter-spacing: .03px;
    line-height: normal;
    margin-bottom: 6px;
  }

  &__details {
    align-items: center;
    color: $wds-fandom-color-dark-gray;
    display: flex;
    font-size: $wds-font-size-xs;
    font-weight: $wds-font-weight-normal;
    line-height: normal;

    & > svg {
      margin-right: 6px;
    }
  }

  &__image {
    border: solid 1px $wds-fandom-color-mid-light-gray;
    border-radius: 3px;
    float: right;
    height: $post-search-results-item-image-height;
    margin-left: 12px;
    object-fit: cover;
    width: $post-search-results-item-image-height;
  }

  &__icon {
    margin-left: 5px;
  }
}
