.post-search-results-item {
  margin: 18px 0;

  // Clearfix
  &::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
  }

  &__title {
    color: #0d7675;
    display: inherit;
    font-size: $wds-font-size-xs;
    font-weight: $wds-font-weight-medium;
    letter-spacing: .03px;
    line-height: 1;
    margin-bottom: 9px;
  }

  &__details {
    align-items: center;
    color: $wds-color-dark-gray;
    display: flex;
    fill: currentColor;
    font-size: $wds-font-size-xs;
    font-weight: $wds-font-weight-normal;
    line-height: 1;

    & > svg {
      margin-right: 6px;
    }
  }

  &__image {
    border: solid 1px $wds-fandom-color-mid-light-gray;
    border-radius: 3px;
    float: right;
    height: 48px;
    margin-left: 12px;
    object-fit: cover;
    width: 48px;
  }
}
