.post-search-results {
  border-bottom: 1px solid $wds-fandom-color-middle-gray;
  margin: 18px 12px 8px;
  padding-bottom: 10px;

  &__header {
    display: flex;
    margin-bottom: 14px;
    text-align: center;
  }

  &__header-text {
    font-size: $wds-font-size-l;
    font-weight: $wds-font-weight-medium;
    margin: auto;
    text-transform: uppercase;

    & > * {
      vertical-align: middle;
    }
  }

  &__see-more {
    font-size: $wds-font-size-xs;
    padding: 0;

    & > svg {
      transform: scaleX(-1);
    }
  }

  &__loading {
    margin: 18px;
  }

  &__no-posts {
    align-items: center;
    display: flex;
    font-size: $wds-font-size-s;
    justify-content: center;
    margin: 18px;
  }

  &__disclaimer {
    color: $wds-fandom-color-dark-gray;
    font-size: $wds-font-size-xxs;
    font-style: italic;
    letter-spacing: .25px;
    line-height: 1.4;
    margin: 24px 0 0;
    padding: 0 4px;
    text-align: left;

    &::before {
      border-top: 1px solid $wds-fandom-color-mid-light-gray;
      content: "";
      display: block;
      margin: 0 -4px 16px;
    }
  }
}

.article-content .post-search-results {
  border-bottom: none;
  margin: 0;
  padding-bottom: none;

  &__slant {
    background-image: linear-gradient(-5deg, rgba(255, 255, 255, 0) 5%, $infobox-background 60%, rgba(255, 255, 255, 0) 60%);
    height: 130px;
    margin: 0 -12px;
  }
}

.search-results .post-search-results {
  &__disclaimer {
    margin-top: 18px;
  }

  &__disclaimer::before {
    border-top: none;
    margin-top: 0;
  }
}
