.recirculation-prefooter {
  background: $wds-color-off-white;
  padding: 0 .75rem 1.125rem;

  &__header {
    padding: .375rem 0 .75rem;
    text-align: center;
  }

  &__item {
    border-radius: 3px;
    height: 259px;
    margin-bottom: 12px;
    position: relative;

    &.is-sponsored {
      background-size: cover;
    }

    &-anchor {
      color: $wds-color-white;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
    }
  }

  &__placeholder {
    align-items: center;
    background-color: $wds-fandom-color-navy;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    svg {
      height: 25%;
    }
  }

  &__badge-sponsored {
    background-color: $wds-color-light-c7;
    color: $wds-color-white;
    left: 0;
    padding: 3px 8px;
    position: absolute;
    top: 0;
  }

  &__list {
    @extend %list-reset;
  }

  &__recommendation {
    color: $wds-fandom-color-button-background;
    margin-bottom: 6px;
    padding: 0 16px;
  }

  &__title {
    color: $wds-color-white;
    margin-bottom: 6px;
    padding: 0 16px;
  }

  &__subtitle {
    color: $wds-color-white;
    margin-bottom: 13px;
    opacity: .5;
    padding-left: 16px;
  }

  &__wiki-articles {
    background-color: $wds-color-white;
    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    margin-bottom: .75rem;
    width: 100%;
  }

  &__wiki-articles-header {
    background-color: $wds-fandom-color-navy;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: $wds-color-white;
    padding: 16px;
    text-align: center;
  }

  &__wiki-articles-list {
    @extend %list-reset;

    padding: 0 18px;
  }

  &__wiki-article {
    align-items: center;
    display: flex;
    height: 80px;

    &:not(:last-child) {
      border-bottom: 1px solid $wds-fandom-color-mid-light-gray;
    }
  }

  &__wiki-article-circle {
    @include square(36px);

    align-items: center;
    background-color: $wds-fandom-color-middle-gray;
    border-radius: 50%;
    color: $wds-color-white;
    display: flex;
    justify-content: center;
  }

  &__wiki-article-title {
    margin-left: .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
