$recommended-video-extended-header-height: 44px;
$recommended-video-player-width: 200px;

.recommended-video {
	background-color: $wds-color-white;
	bottom: -300px;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .5);
	display: block;
	font-size: 12px;
	line-height: 1.2;
	padding: 12px;
	position: fixed;
	right: 0;
	transition: bottom 1s;
	z-index: $z-9;

	&.is-ready {
		bottom: 0;
	}

	&.is-closed {
		display: none;
	}

	&.is-extended {
		left: 0;
		padding: 0;
		top: 0;
		width: auto;

		header {
			background-color: $wds-color-off-white;
			height: $recommended-video-extended-header-height;
			margin-bottom: 0;
			padding: 0 9px;
		}

		.recommended-video {
			&__player {
				height: auto;
				width: auto;
			}

			&__container {
				bottom: 0;
				overflow: auto;
				padding-top: 12px;
				position: fixed;
				top: calc(56.25vw + #{$recommended-video-extended-header-height});
				width: auto;
			}

			&__upnext {
				display: flex;
			}

			&__playlist {
				display: block;
			}

			&__title {
				font-size: 14px;
				margin: 12px 18px 0;
				padding-bottom: 12px;
			}
		}
	}

	header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		.wds-icon-tiny {
			fill: $wds-color-faint-gray;
		}

		h2 {
			font-size: 12px;
			line-height: 1;
			margin: 0;

			span:nth-child(2) {
				font-weight: 300;
			}
		}
	}

	&__player {
		height: $recommended-video-player-width * 9 / 16;
		width: $recommended-video-player-width;
	}

	&__container {
		width: $recommended-video-player-width;
	}

	&__title {
		font-weight: bold;
		margin-top: 10px;
	}

	&__playlist {
		display: none;
		list-style: none;
		margin: 12px 18px 0;

		li {
			display: flex;
			margin-bottom: 9px;

			&.current {
				.recommended-video__playlist-thumbnail {
					padding: 0;

					img {
						border: 3px solid $wds-fandom-color-aqua;
					}
				}
			}
		}
	}

	&__playlist-thumbnail {
		margin-right: 12px;
		padding: 2px;
		position: relative;

		img {
			border: 1px solid $wds-color-faint-gray;
			box-sizing: content-box;
			min-width: 96px;
			width: 96px;
		}

		.wds-player-icon-play-tiny {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__playlist-title {
		align-items: center;
		display: flex;
		font-weight: bold;
	}

	&__upnext {
		align-items: center;
		color: $wds-color-light-gray;
		display: none;
		font-size: 14px;
		font-weight: normal;
		margin: 6px 0 20px;
		padding: 0 18px;

		&::after {
			background-color: $wds-color-faint-gray;
			content: '';
			flex: 1;
			height: 1px;
			margin-left: 14px;
		}
	}

	.jw-playlist-btn {
		display: none;
	}
}

.is-click-to-play {
	display: flex;
	flex-wrap: wrap;
	height: 100px;
	width: 100%;

	header {
		width: 100%;
	}

	> div:nth-child(2) {
		width: 83.5px;
		height: 52.3px;
		margin-bottom: 12px;
	}

	> div:nth-child(3) {
		margin-left: 12px;
		height: 100%;

		> div {
			font-size: 14px;
		}
	}

	.recommended-video__player {
		display: none;
	}

	.recommended-video__playlist-thumbnail {
		img {
			min-width: unset;
			width: 100%;
		}
	}
}
