.recirculation-prefooter {
	background: $wds-color-off-white;

	&.has-items {
		padding: 0 .75rem 1.125rem;
	}

	&__header {
		padding: .375rem 0 .75rem;
		text-align: center;
	}

	&__item {
		border-radius: 3px;
		height: 259px;
		margin-bottom: 12px;
		position: relative;

		&-anchor {
			color: $wds-color-white;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: flex-end;
		}
	}

	&__badge-sponsored {
		background-color: $wds-color-light-c7;
		color: $wds-color-white;
		left: 0;
		padding: 3px 8px;
		position: absolute;
		top: 0;
	}

	&__list {
		@extend %list-reset;
	}

	&__title {
		color: $wds-color-white;
		margin-bottom: 6px;
		padding: 0 16px;
	}

	&__subtitle {
		color: $wds-color-white;
		margin-bottom: 13px;
		opacity: .5;
		padding-left: 16px;
	}
}
