.recirculation-prefooter {
	background: $wds-color-off-white;

	&.has-items {
		// compensate for footer margin
		margin-bottom: -30px;
		padding: 0 .75rem 1.125rem;
	}

	&__item {
		height: 259px;
		margin-bottom: 12px;
		position: relative;

		&-anchor {
			color: $wds-color-white;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: flex-end;
		}

		&-is-video {
			bottom: 0;
			height: 36px;
			margin-bottom: 12px;
			margin-right: 12px;
			position: absolute;
			right: 0;
			width: 36px;
			z-index: 1;
		}
	}

	&__badge-sponsored {
		@extend %wds-font-size-xs;
		@extend %wds-font-weight-bold;

		background-color: $wds-color-light-c7;
		color: $wds-color-white;
		left: 0;
		padding: 3px 8px;
		position: absolute;
		top: 0;
	}

	&__list {
		@extend %list-reset;
	}

	&__title {
		@extend %wds-font-size-base;
		@extend %wds-font-weight-bold;
		@extend %wds-leading-tight;

		color: $wds-color-white;
		margin-bottom: 6px;
		padding: 0 16px;
	}

	&__subtitle {
		@extend %wds-font-size-s;
		@extend %wds-font-weight-bold;
		@extend %wds-leading-tight;

		color: $wds-color-white;
		margin-bottom: 13px;
		opacity: .5;
		padding-left: 16px;
	}
}
