.recirculation-prefooter {
	background: $wds-color-off-white;
	// compensate for footer margin
	margin-bottom: -30px;
	padding: rem-calc(20);

	&__item {
		min-height: 150px;
		position: relative;

		a {
			color: $wds-color-black;
		}

		&-is-video {
			bottom: 0;
			height: 60px;
			margin-bottom: 12px;
			margin-right: 12px;
			position: absolute;
			right: 0;
			width: 60px;
			z-index: 1;
		}

		&-thumbnail {
			position: relative;
		}
	}

	&__badge {
		color: white;
		font-size: 12px;
		font-weight: bold;
		padding: 3px 8px;
		position: absolute;
		top: 0;

		&-sponsored {
			background-color: #666;
			left: 0;
		}

		&-trending {
			background-color: #f08a24;
			left: 0;
		}

		&-plista {
			background-color: #666;
			height: 30px;
			right: 0;
			width: 100px;
		}
	}

	&__list {
		@extend %list-reset;
	}

	&__title {
		line-height: 1.5;
		margin: 24px 0;
	}
}
