.search-results {

  .wds-dropdown {
    float: right;
    padding-left: 10px;
    border-left: 1px solid black;

    &__toggle > span {
      padding-right: 5px;
    }
  }

  &__total {
    padding: 20px 12px 0;
    height: 42px;
    line-height: 26px;
  }

  &__load-more-wrapper {
    padding: 0 12px 20px;
    text-align: center;

    .wds-button {
      box-sizing: border-box;
      width: 100%;
    }
  }

}
