
$search-total-font-size: 12px;
$search-total-line-height: 16px;

$search-load-more-bottom-padding: 20px;

.search-result-page {
	background-color: $wds-color-light-c2;
}

.search-results__list .searchmatch {
	font-weight: bold;
}

.search-results__total {
	font-size: $search-total-font-size;
	line-height: $search-total-line-height;
	padding: 20px 12px 0;
}

.search-results__load-more-wrapper {
	padding: 0 12px $search-load-more-bottom-padding;
	text-align: center;

	.wds-button {
		@include button-theming($wds-fandom-color-link, $wds-color-white, $wds-fandom-color-link, "darker");

		box-sizing: border-box;
		width: 100%;
	}
}
