$z-header: $z-6;
$nav-container-padding: 6px;
$icon-size: 25px;
$site-head-box-shadow-color: rgba(0, 0, 0, .15);
$icon-button-size: 48px;
$site-head-default-box-shadow: 0 1px 4px 0 $site-head-box-shadow-color;

.wds-global-navigation {
	z-index: $z-site-head;

	.wds-global-navigation__modal {
		z-index: $z-site-head;
	}

	.featured-video-on-scroll-active:not(.wds-no-scroll) & {
		position: relative;
	}
}

body:not(.wds-no-scroll) {
	.with-fandom-app-smart-banner {
		.wds-global-navigation {
			top: 85px;
		}
	}
}

.site-head-headroom-un-pinned .wds-global-navigation {
	box-shadow: $site-head-default-box-shadow;

	&.no-shadow {
		box-shadow: 0 0 0 0 $site-head-box-shadow-color;
	}
}

.has-partner-slot {
	.site-head-wrapper,
	.wds-global-navigation {
		height: $site-head-with-partner-slot-height;
	}
}

.wds-no-scroll .has-partner-slot {
	.site-head-wrapper,
	.wds-global-navigation {
		height: $site-head-height;
	}
}

.site-head-container {
	min-height: $site-head-height;
}

.site-head-headroom-not-top {
	.fandom-app-smart-banner {
		position: fixed;
		top: 0;

		.featured-video-on-scroll-active & {
			position: static;
		}
	}
}

.with-fandom-app-smart-banner {
	.site-head-container {
		min-height: 140px;
	}
}

.site-head-wrapper {
	height: $site-head-height;
}

//Styles for BFAA
.bfaa-template {
	.site-head-headroom-top {
		.wds-global-navigation {
			position: relative;
		}
	}
}

.wds-no-scroll {
	.bfaa-template {
		.wds-global-navigation {
			position: fixed;
		}
	}
}
