.trending {
	line-height: 0;
	margin: 2rem 0 0;
	padding: 0 $article-horizontal-padding / 3;

	h2 {
		font-size: $type-smaller;
		line-height: $line-height-smaller;
		margin: .5rem 0;
		padding: 0 $article-horizontal-padding / 3;
		text-align: left;
		text-transform: uppercase;
	}

	.item-image {
		background-color: $wds-color-light-c4;
		padding-top: 56.25%;
		position: relative;

		img {
			position: absolute;
			top: 0;
		}
	}

	.item-figcaption {
		color: $color-gray-dark;
		font-size: $type-smallest;
		font-weight: bold;
		line-height: $line-height-smallest;
		padding: .25rem;
	}
}
