.trending {
	line-height: 0;
	margin: 2rem 0 0;
	padding: 0 $article-horizontal-padding / 3;

	h2 {
		font-size: $type-smaller;
		line-height: $line-height-smaller;
		margin: .5rem 0;
		padding: 0 $article-horizontal-padding / 3;
		text-align: left;
		text-transform: uppercase;
	}

	.item-image {
		@extend %image-placeholder;

		line-height: 1.25rem;
	}

	.item-figcaption {
		color: $color-gray-dark;
		font-size: $type-smallest;
		font-weight: bold;
		line-height: $line-height-smallest;
		padding: .25rem;
	}
}
