.trending {
	line-height: 0;
	padding: 0 $article-horizontal-padding / 3;

	h2 {
		margin: .5rem 0;
		padding: 0 $article-horizontal-padding / 3;
		text-align: left;
		width: 100%;
	}

	.item-image {
		background-color: $wds-color-light-c4;
		padding-top: 56.25%;
		position: relative;

		svg {
			@extend %image-placeholder;
		}

		img {
			position: absolute;
			top: 0;
		}
	}

	.item-figcaption {
		color: $wds-color-dark-blue-gray;
		padding: .25rem;
	}
}
