.user-avatar {
	display: inline-block;
}

@media #{$wds-breakpoint-m-down} {
	.user-avatar {
		.avatar-username {
			@include ellipsis;

			display: inline-block;
			max-width: 140px;
			vertical-align: middle;
		}
	}
}
