.watch-show {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 30px;

  h2 {
    font-size: $wds-font-size-xs;
    letter-spacing: .22px;
    line-height: 1;
    margin: 0 0 12px;
    padding: 0 !important; // overrides article h2:not(.open-section)
  }

  .wds-button {
    @include button-theming($wds-fandom-color-button-background, $wds-fandom-color-black);

    margin-bottom: 12px;
    min-width: 236px;
    padding: 8px 18px;
  }

  &__image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__hr {
    width: 100%;
  }

  &__image {
    height: 44px;
    margin: 0 14px;
    object-fit: cover;
  }

  &__slant {
    background-image: linear-gradient(-5deg, rgba(255, 255, 255, 0) 5%, $wds-color-white 60%, rgba(255, 255, 255, 0) 60%);
    height: 130px;
    margin: 0 -12px;
  }

  &__disclaimer {
    color: $wds-fandom-color-dark-gray;
    font-size: $wds-font-size-xxs;
    font-style: italic;
    letter-spacing: .25px;
    line-height: 1.4;
    margin: 18px 0 40px;
    padding: 0 30px;
    position: relative;
    text-align: center;
  }

  &__disclaimer::after {
    border-top: 1px solid $wds-fandom-color-mid-light-gray;
    content: "";
    display: block;
    margin: 12px auto;
    width: 50%;
  }
}
