.watch-show {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 30px;

  h2 {
    font-size: 10px;
    line-height: 1;
    margin: 0;
    padding: 0 !important; // overrides article h2:not(.open-section)
  }

  .wds-button {
    @include button-theming($wds-fandom-color-aqua, $wds-color-white);
  }

  &__image {
    max-width: 200px;
  }
}
