.watch-show {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 30px;

  h2 {
    color: $wds-color-light-c6;
    font-size: 8px;
    letter-spacing: .22px;
    line-height: 1;
    margin: 0;
    padding: 0 !important; // overrides article h2:not(.open-section)
  }

  .wds-button {
    @include button-theming(#00acac, $wds-color-white);

    min-width: 236px;
  }

  &__image {
    height: 24px;
    margin-bottom: 12px;
    margin-top: 4px;
    object-fit: cover;
    width: 164px;
  }
}
