.wikia-nav {
	$nav-logout-color: #d7d9dc;
	$nav-local-background-color: #4f5863;
	$nav-avatar-size: 30px;
	$nav-avatar-margin: 10px;
	$nav-avatar-border-radius: 50%;
	$nav-avatar-border: 2px;
	$nav-line-height: 30px;

	background-color: $color-gray-dark;
	flex-grow: 1;
	overflow: auto;
	// smooth scrolling on ios. This is not a stable CSS property, thus it may
	// not be supported on all browsers or behaviour may change.
	// see: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling
	-webkit-overflow-scrolling: touch;

	&__header {
		@include link-interactions-color(inherit);

		align-items: center;
		background-color: $nav-background-color;
		color: inherit;
		display: flex;
		line-height: $nav-line-height;
		padding: $nav-padding-horizontal $nav-padding-vertical;

		&.wikia-nav__back {
			> span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			> .wds-icon {
				margin-right: 26px;
			}
		}

		.wikia-nav__avatar {
			display: flex;
			margin-right: $nav-avatar-margin;

			img {
				border: $nav-avatar-border solid $white;
				border-radius: $nav-avatar-border-radius;
				height: $nav-avatar-size;
				vertical-align: top;
				width: $nav-avatar-size;
			}

			.wds-icon {
				height: 32px;
				width: 32px;
			}
		}

		.wikia-nav--profile-link {
			display: flex;
			flex: 1;

			> span {
				flex: 1;
			}
		}

		.wikia-nav--login {
			background: #fff;
			border: $nav-avatar-border solid #fff;
			border-radius: $nav-avatar-border-radius;
			height: $nav-avatar-size;
			vertical-align: top;
			width: $nav-avatar-size;
		}

		.wikia-nav--logout {
			color: $nav-logout-color;
			float: right;
		}
	}

	&--in-root {
		background-color: $nav-local-background-color;
		flex-grow: 1;
		height: inherit;
	}

	.user-profile-avatar {
		position: relative;
	}

	.wds-notifications__unread-mark {
		left: initial;
		right: -9px;
		top: -3px;
	}
}
