.collapsed .side-nav-drawer {
	display: none;
}

.side-nav-drawer {
	color: $white;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding-top: $site-head-height;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-site-head - 1;

	a:hover,
	a:focus {
		color: inherit;
	}
}

.side-nav-drawer__content {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
