.wikia-user-profile {
	background-color: $wds-color-white;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	text-align: center;

	&__username {
		margin: 4px 18px 1.1rem;
	}

	&__fixed-wrapper {
		flex-grow: 0;
	}

	&__back-link {
		line-height: 20px;

		svg {
			fill: $color-blue-gray;
			transform: rotate(90deg);
		}
	}

	&__header-wrapper {
		.user-avatar {
			background-color: $wds-color-white;
			border-radius: 100%;
			margin-top: -25px;
			// hack for making it get on top of the header
			transform: translate(0, 0);

			figure.avatar {
				svg,
				a > img {
					border-color: $wds-color-white;
					border-width: 3px;
					height: 94px;
					width: 94px;
				}
			}
		}
	}

	&__scrollable-wrapper {
		flex-grow: 1;
		overflow: auto;

		.wds-notifications__notification-list {
			max-height: inherit;
		}

		.wds-notifications__zero-state {
			padding-top: 40px;
		}
	}

	&__notification-title-wrapper {
		border-bottom: solid 1px $wds-color-blue-gray;
		display: flex;
		justify-content: space-between;
		margin: 0 18px;
		padding: 0 0 11px;

		.wds-notifications__mark-all-as-read {
			line-height: 14px;
			text-align: right;
		}
	}

	&__notification-title {
		font-size: $wds-typescale-size-minus-2;
		line-height: 14px;
		text-transform: uppercase;
	}
}
