$clear-icon-width: 68px;
$search-height: 48px;
$search-icon-width: 24px;
$search-input-font-size: 16px;
$search-input-left-margin: 6px;
$search-spacing: 18px;
$search-wrapper-height: calc(100% - #{$site-head-height});
$text-field-label-top: 13px;
$border-bottom-height: 1px;

.wikia-search-wrapper {
	height: $search-height;
}

.side-nav-drawer__content .wikia-search {
	height: $search-wrapper-height;
}

.wikia-search {
	position: fixed;
	width: 100%;
	z-index: $z-6;

	.wikia-search__search-icon {
		height: 45px;
		width: $search-icon-width;
	}

	.wikia-search__clear {
		width: $clear-icon-width;

		svg {
			fill: $wds-color-slate-gray;
			transform: rotate(45deg);
		}
	}

	&.wikia-search--focused {
		.wikia-search__search-icon svg {
			fill: $oil;
		}

		.search::after {
			border-bottom: $border-bottom-height solid $color-blue-light;
			content: ' ';
		}
	}
}

.side-search__input:placeholder-shown ~ .wikia-search__clear {
	visibility: hidden;
}

.wikia-search__item {
	@include link-interactions-color($oil);

	color: $oil;
	position: relative;

	&.search::after {
		border-bottom: $border-bottom-height solid $iron;
		bottom: 10px;
		content: ' ';
		left: $search-spacing;
		margin: auto;
		position: absolute;
		right: $search-spacing;
	}

	.wikia-search__search-icon svg {
		fill: $iron;
	}
}

.wikia-search__container {
	background-color: $white;
	display: flex;
	flex-grow: 1;
	height: $search-height;
	padding-left: $search-spacing - 1px;
	position: relative;

	input.side-search__input,
	input.side-search__input:focus {
		background: transparent;
		border: 0;
		color: $color-gray-dark;
		font-size: 1rem;
		margin: 0 0 0 $search-input-left-margin;
		outline: 0;
		width: 100%;

		&::placeholder {
			color: $iron;
		}
	}
}

.wikia-search__suggestions-wrapper {
	background-color: $overlay-background-color;
	height: 100%;
}

.wikia-search__suggestions {
	background-color: $vapor;
	box-shadow: 0 8px 12px 0 $box-shadow-color;
	list-style-type: none;
	margin: 0;
	max-height: calc(100% - #{$search-height});
	overflow: auto;
	padding: 0;
	white-space: nowrap;
}

.wikia-search__search-suggestion {
	height: $search-height;
	line-height: $search-height;
	padding: 0 $nav-padding-vertical;

	a {
		display: inline-block;
		left: 0;
		overflow: hidden;
		padding: 0 $nav-padding-vertical;
		position: absolute;
		text-overflow: ellipsis;
		width: 100%;
	}
}

.wikia-search__loading {
	text-align: center;
}

.wikia-search__suggestion-highlighted {
	font-weight: bold;
}
