.standalone {
	.auth-header {
		margin: 19px 31px 0px;
		min-width: 768px;
		border-style: solid;
		border-color: $iron;
		border-width: 1px 1px 0px;
	}
}

.auth-header {
	color: $header-text-color;
	flex-grow: 0;
	flex-shrink: 0;
}
