.standalone {
	.auth-header {
		border-color: $color-white;
		border-style: solid;
		border-width: 1px 1px 0;
		margin: 19px 31px 0;
		min-width: 706px;
	}
}

.auth-header {
	color: $header-text-color;
	flex-grow: 0;
	flex-shrink: 0;
}
