.global-nav {
	padding: 0px 31px;
	height: 46px;
	background-color: $color-white;
	border-bottom: solid #A9A9A9 2px;
}
a {
	&.main-page {
		span{
			display: none;
		}
		display: block;
		background-image: url("/front/images/wikia-logo-blue.svg");
		height: 21px;
		width: 75px;
		margin-left: 13px;
		margin-top: 12px;
	}
}
