.standalone {
	.auth-footer {
		border-color: $border-color;
		border-style: solid;
		border-width: 0 1px;
		margin: 0 31px;
		min-width: 768px;
	}
}
.auth-footer {
	color: $footer-text-color;
	flex-grow: 0;
	flex-shrink: 0;

	a {
		color: inherit;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.footer-callout-link {
	padding-left: 10px;
}
