@import 'ads-floor';

$ad-background: rgb(44, 52, 61);

.ad-slot {
	text-align: center;

	div {
		margin: 0 auto;
	}
}

.ad-slot[id^="INVISIBLE_"] {
	display: none !important;
}

.main-page-pad-slot .ad-slot {
	margin-bottom: 36px;
}

.mobile-top-leaderboard .ad-slot {
	background: $ad-background;
	min-height: 50px;
	padding: 10px;
	position: relative;
	z-index: $z-ads-top-leaderboard;
}

.mobile-top-leaderboard.bfaa-template {
	position: absolute;
	top: 0;
	width: 100%;

	.ad-slot {
		background: none;
		padding: 0;
	}
}

.mobile-bottom-leaderboard {
	.ad-slot {
		padding: 10px 0;
	}

	&.bfab-template .ad-slot {
		padding: 0;
	}
}

.mobile-in-content, .mobile-prefooter {
	margin: 10px 0;
	padding: 10px 0;
}

.no-ads {
	height: 0;
}

.wikia-ad-iframe {
	border: 0;
}

// used for ad viewability on infobox page experiment, should be removed as part of DAT-4487
.article-content .mobile-top-leaderboard .ad-slot {
	background: $white;
}
