@import 'ads-floor';

$closeButtonHeight: 40px;

$uap-progress-bar-color: #666;
$uap-progress-bar-current-time-color: #b7b7b7;

.ad-slot {
	text-align: center;

	div {
		margin: 0 auto;
	}
}

.invisible-high-impact {
	display: none;
}

.main-page-pad-slot .ad-slot {
	margin-bottom: 36px;
}

.mobile-top-leaderboard .ad-slot {
	min-height: 50px;
	padding: 10px 0;
	position: relative;
	z-index: $z-ads-top-leaderboard;
}

// if mobile-top-leaderboard injected into article content - ignore articles default margins
.article-content .mobile-top-leaderboard {
	margin: 0 -20px;
}

.vuap-loaded {
	transition: padding 0.4s ease;
}

.bfaa-template .mobile-top-leaderboard {
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;

	.ad-slot {
		background: #000;
		overflow: hidden;
		padding: 0;
		position: relative;
		transition: height 0.4s ease;

		iframe {
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			top: 0;
		}

		video {
			left: 0;
		}
	}
}

.mobile-bottom-leaderboard {
	.ad-slot {
		padding: 10px 0;
	}

	.bfab-template {
		padding: 0;
		position: relative;

		iframe {
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			top: 0;
		}

		video {
			left: 0;
		}
	}
}

.ad-slot {
	.progress-bar {
		background: $uap-progress-bar-color;
		bottom: 0;
		height: 8px;
		left: 0;
		margin: 0;
		position: absolute;
		width: 100%;
	}

	.current-time {
		background: $uap-progress-bar-current-time-color;
		height: 100%;
		margin: 0;
		max-width: 100%;
		width: 0;
		-webkit-transition: width linear;
		-moz-transition: width linear;
		-o-transition: width linear;
		transition: width linear;
	}
}

.mobile-in-content,
.mobile-prefooter {
	margin: 10px 0;
	padding: 10px 0;
}

.no-ads {
	height: 0;
}

.wikia-ad-iframe {
	border: 0;
}

.invisible-high-impact-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: $z-modal-dialog;

	.close {
		cursor: pointer;
	}

	.invisible-high-impact-2 iframe {
		display: block;
		margin: 0 auto;
		position: relative;
	}

	&.floor-adhesion {
		bottom: 0;
		// needed for Safari 9 - it doesn't position elements from the left by default
		left: 0;

		.background {
			background: rgba(0, 0, 0, .8);
			height: 100%;
			// needed for Safari 9 - it doesn't position elements from the left by default
			left: 0;
			position: absolute;
			width: 100%;
		}

		.label {
			display: none;
		}

		.close {
			background-color: #000;
			border-radius: 50%;
			border: 2px solid white;
			height: $closeButtonHeight;
			padding: 5px;
			text-align: center;
			top: -($closeButtonHeight / 2);
			width: $closeButtonHeight;
			position: absolute;
			right: 0;
			//This is needed to make sure that close button is always displayed above ad
			z-index: $z-modal-dialog;
		}
	}

	&.interstitial {
		height: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		top: 0;

		.background {
			background: rgba(0, 0, 0, .9);
			bottom: 0;
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
		}

		.top-bar {
			background-color: rgba(0, 0, 0, 0.5);
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			//This is needed to make sure that close button is always displayed above ad
			//ad can take the whole space of interstitial if too big creative is targeted
			//- it shouldn't happen but it protects users from being not able to close interstitial
			z-index: $z-modal-dialog;
		}

		.close {
			display: inline-block;
			padding: 20px;
			float: right;
			position: relative;
		}

		.label {
			color: #D5D4D4;
			display: inline-block;
			font-size: 17px;
			padding: 20px 10px;
			position: relative;
		}
	}
}

.bfaa-template,
.bfab-template {
	.ima-mute-div {
		position: absolute;
		bottom: 0px;
		right: 5px;
		width: 15%;
		height: 20%;
		text-align: right;

		.speaker {
			height: 30px;
			width: 30px;
			position: relative;
			overflow: hidden;
			display: inline-block;

			span {
				display: block;
				width: 8px;
				height: 8px;
				background: #000;
				margin: 11px 0 0 2px;

				&:after {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-color: transparent #000 transparent transparent;
					border-width: 10px 14px 10px 15px;
					left: -13px;
					top: 5px;
				}

				&:before {
					transform: rotate(45deg);
					border-radius: 0 50px 0 0;
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					border-style: double;
					border-color: #000;
					border-width: 7px 7px 0 0;
					left: 20px;
					top: 12px;
					transition: all 0.2s ease-out;
				}
			}

			&:hover {
				span:before {
					transform: scale(.8) translate(-3px, 0) rotate(42deg);
				}
			}

			&.mute {
				span:before {
					transform: scale(.5) translate(-15px, 0) rotate(36deg);
					opacity: 0;
				}
			}
		}
	}
}

//show the loading spinner on top of ad in interstitial
.stop-scrolling {
	overflow: hidden;

	.loading-overlay {
		background: none;
		bottom: initial;
		left: 50%;
		position: absolute;
		right: initial;
		top: 50%;
		z-index: $z-modal-dialog + 1;

		.spinner {
			left: initial;
			position: relative;
			top: initial;
		}
	}
}
