@import 'ads-floor';

$ad-background: rgb(44, 52, 61);

.ad-slot {
	text-align: center;

	div {
		margin: 0 auto;
	}
}

.ad-slot[id^="INVISIBLE_"] {
	display: none !important;
}

.main-page-pad-slot .ad-slot {
	margin-bottom: 36px;
}

.mobile-top-leaderboard {
	background: $ad-background;
	min-height: 50px;
	position: relative;
	z-index: $z-ads-top-leaderboard;
}

.mobile-in-content, .mobile-prefooter {
	margin: 10px 0;
	padding: 10px 0;
}

.no-ads {
	height: 0;
}

.wikia-ad-iframe {
	border: 0;
}
