@import 'ads-floor';

$floorAdhesionBackgroundColor: #000;
$closeButtonHeight: 40px;

.ad-slot {
	text-align: center;

	div {
		margin: 0 auto;
	}
}

.invisible-high-impact {
	display: none;
}

.main-page-pad-slot .ad-slot {
	margin-bottom: 36px;
}

.mobile-top-leaderboard .ad-slot {
	min-height: 50px;
	padding: 10px 0;
	position: relative;
	z-index: $z-ads-top-leaderboard;
}

// if mobile-top-leaderboard injected into article content - ignore articles default margins
.article-content .mobile-top-leaderboard {
	margin: 0 -20px;
}

.bfaa-template .mobile-top-leaderboard {
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;

	.ad-slot {
		background: none;
		padding: 0;
		position: relative;

		iframe {
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			top: 0;
		}

		video {
			left: 0px;
		}
	}
}

.mobile-bottom-leaderboard {
	.ad-slot {
		padding: 10px 0;
	}

	.bfab-template {
		padding: 0;
		position: relative;

		iframe {
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			top: 0;
		}

		video {
			left: 0;
		}
	}
}

.mobile-in-content,
.mobile-prefooter {
	margin: 10px 0;
	padding: 10px 0;
}

.no-ads {
	height: 0;
}

.wikia-ad-iframe {
	border: 0;
}

.invisible-high-impact-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: $z-modal-dialog;

	.close {
		cursor: pointer;
	}

	.invisible-high-impact-2 iframe {
		display: block;
		margin: 0 auto;
		position: relative;
	}

	&.floor-adhesion {
		bottom: 0;
		// needed for Safari 9 - it doesn't position elements from the left by default
		left: 0;

		.background {
			background: rgba(0, 0, 0, .8);
			height: 100%;
			// needed for Safari 9 - it doesn't position elements from the left by default
			left: 0;
			position: absolute;
			width: 100%;
		}

		.label {
			display: none;
		}

		.close {
			background-color: $floorAdhesionBackgroundColor;
			border-radius: 50%;
			border: 2px solid white;
			height: $closeButtonHeight;
			padding: 5px;
			text-align: center;
			top: -($closeButtonHeight / 2);
			width: $closeButtonHeight;
			position: absolute;
			right: 0;
			//This is needed to make sure that close button is always displayed above ad
			z-index: $z-modal-dialog;
		}
	}

	&.interstitial {
		height: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		top: 0;

		.background {
			background: rgba(0, 0, 0, .9);
			bottom: 0;
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
		}

		.top-bar {
			background-color: rgba(0, 0, 0, 0.5);
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			//This is needed to make sure that close button is always displayed above ad
			//ad can take the whole space of interstitial if too big creative is targeted
			//- it shouldn't happen but it protects users from being not able to close interstitial
			z-index: $z-modal-dialog;
		}

		.close {
			display: inline-block;
			padding: 20px;
			float: right;
			position: relative;
		}

		.label {
			color: #D5D4D4;
			display: inline-block;
			font-size: 17px;
			padding: 20px 10px;
			position: relative;
		}
	}
}

//show the loading spinner on top of ad in interstitial
.stop-scrolling {
	overflow: hidden;

	.loading-overlay {
		background: none;
		bottom: initial;
		left: 50%;
		position: absolute;
		right: initial;
		top: 50%;
		z-index: $z-modal-dialog + 1;

		.spinner {
			left: initial;
			position: relative;
			top: initial;
		}
	}
}
