@import 'ads-floor';

.ad-slot {
	text-align: center;

	div {
		margin: 0 auto;
	}
}

.invisible-high-impact {
	display: none;
}

.main-page-pad-slot .ad-slot {
	margin-bottom: 36px;
}

.mobile-top-leaderboard .ad-slot {
	min-height: 50px;
	padding: 10px 0;
	position: relative;
	z-index: $z-ads-top-leaderboard;
}

// if mobile-top-leaderboard injected into article content - ignore articles default margins
.article-content .mobile-top-leaderboard {
	margin: 0 -20px;
}

.bfaa-template .mobile-top-leaderboard {
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;

	.ad-slot {
		background: none;
		padding: 0;
		position: relative;

		iframe {
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			top: 0;
		}
	}
}

.mobile-bottom-leaderboard {
	.ad-slot {
		padding: 10px 0;
	}

	.bfab-template {
		padding: 0;
		position: relative;

		iframe {
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			top: 0;
		}
	}
}

.mobile-in-content,
.mobile-prefooter {
	margin: 10px 0;
	padding: 10px 0;
}

.no-ads {
	height: 0;
}

.wikia-ad-iframe {
	border: 0;
}

#InvisibleHighImpactWrapper.floor-adhesion {
	bottom: 0;
	position: fixed;

	.background, div.label {
		display: none;
	}

	a.close {
		background-color: #000;
		border-radius: 100%;
		border: 2px solid white;
		float: right;
		height: 40px;
		padding: 5px;
		position: relative;
		text-align: center;
		top: 20px;
		width: 40px;
		z-index: 1;

		svg {
			display: inline-block;
			margin: auto;
			vertical-align: middle;
		}
	}
}

.invisible-high-impact-wrapper.interstitial {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.invisible-high-impact-wrapper {
	z-index: $z-modal-dialog;

	.invisible-high-impact-2 iframe {
		display: block;
		margin: 0 auto;
		position: relative;
	}

	.background {
		background: rgba(0, 0, 0, .9);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.close {
		cursor: pointer;
		display: block;
		padding: 14px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.label {
		color: #D5D4D4;
		display: block;
		font-size: 17px;
		left: 0;
		padding: 14px 10px;
		position: absolute;
		top: 0;
	}
}

.stop-scrolling {
	overflow: hidden
}
