$horizontal-padding: 18px;
$post-card-right-icon-margin: -9px;
$post-card-top-note-height: 40px;
$mobile-content-font-size: $type-smallest;
$mobile-content-line-height: $line-height-min;
$desktop-content-font-size: $type-base;
$desktop-content-line-height: $line-height-base;
$desktop-post-details-content-line-height: $line-height-base;
$desktop-post-details-content-font-size: $type-base;
$post-details-content-line-height: 1.4rem;
$post-details-outer-width: 580px;
$post-details-post-margin-bottom: 10px;
$post-details-post-vertical-padding: 12px;
$post-details-post-width: 560px;
$post-details-reply-upvote-margin-left: 10px;
$post-details-reply-upvote-width: 12px;
$post-details-reply-width: 524px;
$post-mark-icon-size: 12px;

body.discussions {
	background-color: $discussion-desktop-bg-color;
}

.discussion-page {
	width: 100%;
}

// ugly ugly ugly hack used for the iPhones
.no-overflow {
	overflow: auto !important;
}

.upvote-icon-background {
	fill: transparent;
	stroke: transparent;
}

.icon {
	fill: $discussion-actions-color;
	height: 20px;
	width: 20px;
	vertical-align: middle;

	&.upvote {
		height: 22px;
		margin-right: 3px;
		width: 22px;
	}

	&.upvote-reply {
		height: 12px;
		line-height: 12px;
		width: 12px;
	}

	&.replies {
		height: 19px;
		width: 24px;
	}

	&.no-replies {
		display: block;
		height: 34px;
		margin: 0 auto;
		width: 40px;
	}

	&.delete, &.undelete {
		height: 19px;
		width: 16px;
	}

	&.eye {
		height: 12px;
		width: 16px;
	}

	&.report,
	&.lock,
	&.unlock {
		height: 18px;
		width: 18px;
	}

	&.arrow-left {
		height: 16px;
		width: 18px;
	}

	&.edit {
		height: 12px;
		width: 18px;
	}

	&.validate,
	&.reported-delete {
		height: 40px;
		width: 40px;
	}

	&.reported-delete {
		margin-right: $post-card-right-icon-margin;
	}

	&.locked {
		height: 16px;
		margin-right: 6px;
		width: 16px;
	}

	&.down-small {
		height: 12px;
		margin-right: 4px;
		width: 10px;
	}
}

.discussion-fieldset {
	border: none;
	margin: 0;
	min-width: 0;
	padding: 0;
	width: 100%;

	legend {
		background: transparent;
	}
}

.discussion {
	font-size: $type-smallest;
	line-height: $line-height-smallest;
	max-width: inherit;

	.top-note-icon {
		fill: $discussion-post-card-top-note-color;
	}

	.top-note {
		border-bottom: 1px solid $discussion-post-card-top-note-border;
		font-size: $type-min;
		height: $post-card-top-note-height;
		line-height: $post-card-top-note-height;
		margin-bottom: 5px;
		overflow: hidden;

		.text-content {
			align-items: center;
			color: $discussion-post-card-top-note-color;
			cursor: auto;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.actions {
			min-width: 85px;
			text-align: right;
		}
	}

	.avatar {
		display: inline-block;
		margin-right: 5px;

		img, svg {
			border-color: $discussion-avatar-border-color;
			height: 42px;
			width: 42px;
		}
	}

	.user-avatar {
		.avatar-username {
			font-size: $type-base;
		}
	}

	.discussion-reply {
		.user-avatar {
			.avatar-username {
				font-size: $type-smallest;
			}
		}
	}

	.side-spaced {
		padding-left: 30px;
		padding-right: 30px;
	}

	.post-bottom-row {
		color: $discussion-actions-color;
		display: flex;
		font-size: rem-calc(12);
		justify-content: space-between;
		line-height: rem-calc(14);
		padding-bottom: 14px;
	}

	.post-counters,
	.post-category-name {
		align-items: center;
		display: flex;
		flex-grow: 1;
	}

	.post-counters {
		justify-content: flex-end;
		text-align: right;

		.upvote-count,
		.reply-count {
			align-items: center;
			display: flex;
		}

		.icon {
			&.upvote,
			&.replies {
				height: 14px;
				width: 14px;
			}

			&.replies {
				margin-left: 10px;
			}

			margin-right: 4px;
		}
	}

	.post-actions {
		align-items: center;
		border-top: 1px solid $discussion-post-actions-border-color;
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 6px 0;

		> li:not(:last-child) {
			border-right: 1px solid $discussion-post-actions-border-color;
		}

		li,
		a {
			align-items: center;
			align-self: center;
			color: $discussion-count-color;
			cursor: pointer;
			display: flex;
			font-size: $type-min;
			font-weight: $font-weight-medium;
			height: 33px;
			justify-content: center;
			line-height: 33px;
			text-align: center;

			.icon {
				margin-right: 2px;

				&.upvote,
				&.replies,
				&.toggle-share {
					height: 24px;
					width: 24px;
				}
			}
		}
	}

	.discussion-more-options {
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 24px;
		margin-right: $post-card-right-icon-margin;
		margin-top: 6px;
		text-align: center;
		width: 24px;

		.more-icon {
			height: 18px;
			width: 4px;
		}
	}

	.post-reply {
		.discussion-more-options {
			margin-top: 3px;
		}
	}

	.discussion-content {
		font-size: $mobile-content-font-size;
		line-height: $mobile-content-line-height;
		margin: 5px 0;
		padding: 4px 0;

		.post-details-link {
			color: $discussion-content-color;
			display: block;
		}
	}

	.post-detail {
		.discussion-content {
			margin-top: 0;
		}
	}

	.post-title {
		color: $discussion-post-title-color;
		font-size: $type-smaller;
		font-weight: 500;
		line-height: $post-details-content-line-height;
		margin: 0 0 5px 0;

		.post-details-link {
			color: $discussion-post-title-color;
		}
	}

	.post-reply,
	.post-detail {
		position: relative;

		&.show-top-note {
			padding-top: 0;
		}

		&.is-new {
			animation: post-hide 2s linear 1, post-fade-in 1s ease-in-out 2s 1;
		}

		.loading-overlay {
			height: 100%;
			position: absolute;

			.spinner {
				margin-top: -32px;
			}
		}

		&.is-deleted,
		&.is-reported {
			&::before {
				border-color: transparent;
				border-style: solid;
				border-width: $post-mark-icon-size $post-mark-icon-size 0 0;
				content: "";
				height: $post-mark-icon-size;
				left: 0;
				position: absolute;
				top: 0;
				width: $post-mark-icon-size;
			}
		}

		&.is-deleted {
			&::before {
				border-top-color: $discussion-deleted-mark-color;
			}
		}

		&.is-reported {
			&::before {
				border-top-color: $discussion-reported-mark-color;
			}
		}

		&.is-parent-deleted .icon:not(.delete),
		&.is-deleted .icon:not(.delete) {
			fill: $discussion-deleted-actions-color;
		}

		&.is-deleted,
		&.is-parent-deleted {
			.discussion-content {
				color: $discussion-deleted-content-color;

				a {
					color: $discussion-deleted-content-color;
				}
			}

			.action {
				a, span {
					color: $discussion-deleted-actions-color;
				}
			}

			.action a {
				cursor: default;
			}
		}

		&.is-highlighted {
			background-color: $discussion-post-card-linked-background;
		}

		.pop-over-compass {
			width: 320px;
		}

		.more-options-pop-over .pop-over-container {
			padding: 0 18px;
		}

		.share-pop-over {
			.pop-over-container {
				padding: 24px 24px 38px;
				text-align: center;
			}

			.share-feature {
				text-align: center;
			}

			.icon {
				display: inline-block;
				height: 26px;
				width: 26px;
			}
		}
	}

	.discussion-reply {
		border: none;
		padding: 12px $horizontal-padding 5px;

		.author {
			font-size: $type-min;
		}

		.avatar {
			img, svg {
				height: 30px;
				width: 30px;
			}
		}

		.discussion-content {
			font-size: $type-smallest;
			line-height: $line-height-min;
			margin-bottom: 0;
			margin-left: $post-details-reply-upvote-width + $post-details-reply-upvote-margin-left;
			padding: 0 0 10px;
		}

		.timestamp {
			font-size: .75rem;
		}

		.upvotes {
			float: left;
			margin: -5px $post-details-reply-upvote-margin-left 0 0;
			text-align: center;

			.action {
				min-width: $post-details-reply-upvote-width;
				text-align: center;
			}

			small {
				color: $discussion-count-color;
				display: block;
				font-size: 10px;
				font-weight: bold;
				line-height: 10px;
				word-wrap: normal;
			}
		}

		.upvote {
			align-items: center;
			display: flex;
			flex-direction: column;
		}
	}

	.show-top-note {
		.discussion-reply {
			padding-top: 0;
		}
	}

	.discussion-no-replies {
		color: $discussion-error-text-color;
		font-size: $type-smallest;
		margin: 0 auto;
		padding: 35px 0;
		text-align: center;
		width: inherit;
	}
	// border set for each element with "post-reply" class, after the first one
	.post-reply ~ .post-reply {
		.discussion-reply {
			border-top: 1px solid $discussion-reply-border-color;
		}
	}

	.more-options {
		font-size: $type-smallest;
		list-style: none;
		margin: 0;

		li:not(:last-child) {
			border-bottom: 1px solid $discussion-more-options-divider-color;
		}

		a {
			display: inline-block;
			padding: 13px 0;
		}

		span {
			margin-left: 2px;
			vertical-align: middle;
		}
	}

	.has-upvoted {
		.icon {
			fill: $upvote-icon-activated-color;
		}
	}

	.load-more {
		color: $discussion-load-more-color;
		text-align: center;
		width: 100%;
	}

	.post-detail {
		background-color: $discussion-desktop-post-detail-bg-color;
		padding: 12px 0 0;

		.timestamp {
			font-size: $type-smallest;
		}

		&.is-locked {
			.replies-area {
				color: $discussion-locked-post-replies-color;

				.replies {
					fill: $discussion-locked-post-replies-color;
				}
			}
		}
	}

	.load-older {
		background-color: $discussion-load-older-color;
		border-width: 0;
		display: block;
		font-size: 10px;
		font-weight: $font-weight-bold;
		margin: 0;
		padding: 0 $horizontal-padding;
		width: 100%;

		.icon {
			margin-right: 3px;
		}
	}

	.load-newer {
		$floating-load-newer-button-height: 30px;
		$wide-load-newer-button-height: 40px;

		font-size: 10px;
		margin: 0 auto;

		&.floating {
			border-radius: 2px;
			border-width: 0;
			color: $discussion-load-newer-color;
			font-weight: $font-weight-bold;
			height: $floating-load-newer-button-height;
			left: 50%;
			line-height: $floating-load-newer-button-height;
			padding: 0 12px;
			position: fixed;
			transform: translateX(-50%);
		}

		&.bottom-space {
			bottom: 80px;
		}

		&.wide {
			border: none;
			border-top: 1px solid $discussion-reply-border-color;
			background-color: transparent;
			font-weight: $font-weight-bold;
			height: $wide-load-newer-button-height;
			line-height: $wide-load-newer-button-height;
			text-align: center;
			width: 100%;

			&.no-editor {
				border-bottom: 1px solid $discussion-reply-border-color;
				margin-bottom: 20px;
			}
		}
	}

	.spinner {
		display: block;
		left: auto;
		margin: auto;
		position: relative;
	}

	.timestamp {
		color: $discussion-timestamp-color;
		font-weight: bold;
	}

	.discussion-editor-label {
		font-size: $type-min;
		font-weight: $font-weight-bold;
		padding: 15px 15px 5px;
	}

	.post-reply ~ .discussion-editor-label {
		border-top: 1px solid $discussion-post-detail-border-color;
	}

	&.forum {
		.clamp {
			@include clamp(3);


			a {
				color: $discussion-content-color;
			}
		}

		.post-detail {
			margin-bottom: $post-details-post-margin-bottom;
		}

		.post-detail,
		.post-reply {
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		}
	}

	&.post {

		.post-detail .post-title {
			font-size: $type-small;
			line-height: $line-height-base;
			margin: 7px 0 8px 0;
		}
	}
}

@media #{$desktop-range} {
	.discussion {
		background-color: transparent;

		&.forum {
			margin-left: auto;
			margin-right: auto;
			margin-top: 0;
			width: $discussion-page-width;

			.post-detail {
				background-color: $discussion-desktop-post-detail-bg-color;
				border-top-color: $discussion-post-detail-border-color;
				border-width: 0;
				padding: 20px 0 0;

				&.show-top-note {
					padding-top: 0;
				}
			}
		}

		.discussion-content {
			font-size: $desktop-content-font-size;
			line-height: $desktop-content-line-height;
		}

		&.post {
			.post-detail {
				background-color: transparent;
				border-bottom: 1px solid $discussion-reply-border-color;
				margin: auto;
				padding: {
					bottom: 0;
					left: 0;
					right: 0;
					top: $post-details-post-vertical-padding;
				}
				width: $post-details-outer-width;

				&.show-top-note {
					padding-top: 0;
				}

				.side-spaced {
					left: $horizontal-padding + ($post-details-outer-width - $post-details-post-width) / 2;
					right: $horizontal-padding + ($post-details-outer-width - $post-details-post-width) / 2;
				}

				.discussion-content {
					font-size: $desktop-post-details-content-font-size;
					line-height: $desktop-post-details-content-line-height;
				}

				.post-counters,
				.post-category-name {
					font-size: $type-smallest;
				}
			}

			.replies-list {
				margin-left: auto;
				margin-right: auto;
				width: 524px;
			}

			.post-reply {
				width: $post-details-reply-width;
			}

			.load-older {
				text-align: center;
				width: $post-details-post-width;
			}
		}

		.post-detail {
			.timestamp {
				font-size: $type-smallest;
			}
		}

		.post-detail,
		.post-reply,
		.load-older {
			margin-left: auto;
			margin-right: auto;
		}

		.discussion-no-replies {
			border-bottom: 1px solid $discussion-reply-border-color;
		}
	}
}

@media #{$mobile-range} {
	//To make sure discussion body is always expanding to 100% width
	.row {
		max-width: initial;
	}

	.post-details-view {
		.discussion-reply {
			.discussion-content {
				margin-left: 0;
			}
		}

		.post-detail {
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

			.discussion-content {
				.post-title {
					font-size: $type-smaller;
					line-height: $post-details-content-line-height;
					margin: 5px 0 4px 0;
				}
			}
		}
	}

	.discussion {
		.post-actions {
			> li:not(:last-child) {
				border-right: none;
			}
		}

		.user-avatar {
			img, svg {
				height: 30px;
				width: 30px;
			}

			.avatar-username {
				font-size: $type-smallest;
			}
		}

		.post-detail .timestamp,
		.discussion-reply .timestamp {
			font-size: rem-calc(12);
		}

		.side-spaced {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}

@keyframes post-hide {
	from {
		height: 0;
		margin: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
	}

	to {
		height: 0;
		margin: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
	}
}

@keyframes post-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
