$horizontal-padding: 18px;
$post-card-top-note-height: 40px;
$post-card-right-icon-margin: -9px;
$post-details-post-width: 560px;
$post-details-outer-width: 580px;
$post-details-reply-width: 524px;
$post-details-post-margin-bottom: 5px;
$post-details-post-vertical-padding: 12px;
$post-details-reply-upvote-width: 12px;
$post-details-reply-upvote-margin-left: 10px;
$post-details-content-line-height: 1.4rem;
$post-mark-icon-size: 12px;

body.discussions {
	background-color: $discussion-desktop-bg-color;
}

.discussion-page {
	width: 100%;
}

.upvote-icon-background {
	fill: $upvote-icon-back-color;
	stroke: $upvote-icon-back-color;
}

.icon {
	fill: $discussion-actions-color;
	height: 20px;
	width: 20px;
	vertical-align: middle;

	&.upvote {
		height: 22px;
		margin-right: 3px;
		width: 22px;
	}

	&.upvote-reply {
		height: 12px;
		line-height: 12px;
		stroke: $discussion-actions-color;
		width: 12px;
	}

	&.replies {
		height: 19px;
		width: 24px;
	}

	&.no-replies {
		display: block;
		height: 34px;
		margin: 0 auto;
		width: 40px;
	}

	&.delete, &.undelete {
		height: 19px;
		width: 16px;
	}

	&.eye {
		height: 12px;
		width: 16px;
	}

	&.report,
	&.lock,
	&.unlock {
		height: 18px;
		width: 18px;
	}

	&.arrow-left {
		height: 16px;
		width: 16px;
	}

	&.edit {
		height: 16px;
		width: 18px;
	}

	&.validate,
	&.reported-delete {
		height: 40px;
		width: 40px;
	}

	&.reported-delete {
		margin-right: $post-card-right-icon-margin;
	}

	&.locked {
		height: 16px;
		margin-right: 6px;
		width: 16px;
	}

	&.down-small {
		height: 12px;
		margin-right: 4px;
		width: 10px;
	}
}

.discussion {
	font-size: $type-smallest;
	line-height: $line-height-smallest;
	max-width: inherit;

	.top-note-icon {
		fill: $discussion-post-card-top-note-color;
	}

	.top-note {
		border-bottom: 1px solid $discussion-post-card-top-note-border;
		font-size: $type-min;
		height: $post-card-top-note-height;
		line-height: $post-card-top-note-height;
		margin-bottom: 5px;
		overflow: hidden;

		.text-content {
			align-items: center;
			color: $discussion-post-card-top-note-color;
			display: flex;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.actions {
			min-width: 85px;
			text-align: right;
		}
	}

	.avatar {
		display: inline-block;
		margin-right: 5px;

		img, svg {
			border-color: $discussion-avatar-border-color;
		}
	}

	.action {
		color: $discussion-count-color;
		font-size: $type-min;
		font-weight: bold;

		.upvote-area,
		.replies-area,
		.toggle-share-area {
			color: $discussion-count-color;
			display: block;
			float: left;
			font-weight: $font-weight-medium;
			height: 30px;
			line-height: 30px;
			padding: 0 2px;
		}
	}

	.discussion-more-options {
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 24px;
		margin-right: $post-card-right-icon-margin;
		margin-top: 6px;
		text-align: center;
		width: 24px;

		.more-icon {
			height: 18px;
			width: 4px;
		}
	}

	.post-reply {
		.discussion-more-options {
			margin-top: 3px;
		}
	}

	.discussion-content {
		margin: 5px 0;
		padding: .3rem 0;

		.post-details-link {
			color: $discussion-content-color;
			display: block;
		}

	}

	.post-title {
		color: $discussion-post-title-color;
		line-height: $line-height-smallest;
		margin: 0;

		.post-details-link {
			color: $discussion-post-title-color;
		}
	}

	.post-reply,
	.post-detail {
		position: relative;

		&.show-top-note {
			padding-top: 0;
		}

		.loading-overlay {
			height: 100%;
			position: absolute;

			.spinner {
				margin-top: -32px;
			}
		}

		&.is-deleted,
		&.is-reported {
			&::before {
				border-color: transparent;
				border-style: solid;
				border-width: $post-mark-icon-size $post-mark-icon-size 0 0;
				content: "";
				height: $post-mark-icon-size;
				left: 0;
				position: absolute;
				top: 0;
				width: $post-mark-icon-size;
			}
		}

		&.is-deleted {
			&::before {
				border-top-color: $discussion-deleted-mark-color;
			}
		}

		&.is-reported {
			&::before {
				border-top-color: $discussion-reported-mark-color;
			}
		}

		&.is-parent-deleted .icon:not(.delete),
		&.is-deleted .icon:not(.delete) {
			fill: $discussion-deleted-actions-color;

			&.upvote-reply {
				stroke: $discussion-deleted-actions-color;
			}
		}

		&.is-deleted,
		&.is-parent-deleted {
			.discussion-content {
				color: $discussion-deleted-content-color;

				a {
					color: $discussion-deleted-content-color;
				}
			}

			.action {
				a, span {
					color: $discussion-deleted-actions-color;
				}
			}

			.action a {
				cursor: default;
			}
		}

		&.is-highlighted {
			background-color: $discussion-post-card-linked-background;
		}

		.pop-over-compass {
			width: 320px;
		}

		.more-options-pop-over .pop-over-container {
			padding: 0 18px;
		}

		.share-pop-over {
			.pop-over-container {
				padding: 24px 24px 38px;
				text-align: center;
			}

			.share-feature {
				text-align: center;
			}

			.icon {
				height: 26px;
				width: 26px;
			}
		}
	}

	.discussion-reply {
		border: none;
		padding: 12px $horizontal-padding 5px;

		.author {
			font-size: $type-min;
		}

		.avatar {
			img, svg {
				height: 30px;
				width: 30px;
			}
		}

		.discussion-content {
			font-size: $type-min;
			line-height: $line-height-min;
			margin-bottom: 0;
			margin-left: $post-details-reply-upvote-width + $post-details-reply-upvote-margin-left;
			padding: 0 0 10px;
		}

		.timestamp {
			font-size: $discussion-post-type-smaller-than-min;
		}

		.upvotes {
			float: left;
			margin: -5px $post-details-reply-upvote-margin-left 0 0;
			text-align: center;

			.action {
				min-width: $post-details-reply-upvote-width;
				text-align: center;
			}

			small {
				display: block;
				font-size: 10px;
				font-weight: bold;
				line-height: 10px;
				word-wrap: normal;
			}
		}
	}

	.show-top-note {
		.discussion-reply {
			padding-top: 0;
		}
	}

	.discussion-no-replies {
		color: $discussion-error-text-color;
		font-size: $type-smallest;
		margin: 0 auto;
		padding: 35px 0;
		text-align: center;
		width: inherit;
	}
	// border set for each element with "post-reply" class, after the first one
	.post-reply ~ .post-reply {
		.discussion-reply {
			border-top: 1px solid $discussion-reply-border-color;
		}
	}

	.more-options {
		font-size: $type-smallest;
		list-style: none;
		margin: 0;

		li:not(:last-child) {
			border-bottom: 1px solid $discussion-more-options-divider-color;
		}

		a {
			display: inline-block;
			padding: 13px 0;
		}

		span {
			margin-left: 2px;
			vertical-align: middle;
		}
	}

	.has-upvoted {
		.icon {
			fill: $upvote-icon-activated-color;

			&.upvote-reply {
				stroke: $upvote-icon-activated-color;
			}
		}
	}

	.load-more {
		color: $discussion-load-more-color;
		text-align: center;
		width: 100%;
	}

	.post-detail {
		background-color: $discussion-desktop-post-detail-bg-color;
		padding: 12px $horizontal-padding;
		transition: opacity 1s;

		.share {
			align-items: center;
			display: flex;
			height: 30px;
			justify-content: flex-end;
			line-height: 30px;
			text-align: right;

			> * {
				float: right;
			}

			span {
				margin-left: 3px;
			}
		}

		.timestamp {
			font-size: $type-min;
		}

		&.is-new {
			opacity: 0;
		}

		&.is-locked {
			.replies-area {
				color: $discussion-locked-post-replies-color;

				.replies {
					fill: $discussion-locked-post-replies-color;
				}
			}
		}
	}

	.post-reply {
		transition: opacity 1s;

		&.is-new{
			opacity: 0;
		}
	}

	.load-older {
		background-color: $discussion-load-older-color;
		border-width: 0;
		display: block;
		font-size: 10px;
		font-weight: $font-weight-bold;
		margin: 0;
		padding: 0 $horizontal-padding;
		width: 100%;

		.icon {
			margin-right: 3px;
		}
	}

	.load-newer {
		$floating-load-newer-button-height: 30px;
		$wide-load-newer-button-height: 40px;

		font-size: 10px;
		margin: 0 auto;

		&.floating {
			border-radius: 2px;
			border-width: 0;
			color: $discussion-load-newer-color;
			font-weight: $font-weight-bold;
			height: $floating-load-newer-button-height;
			left: 50%;
			line-height: $floating-load-newer-button-height;
			padding: 0 12px;
			position: fixed;
			transform: translateX(-50%);
		}

		&.bottom-space {
			bottom: 80px;
		}

		&.wide {
			border: none;
			border-top: 1px solid $discussion-reply-border-color;
			background-color: transparent;
			font-weight: $font-weight-bold;
			height: $wide-load-newer-button-height;
			line-height: $wide-load-newer-button-height;
			text-align: center;
			width: 100%;
		}
	}

	.spinner {
		display: block;
		left: auto;
		margin: auto;
		position: relative;
	}

	.timestamp {
		color: $discussion-timestamp-color;
		font-weight: bold;
	}

	&.forum {
		margin-top: $discussion-header-height;

		.clamp {
			@include clamp(3);

			a {
				color: $discussion-content-color;
			}
		}

		.post-detail {
			margin-bottom: $post-details-post-margin-bottom;

			.post-title {
				font-size: $type-smallest;
			}
		}
	}

	&.post {
		.post-detail {
			margin-top: $theme-bar-height;

			.post-title {
				font-size: $type-smaller;
				line-height: $line-height-smaller;
				margin-bottom: 18px;
			}
		}
	}
}

@media #{$desktop-range} {
	.discussion {
		background-color: transparent;

		&.forum {
			margin-left: auto;
			margin-right: auto;
			margin-top: 0;
			width: $discussion-page-width;

			.post-detail {
				background-color: $discussion-desktop-post-detail-bg-color;
				border-top-color: $discussion-post-detail-border-color;
				border-width: 0;
				padding: 20px 30px;

				&.show-top-note {
					padding-top: 0;
				}
			}
		}

		&.post {
			.post-detail {
				background-color: transparent;
				border-bottom: 1px solid $discussion-reply-border-color;
				margin: auto;
				padding: {
					top: $post-details-post-vertical-padding;
					right: $horizontal-padding + ($post-details-outer-width - $post-details-post-width) / 2;
					bottom: $post-details-post-vertical-padding + $post-details-post-margin-bottom;
					left: $horizontal-padding + ($post-details-outer-width - $post-details-post-width) / 2;
				}
				width: $post-details-outer-width;

				&.show-top-note {
					padding-top: 0;
				}

				.discussion-content {
					line-height: $post-details-content-line-height;
				}

				.timestamp {
					font-size: $discussion-post-type-smaller-than-min;
				}
			}

			.replies-list {
				margin-left: auto;
				margin-right: auto;
				width: 524px;
			}

			.post-reply {
				width: $post-details-reply-width;
			}

			.load-older {
				text-align: center;
				width: $post-details-post-width;
			}
		}

		.post-detail,
		.post-reply,
		.load-older {
			margin-left: auto;
			margin-right: auto;
		}

		.discussion-no-replies {
			border-bottom: 1px solid $discussion-reply-border-color;
		}

		.replies {
			text-align: center;

			.replies-area {
				float: none;
			}
		}
	}
}

@media #{$mobile-range} {
	//To make sure discussion body is always expanding to 100% width
	.row {
		max-width: initial;
	}

	.post-details-view {
		.post-detail {
			padding-bottom: 14px;
		}

		.discussion-reply {
			.discussion-content {
				margin-left: 0;
			}
		}
	}
}
