$file-usage-large-padding: 18px;
$file-usage-medium-padding: 12px;
$file-usage-small-padding: 8px;

.file-usage {
	background-color: $vapor;
	padding-bottom: $file-usage-small-padding;

	&__header {
		font-weight: bold;
		padding: $file-usage-large-padding $file-usage-large-padding 0;
	}

	&__list {
		padding-top: $file-usage-medium-padding;
	}

	&__more {
		padding: 0 $file-usage-large-padding 2px;
		text-align: center;
	}
}
