$file-usage-vertical-padding: 18px;
$file-usage-horizontal-padding: 12px;

.file-usage {
	&__header {
		font-weight: bold;
		padding: $file-usage-horizontal-padding $file-usage-vertical-padding;
	}

	&__list {
		padding-top: $file-usage-horizontal-padding;
	}

	&__more {
		background-color: $vapor;
		padding: 0 $file-usage-vertical-padding $file-usage-horizontal-padding;
		text-align: center;
	}
}
