$file-large-padding: 18px;
$file-medium-padding: 12px;
$file-small-padding: 8px;

.file-image,
.file-video {
	margin: $file-large-padding;
}

.file-usage {
	background-color: $vapor;
	padding-bottom: $file-small-padding;

	&__header {
		font-weight: bold;
		padding: $file-large-padding $file-large-padding 0;
	}

	&__list {
		padding-top: $file-medium-padding;
	}

	&__more {
		padding: 0 $file-large-padding 2px;
		text-align: center;
	}
}
