$offset: 187;
$duration: 1s;

@keyframes rotator {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(270deg);
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: $offset;
	}

	50% {
		stroke-dashoffset: $offset/4;
		transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: $offset;
		transform: rotate(450deg);
	}
}

.loading-overlay {
	background: rgba(white, .5);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $z-side-nav-overlay;
}

.spinner {
	animation: rotator $duration linear infinite;
	left: 50%;
	margin: -33px 0 0 -33px;
	position: absolute;
	top: 50%;

	&.block {
		display: block;
		left: auto;
		margin: auto;
		position: relative;
	}

	.path {
		animation: dash $duration ease-in-out infinite;
		stroke: $spinner-color;
		stroke-dasharray: $offset;
		stroke-dashoffset: 0;
	}
}
