.wikia-footer {
	background-color: rgb(18, 49, 84);
	color: white;
	padding-bottom: 2rem;

	.ad-leaderboard {
		margin: rem-calc(20);
		height: 250px;
		background-color: lavender;
	}

	ul {
		list-style: none;
		margin: 0 rem-calc(20);
		padding: 0;
		line-height: 2rem;
	}

	li {
		a {
			color: white;
		}

		&.spaced {
			margin-top: 2rem;
		}
	}

	.logo {
		margin: rem-calc(20);
		margin-bottom: 0;
		width: rem-calc(152);
		height: rem-calc(42);
	}
}
