// Wikia Variables
// TODO: This file may get broken out into smaller files later if we decide we'd prefer the granularity to the
// 10,000 foot view.

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Z-Index Scale
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Never --ever-- implement z-index that doesn't use this scale, if you have a use-case that
// for some reason falls out of this scale, ask for guidance before implementing one-offs
// List all implementations of the z-scale in the next section (after Z-Index Scale

$z-min : -1;
$z-1   : 100;
$z-2   : 200;
$z-3   : 300;
$z-4   : 400;
$z-5   : 500;
$z-6   : 600;
$z-7   : 700;
$z-8   : 800;
$z-9   : 900;
$z-max : 10000;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Z-Index Implementations
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// z-min
// z-1
$z-lightbox-content-inner: $z-1;
$z-lightbox-img: $z-1;
$z-media-lightbox: $z-1;
$z-spinner-before: $z-1;
$z-video-provider-ooyala-override: $z-1;
$z-index-map-lightbox: $z-1;
// z-2
$z-spinner-after: $z-2;
// z-3
// z-4
// z-5
// z-6
// z-7
$z-site-head: $z-7;
// z-8
$z-lightbox-footer: $z-8;
$z-lightbox-header: $z-8;
$z-side-nav-overlay: $z-8;
// z-9
$z-side-nav: $z-9;
// z-max

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Global Variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Border Radius
$border-radius-global: rem-calc(2);

// Colors

$color-blue-brand: #006cb0;
$color-gray-dark: #3D3D3D;
$color-gray-semi: #999999;
$color-gray-light: #d0d0d0;
$color-white: #ffffff;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Module Variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// All variables should live here to prevent shadowing of variables and provide a central location for developers to
// quickly modify the application

$anchor-color-normal: $color-blue-brand;
$overlay-opacity: .5;
$border-color-light: $color-gray-light;

$element-active-bg: $color-gray-light;

$modal-background: $color-gray-dark;
$modal-text-color: $color-white;

$search-box-border-color: $color-gray-light;
$search-box-text-color: $color-gray-light;
$spinner-color: $color-blue-brand;

$side-nav-item-gutter: rem-calc(13);
$side-nav-width: rem-calc(260);
$side-nav-offset: $side-nav-width * -1;
$side-nav-width: $side-nav-width;
$transition-length: .10s;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Vertical variables
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$comics-vertical-color: #ff5400;
$games-vertical-color: #94d11f;
$books-vertical-color: #ff7f26;
$movies-vertical-color: #09d3bf;
$lifestyle-vertical-color: #ffd000;
$music-vertical-color: #c819ad;
$tv-vertical-color: #00b7e0;

$verticals: comics games books movies lifestyle music tv;
$vertical-colors: (
		$comics-vertical-color
		$games-vertical-color
		$books-vertical-color
		$movies-vertical-color
		$lifestyle-vertical-color
		$music-vertical-color
		$tv-vertical-color
);

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Smart banner
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$smart-banner-android-height: rem-calc(66);
$smart-banner-ios-height: rem-calc(83);

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Site head
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$icon-side-head-with: rem-calc(60);
$icon-side-head-height: 50px;
