@import '../components/foundation/scss/normalize';
@import 'settings';
@import 'foundation-imports';

@import 'placeholders/index';
@import 'base/index';
@import 'layout/index';
@import 'state/index';
@import 'theme/index';
@import 'module/index';

body {
	word-wrap: break-word;
}

.infoboxx {
	border: 1px solid $border-color;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 0.9rem;
	margin: 20px auto;
	max-width: 100%;
	width: 100%;
	word-break: break-word;


	tr {
		border-top: 1px solid $border-color;
	}

	th, td {
		padding: 5px;
		line-height: 1.25rem;
		vertical-align: top;
		width: 50%;

		&[colspan='2']{
			text-align: center;
			padding: 0;

			b {
				display: inline-block;
				margin: 5px;
			}
		}
	}
}

.infoboxx-expand {
	td {
		height: 3 * 3;
		padding-bottom: 10px;
		vertical-align: middle;
	}
}

.infobox {
	figure {
		margin: 0 auto;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	th {
		max-width: 100px;
		text-align: left;
	}

	tr {
		border-bottom: 1px solid #d0d0d0;
	}

	td {
		padding: 5px;

		&[colspan='2'] {
			text-align: center;
		}
	}

	tr:nth-of-type(n+11):not(.infobox-expand) {
		display: none;
	}

	p {
		//Some wikis have p inside td. ie. Firefly
		margin: 0;
	}

	//There is already enough spacing
	ul, ol {
		padding: 0;
	}

	& {
		.chevron {
			border-color: $border-color transparent transparent transparent;
			margin-top: 15px;

			&:after {
				border-color: white transparent transparent transparent;
				bottom: -3/2 - 1;
			}
		}
	}
}
