<div class="desktop-view">
	<section class="auth-content">
		<h6>{{i18n 'auth:common.connect-account-header'}}</h6>
		<ul class="signup-providers">
			<li>
				<a class="button signup-provider-facebook" href="#" data-helios-facebook-uri="{{{heliosFacebookURL}}}">
					<span>{{i18n 'auth:common.connect-with-facebook'}}</span>
				</a>
			</li>
		</ul>
	</section>
	<section class="auth-content">
		<h6>{{i18n 'auth:register.register-with-email-header'}}</h6>
		{{> auth/register }}
	</section>
</div>
