{
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "globals": {
    "$script": true,
    "Ember": true,
    "EmPerfSender": true,
    "FastClick": true,
    "ga": true,
    "Hammer": true,
    "Headroom": true,
    "i18n": true,
    "M": true,
    "Mercury": true,
    "numeral": true,
    "optimizely": true,
    "CryptoJS": true,
    "state": false,
    "tinycolor": true,
    "VisitSource": true,
    "Weppy": true,
    "Wikia": true
  }
}
