{
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "globals": {
    "App": true,
    "Em": true,
    "Mercury": true,
    "i18n": true
  },
  "rules": {
    // ECMA Script 6
    "arrow-parens": [2, "always"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "constructor-super": 2,
    "generator-star-spacing": [2, {"before": false, "after": true}],
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-spread": 0,
    "prefer-reflect": 2,
    "prefer-template": 2,
    "require-yield": 2
  }
}
