// TODO move $color-gray-faint to styleguide
$color-gray-faint: #cccccc;
$legend-line-height: $type-smallest;

%diff-page-padding {
	padding-right: 15px;
}

%diff-page-lineno--following {
	& + .diff-lineno {
		border-top: 1px dashed $color-gray-faint;
		margin-top: 30px;
	}
}

.diff-page {
	font-size: $type-min;
	line-height: $line-height-smallest;
	margin-bottom: 120px;

	.diff-lineno {
		@extend %diff-page-padding;
		font-size: $type-smallest;
		font-weight: bold;
		padding: 20px 0 0 15px;
		text-transform: uppercase;
	}

	.diff-addedline {
		@extend %diff-page-lineno--following;
		border-left: 3px solid $success-color;
		margin-top: 16px;
		padding-left: 12px;

		& + .diff-addedline {
			margin-top: 0;
		}

		&.all-changed div,
		.diffchange {
			background-color: #daf8db;
			display: inline;
		}
	}

	.diff-deletedline {
		@extend %diff-page-padding;
		@extend %diff-page-lineno--following;
		border-left: 3px solid $alert-color;
		margin-top: 16px;
		padding-left: 15px;

		& + .diff-deletedline {
			margin-top: 0;
		}

		&.all-changed div,
		.diffchange {
			background-color: #f8dbda;
		}
	}

	.diff-context {
		display: none;
	}
}

.diff-page-legend {
	color: $color-blue-gray-dark;
	float: right;
	line-height: $type-smallest;
	padding: 10px 15px 0 0;
	text-transform: uppercase;
}

.diff-page-legend__previous,
.diff-page-legend__current {
	display: inline-block;
	height: 10px;
	margin-right: 5px;
	vertical-align: middle;
	width: 10px;
}

.diff-page-legend__previous {
	background-color: $alert-color;
}

.diff-page-legend__current {
	background-color: $success-color;
}

.diff-page-legend__text {
	vertical-align: middle;
}

.diff-page__buttons {
	border: solid $color-gray-light;
	border-width: 5px 0 0;
	bottom: 0;
	box-shadow: 0px -20px 30px 10px rgba(255,255,255,0.68);
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: $z-site-head;
}

.diff-page__button-icon {
	fill: $color-white;
	height: 30px;
	margin-right: 2px;
	vertical-align: middle;
	width: 20px;
}

.diff-page__button-text {
	vertical-align: middle;
}

.diff-page__button {
	background: $button-enabled-color;
	border: 0;
	color: $color-white;
	display: inline-block;
	float: left;
	height: auto;
	line-height: $line-height-smallest;
	margin: 0;
	padding: 8px 15px 6px;
	width: 50%;

	// TODO CE-3548 move the stylling to global button look definition
	// https://github.com/Wikia/style-guide/blob/dev/src/scss/lib/components/buttons.scss
	&:focus,
	&:hover {
		background: $button-tapped-color;
	}

	&.diff-page__vote--upvoted,
	&.diff-page__vote--upvoted:focus,
	&.diff-page__vote--upvoted:hover {
		background: $button-disabled-color;
	}
}

.diff-page__vote,
.diff-page__vote--upvoted {
	border-left: 1px solid $color-gray-light;
	right: 0;
}

.confirmation-message {
	background: $color-white;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-8;
}

.confirmation-message__textarea {
	border: 0;
	height: calc(100% - 50px);
	padding: 16px 21px;
}
