.article-edit-highlighted-entrypoint,
.article-edit-highlighted-entrypoint--hidden,
.article-edit-highlighted-entrypoint--shifted {
	animation-duration: 1s;
	animation-iteration-count: 1;
	bottom: -50px;
	color: $color-white;
	height: 46px;
	left: 0;
	position: fixed;
	transition: bottom 0.7s;
	width: 100%;
	z-index: $z-6 + 1;
}

.article-edit-highlighted-entrypoint {
	bottom: 0;
}

.article-edit-highlighted-entrypoint--hidden {
	bottom: -50px;
}

.article-edit-highlighted-entrypoint--shifted {
	bottom: 52px;
}

.article-edit-highlighted-button {
	background-color: #4a90e2;
	border: 0;
	height: 46px;
	font-size: $type-smallest;
	margin: 0;
	width: 100%;

	span {
		vertical-align: middle;
	}
}

.article-edit-highlighted-icon {
	display: inline-block;
	fill: $color-white;
	height: 18px;
	margin-right: 5px;
	width: 18px;
	vertical-align: middle;
}

@keyframes showEdit {
	0% { bottom: -50px; }
	100% { bottom: 0; }
}

@keyframes hideEdit {
	0% { bottom: 0; }
	100% { bottom: -50px; }
}
