.diff-page {
	padding: 10px 13px;

	.diff-lineno {
		font-size: 20px;
		font-weight: bold;
		padding: 13px 0;
		text-transform: uppercase;
	}

	.diff-type {
		color: #e1e1e1;
		padding: 5px 0;
	}

	.diff-addedline .diffchange,
	.diff-addedline.all-changed {
		background-color: #DAF8DB;
	}

	.diff-deletedline .diffchange,
	.diff-deletedline.all-changed {
		background-color: #F8DBDA;
	}
}
