.highlighted-text-editor-popover {
	text-align: center;

	h2 {
		font-size: $type-smaller;
		font-weight: normal;
		line-height: $line-height-smaller;
	}

	p {
		font-size: $type-smallest;
		line-height: $line-height-smallest;
	}

	.pop-over-compass {
		left: 20px!important;
		width: calc(100% - 40px)!important;
		z-index: $z-6;
	}

	.pop-over-container {
		border-top: 7px solid $color-blue-light;
	}

	.pop-over-pointer {
		//border-color: transparent transparent $color-blue-light; // TODO enable in CE-3464
		border-color: transparent;
	}
}

// iOS quick fix to show that text is highlighted
#highlighted-text {
	background-color: rgba(201, 224, 253, 0.8);
}
