.article-media-image {
	margin: 40px 0;
	position: relative;
	text-align: center;

	figcaption {
		@include ellipsis;
		color: #999;
		height: 50px;
		padding: 5px 0;
		pointer-events: auto;
		text-align: left;
	}

	img {
		display: inline-block;
		width: 100%;

		@extend %image-placeholder;
	}

	&.loaded {
		img {
			animation: lazyImage .3s;
			background: none;
		}
	}

	.chevron {
		background-color: #fff;
		bottom: 0;
		height: 20px;
		position: absolute;
		right: 0;
		width: 20px;
		z-index: $z-1;
	}

	//First line is for single images
	//Second is for galleries that have multiple figure tags
	&.has-caption .chevron,
	.has-caption .chevron {
		margin-bottom: 50px;
	}
}

.article-media-gallery {
	-webkit-overflow-scrolling: touch;
	overflow: {
		x: auto;
		y: hidden;
	}
	white-space: nowrap;

	img {
		height: 195px;
		margin-right: 8px;
		// Fixes iOS Safari repaint bug when scrolling through gallery
		transform: translate3d(0, 0, 0);
		width: 195px;
	}

	.article-media-image {
		display: inline-block;
		margin: 20px 0;
	}
}

@keyframes lazyImage {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
