// TODO move $color-gray-faint to styleguide
$color-gray-faint: #cccccc;
$legend-line-height: $type-smallest;

.diff-page {
	font-size: $type-min;
	line-height: $line-height-smallest;
	margin-bottom: 120px;

	.diff-lineno {
		font-size: $type-smallest;
		font-weight: bold;
		padding: 20px 0 0 15px;
		text-transform: uppercase;
	}

	.diff-addedline {
		border-left: 3px solid $success-color;
		margin-top: 16px;
		padding-left: 12px;

		& + .diff-addedline {
			margin-top: 0;
		}

		&.all-changed div,
		.diffchange {
			background-color: #daf8db;
			display: inline;
		}
	}

	.diff-deletedline {
		border-left: 3px solid $alert-color;
		margin-top: 16px;
		padding-left: 15px;

		& + .diff-deletedline {
			margin-top: 0;
		}

		&.all-changed div,
		.diffchange {
			background-color: #f8dbda;
		}
	}

	.diff-context {
		display: none;
	}

	.diff-addedline,
	.diff-context,
	.diff-deletedline {
		& + .diff-lineno {
			border-top: 1px dashed $color-gray-faint;
			margin-top: 30px;
		}
	}

	.diff-addedline,
	.diff-context,
	.diff-deletedline,
	.diff-lineno {
		padding-right: 15px;
	}

}

.diff-page__legend {
	color: $color-blue-gray-dark;
	float: right;
	line-height: $type-smallest;
	padding: 10px 15px 0 0;
	text-transform: uppercase;
}

.diff-page__legend__previous,
.diff-page__legend__current {
	display: inline-block;
	height: 10px;
	margin-right: 5px;
	vertical-align: middle;
	width: 10px;
}
.diff-page__legend__previous {
	background-color: $alert-color;
}

.diff-page__legend__current {
	background-color: $success-color;
}

.diff-page__legend__text {
	vertical-align: middle;
}

.diff-page__undo {
	background: $color-white;
	border: solid $color-gray-light;
	border-width: 5px 0 0;
	bottom: 0;
	box-shadow: 0px -20px 30px 10px rgba(255,255,255,0.68);
	color: $anchor-font-color;
	display: block;
	height: auto;
	line-height: $line-height-smallest;
	margin: 0;
	padding: 17px 15px;
	position: fixed;
	width: 100%;
}
