// TODO move $faint-gray to styleguide
$faint-gray: #cccccc;

.diff-page {
	padding: 10px 0;

	font-size: $type-min;
	line-height: $line-height-smallest;

	.diff-lineno {
		font-size: $type-smallest;
		font-weight: bold;
		padding: 20px 0 0 15px;
		text-transform: uppercase;
	}

	.diff-addedline {
		border-left: 3px solid $success-color;
		margin-top: 16px;
		padding-left: 12px;

		& + .diff-addedline {
			margin-top: 0;
		}

		&.all-changed div,
		.diffchange {
			background-color: #daf8db;
			display: inline;
		}
	}

	.diff-deletedline {
		border-left: 3px solid $alert-color;
		margin-top: 16px;
		padding-left: 15px;

		& + .diff-deletedline {
			margin-top: 0;
		}

		&.all-changed div,
		.diffchange {
			background-color: #f8dbda;
		}
	}

	.diff-context {
		display: none;
	}

	.diff-addedline,
	.diff-context,
	.diff-deletedline {
		& + .diff-lineno {
			border-top: 1px dashed $faint-gray;
			margin-top: 30px;
		}
	}

	.diff-addedline,
	.diff-context,
	.diff-deletedline,
	.diff-lineno {
		padding-right: 15px;
	}

}
