.category-sections {
	padding: 1.5rem $article-horizontal-padding;
}

.category-section {
	.wds-spinner {
		display: none;
		left: auto;
		margin: 0;
		position: static;
		top: auto;
	}

	&.loading-batch {
		.category-navigation__button {
			display: none;
			pointer-events: none;
		}

		.wds-spinner {
			display: inline;
		}
	}
}

.category-navigation {
	text-align: center;
	padding-bottom: 1.125rem;
	position: relative;
}
