$block-padding-horizontal: .75rem;
$block-padding-vertical: 1.5rem;
$block-description-padding-vertical: 1rem;
$item-padding-horizontal: .75rem;
$item-padding-vertical: .5rem;
$item-description-padding-left: 1.25rem;
$item-image-size: 3rem;
$row-height: 4rem;
$item-image-vertical-padding: ($row-height - $item-image-size) / 2;
$button-padding-horizontal: 1.5rem;
$button-padding-vertical: .5rem;
$button-margin-vertical: 1.25rem;
$search-results-image-size: 30vw;
$search-results-image-spacing: 1vw;
$search-results-horizontal-padding: 2vw;
$search-image-input-text-padding: $search-results-image-spacing + $search-results-horizontal-padding;
$search-results-load-more-button-width: 100vw - 2 * $search-results-horizontal-padding;
$image-photo-icon-size: 32px;

.curated-content-editor-add-item-btn {
	display: block;
	font-weight: bold;
	height: auto;
	line-height: inherit;
	margin: $button-margin-vertical auto;
	max-width: calc(100% - #{2 * $item-padding-horizontal});
	padding: $button-padding-vertical $button-padding-horizontal;
}

.curated-content-editor-info {
	position: absolute;
	right: 0;
	top: .7em;
	padding: 12px;

	svg {
		height: 24px;
		width: 24px;
	}
}

.curated-content-editor-block {
	background-color: $color-white;
	border-bottom: .5rem solid $color-blue-gray-light;
	position: relative;

	header {
		font-size: x-large;
		font-weight: bold;
		padding: $block-padding-vertical $block-padding-horizontal 0;
	}

	.block-description {
		border-bottom: 1px solid $color-blue-gray-light;
		font-size: .875rem;
		line-height: 1.25rem;
		margin-bottom: .5rem;
		padding: $block-description-padding-vertical $block-padding-horizontal $block-padding-vertical;
	}

	header,
	.block-description {
		background-color: $snow;
	}
}

.curated-content-editor-row {
	display: flex;

	&.fixed-height {
		height: $row-height;
	}

	img {
		align-self: center;
		height: $item-image-size + 2 * $item-image-vertical-padding;
		padding: $item-image-vertical-padding $item-description-padding-left $item-image-vertical-padding $item-padding-horizontal;
		width: $item-image-size + $item-description-padding-left + $item-padding-horizontal;
	}

	.item-description {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		line-height: 1.25rem;
	}

	.title {
		color: $color-blue-brand;
		font-size: .875rem;
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.subtitle {
		font-size: .75rem;
	}

	.navigation {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}

	&:not(:last-of-type) {
		.item-description,
		.navigation {
			border-bottom: 1px solid $color-blue-gray-light;
		}
	}
}

.arrow-wrapper {
	padding: 0 $item-padding-horizontal;
}

.arrow {
	height: $row-height / 3;
	margin-top: .25rem;
	width: 1rem;
}

.arrow-up {
	transform: rotate(180deg);
}

.curated-content-section-details {
	background: $snow;
	border-bottom: 1px solid $color-blue-gray-light;
	display: flex;
}

.curated-content-section-details--image {
	flex: 0 0 auto;
	margin: 13px;

	img {
		height: 105px;
		width: 105px;
	}
}

.curated-content-section-details--description {
	flex: 1;
	margin: {
		bottom: 20px;
		left: 4px;
		right: 13px;
		top: 20px;
	}
}
.curated-content-section-details--label {
	@include clamp(5);

	color: $color-blue-brand;
	font-size: 1.1rem;
	font-weight: bold;
	line-height: 1.437rem;
}
.curated-content-section-details--count {
	color: $color-blue-gray-dark;
	font-size: .75rem;
	line-height: .875rem;
}

.curated-content-editor-photo {
	margin: {
		bottom: 50px;
		top: 30px;
	}
	min-height: 56.25vw; /* 16:9 */
	position: relative;

	&.loaded {
		background: {
			color: $black;
		}
	}
	&.placeholder {
		background: {
			color: $color-blue-gray-light;
			image: $curated-content-editor-add-image-svg;
			position: center;
			repeat: no-repeat;
			size: 96px;
		}
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	&.error {
		img {
			border: 1px solid $input-border-error-color;
		}

		small {
			background: linear-gradient(to top, rgba(255, 255, 255 , .7), rgba(255, 255, 255, 0));
			bottom: 1px;
			left: 1px;
			margin: 0;
			padding: 14px;
			position: absolute;
			right: 1px;
			text-align: center;
		}
	}
	.photo-icon {
		bottom: 13px;
		fill: $white;
		height: $image-photo-icon-size;
		position: absolute;
		right: 13px;
		width: $image-photo-icon-size;
	}
}

.curated-content-editor-photo-crop {
	background: $black;
	height: calc(100vh - 50px);
	width: 100vw;

	> img {
		max-height: 100%;
		max-width: 100%;
	}
}

.curated-content-editor-item {
	//don't show grey overlay on tap
	-webkit-tap-highlight-color: transparent;

	.file-upload-label {
		align-items: center;
		color: inherit;
		display: flex;
		font-size: inherit;
		min-height: inherit;
		width: 100%;
	}

	.file-upload-input {
		display: none;
	}
}

.curated-content-input-wrapper {
	padding: 14px 18px 0;

	input[type='text'] {
		padding-right: 2.125rem;
	}
}

.curated-content-editor-remove {
	color: $alert-color;
	display: block;
	padding: 0 18px;
	text-transform: uppercase;
}


.curated-content-editor-image-search {
	.search-input {
		//Let's make it important so we don't need to override padding for all possible states of inputs
		padding: $search-image-input-text-padding !important;
	}

	.search-message {
		text-align: center;
		width: 100%;
	}

	.search-results {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		img {
			height: 100px;
			padding: 5px;
			width: 100px;
		}
	}

	button {
		display: none;
		margin: 0 auto;
		width: $search-results-load-more-button-width;

		&.visible {
			display: block;
		}
	}
}

.pointer-events-none {
	pointer-events: none;
}

.title.input-container {
	position: relative;
}

.title-suggestions-container {
	background: $white;
	box-shadow: 0 2px 5px $iron;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 1;

	li {
		@include ellipsis;
		border: 1px solid $iron;
		border-top: 0;
		font-size: 14px;
		padding: 10px;
	}

	.message {
		text-align: center;
	}

	.error {
		color: $alert-color;
	}
}

.crop-image.disabled {
	opacity: .5;
	pointer-events: none;
}
