.discussion-categories-list-container {
	margin-left: -8px;
	max-height: 800px;
	transition: max-height .6s;
	overflow: hidden;

	.discussion-categories-edit & {
		margin: 0;
	}
}

.discussion-categories-list {
	list-style: none;
	margin: 6px 0;

	label {
		overflow: hidden;
		padding: 4px 0 4px 8px;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			background-color: $discussion-category-hover-background;
		}
	}
}

.discussion-categories {
	legend {
		font-size: $type-smallest;
		width: 100%;
	}

	.chevron {
		float: right;
		height: 20px;
		transform: rotate(-90deg);
		width: 20px;
	}

	&.collapsed {
		.chevron {
			transform: rotate(90deg);
		}

		.discussion-categories-list-container {
			max-height: 0;
		}
	}

	button {
		background-color: transparent;
		font-size: 10px;
		font-weight: $font-weight-bold;
		height: $line-height-larger;
		line-height: $line-height-larger;
		margin: 0 20px;
		width: calc(100% - 40px);
	}

	.discussion-categories-edit-link {
		font-size: $type-min;
		font-weight: $font-weight-normal;
		text-transform: uppercase;
	}

	.discussion-categories-input,
	.discussion-categories-input:focus {
		background-color: transparent;
		box-shadow: none;
		padding: 8px 0 4px;
	}

	.discussion-categories-input:focus {
		border-color: #333;
	}
}

.discussion-categories-edit {
	.discussion-categories-list li {
		display: flex;
	}

	label:hover {
		background: none;
	}
}

.discussion-categories-edit-add-link {
	font-size: $type-smallest;
	float: right;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.discussion-categories-edit-footer-wrapper {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
}

.discussion-categories-edit-footer {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
	display: inline-flex;
	justify-content: center;

	button {
		background-color: #fff;
		border-color: #f6f6f6;
		height: 50px;
		margin: 0;
		padding: 0;
		width: 80px;
	}

	.icon-submit {
		width: 35px;
		height: 35px;
	}
}

.loading-overlay.categories-loading-overlay {
	position: absolute;
}

@media #{$mobile-range} {
	.discussion-filters-wrapper.highlight-overlay-content {
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
	}
}
