.discussions {
	// -- theme --
	.discussion-editor {
		&.has-open-graph {
			.editor-textarea {
				border-bottom: none;
			}
		}

		.og-container {
			margin: $editor-textarea-paddings;
		}
	}

	.og-container {
		background-color: $discussion-open-graph-background-color;
		border: 1px solid $discussion-open-graph-border-color;
	}

	.og-title {
		color: $discussion-open-graph-title-color;
	}

	.og-site-name {
		color: $discussion-open-graph-domain-color;
	}


	// -- layout --

	//default layout
	.og-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 4px auto 9px 0;
		max-height: 450px;
		max-width: 500px;
		position: relative;
	}

	.og-image {
		height: 100%;
		margin: 0 auto;
		max-height: 255px;
		width: 100%;
	}

	.og-texts {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		margin: 22px 18px;
	}

	.og-title {
		@include clamp(2);
		align-self: flex-start;
		font-size: $type-smallest;
		line-height: $line-height-smallest;
		margin: 0;
	}

	.og-site-name {
		@include clamp(1);
		align-self: flex-start;
		font-size: $type-min;
		line-height: $line-height-min;
		margin: 0;
	}

	//post-details page layout
	.post-details-view {
		// main post layout
		.post-detail {
			.og-container {
				margin: 9px auto 13px 0;
			}

			.og-image {
				max-height: 330px;
			}

			.og-title {
				font-size: $type-smaller;
				line-height: $line-height-smaller;
			}

			.og-site-name {
				font-size: $type-smallest;
				line-height: $line-height-smallest;
			}
		}
	}

	.og-close {
		background-color: $discussion-open-graph-close-background-color;
		height: 24px;
		line-height: 0;
		padding: 5px;
		position: absolute;
		right: 0;
		top: 0;
		width: 24px;

		svg {
			fill: $discussion-open-graph-close-fill-color;
			width: 14px;
			height: 14px;
		}
	}
}

@media #{$mobile-range} {
	.discussions {
		.image-card-mobile-none {
			.og-image {
				display: none;
			}
		}

		.image-card-mobile-small {
			&.og-container {
				flex-wrap: nowrap;
			}

			.og-image {
				width: 35%;
				height: 100%;
			}

			.og-texts {
				width: 65%;
				height: 100%;
			}
		}
	}
}

@media #{$desktop-range} {
	.discussions {
		.og-container {
			margin: 2px auto 16px;
		}

		.discussion-editor {
			.og-container {
				margin: $editor-textarea-paddings;
			}
		}

		.image-card-desktop-none {
			.og-image {
				display: none;
			}
		}

		.image-card-desktop-small {
			&.og-container {
				flex-wrap: nowrap;
				height: 92px;
			}

			.og-image {
				height: 100%;
				width: 35%;
			}

			.og-texts {
				height: 100%;
				width: 65%;
			}
		}
	}
}
