.discussion-community-unit {
	font-size: $type-smallest;
	line-height: $line-height-smallest;
	margin-bottom: 10px;

	.wiki-name {
		border-bottom: 1px solid $discussion-right-rail-line-color;
		font-size: $type-smallest;
		line-height: $line-height-smallest;
		margin-bottom: 13px;
		padding-bottom: 6px;
	}

	.discussion-app-join-text {
		color: $discussion-app-promotion-text-color;
		font-size: $type-smallest;
		line-height: $line-height-smallest;
		margin-bottom: 6px;
	}

	.guidelines-link,
	.wikia-home-link {
		display: flex;
		margin: 8px 0;
	}

	.icon {
		align-self: center;
		margin-right: 7px;

		&.wikia-home,
		&.wikia-guidelines {
			height: 16px;
			width: 16px;
		}
	}

	.apple-store-badge,
	.google-play-badge {
		fill: initial;
		height: 40px;
		margin: 5px 0;
		width: 135px;
	}
}

.post-details-view {
	.discussion-community-unit {
		margin-top: 85px;
	}

	.discussion-app-join-text {
		color: $discussion-post-details-app-promotion-text-color;
		font-size: $type-base;
		line-height: $line-height-base;
	}
}
