$discussion-hero-unit-text-color: $color-white;
$discussion-hero-unit-avatar-dimension: 40px;
$discussion-hero-unit-height: 200px;
$discussion-hero-unit-minimized-height: 25px;

.discussion-hero-unit {
	background: $discussion-header-image-blend-background;
	color: $discussion-hero-unit-text-color;
	display: none;
	height: $discussion-hero-unit-height;
	text-align: center;

	h1 {
		color: $discussion-hero-unit-text-color;
		font-size: 48px;
		margin: 0;

		&.post-list-header {
			font-size: $type-large;
		}
	}

	p {
		font-size: $type-smallest;
		font-weight: bold;
		margin-bottom: 10px;
		margin-top: 0;
	}

	.discussion-contributors {
		.discussion-contributors-more {
			font-size: $type-min;
			height: $discussion-hero-unit-avatar-dimension;
			padding-top: 5px;
			width: $discussion-hero-unit-avatar-dimension;
		}
	}

	.discussion-hero-unit-image {
		height: 100%;
		width: 100%;
	}

	.discussion-hero-unit-content {
		height: 100%;
		padding-bottom: 33px;
		padding-top: 37px;
		width: 100%;
	}

	.discussion-edit-approve-wrapper {
		border-top-color: $discussion-upload-image-approve-buttons-border;
		left: 0;
		margin: auto;
		right: 0;
		width: 200px;
	}

	.drag-and-drop {
		align-items: center;
		background-color: rgba(0,0,0,0.8);
		display: flex;
		height: 100%;
		justify-content: center;
		width: 100%;

		svg {
			height: 100px;
			width: 100px;
		}
	}

	.image-edit-mode {
		min-height: 200px;

		.image-edit-file-input-wrapper {
			padding-top: 76px;

			.upload-image-button {
				margin: 0px auto 20px;
				width: 160px;
			}
		}

		&.is-loading {
			.image-edit-preview-wrapper {
				&:after {
					background-color: rgba(255, 255, 255, 0.8);
					content: "";
					height: 100%;
					position: absolute;
					width: 100%;
				}
			}
		}
	}

	.image-edit-preview-wrapper {
		align-items: center;
		display: flex;
		justify-content: center;
		max-height: 100%;
		min-height: 200px;
		overflow: hidden;

		.image-edit-preview {
			max-width: none;
		}
	}

	.error-message-container {
		color: $discussion-upload-image-error-text-color;
		display: none;
		left: 0;
		margin: 10px auto 10px;
		right: 0;

		&.is-visible {
			display: block;
		}

		.error-message {
			font-size: $type-base;
			line-height: $line-height-base;
		}

		.icon.error {
			fill: $discussion-upload-image-error-warning-color;
		}
	}
}

.minimized {
	&.discussion-hero-unit {
		height: $discussion-hero-unit-minimized-height;
	}
}

.post-list-header-content {
	margin-top: 28px;
	text-align: center;

	h1 {
		color: $discussion-post-list-text-color;
		font-size: 48px;
		margin: 0;

		&.post-list-header {
			font-size: $type-large;
		}
	}
	p {
		color: $discussion-post-list-text-color;
		font-weight: bold;
	}
}

.discussions {
	.discussion-hero-unit {
		.discussion-contributors {
			.avatar {
				img, svg {
					height: $discussion-hero-unit-avatar-dimension;
					width: $discussion-hero-unit-avatar-dimension;
				}
			}
		}
	}
}

@media #{$desktop-range} {
	.discussion-hero-unit {
		display: block;
	}
}
