.post-list-view {
	.community-badge {
		margin-top: -62px;

		.community-badge-image {
			width: 125px;
			background-color: $discussion-community-badge-background-color;
		}
	}
}

.post-details-view {
	.community-badge {
		margin-top: -12px;

		.community-badge-image {
			background-color: $discussion-community-badge-background-color;
			width: 79px;
		}

		p {
			font-size: $type-smaller;
		}
	}
}

.community-badge {
	.community-badge-image {
		border: 2px solid $discussion-community-badge-border;
		box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
		position: relative;
	}

	.edit-badge-button {
		background-color: $discussion-edit-image-button-background;
		color: $discussion-edit-image-button-text;
		font-size: $type-min;
		height: 30px;
		left: 0;
		letter-spacing: 0.5px;
		line-height: 30px;
		padding: 0 32px 0 4px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: 0;
		width: 100%;

		.icon-camera {
			height: 24px;
			position: absolute;
			right: 4px;
			top: 2px;
			width: 24px;
		}
	}

	p {
		color: $discussion-community-badge-title-color;
		font-size: 1.5rem;
		line-height: 1.25;
	}
}

.svg-camera-fill {
	fill: $discussion-edit-image-camera;
}
