.standalone-page-view {
	height: 100%;

	.side-button {
		border: none;
		margin-top: 20px;
	}

	.standalone-content {
		background-color: $discussion-standalone-content-background-color;
	}
}

@media #{$mobile-range} {
	body.discussions {
		&.standalone-page {
			background-color: $discussion-standalone-content-background-color;
		}
	}
}

@media #{$desktop-range} {
	.standalone-page-view {
		height: auto;

		.discussion-hero-unit-content {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		.standalone-content {
			border: solid 1px $discussion-standalone-content-border-color;
			margin: 25px auto;
		}
	}
}
