.side-button {
	align-items: center;
	display: flex;
	font-size: $type-smallest;
	font-weight: $font-weight-normal;
	height: 100%;
	padding: 15px 0;
	line-height: 1.0;

	svg {
		margin-right: 14px;
	}
}
