.discussion-categories-list-container {
	margin-left: -8px;
	max-height: 800px;
	transition: max-height .6s;
	overflow: hidden;
}

.discussion-categories-list {
	list-style: none;
	margin: 6px 0;

	label {
		display: block;
		overflow: hidden;
		padding: 4px 0 4px 8px;
		text-overflow: ellipsis;
		white-space: nowrap;

		span {
			float: left;
		}

		&:hover {
			background-color: $discussion-category-hover-background;
		}
	}
}

.discussion-categories {
	legend {
		font-size: $type-smallest;
		width: 100%;
	}

	.chevron {
		float: right;
		height: 20px;
		transform: rotate(-90deg);
		width: 20px;
	}

	&.collapsed {
		.chevron {
			transform: rotate(90deg);
		}

		.discussion-categories-list-container {
			max-height: 0;
		}
	}

	button {
		background-color: transparent;
		margin: 0 20px;
		width: calc(100% - 40px);
	}
}
