.discussion-reply-editor-entry-point {
	.discussion-editor-entry-point-container {
		background: $discussion-editor-background-color;
		border: 4px solid $discussion-editor-border-color;
		align-items: center;
		display: flex;
		padding: 10px;
	}

	.discussion-editor-entry-point-content {
		border-bottom: 1px solid $secondary-color;
		color: $discussion-editor-label-color;
		flex: 1;
		height: 28px;
		margin-left: 6px;
	}

	.user-avatar {
		.avatar {
			img, svg {
				height: 40px;
				width: 40px;
			}
		}
	}

	&.is-sticky {
		.discussion-editor-entry-point-container {
			border: 0;
			border-top: 4px solid $discussion-editor-border-color;
			bottom: 0;
			left: 0;
			position: fixed;
			right: 0;
		}
	}
}
