$discussion-contributors-avatar-dimension: 30px;
$discussion-contributors-border-width: 2px;

.discussion-contributors {
	display: inline-block;

	.user-avatar {
		display: inline-block;
	}

	.avatar {
		img, svg {
			border-color: $discussion-contributors-border-color;
		}
	}

	.discussion-contributors-more {
		background-color: $discussion-contributors-background-color;
		border: $discussion-contributors-border-width solid $discussion-contributors-border-color;
		border-radius: 50%;
		box-sizing: border-box;
		color: $discussion-contributors-text-color;
		display: inline-block;
		font-size: 10px;
		height: $discussion-contributors-avatar-dimension;
		line-height: $discussion-contributors-avatar-dimension - $discussion-contributors-border-width;
		padding: 0;
		text-align: center;
		width: $discussion-contributors-avatar-dimension;
		word-wrap: normal;
	}
}

.discussion-contributors-mobile {
	background-color: $discussion-contributors-background-mobile;
	border: none;
	padding: 14px 9px;
}

.rail {
	.discussion-contributors {
		display: inline-block;
		margin-right: 30px;

		.user-avatar {
			margin-bottom: 5px;
		}
	}

	.discussion-contributors-title {
		color: $discussion-contributors-rail-title;
		font-size: $discussion-post-type-smaller-than-min;
		font-weight: bold;
		line-height: 18px;
		margin-bottom: 5px;
		padding-top: 40px;
	}
}

.discussion {
	.discussion-contributors {
		.avatar {
			img, svg {
				height: $discussion-contributors-avatar-dimension;
				width: $discussion-contributors-avatar-dimension;
			}
		}
	}
}
