.discussion-category-picker {
	.category-pill {
		background: $discussion-category-pill-background-color;
		border-radius: 100px;
		color: #666;
		display: inline-block;
		font-size: 12px;
		margin: 8px;
		padding: 8px 20px;
		text-align: center;
	}
}
