$reply-editor-width: 563px;
$reply-editor-folded-height: 49px;
$reply-editor-margin-left: -20px;

.discussion {
	.reply-editor {
		.editor-label {
			display: block;
			font-size: $type-min;
			font-weight: bold;
			height: auto;
			padding: 15px 15px 5px;
		}

		.editor-container {
			&.sticky {
				margin-left: $reply-editor-margin-left;

				&.pinned-bottom {
					//To hide bottom border and compensate margin when editor is sticky
					bottom: -4px;
					margin-bottom: 0;
					position: fixed;
					top: auto;
				}
			}
		}
	}

	.post-reply ~ .reply-editor {
		.editor-label {
			border-top: 1px solid $discussion-post-detail-border-color;
		}
	}
}

@media #{$mobile-range} {
	.discussion-editor.reply-editor {
		height: $reply-editor-folded-height;

		.editor-container {
			border: 4px solid $discussion-mobile-reply-editor-border-color;
			height: auto;
			margin: auto 4px;

			&.sticky {
				&.pinned-bottom {
					border-width: 4px 0 0;
					bottom: 0;
					margin: 0;
					width: 100%;
				}
			}
		}

		.editor-wrapper {
			padding: 12px 17px 10px 54px;
		}

		.avatar {
			img, svg {
				height: 30px;
				width: 30px;
			}
		}

		&.is-active {
			.editor-container {
				border: 0;

				&.pinned-bottom {
					margin: 0;
					position: fixed;
				}
			}
		}
	}
}

@media #{$desktop-range} {
	.reply-editor {
		.editor-container {
			margin-left: $reply-editor-margin-left;
			width: $reply-editor-width;

			&.sticky {
				width: $reply-editor-width;
			}
		}
	}
}
