.community-badge {
	.edit-image-button {
		background-color: $discussion-edit-image-button-background-color;
		color: $discussion-edit-image-button-text-color;
		cursor: pointer;
		display: none;
		font-size: 10px;
		height: auto;
		left: 0;
		letter-spacing: 0.5px;
		line-height: 15px;
		min-height: 30px;
		opacity: 0.9;
		padding: 7px 32px 7px 4px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: 0;
		width: 100%;

		.icon-camera {
			height: 24px;
			position: absolute;
			right: 4px;
			top: 2px;
			width: 24px;
		}
	}

	&:not(.is-edit-mode) {
		.community-badge-image:hover {
			.edit-image-button {
				display: block;
			}
		}
	}
}
