.discussion-categories-list {
	list-style: none;
	margin: 6px 0;
	max-height: 400px;
	overflow: hidden;
	transition: max-height .6s;

	li {
		margin-bottom: 8px;
	}
}

.discussion-categories {
	legend {
		font-size: $type-smallest;
	}

	.chevron {
		height: 20px;
		transform: rotate(-90deg);
		width: 20px;
	}

	&.collapsed {
		.chevron {
			transform: rotate(90deg);
		}

		.discussion-categories-list {
			max-height: 0;
		}
	}

}
