.discussion-sort {
	background-color: transparent;
	box-shadow: none;
	list-style-type: none;
	margin: 17px auto 10px auto;
	padding: 0;
	text-align: center;
	width: $discussion-page-width;
	z-index: auto;

	li {
		&.not-active {
			border-bottom-color: $discussion-sort-color;
			color: $discussion-sort-color;
		}

		border-bottom: 4px solid;
		cursor: pointer;
		float: left;
		font-size: $type-base;
		font-weight: $font-weight-bold;
		height: 50px;
		line-height: 50px;
		width: 50%;
	}
}
