$success-icon-size: 80px;

.is-edit-mode {
	.discussion-categories-list-container {
		overflow: initial;
	}
}

.discussion-categories-edit {
	.move {
		fill: $discussion-move-icon-color;
	}

	li {
		transition: all 0.2s linear;

		&:hover {
			.draggable {
				display: flex;

				.action-move {
					display: block;
				}

				.action-local-delete {
					display: none;
				}
			}
		}

		.draggable {
			align-items: center;
			cursor: pointer;
			display: none;
			height: 100%;
			justify-content: center;
			min-width: 30px;
			padding: 5px;
			position: absolute;
			right: 0;

			.move {
				height: 16px;
				width: 7px;
			}
		}

		.discussion-categories-input:focus + .draggable {
			display: flex;

			.action-move {
				display: none;
			}

			.action-local-delete {
				display: block;
			}
		}
	}

	.sortable-item {
		position: relative;
	}

	.is-dragging {
		// hacks for firefox to make transforms work smoothly
		backface-visibility: hidden;
		background-color: $discussion-edit-list-item-color;
		transform: translate3d(0, 0, 0);

		z-index: 1;

		input {
			cursor: pointer;
		}

		li {
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
			padding: 5px;

			.draggable {
				height: 26px;
			}

			.discussion-categories-input:focus + .draggable {
				display: flex;

				.action-move {
					display: block;
				}

				.action-local-delete {
					display: none;
				}
			}
		}

		.discussion-categories-input {
			border: none;
		}
	}

	.discussion-categories-list-container {
		clear: left;
		margin: 0;
	}

	input[type=text] {
		border-bottom-color: $discussion-categories-edit-border-bottom-color;
	}

	.discussion-categories-input,
	.discussion-categories-input:focus {
		background-color: transparent;
		box-shadow: none;
		padding: 8px 23px 4px 0;

		&.error {
			border-color: $discussion-error-color;
		}
	}

	.discussion-categories-input:focus {
		border-color: $discussion-categories-edit-input-focused-border-color;
	}

	.discussion-categories-input[disabled] {
		background: none;
		color: $discussion-categories-disabled-input-color;
		-webkit-text-fill-color: $discussion-categories-disabled-input-color;
	}

	.discussion-categories-input-wrapper {
		display: flex;
	}

	.discussion-categories-list span.error {
		color: $discussion-error-color;
		margin: 0;
		padding-left: 27px;
	}

	.fancy-checkbox-label {
		padding-left: 0;
		padding-right: 3px;

		&:hover {
			background: none;
		}
	}

	.icon {
		&.lock {
			margin: 5px 7px 4px 0;
		}

		&.report {
			fill: $discussion-categories-edit-info-icon-color;
		}

		&.error {
			fill: $discussion-error-color;
		}

		&.close {
			height: 20px;
			width: 20px;
		}

		&.delete {
			fill: $discussion-error-color;
			height: 20px;
			padding: 0 2px;
			width: 20px;
		}
	}

	.categories-edit-info-message {
		float: left;
		font-size: $type-smallest;
		line-height: $line-height-smallest;
		margin: 0 0 15px 22px;
		text-indent: -22px;

		&.categories-edit-error-message {
			color: $discussion-error-color;
		}
	}
}

.discussion-categories-edit-add-link {
	font-size: $type-smallest;
	float: right;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.discussion-categories-edit-mobile-toolbar {
	display: flex;
	justify-content: space-between;

	button {
		background: transparent;
		border: none;
		margin: 0;
		padding: 0 10px;
	}

	h3 {
		color: $color-white;
		font-size: $type-smallest;
		line-height: 44px;
		margin: 0;
	}
}

.loading-overlay.categories-loading-overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	position: absolute;

	.success {
		display: block;
		height: $success-icon-size;
		width: $success-icon-size;
	}
}

@media #{$desktop-range} {
	.discussion-categories-edit {
		.icon-submit {
			fill: $discussion-submit-icon-color;
		}
	}

	.rail {
		.discussion-categories-edit-footer-wrapper {
			margin-top: -31px;
		}
	}
}

@media #{$mobile-range} {
	.discussion-categories-edit {
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;

		.discussion-categories-input,
		.discussion-categories-input:focus {
			font-size: $type-base;
			margin-left: 14px;
			margin-right: 14px;
			padding: 17px 42px 10px 0;

			&[disabled] {
				text-indent: 24px;
			}
		}

		.discussion-categories-list {
			.fancy-checkbox-label {
				display: none;
			}

			.discussion-category-all {
				display: none;
			}
		}

		.discussion-categories-edit-action-button {
			padding: 10px;
		}

		.discussion-categories-edit-add-link {
			padding: 12px;
		}

		.icon.lock {
			position: absolute;
			left: 14px;
			margin-top: 16px;
		}

		.categories-edit-info-message {
			color: $discussion-content-color;
			margin-left: 36px;

			&.categories-edit-error-message {
				margin-top: 20px;
			}
		}
	}
}
