$discussion-dialog-header-font-size: $type-small;
$discussion-dialog-header-line-height: $line-height-base;
$discussion-dialog-content-line-height: 24px;

.discussion-dialog {
	.modal-dialog-wrapper {
		justify-content: center;
		left: 0;
		right: 0;
	}

	.modal-dialog {
		border-radius: 2px;
		color: $discussion-dialog-text-color;
		max-width: 640px;
		padding: 0;

		h3 {
			font-size: $discussion-dialog-header-font-size;
			line-height: $discussion-dialog-header-line-height;
		}

		.modal-dialog-content {
			line-height: $discussion-dialog-content-line-height;
			margin: 0;
			padding: 24px;
		}

		footer {
			border-top: 1px solid $discussion-dialog-separator-color;
			display: flex;
			height: 60px;
			justify-content: flex-end;
			padding: 6px;

			button {
				background-color: $discussion-dialog-background-color;
				border: none;
				height: 48px;

				&:hover {
					background-color: $discussion-dialog-button-hover-background-color;
				}
			}
		}
	}
}

.report-details-modal {
	.modal-dialog {
		width: 90%;
		max-width: 400px;
	}

	.report-details-header {
		border-bottom: solid 1px $discussion-reported-details-header-border-color;
		min-height: 48px;

		h5 {
			font-size: $type-base;
			margin: auto 48px;
			padding: 10px 0px;
			text-align: center;
		}
	}

	.report-details-close {
		display: inline-block;
		height: 42px;
		margin: 0;
		padding: 10px;
		position: absolute;
		width: 42px;
	}

	.report-details-list {
		list-style-type: none;
		margin: 0;
		padding: 0 20px 5px 16px;

		li {
			display: block;
		}

		.avatar {
			flex-shrink: 0;
			margin-right: 6px;
			margin-top: 9px;

			img, svg {
				height: 30px;
				width: 30px;
			}
		}

		.user-avatar {
			display: flex;
		}

		.avatar-username {
			border-bottom: solid 1px $discussion-reported-details-list-border-color;
			line-height: 48px;
			max-width: none;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;

			a {
				line-height: 48px;
				width: 100%;
			}
		}

		li:last-child {
			.avatar-username {
				border-bottom: none;
			}
		}
	}
}

@media #{$desktop-range} {
	.report-details-modal {
		.report-details-list {
			.avatar {
				img, svg {
					height: 42px;
					width: 42px;
				}
			}

			.avatar-username {
				line-height: 58px;

				a {
					line-height: 58px;
				}
			}
		}
	}
}
