.editor-overlay-message {
	align-items: center;
	background-color: $discussion-editor-background-color;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
	cursor: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 10px;
	min-height: 140px;
	position: relative;
	right: 0;
	top: 0;

	.message-text {
		color: $discussion-editor-overlay-message-color;
		font-size: $type-smallest;
		line-height: $line-height-min;
		margin: auto 50px;
		min-height: 45px;
		text-align: center;
	}

	.message-icon {
		display: flex;
		justify-content: center;
		margin: 30px 0 0;
		width: 100%;

		svg {
			height: 28px;
			width: 28px;
		}
	}

	.message-close {
		line-height: 10px;
		padding: 6px;
		position: absolute;
		right: 5px;
		top: 5px;

		svg {
			fill: $discussion-editor-close-message-color;
			height: 10px;
			width: 10px;
		}
	}
}

@media #{$desktop-range} {
	.editor-overlay-message {
		margin: 10px 27px 10px 0;
	}
}
