// this is spacing over the application-join text
// the text should line up with Community Name, and this is the simplest solution - just to set particular margin-top

$discussion-app-join-text-spacing-top: (
	details-view: 85px,
	list-view: 42px
);

.discussion-community-unit {
	font-size: $type-smallest;
	line-height: $line-height-smallest;
	margin: map-get($discussion-app-join-text-spacing-top, list-view) 0 10px;

	.wiki-name {

	}

	.discussion-app-join-text {
		color: $app-promotion-text-color;
	}

	.apple-store-badge {
		height: 40px;
		margin: 5px 0;
		width: 135px;
	}

	.google-play-badge {
		height: 40px;
		margin: 5px 0;
		width: 135px;
	}
}

.post-details-view {
	.discussion-community-unit {
		margin-top: map-get($discussion-app-join-text-spacing-top, details-view);
	}
}
