.discussion-standalone-editor {
	background-color: $discussion-editor-background-color;
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 0;
	position: fixed;
	top: 0;
	right: 0;
	z-index: $z-discussion-editor;

	.discussion-standalone-editor-toolbar {
		border-bottom: 1px solid $discussion-editor-textarea-border-color;
		display: flex;
		flex-shrink: 0;
		height: 41px;
		justify-content: space-between;
	}

	.editor-close {
		display: inline-block;
		height: 38px;
		padding: 10px;
		width: 38px;
	}

	button {
		background: none;
		border: 0;
		font-size: $type-smallest;
		font-weight: bold;
		height: 40px;
		letter-spacing: .25px;
		margin: 0;
		padding: 0 1.25rem;
		text-transform: uppercase;
	}

	.discussion-standalone-editor-label {
		background-color: $discussion-editor-background-color;
		color: $discussion-editor-label-color;
		font-size: $type-min;
		font-weight: bold;
		padding: 15px 10px 10px;
		text-transform: uppercase;
		width: 100%;
	}

	.discussion-standalone-content-wrapper {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.discussion-standalone-editor-textarea {
		border: 0;
		border-radius: 0;
		-webkit-font-smoothing: subpixel-antialiased;
		margin: 0;
		padding: 0 10px 10px;

		&:focus {
			background-color: transparent;
			border: 0;
			box-shadow: none;
		}

		&:empty:before {
			color: $discussion-editor-label-color;
			content: attr(placeholder);
		}
	}

	.og-container {
		flex-shrink: 0;
	}
}
