$reply-editor-width: 563px;
$reply-editor-folded-height: 49px;
$reply-editor-margin-left: -20px;

.reply-editor {
	.editor-container {
		border: 4px solid $discussion-mobile-reply-editor-border-color;
		width: 100%;

		&.sticky {
			&.pinned-bottom {
				//To hide bottom border and compensate margin when editor is sticky
				bottom: -4px;
				margin-bottom: 0;
				top: auto;
			}
		}
	}

	.reply-editor-label {
		display: block;
		font-size: $type-min;
		font-weight: bold;
		height: auto;
		padding: 15px 15px 5px;
	}

	&.is-active {
		.editor-container {
			border: 0;
		}
		.reply-editor-label {
			display: none;
		}
	}
}

.post-reply ~ .reply-editor {
	.editor-label {
		border-top: 1px solid $discussion-post-detail-border-color;
	}
}

@media #{$mobile-range} {
	.reply-editor .editor-container.sticky.pinned-bottom {
		border-width: 4px 0;
	}
}


@media #{$desktop-range} {
	.reply-editor {
		.editor-container {
			margin-left: $reply-editor-margin-left;
			width: $reply-editor-width;

			&.sticky {
				width: $reply-editor-width;
			}
		}

		&.is-active {
			.editor-container {
				border: 4px solid $discussion-mobile-reply-editor-border-color;
			}
		}
	}
}
