.post-details-view {
	.post-detail {
		.user-avatar-badge {
			top: 6px;
		}
	}
}

.discussion-contributors {
	.user-avatar {
		position: relative;

		.user-avatar-badge {
			top: 0px;
			left: 0px;
		}
	}
}

.user-avatar-badge {
	display: inline-block;
	position: absolute;

	svg {
		height: 18px;
		width: 18px;
	}
}
