.discussions-collapsable {
	legend {
		font-size: $type-smallest;
		width: 100%;
	}

	.chevron {
		float: right;
		height: 20px;
		transform: rotate(-90deg);
		width: 20px;
		margin-top: 3px;
	}

	.collapsable-container {
		overflow: hidden;
		transition: max-height .6s;
	}

	&.collapsed {
		.chevron {
			transform: rotate(90deg);
		}

		.collapsable-container {
			max-height: 0;
		}
	}
}
