.discussion-reply-editor-stub {
	.stub-container {
		background: #fff;
		border: 4px solid #ccc;
		align-items: center;
		display: flex;
		padding: 10px;
	}

	.content-stub {
		border-bottom: 1px solid #e7e7e7;
		color: #999;
		flex: 1;
		height: 28px;
		margin-left: 6px;
	}

	.user-avatar {
		.avatar {
			img, svg {
				height: 40px;
				width: 40px;
			}
		}
	}

	&.is-sticky {
		.stub-container {
			border: 0;
			border-top: 4px solid #ccc;;
			bottom: 0;
			left: 0;
			position: fixed;
			right: 0;
		}
	}
}
