$reply-editor-width: 563px;
$reply-editor-folded-height: 49px;
$reply-editor-margin-left: -20px;

.reply-editor {
	.editor-container {
		border: 4px solid $discussion-mobile-reply-editor-border-color;
	}

	.editor-label {
		display: block;
		font-size: $type-min;
		font-weight: bold;
		height: auto;
		padding: 15px 15px 5px;
	}

	&.is-active {
		.editor-container {
			border: 0;
		}
	}
}

.post-reply ~ .reply-editor {
	.editor-label {
		border-top: 1px solid $discussion-post-detail-border-color;
	}
}

@media #{$desktop-range} {
	.reply-editor {
		.editor-container {
			margin-left: $reply-editor-margin-left;
			width: $reply-editor-width;

			&.sticky {
				width: $reply-editor-width;

				&.pinned-bottom {
					//To hide bottom border and compensate margin when editor is sticky
					bottom: -4px;
					top: auto;
				}
			}
		}

		&.is-active {
			.editor-container {
				border: 4px solid $discussion-mobile-reply-editor-border-color;
			}
		}
	}
}
