.user-avatar-badge {
	position: absolute;

	svg {
		height: 18px;
		width: 18px;
	}
}

// Hide user avatar badges under "Discussion" label on forum.
.discussion-hero-unit {
	.user-avatar-badge {
		display: none;
	}
}

.post-detail {
	.user-avatar-badge {
		left: 25px;
		top: 15px;
	}
}

.discussion-reply {
	.user-avatar-badge {
		left: 32px;
		top: 5px;
	}
}

.post-details-view {
	.post-detail {
		.user-avatar-badge {
			top: 5px;
		}
	}
}

.discussion-contributors {
	.user-avatar {
		position: relative;

		.user-avatar-badge {
			bottom: 18px;
			right: 18px;
		}
	}
}

.discussion-contributors-mobile {
	.user-avatar-badge {
		right: 23px;
	}
}

@media #{$mobile-range} {
	.post-detail {
		.user-avatar-badge {
			left: 15px;
			top: 5px;
		}
	}
}
