$badge-image-dimensions-small: 79px;
$badge-image-dimensions-big: 125px;

.post-list-view {
	.community-badge {
		margin-top: -62px;

		.community-badge-image {
			width: $badge-image-dimensions-big;
			background-color: $discussion-community-badge-background-color;

			.badge-image-display {
				height: $badge-image-dimensions-big;
				width: $badge-image-dimensions-big;
			}
		}
	}
}

.post-details-view {
	.community-badge {
		margin-top: -12px;

		.community-badge-image {
			background-color: $discussion-community-badge-background-color;
			width: $badge-image-dimensions-small;

			.badge-image-display {
				height: $badge-image-dimensions-small;
				width: $badge-image-dimensions-small;
			}
		}

		p {
			font-size: $type-smaller;
		}
	}
}

.community-badge {
	.edit-badge-button {
		background-color: $discussion-edit-image-button-background;
		color: $discussion-edit-image-button-text;
		display: none;
		font-size: 10px;
		height: 30px;
		height: auto;
		left: 0;
		letter-spacing: 0.5px;
		line-height: 15px;
		min-height: 30px;
		opacity: 0.9;
		padding: 7px 32px 7px 4px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: 0;
		width: 100%;


		.icon-camera {
			height: 24px;
			position: absolute;
			right: 4px;
			top: 2px;
			width: 24px;
		}
	}

	.community-badge-image {
		border: 2px solid $discussion-community-badge-border;
		box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
		cursor: pointer;
		position: relative;

		.badge-image-display {
			display: none;

			&.is-visible {
				display: inline-block;
			}
		}
	}

	&:not(.is-edit-mode) {
		.community-badge-image:hover {
			.edit-badge-button {
				display: block;
			}
		}
	}

	p {
		color: $discussion-community-badge-title-color;
		font-size: 1.5rem;
		line-height: 1.25;
	}

	.edit-mode {
		background-color: $discussion-edit-image-upload-background;
		color: $discussion-edit-image-hint-text;
		cursor: auto;
		font-size: $type-min;
		height: 100%;
		left: 0;
		letter-spacing: 0.5px;
		line-height: 15px;
		padding: 8px 5px;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;

		.upload-image-button {
			margin-bottom: 10px;
		}

		.file-upload-label {
			color: $discussion-upload-image-button-text;
			cursor: pointer;
			font-size: 10px;
			font-weight: $font-weight-bold;
			letter-spacing: 0.3px;
			line-height: 15px;
			margin-bottom: 15px;
			min-height: 36px;
			padding: 10px 5px;
			text-align: center;
			text-transform: uppercase;
		}

		input {
			display: none;
		}
	}
}

.svg-camera-fill {
	fill: $discussion-edit-image-camera;
}
