$modal-editor-width: 520px;

.discussion-standalone-editor {
	background-color: $discussion-editor-background-color;
	display: flex;
	flex-direction: column;
	z-index: $z-discussion-editor;

	.discussion-standalone-editor-toolbar {
		border-bottom: 1px solid $discussion-editor-toolbar-border-color;
		display: flex;
		flex-shrink: 0;
		height: 41px;
		justify-content: space-between;
	}

	.editor-close {
		height: 38px;
		padding: 10px;
		width: 38px;
	}

	button {
		background: none;
		border: 0;
		font-size: $type-smallest;
		font-weight: $font-weight-bold;
		height: 40px;
		letter-spacing: .25px;
		margin: 0;
		padding: 0 1.25rem;
		text-transform: uppercase;
	}

	.discussion-standalone-editor-label {
		color: $discussion-editor-label-color;
		cursor: default;
		flex-shrink: 0;
		font-size: $type-min;
		font-weight: $font-weight-bold;
		padding: 15px 10px 10px;
		text-transform: uppercase;
		width: 100%;
	}

	.discussion-standalone-content-wrapper {
		flex-grow: 1;
		overflow: auto;
	}

	.discussion-standalone-editor-textarea {
		border: 0;
		border-radius: 0;
		margin: 0;
		padding: 0 10px 10px;

		&:focus {
			background-color: transparent;
			border: 0;
			box-shadow: none;
		}
	}
}

@media #{$desktop-range} {
	.discussion-editor-dialog {
		.modal-dialog {
			align-self: flex-start;
			height: 350px;
			margin-top: 66px;
			max-width: $modal-editor-width;
		}
	}
}

@media #{$mobile-range} {
	.discussion-standalone-editor {
		bottom: 0;
		left: 0;
		position: fixed;
		top: 0;
		right: 0;
	}
}
