$desktop-content-width: 768px;

.standalone-page-view {
	height: 100%;

	.side-button {
		border: none;
		margin-top: 20px;
	}

	.standalone-content {
		background-color: $discussion-standalone-content-background-color;
	}
}

@media #{$mobile-range} {
	body {
		&.discussions {
			&.standalone-page {
				background-color: $discussion-standalone-content-background-color;

				.discussion-header {
					h1 {
						margin-left: 35px;
					}
				}
			}
		}
	}
}

@media #{$desktop-range} {
	.standalone-page-view {
		height: auto;

		.rail {
			width: calc((100% - 768px)/2);
		}

		.discussion-hero-unit-content {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		.standalone-content {
			border: solid 1px $discussion-standalone-content-border-color;
			margin: 25px auto;
			width: $desktop-content-width;
		}

		.discussion-hero-unit {
			height: 150px;
		}

		.discussion-hero-unit-content {
			h1 {
				font-size: $type-larger;
				line-height: $line-height-larger;
			}
		}
	}

	.discussion-error-page {
		.standalone-content {
			background-color: initial;
			border: none;
		}
	}
}
