$sort-label-height: 48px;
$legend-font-size: 16px;

.discussions {
	.discussion-header {
		.filters-popover {
			.pop-over-container {
				padding: 0;
			}
		}
	}
}


.discussion-filter-header {
	border-bottom: 1px solid $discussion-rail-separator-color;
	font-size: $type-smaller;
	font-weight: normal;
	margin-bottom: 12px;

	a {
		float: right;
		font-size: $type-min;
		text-transform: uppercase;
	}

	.rail & {
		margin-top: 24px;
	}
}

.discussion-filters-fields-wrapper {
	padding: 11px 20px 0;
}

.discussion-filters {
	display: block;
	max-height: 330px;
	overflow: auto;
	width: 280px;

	.filters-apply-container {
		right: 18px;
		width: 100%;
	}

	.filters-apply {
		background: $discussion-filters-apply-button-background-color;
		border: none;
		box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.2);
		color: inherit;
		font-size: $legend-font-size;
		font-weight: bold;
		height: auto;
		line-height: $line-height-smallest;
		margin: 0;
		outline: none;
		padding: 18px 14px 14px;
		text-align: center;
		width: 100%;

		&:hover,
		&:active,
		&:focus {
			background: $discussion-filters-apply-button-background-color;
			color: inherit;
		}
	}

	legend {
		color: $discussion-filters-color;
		font-size: $legend-font-size;
		font-weight: bold;
		line-height: $line-height-smallest;
	}

	.discussion-categories {
		svg {
			fill: $discussion-categories-chevron-color;
		}
	}

	.discussion-fieldset {
		&:disabled {
			pointer-events: none;

			.sort-trending {
				label {
					color: $discussion-filter-inactive-color;
				}
			}

			&.discussion-categories {
				label {
					color: $discussion-filter-inactive-color;
				}
			}

		}
	}

	.sortby-fieldset {
		margin-top: 18px;
	}

	.moderation-fieldset {
		margin-top: 14px;
		padding-bottom: 18px;
	}

	.sort-options {
		margin: 0;
		width: auto;

		li {
			border-bottom: 1px solid $discussion-filters-border;
			list-style: none;
			clear: left;
			color: $discussion-filters-color;
			height: $sort-label-height;
			width: 100%;

			&:last-child {
				border-bottom: none;
			}

			label {
				color: $discussion-filters-color;
				display: block;
				font-size: $type-smallest;
				font-weight: normal;
				line-height: $sort-label-height - 2px;
				margin: 1px 0;
			}

			.radio-fancy {
				border: 1px solid $fancy-check-box-border;
				border-radius: 50%;
				float: left;
				height: 18px;
				margin: 15px 6px 0 0;
				width: 18px;

				.inside {
					background-color: inherit;
					border: 3px solid $discussion-filters-bullet-active-border;
					border-radius: 50%;
					display: none;
					height: 16px;
					width: 16px;
				}

				&.active {
					border-color: transparent;

					.inside {
						display: block;
					}
				}
			}

			.bullet {
				display: none;
			}
		}
	}

	.moderation-checkbox-label {
		align-items: flex-start;
		color: $discussion-filters-color;
		display: flex;
		line-height: $line-height-min;
		padding-top: 18px;
	}
}

.rail {
	.discussion-filters {
		padding-bottom: 0;
		padding-top: 85px;
		width: auto;

		label {
			line-height: $line-height-smallest;
		}

		.moderation-checkbox-label {
			padding-top: 13px;
		}

		.moderation-fieldset {
			margin-top: 0;
		}
	}
}

.header {
	.orient-below {
		.pop-over-compass {
			animation: none;
			transform: translate(0, -14px);
		}

		.pop-over-container {
			padding: 10px 20px 0;
		}

	}
}
