$sticky-editor-width: 529px;

.discussion-inline-editor {
	margin: 0 auto 5px;

	.discussion-inline-editor-floating-container {
		background-color: $discussion-editor-background-color;
		border: 4px solid $discussion-editor-border-color;
	}

	.discussion-inline-editor-toolbar {
		background-color: $discussion-editor-toolbar-background-color;
		display: none;
		justify-content: flex-end;
	}

	&.is-active {
		.discussion-inline-editor-toolbar {
			display: flex;
		}

		.discussion-inline-editor-textarea {
			border: 0;
			min-height: 106px;
			resize: vertical;
		}
	}

	&.is-sticky {
		.discussion-inline-editor-floating-container {
			border-top: 0;
			margin-left: ($discussion-page-width - $sticky-editor-width) / 2;
			position: fixed;
			top: $site-head-height;
			width: $sticky-editor-width;
			z-index: $z-discussion-sticky-editor;
		}
	}

	.discussion-inline-editor-submit {
		background: none;
		border: 0;
		font-size: $type-smallest;
		font-weight: $font-weight-bold;
		height: 40px;
		letter-spacing: .25px;
		margin: 0;
		padding: 0 20px;
		text-transform: uppercase;
	}

	.discussion-inline-editor-content-wrapper {
		max-height: 300px;
		overflow: auto;
	}

	.discussion-inline-editor-textarea-wrapper {
		display: flex;
	}

	.discussion-inline-editor-textarea {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid $secondary-color;
		border-radius: 0;
		height: 45px;
		margin: 0 17px 10px 0;
		min-height: 45px;
		padding: 17px 0 0;
		resize: none;
		transition: min-height .2s ease;

		&:focus {
			background-color: transparent;
			border: 0;
			box-shadow: none;
		}
	}

	.user-avatar {
		flex-shrink: 0;
		margin: 10px;
	}

	.discussion & .avatar {
		svg, img {
			width: 40px;
			height: 40px;
		}
	}
}
