$featured-content-caption-line-height: 32px;

.featured-content {
	margin-bottom: 20px;
	position: relative;
	width: 100%;

	.chevron {
		fill: $white;
		height: 100%;
		position: absolute;
		stroke: rgba(0, 0, 0, .5);
		stroke-width: .25;
		top: 0;

		&-left {
			left: 0;
			transform: scaleX(-1);
		}

		&-right {
			right: 0;
		}
	}
}

.featured-content-item {
	background: {
		color: rgb(223, 223, 223);
		image: $brackets-svg-image;
		position: center;
		repeat: no-repeat;
		size: contain;
	}
	display: block;

	.clamp {
		@include clamp(2);
		bottom: 40px;
		max-height: 2 * $featured-content-caption-line-height;
		padding: 0 10px;
		position: absolute;
		width: 100%;
	}

	img {
		vertical-align: baseline;
		width: 100%;
	}

	figcaption {
		background: linear-gradient(to top, rgba(0, 0, 0 , .7), rgba(255, 255, 255, 0));
		bottom: 0;
		color: $white;
		font-size: 28px;
		height: 120px;
		line-height: $featured-content-caption-line-height;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}

.featured-content-pagination {
	bottom: 15px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 0);

	&.dot-pagination .current span {
		background-color: $white;
		border-color: $white;
	}
}
