.feedback-form {
	border-bottom: 4px solid #1a5eb8;
	color: #333;
	line-height: 24px;
	padding: 17px 24px;
	text-align: center;

	p {
		margin: 0 0 20px;
		padding: 0;
	}
}

.button-feedback {
	background-color: #fff;
	border: 1px solid #4a90e2;
	color: #4a90e2;
	height: 44px;
	width: 78px;
}

.button-yes {
	margin-right: 32px;
}

.button-no {
	margin-left: 32px;
}

.button-feedback-icon {
	background: none;
	border: none;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 50px;

	&.button-yes {
		margin-right: 46px;
	}

	&.button-no {
		margin-left: 46px;
	}

	.button-icon {
		height: 50px;
		width: 50px;
	}
}
