.image-review-list {
	li {
		float: left;
		list-style: none;
		margin: 0.5em;
	  	height: 300px;
	}
}

.button-group {
	button:hover {
		/* turn off button hover style */
		background-color: #0a5fa3;
	}

	.highlighted {
		background-color: #092140;
	}
}

.image-review-item {
	.rejected {
		background-color: #ff3300;
	}
	.flagged {
		background-color: #a49b00;
	}
}

.action-buttons {
	clear: both;
	display: block;
}

table {
	td {
		padding: 5px;
		border: 1px solid;
	}
}
