$add-item-button-padding: 10px;
$add-item-button-margin: 4px;
$back-arrow-icon-size: 16px;
$border-width: 1px;
$box-shadow-size: 2px;
$chevron-area-width: 40px;
$edit-options-pop-over-arrow-size: 14px;
$icon-action-size: 24px;
$icon-button-size: 30px;
$icon-wrapper-size: 50px;
$image-button-width: 130px;
$image-button-height: 100px;
$info-icon-position-left: -12px;
$info-icon-position-top: -10px;
$info-message-left-padding: 34px;
$infobox-wrapper-padding: 40px;
$grayout-color: rgba(255, 255, 255, .3);
$modal-bottom-row-padding: 6px;
$modal-button-min-width: 57px;
$modal-text-bottom-padding: 35px;
$modal-text-message-top-margin: 10px;
$modal-text-padding: 25px;
$overlay-color: rgba(255, 255, 255, .8);
$padding: 18px;
$popover-horizontal-padding: 15px;
$popover-vertical-padding: 8px;
$popover-width: 250px;
$sidebar-blur-radius: 6px;
$sidebar-items-padding: 30px;
$sidebar-header-padding: 16px;
$sidebar-width: 300px;
$sidebar-z-index: 1;
$shadow-blur: 15px;
$spinner-text-color: rgba(0, 0, 0, .5);
$shadow-color: rgba(0, 0, 0, .3);
$shadow-color-sidebar: rgba(0, 0, 0, .2);
$spinner-text-color: rgba(0, 0, 0, .5);
$spinner-test-margin: 15px;
$source-icon-margins: 6px;
$success-icon-size: 80px;

// overwrite default mercury styles
.infobox-builder-body-wrapper {
	overflow-y: auto;

	//there's no other way to set height 100% on the builder elements
	.ember-container {
		height: 100%;
		overflow: hidden;

		> div:first-child {
			height: 100%;
		}
	}

	.application-wrapper {
		height: 100%;

		> div:first-child {
			height: 100%;
		}
	}
}

.infobox-builder {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	padding-top: $wikia-ui-components-sub-head-height;
	position: relative;
  	margin-top: -50px;

	@media (min-width: lower-bound($large-range)) {
		padding-top: $wikia-ui-components-sub-head-height-large;
	}

	.infobox-builder-sidebar-header-icon-delete {
		.icon-button-icon {
			fill: $color-blue-gray-dark
		}

		&:hover .icon-button-icon {
			fill: $alert-color;
		}
	}
}

.infobox-builder-preview {
	// overwrite mercury default cursor for elements with ember actions attached
	cursor: auto;
	flex-grow: 1;
	overflow: auto;

	.infobox-builder-infobox-wrapper {
		padding: $infobox-wrapper-padding 0;
		// set relative parent for infobox-builder-edit-options-pop-over
		position: relative;
	}

	.portable-infobox {
		margin: 0 auto;
		cursor: pointer;
	}

	// styles for adding infobox builder selection bounding box to each infobox item
	.pi-item {
		position: relative;

		// transitions during reordering
		&.sortable-item {
			transition: transform .125s;
		}

		&:hover,
		&.active,
		&.is-dragging {
			&:before {
				border: $border-width solid $color-blue-light;
				box-sizing: content-box;
				content: ' ';
				display: block;
				height: 100%;
				left: -$border-width;
				position: absolute;
				top: -$border-width;
				width: 100%;
			}
		}

		&:hover,
		&.active {
			z-index: 3;
		}

		&.active:before {
			box-shadow: 0 $box-shadow-size $shadow-blur 0 $shadow-color;
			cursor: pointer;
		}

		&.is-dragging {
			// hacks for firefox to make transforms work smoothly
			backface-visibility: hidden;
			transform: translate3d(0, 0, 0);

			z-index: 4;

			&:before {
				cursor: move;
				box-shadow: 0 $box-shadow-size * 4 $shadow-blur 0 $shadow-color;
				pointer-events: none;
				transition: box-shadow 0.2s ease-in-out;
			}
		}
	}

	.infobox-builder-edit-options-pop-over {
		position: absolute;
	}
}

.infobox-builder-edit-options-pop-over {
	.pop-over-container {
		padding: 0;
	}

	.pop-over-pointer {
		top: calc(50% - #{$edit-options-pop-over-arrow-size / 2});
	}
}

.infobox-builder-sidebar {
	flex-basis: $sidebar-width;
	max-width: $sidebar-width;

	&:before {
		box-shadow: -$box-shadow-size * 2 0 $sidebar-blur-radius $shadow-color-sidebar;
		content: '';
		height: 100%;
		pointer-events: none;
		position: absolute;
		width: 100%;
	}

	.text-field,
	.check-box {
		margin-bottom: $sidebar-items-padding;
	}

	.checkbox-builder {
		padding-top: $padding;
		font-size: $type-base;
	}

	// overwrite default mercury pop over styles
	.pop-over-container {
		color: $color-gray-dark;
		font-size: $type-smallest;
		padding: $popover-vertical-padding $popover-horizontal-padding;
	}

	// styles for liquid-fire animation of sidebar

	.liquid-fire-slide-to-left-item {
		background-color: $white;
		border-left: 1px solid $color-blue-gray;
		height: 100%;
	}

	.liquid-fire-slide-to-left-container {
		height: 100%;
	}

	.liquid-child {
		height: 100%;
		position: absolute;
	}
}

// fix safari and firefox issues with pop up width calculation and text wrapping
.infobox-builder-go-to-source-tooltip-text {
	margin: 0;
	white-space: nowrap
}

.infobox-builder-sidebar-header {
	align-items: center;
	border-bottom: $border-width solid $color-blue-gray-light;
	display: flex;
	font-weight: bold;
	text-align: center;

	.infobox-builder-sidebar-header-icon-back,
	.infobox-builder-sidebar-header-icon-back:hover {
		.icon-button-icon {
			fill: $color-blue-light;
		}
	}
}

.infobox-builder-sidebar-header-title {
	flex: 1;
	overflow: hidden;
	padding: $sidebar-header-padding 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.infobox-builder-sidebar-info {
	color: $color-blue-gray-dark;
	font-size: $type-min;
	line-height: $line-height-min;
	margin: 0;
	padding: 0;
	position: relative;

	.infobox-builder-sidebar-info-icon {
		left: $info-icon-position-left;
		position: absolute;
		top: $info-icon-position-top;

		&:hover .icon-button-icon {
			fill: $color-blue-gray;
		}
	}
}

.infobox-builder-sidebar-info-message {
	padding-left: $info-message-left-padding;
}

.infobox-builder-buttons {
	align-content: space-between;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: $padding;
}

.infobox-builder-button {
	align-items: center;
	background-color: $color-gray-light;
	cursor: pointer;
	display: flex;
	float: left;
	flex-direction: column;
	height: $image-button-height;
	justify-content: center;
	margin-bottom: $add-item-button-margin;
	padding: $add-item-button-padding;
	flex-basis: $image-button-width;
	width: $image-button-width;

	&:hover {
		background-color: $color-blue-gray-light;

		.infobox-builder-button-icon {
			fill: $color-blue-light;
		}
	}
}

.infobox-builder-button-icon {
	fill: $color-blue-gray;
	height: $icon-button-size;
	margin-top: $border-width * 2;
	// fix no event bubbling on SVGs in IE 11
	pointer-events: none;
	width: $icon-button-size;
}

.infobox-builder-button-label {
	color: $color-blue-light;
	font-size: $type-smallest;
	margin-top: $border-width * 2;
}

.infobox-builder-sidebar-padding {
	padding: $padding
}

.is-preview-item-dragged {
	.infobox-builder-chevron-area {
		pointer-events: none;
	}

	.pi-item:not(.is-dragging) {
		pointer-events: none;

		&:before {
			background-color: $grayout-color;
			content: "";
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}
	}
}

.infobox-builder-spinner {
	align-items: center;
	color: $spinner-text-color;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&.loading-overlay {
		background: $overlay-color;
	}

	.success-icon {
		height: $success-icon-size;
		width: $success-icon-size;
	}

	.spinner {
		margin: 0;
		position: inherit;
	}

	.spinner-text {
		margin-top: $spinner-test-margin;
	}
}

.infobox-builder-go-to-source-button {
	bottom: $source-icon-margins;
	position: absolute;
	right: $source-icon-margins;
}

// fix modal overlay positions for source mode
.infobox-builder-modal {
	left: 0;

	button {
		background-color: inherit;
		border: none;
		color: $link-color;
		margin: 0;
		min-width: $modal-button-min-width;

		&:hover {
			background-color: $color-gray-light;
		}
	}

	.modal-dialog {
		margin: 0 auto;
		text-align: center;
		padding: 0;
	}

	.modal-text-area {
		padding: $modal-text-padding $modal-text-padding $modal-text-bottom-padding;
	}

	.modal-bottom-row {
		border-top: $border-width $color-blue-gray-light solid;
		text-align: right;
		padding: $modal-bottom-row-padding;
	}
}

.infobox-builder-modal-message {
	text-align: left;
}

.infobox-builder-edit-title-modal-title {
	font-size: $type-small;
	line-height: $line-height-small;
	margin: 0;
}

.infobox-builder-edit-title-modal-message {
	margin: $modal-text-message-top-margin 0 0;
}

.infobox-builder-chevron-area {
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: $chevron-area-width;
	z-index: 1;
}

.is-group-highlighted .in-group {
	&.pi-item {
		&:before {
			border-left: $border-width solid $color-blue-light;
			border-right: $border-width solid $color-blue-light;
			box-sizing: content-box;
			content: ' ';
			display: block;
			height: 100%;
			left: -$border-width;
			position: absolute;
			top: -$border-width;
			width: 100%;
		}

		&.last:before {
			border-bottom: $border-width solid $color-blue-light;
		}

		&.pi-data:not(.active):before {
			height: calc(100% + #{$border-width});
		}
	}

	&.pi-header {
		&:before {
			border-top: $border-width solid $color-blue-light;
		}

		&:not(.active):before {
			border-bottom: transparent;
		}
	}

	.pop-over {
		color: $color-gray-dark;
		position: fixed;
		width: $popover-width;

		.infobox-builder-popup-text {
			margin: 0;
			font-size: $type-smallest;
		}

		.pop-over-container {
			padding: $popover-horizontal-padding;
		}
	}
}
