$sidebar-width: 296px;
$padding: 12px;
$back-arrow-icon-size: 16px;
$icon-action-size: 24px;
$icon-wrapper-size: 50px;
$icon-button-size: 30px;
$border-width: 1px;
$box-shadow-size: 2px;
$shadow-blur: 15px;
$spinner-text-color: rgba(0, 0, 0, .5);
$shadow-color: rgba(0, 0, 0, .3);
$grayout-color: rgba(255, 255, 255, .3);
$overlay-color: rgba(255, 255, 255, .8);

// overwrite default mercury styles
.infobox-builder-body-wrapper {
	overflow-y: auto;

	//there's no other way to set height 100% on the builder elements
	.ember-container {
		height: 100%;
		overflow: hidden;

		> div:first-child {
			height: 100%;
		}
	}

	.application-wrapper {
		height: 100%;

		> div:first-child {
			height: 100%;
		}
	}
}

.infobox-builder {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	padding-top: $sub-head-height;
}

.infobox-builder-preview {
	flex-grow: 1;
	overflow: auto;

	.portable-infobox {
		cursor: pointer;
		margin: 40px auto;
	}

	// styles for adding infobox builder selection bounding box to each infobox item
	.pi-item {
		position: relative;

		// transitions during reordering
		&.sortable-item {
			transition: transform .125s;
		}

		&:hover,
		&.active,
		&.is-dragging {
			&:after {
				border: $border-width solid $color-blue-light;
				box-sizing: content-box;
				content: ' ';
				display: block;
				height: 100%;
				left: -$border-width;
				position: absolute;
				top: -$border-width;
				width: 100%;
			}
		}

		&:hover,
		&.active {
			z-index: 3;
		}

		&.active:after {
			box-shadow: 0 $box-shadow-size $shadow-blur 0 $shadow-color;
			cursor: pointer;
		}

		&.is-dragging {
			// hacks for firefox to make transforms work smoothly
			backface-visibility: hidden;
			transform: translate3d(0, 0, 0);

			z-index: 4;

			&:after {
				cursor: move;
				box-shadow: 0 $box-shadow-size * 4 $shadow-blur 0 $shadow-color;
				transition: box-shadow 0.2s ease-in-out;
			}
		}
	}
}

.infobox-builder-sidebar {
	box-shadow: -$box-shadow-size 0 $shadow-blur 0 $shadow-color;
	flex-basis: $sidebar-width;
	max-width: $sidebar-width;

	.edit-header {
		border-bottom: $border-width solid $color-blue-gray-light;
		display: flex;
		font-weight: bold;
		line-height: 48px;
	}

	.edit-header-icon {
		align-items: center;
		background: inherit;
		cursor: pointer;
		display: flex;
		height: $icon-wrapper-size;
		justify-content: center;
		width: $icon-wrapper-size;

		.back-arrow {
			fill: $color-blue-light;
			height: $back-arrow-icon-size;
			width: $back-arrow-icon-size;
		}

		.delete {
			fill: $color-blue-gray;
			height: $icon-action-size;
			width: $icon-action-size;

			&:hover {
				fill: $color-blue-light;
			}
		}
	}

	.edit-header--title {
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.sidebar-header {
		border-bottom: $box-shadow-size solid $color-blue-gray-light;
		font-weight: bold;
		line-height: 48px;
		padding: 0 $padding;
	}

	.checkbox-title {
		font-size: $type-base;
	}

	.input-container {
		align-items: flex-end;
		border-bottom: 1px solid $color-blue-gray;
		padding-bottom: 0;
	}

	.infobox-builder-input {
		border-bottom: none;
		font-size: $type-base;
		position: relative;
		transition: none;

		&:focus {
			border-bottom: none;
		}
	}

	input[type='text']:valid + .floating-label {
		color: $color-blue-gray;
		font-size: 10px;
		font-weight: bold;
		line-height: 12px;
		text-transform: uppercase;
	}

	input[type='text'],
	input[type='text']:focus {
		padding-right: 40px;
	}

	.modal-dialog-layover {
		background-color: transparent;
	}

	.modal-dialog {
		box-shadow: 0 0 20px 0 $shadow-color;
		font-size: 14px;
		line-height: 20px;
		max-width: 250px;
		padding: 18px;
		position: absolute;
		top: 150px;
	}
}

.infobox-builder-buttons {
	display: inline-block;
	padding: $padding;
}

.infobox-builder-button {
	align-items: center;
	background-color: $color-gray-light;
	display: flex;
	float: left;
	flex-direction: column;
	height: 100px;
	justify-content: center;
	margin: 3px;
	padding: 10px;
	width: 130px;

	&:hover {
		background-color: $color-blue-gray-light;

		.infobox-builder-button-icon {
			fill: $color-blue-light;
		}
	}
}

.infobox-builder-button-icon {
	fill: $color-blue-gray;
	height: $icon-button-size;
	width: $icon-button-size;
}

.infobox-builder-button-label {
	color: $color-blue-light;
	font-size: 14px;
	margin-top: 10px;
}

.sidebar-edit-area {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.sidebar-content-padding {
	padding: $padding
}

.infobox-builder-questionmark {
	align-items: center;
	display: flex;
	justify-content: center;
	height: $icon-wrapper-size;
	width: $icon-wrapper-size;

	.infobox-builder-input & {
		position: absolute;
		right: -10px;
		top: 0;
	}

	&:hover svg {
		fill: $color-blue-light;
	}

	svg {
		fill: $color-blue-gray;
		height: $icon-action-size;
		width: $icon-action-size;
	}
}

.is-preview-item-dragged {
	.pi-item:not(.is-dragging) {
		pointer-events: none;

		&:after {
			background-color: $grayout-color;
			content: "";
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}
	}
}

.infobox-builder-spinner {
	align-items: center;
	color: $spinner-text-color;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&.loading-overlay {
		background: $overlay-color;
	}

	.success-icon {
		height: 80px;
		width: 80px;
	}

	.spinner {
		margin: 0;
		position: inherit;
	}

	.spinner-text {
		margin-top: 15px;
	}
}
