$desktop-infobox-width: 270px;
$padding: 15px;

.infobox-builder-body-wrapper {
	//there's no other way to set height 100% on the builder elements
	.ember-container {
		height: 100%;
		overflow: hidden;

		> div:first-child {
			height: 100%;
		}
	}

	.ember-view.tv-vertical {
		height: 100%;

		> div:first-child {
			height: 100%;
		}
	}
}

.infobox-builder {
	display: flex;
	height: 100%;
}

.infobox-builder-preview {
	display: inline-block;
	flex-basis: 70%;
	overflow: auto;
	width: $desktop-infobox-width;

	.portable-infobox {
		clear: none;
		float: none;
		margin: auto;
	}
}

.infobox-builder-sidebar {
	box-shadow: -2px 0 6px 0 rgba(0, 0, 0, 0.2);
	flex-basis: 30%;
	text-align: center;
	vertical-align: top;

	.sidebar-header {
		border-bottom: 2.2px solid $color-blue-gray-light;
		line-height: 48px;
	}
}

.infobox-builder-buttons {
	display: inline-block;
	padding: $padding;
}

.infobox-builder-button {
	margin: 3px;
	float: left;
	width: 130px;
	height: 100px;
	background-color: #f9f9f9;
	border-color: #f9f9f9;
	border-width: 2px;

}

.infobox-builder-button:hover {
  border-color: #1a5eb8;
}

.infobox-builder-button-icon {
  width: 30px;
  height: 20px;
}

.infobox-builder-button-label {
  font-size: 14px;
  color: #1a5eb8;
}

