$back-arrow-icon-size: 16px;
$border-width: 1px;
$box-shadow-size: 2px;
$icon-action-size: 24px;
$icon-button-size: 30px;
$icon-wrapper-size: 50px;
$image-button-width: 130px;
$image-button-height: 100px;
$grayout-color: rgba(255, 255, 255, .3);
$overlay-color: rgba(255, 255, 255, .8);
$padding: 18px;
$popover-vertical-padding: 8px;
$popover-horizontal-padding: 15px;
$sidebar-width: 300px;
$sidebar-items-padding: 30px;
$shadow-blur: 15px;
$shadow-color: rgba(0, 0, 0, .3);
$source-icon-margins: 6px;
$spinner-text-color: rgba(0, 0, 0, .5);

// overwrite default mercury styles
.infobox-builder-body-wrapper {
	overflow-y: auto;

	//there's no other way to set height 100% on the builder elements
	.ember-container {
		height: 100%;
		overflow: hidden;

		> div:first-child {
			height: 100%;
		}
	}

	.application-wrapper {
		height: 100%;

		> div:first-child {
			height: 100%;
		}
	}
}

.infobox-builder {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	padding-top: $wikia-ui-components-sub-head-height;

	@media (min-width: lower-bound($large-range)) {
		padding-top: $wikia-ui-components-sub-head-height-large;
	}
}

.infobox-builder-preview {
	// overwrite mercury default cursor for elements with ember actions attached
	cursor: auto;
	flex-grow: 1;
	overflow: auto;

	.portable-infobox {
		cursor: pointer;
		margin: 40px auto;
	}

	// styles for adding infobox builder selection bounding box to each infobox item
	.pi-item {
		position: relative;

		// transitions during reordering
		&.sortable-item {
			transition: transform .125s;
		}

		&:hover,
		&.active,
		&.is-dragging {
			&:before {
				border: $border-width solid $color-blue-light;
				box-sizing: content-box;
				content: ' ';
				display: block;
				height: 100%;
				left: -$border-width;
				position: absolute;
				top: -$border-width;
				width: 100%;
			}
		}

		&:hover,
		&.active {
			z-index: 3;
		}

		&.active:before {
			box-shadow: 0 $box-shadow-size $shadow-blur 0 $shadow-color;
			cursor: pointer;
		}

		&.is-dragging {
			// hacks for firefox to make transforms work smoothly
			backface-visibility: hidden;
			transform: translate3d(0, 0, 0);

			z-index: 4;

			&:before {
				cursor: move;
				box-shadow: 0 $box-shadow-size * 4 $shadow-blur 0 $shadow-color;
				transition: box-shadow 0.2s ease-in-out;
			}
		}
	}
}

.infobox-builder-sidebar {
	box-shadow: -$box-shadow-size 0 $shadow-blur 0 $shadow-color;
	flex-basis: $sidebar-width;
	max-width: $sidebar-width;

	.text-field,
	.check-box {
		margin-bottom: $sidebar-items-padding;
	}

	.checkbox-builder {
		padding-top: $padding;
		font-size: $type-base;
	}

	// overwrite default mercury pop over styles
	.pop-over-container {
		color: $color-gray-dark;
		font-size: $type-smallest;
		padding: $popover-vertical-padding $popover-horizontal-padding;
	}
}

// fix safari and firefox issues with pop up width calculation and text wrapping
.infobox-builder-go-to-source-tooltip-text {
	margin: 0;
	white-space: nowrap
}

.infobox-builder-sidebar-header {
	align-items: center;
	border-bottom: $border-width solid $color-blue-gray-light;
	display: flex;
	font-weight: bold;
	text-align: center;

	.infobox-builder-sidebar-header-icon-back,
	.infobox-builder-sidebar-header-icon-back:hover {
		.icon-button-icon {
			fill: $color-blue-light;
		}
	}

	.infobox-builder-sidebar-header-icon-delete {
		margin: $source-icon-margins;

		.icon-button-icon {
			fill: $color-blue-gray-dark
		}

		&:hover .icon-button-icon {
			fill: $color-gray-dark;
		}
	}
}

.infobox-builder-sidebar-header-title {
	flex: 1;
	overflow: hidden;
	padding: 16px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.infobox-builder-sidebar-info {
	color: $color-blue-gray-dark;
	font-size: $type-smallest;
	line-height: $line-height-smallest;
	margin: 0;
	padding: 0;
}

.infobox-builder-buttons {
	align-content: space-between;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: $padding;
}

.infobox-builder-button {
	align-items: center;
	background-color: $color-gray-light;
	cursor: pointer;
	display: flex;
	float: left;
	flex-direction: column;
	height: $image-button-height;
	justify-content: center;
	margin-bottom: 4px;
	padding: 10px;
	flex-basis: $image-button-width;
	width: $image-button-width;

	&:hover {
		background-color: $color-blue-gray-light;

		.infobox-builder-button-icon {
			fill: $color-blue-light;
		}
	}
}

.infobox-builder-button-icon {
	fill: $color-blue-gray;
	height: $icon-button-size;
	margin-top: $border-width * 2;
	// fix no event bubbling on SVGs in IE 11
	pointer-events: none;
	width: $icon-button-size;
}

.infobox-builder-button-label {
	color: $color-blue-light;
	font-size: $type-smallest;
	margin-top: $border-width * 2;
}

.infobox-builder-sidebar-padding {
	padding: $padding
}

.is-preview-item-dragged {
	.pi-item:not(.is-dragging) {
		pointer-events: none;

		&:before {
			background-color: $grayout-color;
			content: "";
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}
	}
}

.infobox-builder-spinner {
	align-items: center;
	color: $spinner-text-color;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&.loading-overlay {
		background: $overlay-color;
	}

	.success-icon {
		height: 80px;
		width: 80px;
	}

	.spinner {
		margin: 0;
		position: inherit;
	}

	.spinner-text {
		margin-top: 15px;
	}
}

.infobox-builder-go-to-source-button {
	bottom: $source-icon-margins;
	position: absolute;
	right: $source-icon-margins;
}
