.modal-dialog-wrapper {
	align-items: center;
	bottom: 0;
	color: $color-gray-dark;
	display: flex;
	font-size: 16px;
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-modal-dialog;

	.modal-dialog {
		background-color: $white;
		box-shadow: 0 8px 12px rgba(0, 0, 0, .3);
		max-width: 480px;
		padding: 26px;
		width: 100%;
		z-index: $z-2;
	}

	.modal-dialog-layover {
		background-color: rgba(0, 0, 0, .5);
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	&.layover-cursor-auto {
		.modal-dialog-layover {
			cursor: auto;
		}
	}

	&.is-bare {
		padding: 0;

		.modal-dialog {
			padding: 0;
		}
	}

	&.menu {
		color: $color-blue-light;

		.modal-dialog {
			padding-bottom: 10px;
			padding-top: 10px;
		}

		ul {
			list-style: none;
			margin: 0;
		}

		li {
			align-items: center;
			display: flex;
			min-height: 50px;
		}
	}
}

@media #{$desktop-range} {
	.modal-dialog-wrapper {
		&.is-desktop-centered {
			display: flex;
			justify-content: center;
		}
	}
}
