$nav-chevron-padding: 54px;
$nav-global-border: 4px;
$nav-line-height: 48px;
$nav-padding-horizontal: 6px;

.nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 0 0 $nav-padding-horizontal 0;

	a {
		color: inherit;
		display: block;
		height: $nav-line-height;
		left: 0;
		padding-left: $nav-padding-vertical;
		position: absolute;
		top: $nav-padding-horizontal;
		width: 100%;
	}
}

.nav-menu__item {
	@include wikia-nav-link-button(inherit);

	box-sizing: content-box;
	color: inherit;
	display: block;
	font-size: $nav-font-size;
	height: $nav-line-height;
	line-height: $nav-line-height;
	overflow: hidden;
	padding: $nav-padding-horizontal $nav-padding-vertical 0 $nav-padding-vertical;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;

	&::before {
		content: ' ';
		display: block;
		height: $nav-line-height;
		left: 0;
		position: absolute;
		width: $nav-global-border;
	}

	&.nav-menu__header {
		background-color: $nav-background-color;
		font-weight: bold;
		margin-top: 0;
		padding: 0 $nav-padding-vertical;

		&::before {
			display: none;
		}
	}

	&.nav-menu--external {
		background: $color-gray-dark;
		font-weight: bold;
	}

	&.nav-menu--root {
		background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%28-260.000000%2C%20-12.000000%29%22%3E%3Crect%20x%3D%22260%22%20y%3D%2212%22%20width%3D%2224%22%20height%3D%2224%22%3E%3C%2Frect%3E%3Cpath%20d%3D%22M268.2266%2C32.7735935%20C268.37728%2C32.9242736%20268.575096%2C33%20268.772912%2C33%20C268.970728%2C33%20269.168544%2C32.9242736%20269.319224%2C32.7735935%20L277.046409%2C25.0464086%20C277.348541%2C24.7442756%20277.348541%2C24.2559175%20277.046409%2C23.9537846%20L269.319224%2C16.2265997%20C269.017091%2C15.9244668%20268.528733%2C15.9244668%20268.2266%2C16.2265997%20C267.924467%2C16.5287326%20267.924467%2C17.0170907%20268.2266%2C17.3192236%20L275.407473%2C24.5000966%20L268.2266%2C31.6809695%20C267.924467%2C31.9831025%20267.924467%2C32.4714606%20268.2266%2C32.7735935%22%20fill%3D%22%23656E78%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E); // /front/svg/embedded/side-nav/menu.svg
		background-position: right $nav-padding-vertical center;
		background-repeat: no-repeat;
		padding-right: $nav-chevron-padding;
	}

	&.nav-menu--comics::before {
		background: $color-hub-comics;
	}

	&.nav-menu--books::before {
		background: $color-hub-books;
	}

	&.nav-menu--games::before {
		background: $color-hub-games;
	}

	&.nav-menu--movies::before {
		background: $color-hub-movies;
	}

	&.nav-menu--lifestyle::before {
		background: $color-hub-lifestyle;
	}

	&.nav-menu--music::before {
		background: $color-hub-music;
	}

	&.nav-menu--tv::before {
		background: $color-hub-tv;
	}

	&.nav-menu--entertainment::before {
		background: $color-hub-tv;
	}

	&.nav-menu--explore {
		background-color: $color-gray-dark;
		font-weight: bold;
		padding-bottom: 6px;

		&::before {
			background: $nav-background-color;
		}
	}
}
