$pointer-size: 14px;

.pop-over {
	position: relative;
}

.pop-over-compass {
	position: absolute;
	z-index: $z-6;
}

.pop-over-compass-invisible {
	visibility: hidden;
}

.pop-over-container {
	background-color: $pop-over-background-color;
	border-radius: 2px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
	padding: 20px;
}

.pop-over-pointer {
	border: $pointer-size / 2 solid transparent;
	display: block;
	height: 0;
	pointer-events: none;
	position: absolute;
	width: 0;
}

.pop-over-pointer.orient-above {
	border-color: $pop-over-background-color transparent transparent transparent;
	bottom: -$pointer-size;
}

.pop-over-pointer.orient-below {
	border-color: transparent transparent $pop-over-background-color transparent;
	top: -$pointer-size;
}

.pop-over-pointer.orient-left {
	border-color: transparent transparent transparent $pop-over-background-color;
	right: -$pointer-size;
}

.pop-over-pointer.orient-right {
	border-color: transparent $pop-over-background-color transparent transparent;
	left: -$pointer-size;
}

.orient-above, .orient-below {
	.pop-over-compass {
		animation: pop-over-fade-in .3s linear 1, pop-over-move-down 0.3s linear 1;
	}
}

.orient-left, .orient-right {
	.pop-over-compass {
		animation: pop-over-fade-in .3s linear 1, pop-over-move-left 0.3s linear 1;
	}
}

@keyframes pop-over-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes pop-over-move-down {
	from {
		transform: translateY(-$pointer-size);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes pop-over-move-left {
	from {
		transform: translateX($pointer-size);
	}

	to {
		transform: translateX(0);
	}
}
