.recent-change {
	border-bottom: 5px solid $color-gray-light;
	padding: 15px 15px 20px;
	position: relative;

	.avatar {
		display: inline-block;
		svg {
			vertical-align: middle;
		}
	}

	.avatar-username {
		font-size: $type-min;
		max-width: 120px;
	}
}

.current-change {
	background-color: #1A5EB8;
	bottom: 0;
	height: 5px;
	left: 0;
	position: absolute;
	width: 100%;
}

.recent-change__time-ago {
	color: $color-blue-gray-dark;

	&::before {
		content: '·';
		line-height: $line-height-min;
		padding-right: 5px;
	}
}

.recent-change__article-title {
	font-size: $type-base;
	font-weight: normal;
	line-height: $line-height-base;
	margin: 0.5rem 0;
}

.recent-change__summary {
	line-height: $line-height-smallest;
}

.recent-change__summary-label {
	text-transform: uppercase;
}

.recent-change__upvotes {
	float: left;
	font-size: $type-min;
	line-height: 1;
	margin-top: 10px;

	.icon {
		border: none;
		fill: $aluminum;
		height: 18px;
		margin-right: 6px;
		width: 18px;
	}

	.text {
		color: $aluminum;
		vertical-align: bottom;
	}

	&.user-upvoted {

		.icon {
			fill: $appreciate-activated-color;
		}
		.text {
			color: $appreciate-activated-color;
		}
	}

	span {
		vertical-align: middle;
	}
}

.recent-change__see-diff {
	height: 48px;
	line-height: 48px;
	margin-top: 5px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 2px;
	width: 48px;

	svg {
		fill: $color-gray-dark;
		height: 14px;
		transform: rotateY(180deg);
		vertical-align: middle;
		width: 16px;
	}

	&:visited {

		svg {
			fill: $color-blue-gray;
		}
	}
}

.recent-change__byte-change {
	color: $color-blue-gray;
	float: right;
	font-size: $type-min;
	line-height: $line-height-min;
	margin-top: 12px;
}
