.recent-edit {
	animation-name: displayBanner;
	animation-iteration-count: 1;
	animation-duration: 2s;

	-webkit-animation-name: displayBanner;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 2s;

	background-color: #fff;
	bottom: 0;
	height: 100px;
	left: 0;
	position: fixed;
	width: 100%;

	h3 {
		background-color: #1a5eb8;
		color: #fff;
		font-size: 12px;
		margin-top: 0;
		padding: 7px 16px;
		text-transform: uppercase;
	}
}

@keyframes displayBanner {
	from { bottom: -101px; }
	to { bottom: 0; }
}

@-webkit-keyframes displayBanner {
	from { bottom: -101px; }
	to { bottom: 0; }
}
