.recent-change {
	border-bottom: 4px solid $color-gray-light;
	padding: 10px 13px 15px;
	position: relative;

	.avatar {
		display: inline-block;
		svg {
			vertical-align: middle;
		}
	}

	.avatar-username {
		font-size: $type-min;
	}

	.time-ago {
		color: $color-blue-gray-dark;

		&::before {
			content: '·';
			line-height: $line-height-min;
			padding-right: 5px;
		}
	}

	.recent-change-article-title {
		font-size: $type-base;
		font-weight: normal;
		line-height: $line-height-base;
		margin: 0.5rem 0;
	}

	.recent-change-summary-label {
		text-transform: uppercase;
	}

	.see-diff {
		position: absolute;
		right: 0;
		line-height: 48px;
		height: 48px;
		width: 48px;
		top: 2px;
		text-align: center;

		svg {
			transform: rotateY(180deg);
			width: 16px;
			height: 14px;
			fill: $color-gray-dark;
			vertical-align: middle;
		}

		&:visited {

			svg {
				fill: $color-blue-gray;
			}
		}
	}
}
