$search-horizontal-padding: 18px;
$search-title-margin: 4px;
$search-total-font-size: 12px;
$search-total-line-height: 16px;
$search-vertical-padding: 12px;

.search-result-page {
	background-color: $vapor;
}

.search-results__list {
	.wikia-card {
		@include link-interactions-color(inherit);
	}

	margin: 0;
}

.search-results__total {
	font-size: $search-total-font-size;
	line-height: $search-total-line-height;
	padding: $search-vertical-padding $search-horizontal-padding;
}

.search-results__item {
	font-size: $type-smallest;
	line-height: $line-height-min;
	padding: $search-vertical-padding $search-horizontal-padding;

	.search-results__title {
		color: $link-color;
		font-weight: bold;
		margin-bottom: $search-title-margin;
	}
}

.search-results__snippet .searchmatch {
	font-weight: bold;
}

.search-results__load-more-wrapper.wikia-button-wrapper {
	padding-top: 8px;
	padding-bottom: 25px;
}

.search-result-page .site-head-headroom-un-pinned .site-head {
  // removing site-head bottom shadow
  box-shadow: none;
}
