.search-result-page {
	background-color: #f6f6f6;
}

.search-results__list {
	.wikia-card {
		@include link-interactions-color(inherit);
	}

	margin: 0;
}

.search-results__total {
	font-size: 12px;
	line-height: 16px;
	padding: 12px 18px;
}

.search-results__item {
	padding: 12px 18px;
	font-size: 14px;
	line-height: 18px;

	.search-results__title {
		color: $link-color;
		font-weight: bold;
		margin-bottom: 4px;
	}
}

.search-results__snippet .searchmatch {
	font-weight: bold;
}

.search-result-page .site-head-headroom-un-pinned .site-head {
  box-shadow: unset;
}
