.share-feature {
	display: block;
	text-align: right;

	.icon {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		height: 24px;
		margin-left: 5px;
		width: 24px;
	}
}
