// TODO: split this into separate stylesheets for wikia-drawer, wikia-search and wikia-navigation while working on:
// https://wikia-inc.atlassian.net/browse/DAT-4116
.side-nav {
	svg {
		pointer-events: none;
	}
}

/// 2016!
.local-nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.side-nav.collapsed .side-nav-menu {
	display: none;
}

.side-nav .side-nav-menu {
	background: $color-gray-dark;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-top: $site-head-height;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-site-head - 1;

	a:hover, a:focus {
		color: inherit;
	}
}

.side-search__input,
.side-search__input:focus {
	background-color: $color-white;
	border: 1px solid $search-box-border-color;
	border-radius: $border-radius-global;
	height: rem-calc(28);
	margin: rem-calc(8) rem-calc(13);
	outline: none;
	padding: {
		bottom: .5rem;
		left: rem-calc(95);
		right: rem-calc(40);
		top: .5rem;
	}
	width: calc(100% - #{2 * $side-nav-item-gutter});

	&::placeholder {
		color: $search-box-text-color;
	}
}

.side-nav-menu__footer {
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;

	a {
		border-bottom: 1px solid;
		border-top: 1px solid;
		color: #8193a4;
		display: block;
		font-size: 14px;
		font-weight: bold;
		height: 20px;
		line-height: 20px;
		margin: 15px 15px 35px 15px;
		text-transform: uppercase;
	}
}

.side-nav-menu__contents {
	flex-grow: 1;
	overflow-y: auto;
}

.wikia-drawer__content {
	overflow: auto;
}

// because site-head has 1px border at the bottom
$side-nav-height: $site-head-height - 1;

.side-nav-menu__header {
	background: #fff;
	flex-grow: 0;
	flex-shrink: 0;
	height: rem-calc($side-nav-height);

	.close {
		align-items: center;
		display: flex;
		float: left;
		height: rem-calc($side-nav-height);
		justify-content: center;
		width: rem-calc($side-nav-height);
	}

	.wordmark {
		display: block;
		height: rem-calc($side-nav-height);
		margin: 0 rem-calc($side-nav-height);
		text-align: center;
	}

	.icon--close {
		height: 24px;
		width: 24px;
	}
}

.side-nav-menu__item {
	color: inherit;
	display: block;
	font-size: 20px;
	font-weight: bold;
	line-height: 3.125rem;
	margin: .125rem 0;
	padding: 0 1rem;
	position: relative;

	&:hover,
	&:visited,
	> a {
	  display: block;
	  width: 100%;
	  color: inherit;
	}
	> a:hover,
	> a:visited,
	> a:focus {
		color: inherit;
	}

	//All anchors which are links to some article (mw-content class)
	//Should be as wide as containers to increase "clickable" area
	&.mw-content > a, > a.mw-content {
		display: inline-block;
		width: 100%;
	}

	&::before {
		background: $link-color;
		content: ' ';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		width: .5rem;
	}

	&.main,
	&.back,
	&.search {
		background-color: #636b76;
		margin-top: 0;

		&::before {
			display: none;
		}
	}

	&.back {
		background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12%2024l2.1-2.1-8.4-8.4H24v-3H5.7l8.4-8.4L12%200%200%2012l12%2012z%22%2F%3E%3C%2Fsvg%3E); // /front/svg/embedded/side-nav/back.svg
		background-position: left 8px center;
		background-repeat: no-repeat;
		padding-left: 40px;
	}

	&.menu {
		background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23656D77%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12%200L9.9%202.1l8.4%208.4H0v3h18.3l-8.4%208.4L12%2024l12-12L12%200z%22%2F%3E%3C%2Fsvg%3E); // /front/svg/embedded/side-nav/menu.svg
		background-position: right 12px center;
		background-repeat: no-repeat;
		background-size: 20px;
		padding-right: 40px;
	}

	&.search-result {
		&::before {
			display: none;
		}
		&.loading {
			align-items: center;
			display: flex;
			justify-content: center;
		}
	}

	&.search {
		background-color: #2a3039;
		color: #8f8e94;
		display: flex;
		padding: 0;
	}

	.profile-link {
		.avatar {
			float: left;

			img {
				margin: 0 10px 4px 0;
			}
		}
	}

	.logout {
		color: #d7d9dc;
		float: right;
	}
}

.side-nav-menu__item.comics::before { background: $color-hub-comics; }
.side-nav-menu__item.books::before { background: $color-hub-books; }
.side-nav-menu__item.games::before { background: $color-hub-games; }
.side-nav-menu__item.movies::before { background: $color-hub-movies; }
.side-nav-menu__item.lifestyle::before { background: $color-hub-lifestyle; }
.side-nav-menu__item.music::before { background: $color-hub-music; }
.side-nav-menu__item.tv::before { background: $color-hub-tv; }
.side-nav-menu__item.entertainment::before { background: $color-hub-tv; }

.side-search__container {
	flex-grow: 1;
	margin-left: 10px;
	position: relative;

	input[type='text'],
	input[type='text']:focus {
		all: unset;
		background: transparent;
		border: 0;
		box-shadow:none;
		color: #8f8e94;
		font: inherit;
		margin: 0;
		padding: 0;
		width: calc(100% - 35px);
	}
}

$side-nav-clear-size: 30px;
.side-search__clear {
	//divide by 2 to accommodate for width
	//and again by 2 as padding is on left and right
	padding: 0 $side-nav-clear-size / 4;
	position: absolute;
	right: 10px;
	top: 0;
	width: $side-nav-clear-size;
}
.side-search__cancel {
	padding: 0 10px;
}
.side-search__results {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.new-badge {
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 5px;
	vertical-align: middle;
}

.new-badge__animated {
	animation: new_badge_animation 2.5s ease infinite;
}

.new-badge__pinned {
	position: absolute;
	right: 0;
	top: 10px;
}

@keyframes new_badge_animation {
	0% { right: 0; }
	20% { right: -5px; }
	40% { right: 0; }
}
