$head-fandom-bar-font-size: 12px;
$home-of-fandom-letter-spacing: 0.5px;

.site-head-fandom-bar-wrapper {
	height: $site-head-fandom-bar-height;

	@media #{$desktop-range} {
		display: none;
	}
}

.site-head-fandom-bar {
	background-color: $white;
	border-bottom: 1px solid $color-blue-gray-light;
	display: flex;
	height: $site-head-fandom-bar-height;
	justify-content: center;
	position: fixed;
	top: $site-head-height;
	transition: transform .5s;
	width: 100%;
	will-change: transform;
	z-index: $z-6;

	//Styles for old tagline
	color: $color-blue-gray-dark;
	font: {
		size: $head-fandom-bar-font-size;
		weight: bold;
	}
	letter-spacing: $home-of-fandom-letter-spacing;
	text: {
		align: center;
		transform: uppercase;
	}
	a {
		color: $color-blue-gray-dark;
	}
	//end

	.fandom-bar-logo {
		height: 20px;
		width: 130px;
	}

	&__partner-logo {
		align-items: center;
		align-self: center;
		display: flex;
		padding: 3px;
		position: absolute;
		right: 10px;
	}

	&__partner-logo-img {
		max-height: 17px;
		max-width: 43px;
	}
}

.bfaa-template .site-head-headroom-top .site-head-fandom-bar {
	position: static;
}

.site-head-headroom-un-pinned .site-head-fandom-bar {
	transform: translateY(-100%);
}
