$z-header: $z-6;

.site-body {
	margin-top: $icon-site-head-width;
}

.site-head {
	@extend .row;
	@extend .small-12;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid $color-blue-gray-light;
	direction: ltr;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: $site-head-height;
	justify-content: space-between;
	left: 0;
	margin: 0 auto;
	position: fixed;
	padding-left: 4px;
	padding-right: 4px;
	right: 0;
	text-align: center;
	top: 0;
	z-index: $z-site-head;

	&.ember-view {
		&:before {
			display: none;
		}

		&:after {
			display: none;
		}
	}

	.site-head-icon-nav {
		order: 1;
	}

	.site-head-icon-search {
		order: 2;
	}

	.site-logo {
		// These prevent the Wikia logo element from taking up more vertical
		// space than it should, potentially affecting placement of elements
		// beneath it.
		height: rem-calc(50);
		margin: 0 3.75rem;
		order: 2;
		overflow: hidden;

		svg {
			// keep it same as .icon.wikia-logo
			height: 3.125rem;
			width: 5rem;
		}
	}

	.nav-button {
		position: relative;
		svg {
			height: 24px;
			width: 25px;
			fill: #39414d;
		}
	}

	.avatar {
		float: right;
		position: relative;
		right: 6px;
		top: 6px;
	}
}

.smart-banner-visible .headroom-top {
	position: absolute;
	top: $smart-banner-android-height;
}

.headroom-not-top {
	&.pinned {
		transform: none;
	}

	&.un-pinned {
		transform: translateY(-100%);
	}
}

.side-nav-toggle {
	display: inline-block;
	float: left;
	height: $icon-site-head-height;
	padding-top: rem-calc(15);
	position: relative;
	width: $icon-site-head-width;

	svg {
		display: block;
		margin: auto;
	}
}
