$z-header: $z-6;
$nav-container-padding: 6px;
$icon-size: 25px;
$site-head-box-shadow-color: rgba(0, 0, 0, 0.15);
$icon-button-size: 48px;
$site-head-default-box-shadow: 0 1px 4px 0 $site-head-box-shadow-color;

.site-body {
	margin-top: $icon-site-head-width;
}

.site-head-headroom-un-pinned .site-head {
	box-shadow: $site-head-default-box-shadow;
}

.site-head-container {
	min-height: $site-head-height;
}

.site-head-wrapper {
	height: $site-head-height;
}

.site-head {
	align-items: center;
	background-color: $white;
	border-bottom: 1px solid $vapor;
	border-top: $site-head-top-border-height solid $color-blue-dark;
	direction: ltr;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: $site-head-height;
	justify-content: space-between;
	left: 0;
	margin: 0 auto;
	padding: 0 $nav-container-padding;
	position: fixed;
	right: 0;
	text-align: center;
	transition: box-shadow 0.5s;
	// A way to make .site-head 'position: fixed' immediately on iPhone (when changing from 'position: static')
	transform: translate3d(0, 0, 0);
	top: 0;
	width: 100%;
	z-index: $z-site-head;

	.site-head-icon-search {
		width: $icon-button-size;
	}

	.site-logo {
		// These prevent the Wikia logo element from taking up more vertical
		// space than it should, potentially affecting placement of elements
		// beneath it.
		height: 1.6rem;
		//this is needed to center logo before app starts and we have just 'stub' of site head
		margin: 0 auto;

		&.wikia-site-logo {
			height: $site-head-content-height;
			margin: auto;
			overflow: hidden;
		}
	}

	.wikia-logo {
		// the same color as in wds-company-logo-wikia.svg
		fill: #092344;
		height: 48px;
		width: 72px;
	}

	.fandom-logo {
		// the same color as in wds-company-logo-fandom-powered-by-wikia.svg
		fill: #39414D;
		height: 26px;
	}

	.site-head-icon {
		position: relative;

		.icon-button-icon {
			fill: $color-blue-dark;
		}

		&-search,
		&-nav {
			flex: 0 0 48px;
		}

		&:hover {
			.icon-button-icon {
				fill: $color-blue-dark;
			}
		}
	}

	.avatar {
		float: right;
		position: relative;
		right: 6px;
		top: 6px;
	}
}

.side-nav-toggle {
	display: inline-block;
	float: left;
	height: $icon-site-head-height;
	padding-top: rem-calc(15);
	position: relative;
	width: $icon-site-head-width;

	svg {
		display: block;
		margin: auto;
	}
}

// Styles for desktop nav placeholder rendered server-side
$desktop-logo-fandom-width: 117px;
$desktop-logo-wikia-width: 90px;
$desktop-logo-padding-left: 8px;

@media #{$breakpoint-xl-up} {
	.site-head {
		height: $site-head-content-height;
		padding: 0;

		.site-logo {
			height: 100%;
			margin: 0 auto;
			padding-left: $desktop-logo-padding-left;
			padding-right: 1064px - $desktop-logo-fandom-width - $desktop-logo-padding-left;

			&.wikia-site-logo {
				padding-right: 1064px - $desktop-logo-wikia-width - $desktop-logo-padding-left;
			}
		}

		.wikia-logo {
			height: 46px;
			width: $desktop-logo-wikia-width;
		}

		.fandom-logo {
			height: $site-head-content-height;
			width: 122px;
			padding-bottom: 4px;
			padding-left: 3px;
		}
	}
}

@media #{$breakpoint-xxl-up} {
	.site-head {
		.site-logo {
			padding-right: 1238px - $desktop-logo-fandom-width - $desktop-logo-padding-left;

			&.wikia-site-logo {
				padding-right: 1238px - $desktop-logo-wikia-width - $desktop-logo-padding-left;
			}
		}
	}
}

//Styles for BFAA
.no-scroll {
	.bfaa-template {
		.site-head {
			position: fixed;
		}
	}
}

.bfaa-template {
	.site-head-headroom-top {
		.site-head {
			position: static;
		}
	}
}
