$head-fandom-bar-font-size: 12px;
$home-of-fandom-letter-spacing: 0.5px;

.site-head-fandom-bar-wrapper {
	height: $site-head-fandom-bar-height;

	@media #{$desktop-range} {
		display: none;
	}
}

.site-head-fandom-bar {
	background-color: $white;
	border-bottom: 1px solid $color-blue-gray-light;
	display: flex;
	height: $site-head-fandom-bar-height;
	justify-content: center;
	position: fixed;
	top: $site-head-height;
	transition: transform .5s;
	width: 100%;
	z-index: $z-6;

	.fandom-bar-logo {
		height: 20px;
		width: 130px;
	}
}

.site-head-headroom-top .site-head-fandom-bar {
	position: static;
}

.site-head-headroom-un-pinned .site-head-fandom-bar {
	transform: translateY(-100%);
}
