$z-header: $z-6;
$nav-container-padding: 4px;

.site-body {
	margin-top: $icon-site-head-width;
}

.site-head {
	@extend .row;
	@extend .small-12;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid $color-blue-gray-light;
	direction: ltr;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: $site-head-height;
	justify-content: space-between;
	left: 0;
	margin: 0 auto;
	position: fixed;
	padding-left: $nav-container-padding;
	padding-right: $nav-container-padding;
	right: 0;
	text-align: center;
	top: 0;
	z-index: $z-site-head;

	.site-head-icon-nav {
		order: 1;
	}

	.site-head-icon-search {
		order: 3;
	}

	.site-logo {
		// These prevent the Wikia logo element from taking up more vertical
		// space than it should, potentially affecting placement of elements
		// beneath it.
		height: rem-calc(50);
		margin: auto;
		order: 2;
		overflow: hidden;

		svg {
			// keep it same as .icon.wikia-logo
			height: 3.125rem;
			width: 5rem;
		}
	}

	.site-head-icon {
		position: relative;
		svg {
			fill: $color-blue-dark;
			height: 24px;
			width: 25px;
		}

		&:hover {
			.icon-button-icon {
				fill: $color-blue-dark;
			}
		}

	}

	.avatar {
		float: right;
		position: relative;
		right: 6px;
		top: 6px;
	}
}

.site-head-wrapper {
	height: $site-head-height;
}

.side-nav-toggle {
	display: inline-block;
	float: left;
	height: $icon-site-head-height;
	padding-top: rem-calc(15);
	position: relative;
	width: $icon-site-head-width;

	svg {
		display: block;
		margin: auto;
	}
}
