.user-activity-main-content {
	padding-top: 37px;
}

.discussion-user-activity-toggle {
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;

	.time-range-toggle {
		color: #999;
		margin: 0 0 0 15px;
		padding: 0 0 0 10px;
	}

	.wds-dropdown__toggle {
		display: flex;
		font-size: 12px;
		line-height: 16px;
	}
}

.user-activity-options {
	display: flex;
	flex-shrink: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: flex;
	}

	a,
	a:active,
	a:visited {
		color: #999;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 0.2px;
		line-height: 14px;
		padding: 16px;
		text-align: center;
		text-transform: uppercase;

		&.active {
			border-bottom: 2px solid #006cb0;
			color: #006cb0;
		}
	}
}

.discussion-user-activity-glossary {
	h5,
	p {
		font-size: 14px;
		line-height: 18px;
		margin: 0;
	}

	h5 {
		font-weight: bold;
	}

	p {
		margin-bottom: 20px;
	}

	legend {
		border-bottom: 1px solid #ccc;
		font-size: 18px;
		font-weight: normal;
		padding: 10px 0;
	}

	.collapsable-container {
		padding-top: 10px;
	}
}
