.wikia-stats {
	text-align: center;
}

.wikia-stats-container {
	border-top: 1px solid $color-gray-light;
	display: inline-table;
	margin-bottom: 32px;
}

.wikia-stats-item {
	display: table-cell;
	padding: 8px 15px;
}

.wikia-stats-label {
	font-size: 12px;
	text-transform: uppercase;
}

.wikia-stats-link {
	color: #39424e;
}

.wikia-stats-value {
	font-size: 32px;
	letter-spacing: -2px;
}
