.wiki-page-header {
	background: $color-blue-light;
	color: #fff;
	padding: {
		left: 1.125em;
		right: 1.125em;
		top: 15px;
		bottom: 12px;
	}
}

%wiki-page-header-element {
	color: inherit;
	line-height: 1;
	font-weight: normal;
	margin: 0;
}

.wiki-page-header__site-name {
	@extend %wiki-page-header-element;
	font-size: 12px;
	margin-bottom: 1.125em;
}

.wiki-page-header__site-link {
	color: inherit;
	font-style: italic;
	font-weight: bold;
}

.wiki-page-header__title {
	@extend %wiki-page-header-element;
	font-size: 26px;
	line-height: 32px;
	margin-top: 3px;
	word-break: break-word;
	font-weight: bold;
}

.wiki-page-header__subtitle {
	@extend %wiki-page-header-element;
	font-size: 14px;
	margin-top: 1.125em;
}
