$search-results-box-shadow-color: rgba(0, 0, 0, 0.3);
$search-height: 48px;
$search-input-font-size: 16px;
$search-icon-width: 70px;
$search-spacing: 18px;
$text-field-label-top: 13px;
$border-bottom-height: 1px;

.wikia-search-wrapper {
	height: $search-height;
}

.wikia-search {
	border-top: 1px solid $vapor;
	height: calc(100% - #{$site-head-height});
	position: fixed;
	transition: box-shadow 0.5s;
	width: 100%;
	z-index: $z-6;

	.wikia-search__search-icon,
	.wikia-search__clear{
		width: $search-icon-width;
	}

	// when no text in input
	&.empty {
		.wikia-search__search-icon svg {
			fill: $oil;
		}

		.wikia-search__clear .icon-button-icon {
			display: none;
		}

		.search::after {
			content: ' ';
			border-bottom: $border-bottom-height solid $iron;
		}
	}
}

.site-head-headroom-un-pinned .wikia-search {
	box-shadow: $site-head-default-box-shadow;
}

.wikia-search__item {
	@include link-interactions-color(inherit);

	color: inherit;
	display: block;
	font-size: $nav-font-size;
	margin-top: 0;
	position: relative;

	&.search::after {
		border-bottom: $border-bottom-height solid $color-blue-light;
		bottom: 10px;
		content: ' ';
		left: $search-spacing;
		margin: auto;
		position: absolute;
		right: $search-spacing;
	}

	.wikia-search__search-icon svg {
		fill: $iron;
	}
}

.wikia-search__container {
	background-color: $white;
	display: flex;
	flex-grow: 1;
	position: relative;

	.text-field {
		width: 100%;
	}

	input.text-field-input,
	input.text-field-input:focus {
		background: transparent;
		border: 0;
		bottom: 5px;
		box-shadow: none;
		color: $oil;
		display: inline-block;
		font: inherit;
		font-size: $search-input-font-size;
		margin: 0;
		padding: 0;
		position: absolute;

		&::placeholder {
			color: $iron;
		}
	}

	.text-field-label {
		top: $text-field-label-top;
	}

	.text-field-label--floating {
		display: none;
	}
}

.wikia-search__suggestions {
	background-color: $vapor;
	box-shadow: 0 8px 12px 0 $search-results-box-shadow-color;
	list-style-type: none;
	margin: 0;
	max-height: calc(100% - #{$search-height});
	overflow: auto;
	padding: 0;

	.wikia-search__search-suggestion {
	  color: $oil;
	  font-size: $type-smallest;
	  line-height: $search-height;
	  padding: $nav-padding-horizontal $nav-padding-vertical 0 $nav-padding-vertical;

	  a {
			display: inline-block;
			height: 100%;
			width: 100%;
		}
	}

	.wikia-search__loading {
		text-align: center;
	}

	.wikia-search__suggestion-highlighted {
		font-weight: bold;
	}
}
