.pi-hero {
	display: none;
}

.wiki-page-header {
	background: $color-blue-light;
	color: #fff;
	padding: {
		left: $article-horizontal-padding;
		right: $article-horizontal-padding;
		top: 15px;
		bottom: 12px;
	}
}

.wiki-page-header.has-action {
	display: flex;
}

.wiki-page-header.has-action > .wiki-page-header__wrapper {
	align-self: flex-end;
	flex: 1 0 auto;
}

.wiki-page-header.has-action > .wiki-page-header__action {
	align-self: flex-end;
	flex: 0;
	text-align: center;
}

%wiki-page-header-element {
	color: inherit;
	line-height: 1;
	font-weight: normal;
	margin: 0;
}

.wiki-page-header__site-name {
	@extend %wiki-page-header-element;
	font-size: 12px;
	margin-bottom: 1.125em;
}

.wiki-page-header__site-link {
	color: inherit;
	font-style: italic;
	font-weight: bold;
}

.wiki-page-header__title {
	@extend %wiki-page-header-element;
	font-size: 26px;
	line-height: 32px;
	word-break: break-word;
	font-weight: bold;
}
.wiki-page-header__site-name ~ .wiki-page-header__title {
	margin-top: 3px;
}

.wiki-page-header__subtitle {
	@extend %wiki-page-header-element;
	font-size: 14px;
	margin-top: 1.125em;
}
