/* _title.scss */

$bk-color: rgb(26, 94, 184);

.page-wrapper .article-body, .page-wrapper .wiki-page-body {
	padding: 0;
}

.page-wrapper .article-content {
	padding: 0 1.125em;
}

.wiki-page-header {
	background: $bk-color;
	color: #fff;
	padding: {
		left: 18px;
		right: 18px;
		top: 15px;
		bottom: 12px;
	}
}

%wiki-page-header-element {
	color: inherit;
	line-height: 1;
	font-weight: normal;
	margin: 0;
}

.wiki-page-header__site-name {
	@extend %wiki-page-header-element;
	font-size: $type-smallest;
	margin-bottom: 1.125em;

	a {
		color: inherit;
		font-style: italic;
		font-weight: bold;
	}
}

.wiki-page-header__title {
	@extend %wiki-page-header-element;
	font-size: 26px;
	margin-top: 3px;
	word-break: break-word;
	font-weight: bold;
}

.wiki-page-header__subtitle {
	@extend %wiki-page-header-element;
	font-size: 14px;
	margin-top: 1.125em;
}
