$search-results-box-shadow-color: rgba(0, 0, 0, 0.3);
$search-height: 48px;
$search-input-font-size: 16px;

.wikia-search-wrapper {
	height: $search-height;
}

.wikia-search {
	border-top: 1px solid $vapor;
	position: fixed;
	transition: box-shadow 0.5s;
	width: 100%;
	z-index: $z-8;
}

.site-head-headroom-un-pinned .wikia-search {
	box-shadow: $site-head-default-box-shadow;
}

.wikia-search__item {
	@include link-interactions-color(inherit);

	color: inherit;
	display: block;
	font-size: $nav-font-size;
	margin-top: 0;
	position: relative;

	.wikia-search__search-icon svg {
		fill: $iron;
	}
}

.wikia-search__container {
	background-color: $white;
	display: flex;
	flex-grow: 1;
	position: relative;

	.text-field {
		width: 100%;
	}

	input,
	input:focus {
		background: transparent;
		border: 0;
		box-shadow: none;
		color: $oil;
		display: inline-block;
		font: inherit;
		font-size: $search-input-font-size;
		margin: 0;
		padding: 0;

		&::placeholder {
			color: $iron;
		}
	}

	&.empty {
		.wikia-search__search-icon svg {
			fill: $oil;
		}

		.wikia-search__clear .icon-button-icon {
			display: none;
		}
	}
}

.wikia-search__results {
	background-color: $vapor;
	box-shadow: 0 8px 12px 0 $search-results-box-shadow-color;
	list-style-type: none;
	margin: 0;
	padding: 0;

	.wikia-search__search-result {
	  color: $oil;
	  font-size: $type-smallest;
	  padding: $nav-padding-horizontal $nav-padding-vertical 0 $nav-padding-vertical;

	  a {
			display: inline-block;
			height: 100%;
			width: 100%;
		}
	}

	.wikia-search__loading {
		text-align: center;
	}
}
