.discussion {
	.empty-forum-message {
		border: 2px dashed $discussion-empty-forum-message-border-color;
		cursor: pointer;
		padding: 48px 48px 75px;
		text-align: center;

		.add-post-icon {
			height: 34px;
			margin-bottom: 18px;
			width: 34px;
		}
	}
}
