.page-wrapper {
	margin-top: 50px;

	&.editor-preview {
		margin-top: 0;

		> .wiki-container {
			margin-top: 0;
		}

		footer.wikia-footer {
			display: none;
		}
	}

	.mobile-top-leaderboard ~ & {
		margin-top: 0;
	}

	.article-body {
		@extend .small-12;

		overflow-x: hidden;
		padding: 0 $article-horizontal-padding;
	}
}

.site-head.theme-bar ~ .page-wrapper {
	margin-top: 60px;
}
