.article-content {
	margin-bottom: rem-calc(40);

	h1, h2, h3, h4, h6 {
		color: $primary-color;
	}

	h1, h2 {
		margin-top: 0;
		padding-top: rem-calc(40);
	}

	h3 {
		padding-top: 1rem;
	}

	.article-media {
		& ~ h1,
		& ~ h2 {
			margin-bottom: 0;
		}
	}

	.collapsible-section-header {
		border-bottom: 1px solid $gainsboro;
		margin-bottom: .7rem;
		padding-bottom: .7rem;
		padding-left: 1.4rem;

		.contribution-container {
			display: none;
		}

		.chevron {
			position: absolute;
			height: 1.6875rem; // This is the font size of an h2
			top: 50%;
			left: 0;
		}

		&.open {
			.chevron {
				transform: scaleY(-1);
			}

			.contribution-container {
				display: block;
			}
		}
	}
}
