
.widget-discussions {
	margin: 0 -$article-horizontal-padding;

	.heading-wrapper {
		svg {
			fill: $discussions-widget-linkcolor;
			height: 16px;
			vertical-align: middle;
			width: 11px;
		}

		align-items: center;
		display: flex;
		background-color: $discussions-widget-heading-background;
		height: 70px;
	}

	.heading {
		font-size: 27px;
		padding-left: 18px;
	}

	.heading-viewall {
		color: $discussions-widget-linkcolor;
		margin-left: auto;
		padding-right: 14px;
	}

	.loading-overlay {
		padding-top: 20px;
		position: relative;
	}
}
