.media-component {
	margin: 40px 0;
	text-align: center;

	&.visible {
		img {
			animation: lazyImage .3s;
			background: none;
			height: auto;
			width: auto;
		}
	}

	img {
		background: {
			color: rgb(223,223,223);
			image: $brackets-svg-image;
			position: center;
			repeat: no-repeat;
			size: contain;
		}
		display: inline-block;
		width: 100%;
	}

	.chevron {
		background-color: #fff;
		bottom: 0;
		height: 20px;
		position: absolute;
		right: 0;
		width: 20px;
		z-index: $z-1;
	}

	//First line is for single images
	//Second is for galleries that have multiple figure tags
	&.has-caption .chevron,
	.has-caption .chevron {
		margin-bottom: 50px;
	}
}

.article-image,
.linked-gallery-image,
.gallery-video {
	position: relative;

	&.is-small .chevron {
		display: none;
	}

	figcaption {
		@include ellipsis;
		height: 50px;
		pointer-events: auto;
	}
}

figcaption {
	color: #999;
	padding: 5px 0;
	text-align: left;
}

.article-gallery {
	-webkit-overflow-scrolling: touch;

	&:not(.linked-gallery) {
		overflow: {
			x: auto;
			y: hidden;
		}
		white-space: nowrap;
	}

	img {
		height: auto;
		margin-right: 8px;
		// Fixes iOS Safari repaint bug when scrolling through gallery
		transform: translate3d(0, 0, 0);
		width: 195px;
	}

	.gallery-video {
		display: inline-block;
	}

	&.linked-gallery {
		margin: auto;

		figcaption {
			height: 30px;
		}

		figure {
			display: inline-block;
			margin: 0 0 20px 0;
			width: 49%;
			vertical-align: top;
		}

		img {
			margin-right: 6px;
		}
	}
}

.gallery-video::after,
.article-video::before,
.comment-video::before {
	background: {
		image: $media-play-svg;
		position: 10px 10px;
		repeat: no-repeat;
		size: 45px;
	}
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	// @todo XW-1364 - use variable
	z-index: 1;
}

.article-video {
	position: relative;

	&::after {
		@include perfect-square(100%);
		background-image: linear-gradient(transparent 60%, rgba(black, .1) 70%, rgba(black, .7) 100%);
		content: '';
		left: 0;
		position: absolute;
		top: 0;
	}

	&.visible {
		img {
			width: 100%;
		}
	}

	figcaption {
		@include ellipsis;
		bottom: 0;
		color: white;
		font-size: 0.9rem;
		line-height: 1rem;
		padding: 10px;
		position: absolute;
		width: 100%;
		z-index: 1;

		div {
			@include ellipsis;
		}
	}
}

.comment-video {
	position: relative;
}

@keyframes lazyImage {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

iframe {
	max-width: 100%;
}

.is-icon {
	display: inline-block;
	margin: 0;
	vertical-align: text-bottom;

	img {
		margin-right: 6px;
	}

	.chevron {
		display: none;
	}
}
