.portable-infobox-question {
	background: $color-gray-light;
	border: solid $color-blue-light;
	border-width: 6px 0;
	padding: 14px;
	width: 100%;

	&.collapsed {
		bottom: 45px;
		position: absolute;
		z-index: $z-portable-infobox-collapse + 1;

		&::before {
			background: linear-gradient(to top, $color-gray-light 5%, transparentize($color-gray-light, 1));
			content: '';
			height: 45px;
			left :0;
			position: absolute;
			top: -51px;
			width: 100%;
		}
	}

	&.submitted {
		font-size: $type-smaller;
		line-height: $line-height-smaller;
		padding: 25px;
		text-align: center;
	}
}

.portable-infobox-question__text {

	&.invalid {
		color: $input-error-message-font-color;
	}
}
.portable-infobox-question__input[type="text"] {
	background: transparent;
	border-bottom: 1px solid $color-blue-gray;
	box-shadow: none;

	&:focus {
		border-bottom: 1px solid $color-blue-light;
		background: transparent;
		box-shadow: none;
	}
}

.portable-infobox-question__error {
	display: block;
	font-size: $input-error-message-font-size;
	font-weight: $input-error-message-font-weight;
	color: $input-error-message-font-color;
	visibility: hidden;

	&.invalid {
		visibility: visible;
	}
}
