@mixin play-icon-in-circle (
	$background-diameter,
	$triangle-base,
	$triangle-height: round($triangle-base * 1.73 / 2), // sqrt(3) ~ 1.73,
	$background-color: $white,
	$triangle-color: $color-blue-light,
	$vertical-shift: 5%,
	$horizontal-shift: 3%,
	$triangle-vertical-shift: round(($background-diameter - $triangle-base) / 2),
	$triangle-horizontal-shift: round($background-diameter / 2 - $triangle-height / 3)
) {
	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
	}

	&::before {
		background-color: $background-color;
		border-radius: 50%;
		bottom: $vertical-shift;
		height: $background-diameter;
		left: $horizontal-shift;
		width: $background-diameter;
	}

	&::after {
		border: round($triangle-base / 2) solid transparent;
		border-left-color: $triangle-color;
		border-left-width: $triangle-height;
		bottom: calc(#{$vertical-shift} + #{$triangle-vertical-shift});
		height: 1px;
		left: calc(#{$horizontal-shift} + #{$triangle-horizontal-shift});
		width: 1px;
	}
}
