.icon {
	height: 20px;
	vertical-align: middle;
	width: 20px;

	&.chevron {
		height: .4375rem;
		width: .75rem;
	}

	&.nav {
		height: 1.25rem;
		width: 2.125rem;
	}

	&.search {
		height: .875rem;
		width: .875rem;
	}

	&.close {
		height: .875rem;
		width: .875rem;
	}
}
