.icon {
	height: 20px;
	vertical-align: middle;
	width: 20px;

	&.chevron {
		height: rem-calc(7);
		width: rem-calc(12);
	}

	&.nav {
		height: rem-calc(20);
		width: rem-calc(34);
	}

	&.search {
		height: rem-calc(14);
		width: rem-calc(14);
	}

	&.close {
		height: rem-calc(14);
		width: rem-calc(14);
	}
}
