.text-2xs {
	font-size: 10px;
}

.text-xs {
	font-size: 12px;
}

.text-sm {
	font-size: 14px;
}

.text-base {
	font-size: 16px;
}

.text-lg {
	font-size: 18px;
}

.text-xl {
	font-size: 24px;
}

.text-2xl {
	font-size: 28px;
}

.text-3xl {
	font-size: 36px;
}

.text-4xl {
	font-size: 52px;
}
