<nav class="site-head">
	<div class="site-logo">
        <svg role="img" class="icon wikia-logo">
            <use xlink:href="#wikia-logo"></use>
        </svg>
	</div>
	<!-- <button class="drawer&#45;menu"> -->
	<!-- </button> -->
	<!-- <div class="user&#45;icon"> -->
	<!-- </div> -->
</nav>
{{#ad-leaderboard}}
Leaderboard Ad
{{/ad-leaderboard}}
<div class="page-wrapper">
	{{outlet}}
</div>
{{view App.WikiaFooterView}}
