<section class="page-not-found">
	<h1 class="article-title">Error 404</h1>
	<div>{{i18n 'page-not-found-error'}}</div>
	<a href='#' {{action 'expandSideNav'}}>{{i18n 'page-not-found-message'}}</a>
</section>
