@import 'ads-floor';

.ad-slot {
	text-align: center;

	div {
		margin: 0 auto;
	}
}

.ad-slot[id^="INVISIBLE_"] {
	display: none !important;
}

.mobile-top-leaderboard {
	min-height: 50px;
	margin-top: 60px;
}

.mobile-in-content, .mobile-prefooter {
	margin: 10px 0;
	padding: 10px 0;
}

.no-ads {
	height: 0;
}

.wikia-ad-iframe {
	border: 0;
}
