.discussion-post {
	background-color: #fff;
	font-size: $type-smallest;
	padding: 0 15px;

	.avatar {
		display: inline-block;

		img {
			border-color: #ccc;
			height: 25px;
			width: 25px;
		}
	}

	.see-more {
		background-color: #E6E6E6;
		border-width: 0;
		display: inline-block;
		font-size: 10px;
		font-weight: bold;
		width: 100%;
	}

	@for $i from 1 through length($verticals) {
		.#{nth($verticals, $i)}-vertical & {
			.see-more {
				color: nth($vertical-colors, $i);
			}
		}
	}

	.discussion-reply {
		.upvotes {
			float: left;
			margin-top: -7px;
			text-align: center;
			width: 30px;

			small {
				display: block;
				font-size: 10px;
				line-height: 10px;
			}
		}
	}

	.icon {
		vertical-align: middle;

		&.replies {
			height: 21px;
			width: 21px;
		}

		&.upvote {
			height: 20px;
			width: 20px;
		}

		&.upvote-reply {
			height: 12px;
			line-height: 12px;
			width: 12px;
		}
	}

	.count {
		color: #999;
		font-size: $type-min;

		.icon {
			margin-right: 3px;
		}
	}

	.discussion-content {
		color: $color-gray-dark;
		padding: 10px 0;
	}

	.post-detail {
		padding: 12px 0;
	}

	.timestamp {
		color: #999;
	}
}

.books-vertical {
	.discussion-post {
		a {
			color: $color-hub-books;
		}
	}
}

.comics-vertical {
	.discussion-post {
		a {
			color: $color-hub-comics;
		}
	}
}

.games-vertical {
	.discussion-post {
		a {
			color: $color-hub-games;
		}
	}
}

.lifestyle-vertical {
	.discussion-post {
		a {
			color: $color-hub-lifestyle;
		}
	}
}

.movies-vertical {
	.discussion-post {
		a {
			color: $color-hub-movies;
		}
	}
}

.music-vertical {
	.discussion-post {
		a {
			color: $color-hub-music;
		}
	}
}

.tv-vertical {
	.discussion-post {
		a {
			color: $color-hub-tv;
		}
	}
}
