$horizontal-padding: 15px;
$post-details-post-width: 560px;
$post-details-outer-width: 580px;
$post-details-reply-width: 524px;
$post-details-post-margin-bottom: 5px;
$post-details-post-vertical-padding: 12px;
$post-details-reply-upvote-width: 12px;
$post-details-reply-upvote-margin-left: 10px;
$post-details-content-line-height: 1.4rem;
$deleted-mark-size: 12px;

body.discussions {
	background-color: $discussion-desktop-bg-color;
}

.discussion-page {
	width: 100%;
}

.upvote-icon-background {
	fill: $upvote-icon-back-color;
	stroke: $upvote-icon-back-color;
}

.discussion {
	font-size: $type-smallest;
	line-height: $line-height-smallest;
	max-width: inherit;

	.avatar {
		display: inline-block;
		margin-right: 5px;

		img, svg {
			border-color: $discussion-avatar-border-color;
		}
	}

	.clickable {
		cursor: pointer;
	}

	.count {
		color: $discussion-count-color;
		font-size: $type-min;
		font-weight: bold;

		.upvote-area,
		.replies-area {
			color: $discussion-count-color;
			display: block;
			float: left;
			height: 30px;
			line-height: 30px;
			padding: 0 2px;
		}
	}

	.toggle-share-area {
		display: block;
		height: 30px;
		line-height: 30px;
	}

	.delete-actions {
		display: inline-block;
		float: right;
	}

	.discussion-content {
		color: $discussion-content-color;
		margin: 5px 0;
		padding: .3rem 0;
	}

	.post-reply,
	.post-detail {
		overflow: hidden;
		position: relative;

		.loading-overlay {
			height: 100%;
			position: absolute;

			.spinner {
				margin-top: -32px;
			}
		}

		&.is-deleted {
			&::before {
				border-color: $discussion-deleted-mark-color transparent transparent transparent;
				border-style: solid;
				border-width: $deleted-mark-size $deleted-mark-size 0 0;
				content: "";
				height: $deleted-mark-size;
				left: 0;
				position: absolute;
				top: 0;
				width: $deleted-mark-size;
			}
		}

		&.is-parent-deleted .icon,
		&.is-deleted .icon:not(.undelete) {
			cursor: default;
			fill: $discussion-deleted-actions-color;

			&.upvote-reply {
				stroke: $discussion-deleted-actions-color;
			}
		}

		&.is-deleted,
		&.is-parent-deleted {
			.discussion-content {
				color: $discussion-deleted-content-color;
			}

			.count {
				a, span {
					color: $discussion-deleted-actions-color;
				}
			}

			.upvote a {
				cursor: default;
			}
		}
	}

	.discussion-reply {
		border: none;
		padding: {
			top: 12px;
			left: $horizontal-padding;
			right: $horizontal-padding;
		}

		.author {
			font-size: $type-min;
		}

		.avatar {
			img, svg {
				height: 30px;
				width: 30px;
			}
		}

		.discussion-content {
			font-size: $type-min;
			line-height: $line-height-min;
			margin-left: $post-details-reply-upvote-width + $post-details-reply-upvote-margin-left;
			padding: 0 0 10px;
		}

		.timestamp {
			font-size: $discussion-post-type-smaller-than-min;
		}

		.upvotes {
			float: left;
			margin: -5px $post-details-reply-upvote-margin-left 0 0;
			text-align: center;

			.count {
				min-width: $post-details-reply-upvote-width;
				text-align: center;
			}

			small {
				display: block;
				font-size: 10px;
				font-weight: bold;
				line-height: 10px;
				word-wrap: normal;
			}
		}
	}
	.discussion-no-replies {
		color: $discussion-error-text-color;
		font-size: $type-smallest;
		margin: 0 auto;
		padding: 35px 0;
		text-align: center;
	  	width: inherit;
  	}
	// border set for each element with "post-reply" class, after the first one
	.post-reply ~ .post-reply {
		.discussion-reply {
			border-top: 1px solid $discussion-reply-border-color;
		}
	}

	.icon {
		fill: $discussion-actions-color;
		height: 20px;
		width: 20px;
		vertical-align: middle;

		&.upvote {
			height: 22px;
			margin-right: 3px;
			width: 22px;
		}
		&.upvote-reply {
			height: 12px;
			line-height: 12px;
			stroke: $discussion-actions-color;
			width: 12px;
		}
		&.replies{
			height: 19px;
			width: 24px;
		}
	  	&.no-replies {
		  	display: block;
			height: 34px;
		  	margin: 0 auto;
			width: 40px;
		}
		&.toggle-share {
			height: 20px;
			width: 18px;
		}

	}

	.has-upvoted {
		.icon {
			fill: $upvote-icon-activated-color;

			&.upvote-reply {
				stroke: $upvote-icon-activated-color;
			}
		}
	}

  	.load-more {
		color: $discussion-load-more-color;
		text-align: center;
		width: 100%;
	}

	.post-detail {
		background-color: $discussion-desktop-post-detail-bg-color;
		margin-bottom: $post-details-post-margin-bottom;
		padding: 12px $horizontal-padding;
		transition: opacity 1s;

		.share {
			align-items: center;
			display: flex;
			height: 30px;
			justify-content: flex-end;
			line-height: 30px;
			text-align: right;

			> * {
				float: right;
			}
		}

		.timestamp {
			font-size: $type-min;
		}

		&.is-new {
			opacity: 0;
		}
	}

	.post-reply {
		transition: opacity 1s;

		&.is-new{
			opacity: 0;
		}
	}

	.see-more {
		background-color: $discussion-see-more-color;
		border-width: 0;
		display: block;
		font-size: 10px;
		font-weight: bold;
		margin: 0;
		padding: 0 $horizontal-padding;
		width: 100%;

		.icon {
			margin-right: 3px;
		}
	}

	.spinner {
		display: block;
		left: auto;
		margin: auto;
		position: relative;
	}

	.timestamp {
		color: $discussion-timestamp-color;
		font-weight: bold;
	}

	&.forum {
		margin-top: $discussion-header-height - $theme-bar-height;

		.discussion-content {
			@include clamp(3);

			// Constrains content on the forum post list to 3 lines and + 0.3rem for the padding
			max-height: $line-height-smallest * 3 + .3rem;
		}
	}

	&.post {
		.post-detail {
			margin-top: $theme-bar-height;
		}
	}
}

@media #{$desktop-range} {
	.discussion {
		background-color: transparent;

		&.forum {
			margin-left: auto;
			margin-right: auto;
			margin-top: 0;
			width: $discussion-page-width;

			.post-detail {
				background-color: $discussion-desktop-post-detail-bg-color;
				border-top-color: $discussion-post-detail-border-color;
				border-width: 0;
				margin-bottom: 5px;
				padding: 20px 30px;
			}
		}

		&.post {
			.post-detail {
				background-color: transparent;
				border-bottom: 1px solid $discussion-reply-border-color;
				margin: auto;
				padding: {
					top: $post-details-post-vertical-padding;
					right: $horizontal-padding + ($post-details-outer-width - $post-details-post-width) / 2;
					bottom: $post-details-post-vertical-padding + $post-details-post-margin-bottom;
					left: $horizontal-padding + ($post-details-outer-width - $post-details-post-width) / 2;
				}
				width: $post-details-outer-width;

				.discussion-content {
					line-height: $post-details-content-line-height;
				}

				.timestamp {
					font-size: $discussion-post-type-smaller-than-min;
				}
			}

			.replies-list {
				margin-left: auto;
				margin-right: auto;
				width: 524px;
			}

			.post-reply {
				width: $post-details-reply-width;
			}

			.see-more {
				text-align: center;
				width: $post-details-post-width;
			}
		}

		.post-detail,
		.post-reply,
		.see-more {
			margin-left: auto;
			margin-right: auto;
		}

	  	.discussion-no-replies {
			border-bottom: 1px solid $discussion-reply-border-color;
	  	}
	}
}

@media #{$mobile-range} {
	//To make sure discussion body is always expanding to 100% width
	.row {
		max-width: initial;
	}

	.post-details-view {
		.post-detail {
			padding-bottom: 14px;

			.share {
				display: none;
			}
		}

		.discussion-reply {
			.discussion-content {
				margin-left: 0;
			}
		}
	}
}
