$horizontal-padding: 15px;
$post-details-post-width: 560px;
$post-details-outer-width: 580px;
$post-details-reply-width: 524px;
$post-details-post-margin-bottom: 5px;
$post-details-post-vertical-padding: 12px;
$post-details-reply-upvote-width: 12px;
$post-details-reply-upvote-margin-left: 10px;
$deleted-mark-size: 12px;

body.discussions {
	background-color: $discussion-desktop-bg-color;
}

.discussion-page {
	width: 100%;
}

.upvote-icon-background {
	fill: $upvote-icon-back-color;
	stroke: $upvote-icon-back-color;
}

.discussion {
	font-size: $type-smallest;
	line-height: $line-height-smallest;
	max-width: inherit;

	.avatar {
		display: inline-block;
		margin-right: 5px;

		img {
			border-color: $discussion-avatar-border-color;
		}
	}

	.count {
		color: $discussion-count-color;
		font-size: $type-min;
		font-weight: bold;

		.upvote-area,
		.replies-area {
			color: $discussion-count-color;
			display: block;
			float: left;
			height: 30px;
			line-height: 30px;
			padding: 0 2px;
		}

		.icon {
			&.upvote {
				margin-right: 3px;
				// clickable area is 30px height, text has to be vertically centered, but icons have to be adjusted
				// to their bottom, so instead of adding additional html tags nesting, I moved up a bit the larger icon
				margin-top: -4px;
			}
		}
	}

	.discussion-content {
		color: $discussion-content-color;
		margin: 5px 0;
		padding: .3rem 0;
	}

	.post-reply,
	.post-detail {
		position: relative;

		&.is-deleted {
			&::before {
				border-color: $discussion-deleted-mark-color transparent transparent transparent;
				border-style: solid;
				border-width: $deleted-mark-size $deleted-mark-size 0 0;
				content: "";
				height: $deleted-mark-size;
				left: 0;
				position: absolute;
				top: 0;
				width: $deleted-mark-size;
			}
		}

		&.is-deleted,
		&.is-parent-deleted {
			.discussion-content {
				color: $discussion-deleted-content-color;
			}

			.count {
				a, span {
					color: $discussion-deleted-actions-color;
				}
			}

			.icon {
				fill: $discussion-deleted-actions-color;
				stroke: $discussion-deleted-actions-color;
			}

			.upvote a {
				cursor: default;
			}
		}
	}

	.discussion-reply {
		border: none;
		padding: {
			top: 12px;
			left: $horizontal-padding;
			right: $horizontal-padding;
		}

		.author {
			font-size: $type-min;
		}

		.avatar {
			img {
				height: 30px;
				width: 30px;
			}
		}

		.discussion-content {
			font-size: $type-min;
			line-height: $line-height-min;
			margin-left: $post-details-reply-upvote-width + $post-details-reply-upvote-margin-left;
		}

		.timestamp {
			font-size: $discussion-post-type-smaller-than-min;
		}

		.upvotes {
			float: left;
			margin: -5px $post-details-reply-upvote-margin-left 0 0;
			text-align: center;

			.count {
				min-width: $post-details-reply-upvote-width;
				text-align: center;
			}

			small {
				display: block;
				font-size: 10px;
				font-weight: bold;
				line-height: 10px;
				word-wrap: normal;
			}
		}
	}

	// border set for each element with "post-reply" class, after the first one
	.post-reply ~ .post-reply {
		.discussion-reply {
			border-top: 1px solid $discussion-reply-border-color;
		}
	}

	.icon {
		fill: $discussion-actions-color;
		height: 20px;
		stroke: $discussion-actions-color;
		width: 20px;
		vertical-align: middle;

		&.upvote {
			height: 22px;
			width: 22px;
		}
		&.upvote-reply {
			height: 12px;
			line-height: 12px;
			width: 12px;
		}
		&.replies{
			height: 24px;
			width: 24px;
		}
		&.toggle-share {
			height: 20px;
			width: 18px;
		}

	}

	.has-upvoted {
		.icon {
				fill: $upvote-icon-activated-color;
				stroke: $upvote-icon-activated-color;
		}
	}

  	.load-more {
		color: $discussion-load-more-color;
		text-align: center;
		width: 100%;
	}

	.post-detail {
		background-color: $discussion-desktop-post-detail-bg-color;
		margin-bottom: $post-details-post-margin-bottom;
		padding: 12px $horizontal-padding;

		.avatar {
			img {
				height: 40px;
				width: 40px;
			}
		}

		.share {
			align-items: center;
			display: flex;
			height: 30px;
			justify-content: flex-end;
			padding-top: 3px;
			text-align: right;

			> * {
				float: right;
			}
		}

		.timestamp {
			font-size: $type-min;
		}
	}

	.see-more {
		background-color: $discussion-see-more-color;
		border-width: 0;
		display: block;
		font-size: 10px;
		font-weight: bold;
		margin: 0;
		padding: 0 $horizontal-padding;
		width: 100%;

		.icon {
			margin-right: 3px;
		}
	}

	.spinner {
		display: block;
		left: auto;
		margin: auto;
		position: relative;
	}

	.timestamp {
		color: $discussion-timestamp-color;
		font-weight: bold;
	}

	&.forum {
		margin-top: $discussion-header-height;

		.discussion-content {
			// Constrains content on the forum post list to 3 lines and + 0.3rem for the padding
			max-height: $line-height-smallest * 3 + .3rem;
			overflow: hidden;
		}
	}

	&.post {
		.post-detail {
			margin-top: $theme-bar-height;

			.avatar-username {
				font-size: $discussion-post-type-smaller-than-min;
			}
		}
	}
}

@media #{$desktop-range} {
	.discussion {
		background-color: transparent;

		&.forum {
			margin-left: auto;
			margin-right: auto;
			margin-top: 0;

			.post-detail {
				background-color: $discussion-desktop-post-detail-bg-color;
				border-top-color: $discussion-post-detail-border-color;
				border-width: 0;
				margin-bottom: 5px;
				padding: 20px 30px;
				width: 507px;
			}
		}

		&.post {
			.post-detail {
				background-color: transparent;
				border-bottom: 1px solid $discussion-reply-border-color;
				margin: auto;
				padding: {
					top: $post-details-post-vertical-padding;
					right: $horizontal-padding + ($post-details-outer-width - $post-details-post-width) / 2;
					bottom: $post-details-post-vertical-padding + $post-details-post-margin-bottom;
					left: $horizontal-padding + ($post-details-outer-width - $post-details-post-width) / 2;
				}
				width: $post-details-outer-width;
			}

			.post-reply {
				width: $post-details-reply-width;
			}

			.see-more {
				text-align: center;
				width: $post-details-post-width;
			}
		}

		.post-detail,
		.post-reply,
		.see-more {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
