.discussion {
	background-color: #fff;
	font-size: $type-smallest;
	line-height: $line-height-smallest;
	padding: 0 15px;

	.avatar {
		display: inline-block;

		img {
			border-color: #ccc;
			height: 25px;
			width: 25px;
		}
	}

	.count {
		color: #999;
		font-size: $type-min;

		.icon {
			margin-right: 3px;
		}
	}

	.discussion-content {
		color: $color-gray-dark;
		margin: 10px 0;
	}

	.discussion-reply {
		border-top: 1px solid #ccc;
		padding-top: 12px;

		.upvotes {
			float: left;
			margin: -7px 10px 0 0;
			text-align: center;

			small {
				display: block;
				font-size: 10px;
				line-height: 10px;
			}
		}
	}

	.icon {
		vertical-align: middle;

		&.replies {
			height: 21px;
			width: 21px;
		}

		&.upvote {
			height: 20px;
			width: 20px;
		}

		&.upvote-reply {
			height: 12px;
			line-height: 12px;
			width: 12px;
		}
	}

	.post-detail {
		padding: 12px 0;
	}

	.see-more {
		background-color: #E6E6E6;
		border-width: 0;
		display: inline-block;
		font-size: 10px;
		font-weight: bold;
		width: 100%;
	}

	@for $i from 1 through length($verticals) {
		.#{nth($verticals, $i)}-vertical & {
			.see-more {
				color: nth($vertical-colors, $i);
			}
		}
	}

	.timestamp {
		color: #999;
	}

	&.forum {
		.discussion-content {
			// Constrains content on the forum post list to 3 lines
			max-height: $line-height-smallest * 3;
			overflow: hidden;
		}

		.post-detail {
			border-top: 1px solid #ccc;
		}
	}
}

@for $i from 1 through length($verticals) {
	.#{nth($verticals, $i)}-vertical .discussion a {
		color: #{nth($vertical-colors, $i)};
	}
}
