.edit-head {
	@extend .site-head;
	text-align: inherit;

	.arrow-left {
		display: block;
		height: 30px;
		margin: auto;
		width: 30px;
	}

	.back {
		float: left;
		padding-top: 0.7rem;
		width: 3.75rem;
	}
}

textarea {
	margin: auto;
	margin-top: 50px;
	max-width: 62.5rem;
	min-height: 250px;
}