$offset: 187;
$duration: 1s;

@keyframes rotator {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(270deg);
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: $offset;
	}
	50% {
		stroke-dashoffset: $offset/4;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: $offset;
		transform: rotate(450deg);
	}
}

.loading-overlay {
	background: rgba(white, .5);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $z-6;
}

// A/B test (HG-727)
.ab-test-loading-overlay {
	display: none;

	img {
		background: url('/front/images/loader.gif') no-repeat;
		height: 64px;
		left: 50%;
		margin: -32px 0 0 -32px;
		position: absolute;
		top: 50%;
		width: 64px;
	}
}

.spinner {
	animation: rotator $duration linear infinite;
	left: 50%;
	margin: -25px 0 0 -25px;
	position: absolute;
	top: 50%;

	.path {
		animation: dash $duration ease-in-out infinite;
		stroke: $spinner-color;
		stroke-dasharray: $offset;
		stroke-dashoffset: 0;
		transform-origin: center;

		/*
		Documentation for @for: http://thesassway.com/intermediate/if-for-each-while#for
		Generated output is like (for every vertical):

		.comics-vertical .path {
			stroke: color;
		}
		*/
		@for $i from 1 through length($verticals) {
			.#{nth($verticals, $i)}-vertical & {
				stroke: nth($vertical-colors, $i);
			}
		}

	}
}
