@import 'ads';
@import 'article/categories-list';
@import 'article/content';
@import 'article/contributors';
@import 'article/infobox';
@import 'article/portable-infobox';
@import 'article/media';
@import 'article/section-header';
@import 'article/table';
@import 'article/table-of-contents';
@import 'article/title';
@import 'article/not-found';
@import 'comments';
@import 'content-recommendations';
@import 'edit';
@import 'loader';
@import 'site-footer';
@import 'wikia-map';
@import 'wiki/index';
