.discussions {
	.discussion-tooltip-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: $z-1;

		.discussion-tooltip {
			border-radius: 2px;
			color: $discussion-tooltip-color;
			font-size: 12px;
			padding: 2px 11px;
		}

		.arrow-down {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top-style: solid;
			border-top-width: 6px;
			height: 0;
			margin: 0;
			width: 0;
		}
	}
}

