.discussion-days-toggle {
	color: $discussion-days-toggle-color;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.time-range-toggle {
		color: #999;
		margin: 0 0 0 15px;
		padding: 0 0 0 10px;
	}

	.wds-dropdown {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.wds-dropdown__toggle {
		display: flex;
		font-size: $wds-typescale-size-minus-2;
		line-height: 16px;
	}

	.wds-icon {
		height: 18px;
		width: 18px;
	}

	.wds-dropdown__content {
		color: $discussion-days-toggle-color;
		left: initial;
		min-width: 100px;

		right: 0;
	}
}

.discussion-header {
	.discussion-days-toggle {
		color: $discussion-header-days-toggle-color;
		float: right;
		height: 100%;

		.wds-dropdown__toggle-chevron {
			margin-left: 0;
			margin-right: 5px;
		}

		.wds-dropdown__content {
			// needs to be set once more to override dark theme
			color: $discussion-days-toggle-color;
		}
	}
}
