.post-image-editor-tools-wrapper {
	position: relative;

	.delete-image {
		align-items: center;
		background-color: $wds-color-dark-c3;
		display: flex;
		height: 40px;
		justify-content: center;
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;

		svg {
			fill: $wds-color-white;
		}

		&:hover {
			background-color: $wds-color-dark-c4;
		}

		&:active {
			background-color: $wds-color-dark-c3;
		}
	}
}

.post-list-view {
	.post-detail {
		.post-image-inner-image {
			// Change those values when max width of post card changes
			@media #{$desktop-range} {
				max-height: 447px;
			}

			@media #{$large-desktop-range} {
				max-height: 640px;
			}
		}
	}

	.post-reply {
		.post-image-inner-image {
			// Change those values when max width of reply card changes
			@media #{$desktop-range} {
				max-height: 425px;
			}

			@media #{$large-desktop-range} {
				max-height: 585px;
			}
		}
	}
}

.post-details-view {
	.post-reply {
		.post-image-inner-image {
			// Change those values when max width of reply card changes
			@media #{$desktop-range} {
				max-height: 466px;
			}

			@media #{$large-desktop-range} {
				max-height: 582px;
			}
		}
	}
}
