.discussion-error-page {
	background-color: $discussion-error-page-bg-color;
}

.discussion-error {
	margin-top: 100px;
	min-height: 130px;

	.error-content {
		$width: 400px;

		background-color: $discussion-error-bg-color;
		border-radius: 8px;
		color: $discussion-error-text-color;
		font-size: rem-calc(14);
		left: 50%;
		margin-left: -$width/2;
		padding: 24px 35px 21px;
		position: absolute;
		text-align: center;
		width: $width;
	}
	.action-item {
		color: $discussion-error-link-color;
		display: block;
		font-size: rem-calc(12);

		.icon-back,
		.icon-retry {
			height: 16px;
			vertical-align: text-bottom;
			width: 14px;
		}

		&:hover .icon-retry {
			transform: rotate(360deg);
			transition: all 0.3s ease-in-out 0s;
		}
	}
}

.error-message-container {
	color: $discussion-upload-image-error-text-color;
	display: none;

	&.is-visible {
		display: block;
	}

	.error-message {
		font-size: $type-base;
		line-height: $line-height-base;
	}

	.icon.error {
		fill: $discussion-upload-image-error-warning-color;
	}
}
