$desktop-lightbox-close-size: 24px;
$discussion-z-lightbox: $z-global-navigation + 1;

.discussions {
	.lightbox-overlay {
		align-content: center;
		background: rgba(0, 0, 0, 0.9);
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		outline: none;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $discussion-z-lightbox;

		.lightbox-image-on-overlay {
			margin: auto;
			max-height: 90%;
			max-width: 90%;
		}

		.lightbox-close {
			fill: $wds-color-white;
			left: 14px;
			position: absolute;
			top: 14px;
		}
	}
}

.lightbox-active {
	overflow: hidden;
}

@media #{$desktop-range} {
	.discussions {
		.lightbox-overlay {
			.lightbox-close {
				height: $desktop-lightbox-close-size;
				left: 111px;
				top: 78px;
				width: $desktop-lightbox-close-size;
			}
		}
	}
}
