.discussions {
	.discussion-tooltip-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		left: 0;
		line-height: 14px;
		position: absolute;

		&.right {
			flex-direction: row;
		}

		.discussion-tooltip {
			border-radius: 2px;
			font-size: 12px;
			padding: 10px 12px;
		}

		.arrow-down {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top-style: solid;
			border-top-width: 6px;
		}

		.arrow-right {
			border-bottom: 4px solid transparent;
			border-left-style: solid;
			border-left-width: 6px;
			border-top: 4px solid transparent;
		}

		.arrow {
			height: 0;
			margin: 0;
			width: 0;
		}
	}
}

