.discussion-sort {
	background-color: transparent;
	box-shadow: none;
	list-style-type: none;
	margin: 17px auto 10px;
	padding: 0;
	text-align: center;
	width: $discussion-page-width;

	li {
		border-bottom: 4px solid;
		cursor: pointer;
		float: left;
		font-size: $type-base;
		font-weight: $font-weight-bold;
		height: 50px;
		line-height: 50px;
		width: 50%;

		&.not-active {
			border-bottom-color: $discussion-sort-color;
			color: $discussion-sort-color;
		}
	}

	&.no-trending {
		li {
			&.sort-trending {
				border-bottom-color: $discussion-sort-inactive-color;
				color: $discussion-sort-inactive-color;
				pointer-events: none;
			}
		}
	}
}
