$desktop-lightbox-close-size: 30px;
$discussion-z-lightbox: $z-global-navigation + 1;
$global-nav-container-width: 1064px;
$xxl-up-global-nav-container-width: 1238px;

.discussions {
	&.lightbox-active {
		overflow: hidden;
		position: fixed;
	}

	.lightbox-overlay {
		background: rgba(0, 0, 0, 0.9);
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		outline: none;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $discussion-z-lightbox;

		.lightbox-container {
			height: calc(100% - 60px);
			margin: 0 auto 60px;
			position: relative;

			.lightbox-container-image {
				bottom: 0;
				left: 0;
				margin: auto;
				max-height: 100%;
				max-width: 100%;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.lightbox-viewbox {
			height: 100%;
			width: 95%;

			.lightbox-close {
				fill: $wds-color-white;
				margin-left: 14px;
				margin-top: 14px;
			}
		}
	}
}

@media #{$desktop-range} {
	.discussions {
		&.lightbox-active {
			position: relative;
		}

		.lightbox-overlay {
			.lightbox-container {
				height: calc(100% - 60px - 60px);
				margin: 60px auto 60px;
			}

			.lightbox-viewbox {
				width: $global-nav-container-width;

				.lightbox-close {
					position: absolute;
					height: $desktop-lightbox-close-size;
					margin-top: 18px;
					width: $desktop-lightbox-close-size;
				}
			}
		}
	}
}

@media #{$wds-breakpoint-xxl-up} {
	.discussions {
		.lightbox-overlay {
			.lightbox-viewbox {
				width: $xxl-up-global-nav-container-width;
			}
		}
	}
}
