.discussion-sort {
	ul {
		margin-left: 0;

		li {
			list-style: none;
			clear: left;
			color: $discussion-filters-color;
			width: 100%;

			label {
				margin-left: 0;

				.radio-fancy {
					@include radio-fancy(14px);
					margin: 2px 9px 0 0;
				}
			}
		}
	}

	&.no-trending {
		li {
			&.sort-trending {
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}

	.bullet {
		display: none;
	}

	[disabled] {
		.sort-options {
			opacity: 0.5;
		}
	}
}
