.discussion-categories-list-container {
	margin-left: -8px;
	max-height: 800px;
}

.discussion-mobile-categories-list-container {
	.wds-list {
		padding: 2px 0;

		.fancy-checkbox-label {
			font-size: $wds-typescale-size-base;
			line-height: 1em;

			.fancy-checkbox-span {
				margin-top: 0;
			}
		}
	}
}

.discussion-categories-list-content {
	list-style: none;
	margin: 6px 0;

	label {
		overflow: hidden;
		padding: 4px 0 4px 8px;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			background-color: $discussion-category-hover-background;
		}
	}
}


.discussion-categories {
	&:disabled {
		.discussion-categories-list-content {
			opacity: 0.5;

			label {
				pointer-events: none;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	button {
		background-color: transparent;
		font-size: 10px;
		font-weight: $font-weight-bold;
		height: $line-height-larger;
		line-height: $line-height-larger;
		margin: 0 20px;
		width: calc(100% - 40px);
	}

	.discussion-categories-edit-link {
		font-size: $type-min;
		font-weight: $font-weight-normal;
		text-transform: uppercase;
	}
}


@media #{$mobile-range} {
	.discussion-categories {
		&.discussion-fieldset {
			margin-top: 7px;
		}
	}
}
