$desktop-lightbox-close-size: 24px;

.discussions {
	.post-images {
		margin-bottom: 13px;

		.post-image,
		.lightbox-image {
			display: block;
			margin-top: 9px;
		}
	}
}

@media #{$desktop-range} {
	.discussions {
		.post-images {
			margin-bottom: 18px;
		}
	}
}
