.no-followed-posts {
	color: $discussion-no-followed-posts-color;
	margin: 30px 24px;
	text-align: center;

	h6 {
		color: $discussion-no-followed-posts-header-color;
		font-size: 0.875rem;
		font-weight: $font-weight-bold;
		line-height: 1.25rem;
		margin: 0;
	}

	.follow-xl-icon {
		fill: $discussion-no-followed-posts-icon-color;
		height: 42px;
		margin-bottom: 8px;
		width: 32px;
	}

	.find-posts-button {
		@extend %discussion-large-button;
		display: block;
		margin: 24px auto 0;
		width: 188px;
	}


}
