.post-images {
	margin-bottom: 13px;

	.post-image {
		margin-top: 9px;

		@media #{$desktop-range} {
			margin-bottom: 18px;
		}
	}
}

.post-details-view {
	.post-images {
		.post-image {
			@media #{$desktop-range} {
				margin-top: 7px;
			}
		}
	}
}

.post-reply {
	.post-images {
		.post-image {
			margin-top: 4px;
		}
	}
}
