.discussion-user-activity-list {
	color: $discussion-user-activity-text-color;

	.row {
		display: flex;
		height: $discussion-user-activity-row-height;

		.user {
			display: flex;
			flex: 1;
			min-width: 150px;

			.user-avatar {
				align-items: center;
				display: flex;
				flex: 0 0 36px;
				justify-content: center;
				margin-right: 12px;
				position: relative;

				figure {
					&.avatar {
						img, svg {
							border-color: $discussion-user-activity-avatar-stroke-color;
						}
					}
				}

				.user-avatar-badge {
					left: -4px;
					top: 3px;
				}
			}

			.username {
				align-items: center;
				border-bottom: 1px solid $discussion-user-activity-row-separator-color;
				display: flex;
				flex: 1;
				min-width: 0;

				a {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}

		.details {
			align-items: center;
			border-bottom: 1px solid $discussion-user-activity-row-separator-color;
			display: flex;
			justify-content: flex-end;

			.user-activity-value {
				margin-left: 12px;
				text-align: right;
				white-space: nowrap;

				.description {
					color: $discussion-user-activity-value-description-color;
					font-size: $wds-typescale-size-minus-2;
				}

				&.reported {
					width: 80px;
				}

				&.queued {
					width: 110px;
				}

				&.verified {
					width: 50px;
				}

				&.deleted {
					width: 50px;
				}
			}

			.user-activity-icon {
				fill: $discussion-user-activity-icon-color;
				position: relative;

				&.checkmark {
					height: 18px;
					top: 3px;
					width: 18px;
				}

				&.trash {
					height: 16px;
					top: 2px;
					width: 16px;
				}
			}
		}
	}
}

@media #{$mobile-range} {
	.discussion-user-activity-list {
		overflow-x: auto;
		padding-left: 12px;
		padding-right: 12px;

		&.reports-list {
			.row {
				// need to set min-width for iOS (9.x) safari issue (see screenshot in SOC-2862)
				min-width: 500px;
			}
		}

		.row {
			height: $discussion-user-activity-mobile-row-height;

			.user {
				.user-avatar {
					flex: 0 0 30px;

					figure {
						&.avatar {
							img, svg {
								height: 30px;
								width: 30px;
							}
						}
					}

					.user-avatar-badge {
						left: -4px;
						top: 0;

						svg {
							height: 15px;
							width: 15px;
						}
					}
				}
			}
		}
	}
}
