.discussion-tooltip-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;

	.discussion-tooltip {
		border-radius: 2px;
		padding: 2px 11px;
	}

	.arrow-down {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top-style: solid;
		border-top-width: 6px;
		height: 0;
		margin: 0;
		width: 0;
	}
}
