.introducing-following {

	header {
		align-items: center;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		display: flex;
		height: 84px;
		justify-content: center;

		.follow-icon {
			fill: $discussion-introducing-following-icon-color;
			height: 42px;
			width: 32px
		}
	}

	section {
		color: $discussion-introducing-following-text-color;
		font-size: $type-smallest;
		line-height: 20px;
		margin: 24px auto;
		padding: 0 24px;
		text-align: center;

		h6 {
			margin-bottom: 4px;
			font-size: $type-smaller;
		}
	}


	.find-posts-button {
		@extend %discussion-large-button;
		display: block;
		line-height: 44px;
		margin: 24px auto 0;
		max-width: 187px;
	}
}

.introducing-following-modal {
	justify-content: center;
	left: 0;
	right: 0;
	padding: 20px;

	.modal-dialog {
		border-radius: 2px;
		max-width: 360px;
		padding: 0;
	}
}
