.no-followed-posts {

	margin: 30px auto;
	text-align: center;
	color: #666;
	width: 272px;

	.header {
		font-weight: $font-weight-bold;
		color: #333;
	}

	.follow-xl-icon {
		height: 42px;
		width: 32px;
		margin-bottom: 20px;
	}

	.find-posts-button {
		display: block;
		border-style: solid;
		border-width: 1px;
		font-size: 0.75rem;
		font-weight: 700;
		letter-spacing: 0.3px;
		line-height: 50px;
		margin: 24px auto 0;
		text-align: center;
		text-transform: uppercase;
		width: 187px;
	}


}
