// placeholder for setting up an image placeholder background
%image-placeholder {
	background: {
		color: $gainsboro;
		image: url('/front/common/symbols/brackets.svg');
		position: center;
		repeat: no-repeat;
		size: contain;
	}
}
