// placeholder for setting up an image placeholder background
%image-placeholder {
	background: {
		color: $gainsboro;
		image: $brackets-svg-image;
		position: center;
		repeat: no-repeat;
		size: contain;
	}
}
