/**
* If you need to do something shameful in scss, it's best to keep it in one place...
*/

//Template:Era and Template:Icons, used on many wikis, not useful on mobile
#eraicons, #title-eraicons, #icons {
	@extend .hidden;
}

// Disabled pointer events on svgs to make them clickable on Safari desktop
.discussions use {
	pointer-events: none;
}
