.show-reply-btn,
.page-btn {
	@extend .touch-active;

	background: rgb(250,250,250);
	color: $anchor-font-color;
	width: 100%;
}

.show-reply-btn {
	margin-bottom: 20px;
}

.show-comments-btn {
	display: block;
	background: none;
	border-top: 1px solid $secondary-color;
	color: #333;

	padding: rem-calc(16) rem-calc(20);
	position: relative;
	font-weight: bold;
	text: {
		align: left;
		transform: uppercase;
	}

	.chevron {
		position: absolute;
		right: rem-calc(10);
		margin-top: rem-calc(5);
	}
}

.comments {
	@extend %list-reset;

	font-size: rem-calc(13);
}

.article-comment {
	@extend .row;
	@extend .collapse;
	margin: rem-calc(20) 0;

	> div {
		@extend .columns;
		padding: 0;
	}

	ul {
		@extend %list-reset;

		display: none;

		margin: {
			left: rem-calc(-10);
			top: rem-calc(20);
		}

		&.expanded {
			display: block;
		}

		.avatar img {
			margin-left: rem-calc(-10);
		}

	}

	.avatar {
		@extend .small-3;
		text-align: left;
		padding-left: rem-calc(15);

		img {
			border-radius: 100%;
		}
	}

	.content {
		@extend .small-9;
		padding-right: rem-calc(20);

		.content {
			padding-right: 0;
		}
	}

	.timestamp {
		color: $color-blue-gray-dark;
		float: right;
	}

	.username {
		font-weight: bold;
	}

	figure {
		margin: rem-calc(16) auto;
	}
}

