// Styles for the "Read More" section at the bottom of articles
.content-recommendations {
	clear: both;
	padding: rem-calc(40) rem-calc(20);
	background-color: rgb(241, 242, 252);

	h1 {
		color: $color-blue-light;
		padding: 0;
		margin: 0;
		padding-bottom: 20px;
	}

	.visible {
		img {
			width: 100%;
		}
	}

	ul {
		@extend %list-reset;

		a {
			display: block;
			position: relative;
		}

		figure::after {
			@include perfect-square(100%);
			content: '';
			background-image: linear-gradient(transparent 60%, rgba(black, .1) 70%, rgba(black, .7) 100%);
			top: 0;
			left: 0;
			position: absolute;
		}

		figcaption {
			@extend %ellipsis;
			font-size: .9rem;
			font-weight: bold;
			padding: 1rem;
			color: white;
			bottom: 0;
			left: 0;
			position: absolute;
			pointer-events: none;
			width: 100%;
			z-index: 1;
		}
	}
}
