<span class="fancy-checkbox-span {{if isChecked 'active-element-background-color'}}">
	{{one-way-input
		checked=isChecked
		class='fancy-checkbox'
		click=onClick
		id=inputId
		name=inputId
		type='checkbox'
	}}
	{{#if isChecked}}
		{{svg 'checkbox-checkmark' class='icon' viewBox="0 0 20 14"}}
	{{/if}}
</span>
{{label}}
