<h1 class="wiki-page-title">
	{{title}}
	{{#if showButtons}}
		<div>
			{{#link-to 'curatedContentEditor'
			   bubbles=false
			   class='main-page-edit'
			   trackingCategory='main-page'
			   trackingLabel='open-editor'
			}}
				{{svg 'pencil' role='img' class='icon pencil'}}
				{{i18n 'app.curated-content-editor-edit-main-page'}}
			{{/link-to}}
		</div>
	{{/if}}
</h1>
