$auth-content-background-color: $color-white;
$body-background: $color-white;
$body-background-desktop: $color-white;
$body-background-standalone: $vapor;
$splash-background-color: #39424d;
$button-color: $color-blue-light;
$button-color-facebook: #4b6ea8;
$disabled-button-text-color: #B4D6F2;
$footer-text-color: $color-white;
$header-text-color: $color-white;
$input-color-active: $color-blue-gray;
$label-color-active: $color-blue-gray;
$label-color-inactive: $color-blue-gray;
$label-color-valid: $color-blue-gray;
$link-color: $color-blue-light;
$border-color: $iron;
$auth-back-link-color: #092344;
$global-nav-border-color: #A9A9A9;
$link-emphasis-color: #00b7e0;
$form-submit-background-color: #00b7e0;
$form-submit-color: $color-white;
$register-message-callout-bottom-border-color: #656e78;
$input-text-color: #656e78;
$fandom-logo-mark-border-color: #fff;
$auth-divider-line-color: #c5ced9;

$circle-logo-size: 50px;
$desktop-content-max-width: 768px;
$desktop-content-min-width: 706px;
$desktop-nav-auth-shift: 80px;
$desktop-nav-auth-margin-left: 10px;
$global-nav-height: 46px;
$global-nav-side-padding: 31px;
