// wikia style guide
@import '../../bower_components/wikia-style-guide/src/scss/main';

// configuration
@import 'settings';

// base
@import 'base/anchors';
@import 'base/lists';
@import 'base/input';

// layout
@import 'layout/body';
@import 'layout/content';
@import 'layout/header';

// modules
@import 'module/birthdate-field';
@import 'module/buttons';
@import 'module/close';
@import 'module/forms';
@import 'module/form-icons';
@import 'module/inputs';
@import 'module/keyframes';
@import 'module/landing-page';
@import 'module/signin-page';
@import 'module/register-page';
@import 'module/desktop-nav';

// theme
@import 'theme/auth-global-nav';
@import 'theme/auth-header';
@import 'theme/body';
@import 'theme/splash';
