@import 'ads-mixin';
@import 'ads-porvata';
@import 'node_modules/@wikia/ad-engine/src/ad-products/styles/styles';

$closeButtonHeight: 40px;

%high-impact-close-icon {
  fill: white;
  height: $closeButtonHeight / 2;
  width: $closeButtonHeight / 2;
}

.ad-slot {
  margin: 0 0 1.125rem;
  text-align: center;

  .provider-container {
    margin: 20px auto;
  }

  &.hide {
    display: none !important;
  }
}

.invisible-high-impact {
  display: none;
}

.main-page-pad-slot .ad-slot {
  margin-bottom: 36px;
}

.top-leaderboard .ad-slot,
.mobile-top-leaderboard .ad-slot {
  position: relative;
  z-index: $z-ads-top-leaderboard;

  & > div,
  .provider-container {
    margin: 10px auto;
  }
}

.bottom-leaderboard .ad-slot {
  z-index: $z-ads-bottom-leaderboard;
}

.ad-slot {
  &.slot-animation {
    overflow: hidden;
    transition: max-height 1.6s ease;
  }

  .provider-container {
    position: relative;
  }

  &.slot-responsive {
    iframe {
      @include absolute-fill();
    }
  }
}

.article-content .ad-slot-wrapper .ad-slot,
.article-content p + .ad-slot {
  &.incontent-boxad {
    margin: 3rem 0;

    &:not(.a9-ad) {
      margin: 3rem -1.5rem;
    }
  }
}

.article-content .ad-slot {
  &:not(.a9-ad) {
    margin: 0 -1.5rem 1.125rem;
  }

  &.slot-responsive {
    margin: 0 0 1.125rem;
  }

  &.incontent-boxad {
    margin: .75rem 0;

    &:not(.a9-ad) {
      margin: .75rem -1.5rem 3rem;
    }
  }
}

.top-leaderboard .bfaa-template,
.mobile-top-leaderboard .bfaa-template {
  position: absolute;

  & > div {
    margin: 0 auto;
  }
}

.bfaa-template .top-leaderboard,
.bfaa-template .mobile-top-leaderboard {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .ad-slot {
    background: #000;
    overflow: hidden;
    position: relative;
    transition: height .4s ease;

    & > div,
    .provider-container {
      margin: 0;
    }
  }

  .sticky-bfaa {
    position: fixed;
    transition: none;
  }
}

.wds-no-scroll .bfaa-template.sticky-bfaa {
  z-index: unset;
}

.bfab-template.ad-slot {
  & > div,
  .provider-container {
    margin: 0;
  }
}

.no-ads {
  height: 0;
}

.wikia-ad-iframe {
  border: 0;
}

.out-of-page-template {
  margin: 0;

  &.floor-adhesion {
    padding: 20px 0;

    .button-close {
      border: 2px solid white;
      border-radius: 50%;
      height: $closeButtonHeight;
      top: -($closeButtonHeight / 2);
      width: $closeButtonHeight;
    }
  }
}

.gpt-ad.bfaa-template.sticky-iab {
  padding: 22px 0 4px;

  & .advertisement-label {
    color: #5f7a7b;
    position: static;
  }
}

//show the loading spinner on top of ad in interstitial
.stop-scrolling {
  overflow: hidden;

  .wds-spinner__overlay {
    background: none;
    bottom: initial;
    left: 50%;
    position: absolute;
    right: initial;
    top: 50%;
    z-index: $z-modal-dialog + 1;

    .wds-spinner {
      left: initial;
      position: relative;
      top: initial;
    }
  }
}

@keyframes translate-new-logo {
  to {
    transform: translateY(0);
  }
}

.new-logo {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: translate-new-logo;
  max-height: 55px;
  padding-left: 12px;
  transform: translateY(-100%);
}

.tracking-pixel {
  display: none;
}
