.show-reply-btn,
.page-btn {
	background: rgb(250, 250, 250);
	color: $anchor-font-color;
	width: 100%;
}

.show-reply-btn {
	margin-bottom: 20px;
}

.show-comments-btn {
	background: none;
	border-top: 1px solid $secondary-color;
	color: #333;
	display: block;
	font-weight: bold;
	padding: rem-calc(16) rem-calc(20);
	position: relative;
	text: {
		align: left;
		transform: uppercase;
	}

	.chevron {
		margin-top: rem-calc(5);
		position: absolute;
		right: rem-calc(10);
	}
}

.comments {
	@extend %list-reset;

	font-size: rem-calc(13);

	&__no-comments,
	&__add-comment {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	&__no-comments {
		color: $wds-color-slate-gray;
		font-size: $wds-typescale-size-minus-1;
		padding: 20px 0;
	}

	&__add-comment {
		padding: 10px 0 20px;
	}

	&__reply-icon {
		color: $wds-color-slate-gray;
		height: 40px;
		width: 40px;
	}

	&__message {
		color: $wds-color-slate-gray;
		font-size: $wds-typescale-size-minus-2;
		font-style: italic;
		line-height: $wds-line-height;
		margin-top: 12px;
		max-width: 200px;
		text-align: center;
	}
}

.article-comment {
	@extend .row;

	margin: 0;

	> div {
		@extend .columns;

		padding: 0;
	}

	&::before,
	&::after {
		clear: both;
		content: " ";
		display: table;
	}

	ul {
		@extend %list-reset;

		display: none;

		margin: {
			left: rem-calc(-10);
			top: rem-calc(20);
		}

		&.expanded {
			display: block;
		}

		.avatar img {
			margin-left: rem-calc(-10);
		}
	}

	.avatar {
		float: left;
		padding-left: rem-calc(15);
		text-align: left;
		width: 25%;

		img {
			border-radius: 100%;
		}
	}

	.content {
		float: left;
		padding-right: rem-calc(20);
		width: 75%;

		.content {
			padding-right: 0;
		}
	}

	.timestamp {
		color: $color-blue-gray-dark;
		float: right;
	}

	.username {
		font-weight: bold;
	}

	figure {
		margin: rem-calc(16) auto;
	}
}
