@import 'ads';
@import 'article/categories-list';
@import 'article/content';
@import 'article/contributors';
@import 'article/infobox';
@import 'article/portable-infobox';
@import 'article/media';
@import 'article/section-header';
@import 'article/table';
@import 'article/portable-table';
@import 'comments';
@import 'edit/edit-common';
@import 'edit/edit';
@import 'file';
@import 'loader';
@import 'wikia-widget';
@import 'wiki/index';
