$article-footer-skewY: 5deg;

.article-footer {
	background-image: linear-gradient(to bottom, rgba($wds-color-white, 1), rgba($wds-color-white, 0) 130px);
	padding: 24px $article-horizontal-padding 0;
	transform: skewY(-$article-footer-skewY);

	& > * {
		transform: skewY($article-footer-skewY);
	}

	.article-information-header {
		text-align: center;
	}

	.article-footer-item {
		padding: 14px 6px 14px 0;
	}

	.chevron {
		color: $wds-fandom-color-dark-gray;
		margin-right: 4px;
	}

	.article-language-links-list {
		border-top: 1px solid $wds-fandom-color-middle-gray;
	}

	.wds-avatar {
		@include wds-avatar(30px, $wds-fandom-color-middle-gray);
	}
}
