$article-footer-skewY: 5deg;

.article-footer {
	background-image: linear-gradient(to bottom, rgba($wds-color-white, 1), rgba($wds-color-white, 0) 100%);
	margin-bottom: 2.5rem;
	transform: skewY(-$article-footer-skewY);

	& > * {
		transform: skewY($article-footer-skewY);
	}
}
