$article-footer-skewY: 5deg;

.article-footer {
  background-image: linear-gradient(to bottom, rgba($wds-color-white, 1), rgba($wds-color-white, 0) 130px);
  margin-bottom: 1.125rem;
  padding: 1.5rem $article-horizontal-padding 0;
  transform: skewY(-$article-footer-skewY);

  & > * {
    transform: skewY($article-footer-skewY);
  }

  .article-information-header {
    padding: .375rem 0 .75rem;
    text-align: center;
  }

  .article-footer-item {
    padding-bottom: 1.5rem;
  }

  .article-language-links-list {
    padding: 12px 0 18px;
  }

  .chevron {
    color: $wds-fandom-color-dark-gray;
    margin-right: 4px;
  }

  .article-language-links-list {
    border-top: 1px solid $wds-fandom-color-middle-gray;
  }
}
