.lightbox-wrapper {
	-webkit-tap-highlight-color: transparent;
	bottom: 0;
	color: $modal-text-color;
	font-size: 0.8rem;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity .3s;
	z-index: $z-lightbox-wrapper;

	&.opening {
		opacity: 0;
	}

	&.open {
		opacity: 1;
	}

	&:focus {
		outline: 0;
	}
}

.lightbox-header {
	height: 40px;
	line-height: 15px;
	position: absolute;
	width: 100%;
	z-index: $z-lightbox-header;
}

.lightbox-header-title {
	float: left;
	padding: 15px 13px;
}

.lightbox-close-wrapper {
	fill: white;
	float: right;
	padding: 13px 13px 33px;
}

.lightbox-close-button {
	height: 15px;
	pointer-events: none;
	width: 15px;
}

.lightbox-content-inner {
	height: 100%;
	width: 100%;
}

.lightbox-content {
	background-color: $modal-background;
	height: 100%;
	overflow: hidden;
	width: 100%;

	& > p {
		margin: 0;
	}

	img {
		opacity: 0;
		transition: .01s opacity .3s;
		width: 100%;

		.open & {
			opacity: 1;
		}
	}
}

.lightbox-footer {
	background-color: rgba(black, 0.8);
	bottom: 0;
	font-weight: 300;
	height: auto;
	left: 0;
	line-height: 1rem;
	max-height: 3rem;
	padding: 15px 13px;
	position: absolute;
	width: 100%;
	z-index: $z-lightbox-footer;

	&::after {
		background: linear-gradient(top, transparent 10%, black 100%);
		bottom: 0;
		content: '';
		display: block;
		height: 15px;
		left: 0;
		position: absolute;
		right: 0;
	}

	//caption is an output from parser
	p {
		margin: 0;
	}
}

.lightbox-footer-expanded {
	max-height: none;
}
