<div id="wikiContainer" class="wiki-container">
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		siteName=siteName
		articleRendered='articleRendered'
		toggleSiteHeadShadow='toggleSiteHeadShadow'
		edit='edit'
		openLightbox='openLightbox'
		toggleDrawer='toggleDrawer'
	}}
</div>
{{#if displayRecirculation}}
	{{recirculation-prefooter}}
{{/if}}
