<div id="wikiContainer" class="wiki-container">
  {{article-wrapper
    displayArticleWrapper=applicationWrapperVisible
    commentsPage=commentsPage
    model=model
    siteName=siteName
    toggleSiteHeadShadow=(action "toggleSiteHeadShadow" target=application)
  }}
</div>
{{recirculation-prefooter
  applicationWrapperVisible=applicationWrapperVisible
  articleId=model.details.id
}}
