<div id="wikiContainer" class="wiki-container">
	{{article-wrapper
		displayArticleWrapper=applicationWrapperVisible
		commentsPage=commentsPage
		model=model
		siteName=siteName
		toggleSiteHeadShadow=(action 'toggleSiteHeadShadow' target=application)
		edit=(action 'edit')
		openLightbox=(action 'openLightbox' target=wikiPage)
	}}
</div>
{{#if displayRecirculation}}
	{{recirculation-prefooter}}
{{/if}}
