<div id="wikiContainer" class="wiki-container">
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		siteName=siteName
		articleRendered=(action 'articleRendered')
		toggleSiteHeadShadow=(action 'toggleSiteHeadShadow')
		edit=(action 'edit')
		openLightbox=(action 'openLightbox')
		toggleDrawer=(action 'toggleDrawer')
	}}
</div>
{{#if displayRecirculation}}
	{{recirculation-prefooter}}
{{/if}}
