<div id="wikiContainer" class="wiki-container">
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		showComments=true
		siteName=siteName
		articleRendered='articleRendered'
		toggleSiteHeadShadow='toggleSiteHeadShadow'
		edit='edit'
		openLightbox='openLightbox'
		toggleDrawer='toggleDrawer'
		highlightedText=''
	}}
</div>
{{recirculation-prefooter}}
