<div id="wikiContainer" class="wiki-container">
	{{article-wrapper
		displayArticleWrapper=applicationWrapperVisible
		commentsPage=commentsPage
		model=model
		siteName=siteName
		toggleSiteHeadShadow=(action 'toggleSiteHeadShadow' target=application)
		edit=(action 'edit')
	}}
</div>
{{#if displayRecirculation}}
	{{recirculation-prefooter}}
{{/if}}
{{#if wikiVariables.recommendedVideoPlaylist}}
	{{recommended-video
		playlistId=model.recommendedVideoPlaylist
	}}
{{/if}}
