<div id="wikiContainer" class="wiki-container">
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		siteName=siteName
		wikiPageHeaderSubtitle=(i18n 'blog-page.subtitle')
		edit=(action 'edit' target=article)
		toggleDrawer=(action 'toggleDrawer' target=application)
	}}
</div>
