<div id="wikiContainer" class="wiki-container">
	{{article-wrapper
		commentsPage=commentsPage
		model=model
		siteName=siteName
		wikiPageHeaderSubtitle=(i18n 'blog-page.subtitle')
		articleRendered=(action 'articleRendered')
		edit=(action 'edit')
		openLightbox=(action openLightbox)
		toggleDrawer=(action 'toggleDrawer')
	}}
</div>
