<div id="wikiContainer" class="wiki-container">
  <ArticleWrapper @commentsPage={{commentsPage}} @model={{model}} @siteName={{siteName}} @wikiPageHeaderSubtitle={{i18n "blog-page.subtitle"}} />
</div>
