<div id="wikiContainer" class="wiki-container">
	{{article-wrapper
		articleRendered='articleRendered'
		commentsPage=commentsPage
		edit='edit'
		model=model
		openLightbox='openLightbox'
		showComments=true
		siteName=siteName
		toggleDrawer='toggleDrawer'
		wikiPageHeaderSubtitle=(i18n 'blog-page.subtitle')
	}}
</div>
