<div id="wikiContainer" class="wiki-container">
  <ArticleWrapper @commentsPage={{this.commentsPage}} @model={{@model}} @siteName={{this.siteName}} @wikiPageHeaderSubtitle={{i18n "blog-page.subtitle"}} />
</div>
