<div id="wikiContainer" class="wiki-container">
	{{#article-wrapper
		articleRendered=(action 'articleRendered')
		displayEmptyArticleInfo=false
		edit=(action 'edit')
		mainPageTitle=mainPageTitle
		model=model
		openLightbox=(action 'openLightbox')
		showComments=false
		siteName=siteName
		toggleDrawer=(action 'toggleDrawer')
		wikiPageHeaderSubtitle=(i18n 'category-page.subtitle')
	}}
		{{#if model.trendingArticles}}
			{{trending-articles
				header=(i18n 'app.trending-articles-label')
				model=model.trendingArticles
			}}
		{{/if}}
		{{#if model.membersGrouped}}
			{{category-members-grouped
				loadPage=(action 'loadPage')
				membersGrouped=model.membersGrouped
				nextPage=model.nextPage
				nextPageUrl=model.nextPageUrl
				prevPage=model.prevPage
				prevPageUrl=model.prevPageUrl
			}}
		{{/if}}
	{{/article-wrapper}}
</div>
