<div id="wikiContainer" class="wiki-container">
  {{#article-wrapper
    displayEmptyArticleInfo=false
    mainPageTitle=mainPageTitle
    model=model
    showComments=false
    siteName=siteName
    wikiPageHeaderSubtitle=(i18n "category-page.subtitle")
  }}
    {{#if model.trendingArticles}}
      {{trending-articles
        header=(i18n "app.trending-articles-label")
        model=model.trendingArticles
      }}
    {{/if}}
    {{category-page
      loadFrom=(action "loadFrom")
      model=model
    }}
  {{/article-wrapper}}
</div>
