<div id="wikiContainer" class="wiki-container">
  {{#article-wrapper
    displayEmptyArticleInfo=false
    mainPageTitle=mainPageTitle
    model=model
    showComments=false
    siteName=siteName
    wikiPageHeaderSubtitle=(i18n "category-page.subtitle")
  }}
    {{!-- Keep it outside of category-page to make scrolling to top easier --}}
    {{#if @model.trendingArticles}}
      {{category-trending-articles
        model=@model.trendingArticles
      }}
    {{/if}}
    {{category-page
      from=from
      loadFrom=(action "loadFrom")
      model=model
    }}
  {{/article-wrapper}}
</div>
