<div class="wiki-container closed-wiki">
  <WikiaUiComponents::WikiPageHeader @title="This wiki has been closed or disabled" />
  <Button
    @href="?useskin=oasis"
    class="closed-wiki__button"
  >
    Go to desktop experience to see more details
  </Button>
</div>
