<div class="wiki-container closed-wiki">
  {{wikia-ui-components/wiki-page-header
    title="This wiki has been closed or disabled"
  }}
  {{#wds-button
    href="?useskin=oasis"
    class="closed-wiki__button"
  }}
    Go to desktop experience to see more details
  {{/wds-button}}
</div>
